// :host ::ng-deep {

// }

.row {
  display: flex;
  flex-wrap: wrap;
}

.header{
  font-size: 20px;
  font-weight: bolder;
}

:host ::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  border: 1px solid;
  padding: 10px;
  box-shadow: 2px 2px #f7941e !important
  
}
.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  max-width: 100%;
}

.tab-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3px 2px !important; /* spacing between cards */
  justify-content: flex-start; /* adjust alignment as needed */
}

.tab-cards-container mat-card {
  flex: 1 1 300px; /* grow, shrink, initial basis */
  max-width: 100%;
  box-sizing: border-box;
   margin: 0 !important; /* override margin if any */
}
