<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="panel">
      <div class="panel-heading">
        <div class="displayflex">
          <button (click)="listCustomer()" class="btn btn-secondary backbtn" title="Go to Customer List" type="button">
            <i class="fa fa-arrow-circle-left" style="color: #f7941e !important; font-size: 28px"></i>
          </button>
          <h3 class="panel-title">
            {{ customerLedgerDetailData?.title }} {{ customerLedgerDetailData?.firstname }}
            {{ customerLedgerDetailData?.lastname }} Details
          </h3>
        </div>
        <div class="right">
          <button aria-controls="precustDetails" aria-expanded="false" class="btn-toggle-collapse"
            data-target="#precustDetails" data-toggle="collapse" type="button">
            <i class="fa fa-minus-circle"></i>
          </button>
        </div>
      </div>
      <div class="panel-collapse collapse in" id="precustDetails">
        <div class="panel-body table-responsive">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <p-tabView styleClass="x-tab-view">
                <p-tabPanel class="header" header="Basic Details">
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <p-card>
                        <div class="row">
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Name :</label>
                            <span>
                              {{ customerLedgerDetailData?.title }}
                              {{ customerLedgerDetailData?.firstname }}
                              {{ customerLedgerDetailData?.lastname }}
                            </span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Contact Person :</label>
                            <span>{{ customerLedgerDetailData?.contactperson }}</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">CAF No. :</label>
                            <span>{{ customerLedgerDetailData?.cafno }}</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Act No. :</label>
                            <span>{{ customerLedgerDetailData?.acctno }}</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">AAA Username :</label>
                            <span>{{ customerLedgerDetailData?.username }}</span>
                          </div>
                          <div *ngIf="
                              aclPreCustCode === 'post_cust_view_password' && custType == 'Postpaid'
                            " class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup" style="display: flex">
                            <label class="datalbl">AAA Password :</label>
                            <input [type]="_AAApasswordType" value="{{ customerLedgerDetailData?.password }}"
                              style="border: none" disabled />
                            <div *ngIf="!AAAshowPassword">
                              <i class="fa fa-eye" (click)="AAAshowPassword = true; _AAApasswordType = 'text'"></i>
                            </div>
                            <div *ngIf="AAAshowPassword">
                              <i class="fa fa-eye-slash"
                                (click)="AAAshowPassword = false; _AAApasswordType = 'password'"></i>
                            </div>
                          </div>

                          <div *ngIf="
                              aclPreCustCode === 'pre_cust_view_password' && custType == 'Prepaid'
                            " class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup" style="display: flex">
                            <label class="datalbl">AAA Password :</label>
                            <input [type]="_AAApasswordType" value="{{ customerLedgerDetailData?.password }}"
                              style="border: none" disabled />
                            <div *ngIf="!AAAshowPassword">
                              <i class="fa fa-eye" (click)="AAAshowPassword = true; _AAApasswordType = 'text'"></i>
                            </div>
                            <div *ngIf="AAAshowPassword">
                              <i class="fa fa-eye-slash"
                                (click)="AAAshowPassword = false; _AAApasswordType = 'password'"></i>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">CWSC Username :</label>
                            <span>{{ customerLedgerDetailData?.loginUsername }}</span>
                          </div>
                          <div *ngIf="
                              aclPreCustCode === 'pre_cust_view_password' && custType == 'Prepaid'
                            " class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup" style="display: flex">
                            <label class="datalbl">CWSC Password :</label>
                            <input [type]="_CWSCpasswordType" value="{{ customerLedgerDetailData?.loginPassword }}"
                              style="border: none" disabled />
                            <div *ngIf="!CWSCshowPassword">
                              <i class="fa fa-eye" (click)="CWSCshowPassword = true; _CWSCpasswordType = 'text'"></i>
                            </div>
                            <div *ngIf="CWSCshowPassword">
                              <i class="fa fa-eye-slash"
                                (click)="CWSCshowPassword = false; _CWSCpasswordType = 'password'"></i>
                            </div>
                          </div>

                          <div *ngIf="
                              aclPreCustCode === 'post_cust_view_password' && custType == 'Postpaid'
                            " class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup" style="display: flex">
                            <label class="datalbl">CWSC Password :</label>
                            <input [type]="_CWSCpasswordType" value="{{ customerLedgerDetailData?.loginPassword }}"
                              style="border: none" disabled />
                            <div *ngIf="!CWSCshowPassword">
                              <i class="fa fa-eye" (click)="CWSCshowPassword = true; _CWSCpasswordType = 'text'"></i>
                            </div>
                            <div *ngIf="CWSCshowPassword">
                              <i class="fa fa-eye-slash"
                                (click)="CWSCshowPassword = false; _CWSCpasswordType = 'password'"></i>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Status :</label>
                            <span>{{
                              customerLedgerDetailData?.status == "Ingrace" ||
                              customerLedgerDetailData?.status == "INGRACE"
                              ? "InGrace"
                              : customerLedgerDetailData?.status
                              }}</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Customer Type :</label>
                            <span>{{ customerLedgerDetailData?.custtype }}</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Calendar Type :</label>
                            <span>{{ customerLedgerDetailData?.calendarType }}</span>
                          </div>

                          @if (customerPopName) {
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">POP Name :</label>
                            <span>{{ customerPopName }}</span>
                          </div>
                          }
                          @if (customerLedgerDetailData?.billday) {
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Bill Day :</label>
                            <span>{{ customerLedgerDetailData?.billday }}</span>
                          </div>
                          }
                          @if (
                          customerLedgerDetailData?.nextBillDate &&
                          customerLedgerDetailData?.custtype === "Postpaid"
                          ) {
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Next bill date :</label>
                            <span>
                              {{ customerLedgerDetailData?.nextBillDate | date: "dd-MM-yyy" }}
                            </span>
                          </div>
                          }
                          @if (customerLedgerDetailData?.parentCustomerName) {
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Parent Customer :</label>
                            <span>{{ customerLedgerDetailData?.parentCustomerName }}</span>
                          </div>
                          }
                          @if (customerLedgerDetailData?.invoiceType) {
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Invoice Type :</label>
                            <span>{{ customerLedgerDetailData?.invoiceType }}</span>
                          </div>
                          }
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">First Activation Date :</label>
                            <span>{{
                              customerLedgerDetailData?.firstActivationDate
                              | date: "dd-MM-yyyy hh:mm a"
                              }}</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Primary Mobile Number :</label>
                            <span>
                              @if (customerLedgerDetailData?.countryCode) {
                              <span> ( {{ customerLedgerDetailData?.countryCode }} )&nbsp; </span>
                              }
                              {{ customerLedgerDetailData?.mobile }}
                            </span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Secondary Mobile Number :</label>
                            @if (customerLedgerDetailData?.altmobile) {
                            <span>
                              @if (customerLedgerDetailData?.countryCode) {
                              <span>
                                ( {{ customerLedgerDetailData?.countryCode }} )&nbsp;
                              </span>
                              }
                              {{ customerLedgerDetailData?.altmobile }}
                            </span>
                            }
                            @if (!customerLedgerDetailData?.altmobile) {
                            <span>-</span>
                            }
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Telephone :</label>
                            @if (customerLedgerDetailData?.phone) {
                            <span>
                              {{ customerLedgerDetailData?.phone }}
                            </span>
                            }
                            @if (!customerLedgerDetailData?.phone) {
                            <span>-</span>
                            }
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">FAX Number :</label>
                            @if (customerLedgerDetailData?.pan) {
                            <span>
                              {{ customerLedgerDetailData?.fax }}
                            </span>
                            }
                            @if (!customerLedgerDetailData?.fax) {
                            <span>-</span>
                            }
                          </div>

                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Email :</label>
                            <span>{{ customerLedgerDetailData?.email }}</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Bill to Name :</label>
                            @if (customerBill) {
                            <span>
                              {{ customerLedgerDetailData.customerbillingid }}
                            </span>
                            }
                            @if (!customerBill) {
                            <span>-</span>
                            }
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Bill to Address :</label>
                            <!-- {{ customerLedgerDetailData.customerbillingid }} -->
                            <span></span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">{{ KraTitle }} Number :</label>
                            @if (customerLedgerDetailData?.pan) {
                            <span>
                              {{ customerLedgerDetailData?.pan }}
                            </span>
                            }
                            @if (!customerLedgerDetailData?.pan) {
                            <span>-</span>
                            }
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Created By :</label>
                            <span>{{ customerLedgerDetailData?.createdByName }}</span>
                            @if (!customerLedgerDetailData?.createdByName) {
                            <span>-</span>
                            }
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Activated By :</label>
                            <span>{{ customerLedgerDetailData?.activationByName }}</span>
                            @if (!customerLedgerDetailData?.activationByName) {
                            <span>-</span>
                            }
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Customer Category :</label>
                            <span>{{ customerLedgerDetailData?.dunningCategory }}</span>
                            @if (!customerLedgerDetailData?.dunningCategory) {
                            <span>-</span>
                            }
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Customer Sub Type :</label>
                            <span>{{ customerLedgerDetailData?.customerType }}</span>
                            @if (!customerLedgerDetailData?.customerType) {
                            <span>-</span>
                            }
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Customer Sector :</label>
                            <span>{{ customerLedgerDetailData?.customerSector }}</span>
                            @if (!customerLedgerDetailData?.customerSector) {
                            <span>-</span>
                            }
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Customer Sub Sector :</label>
                            <span>{{ customerLedgerDetailData?.customerSubSector }}</span>
                            @if (!customerLedgerDetailData?.customerSubSector) {
                            <span>-</span>
                            }
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Ezybill ID :</label>
                            <span></span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Date of Birth :</label>
                            <span>{{
                              customerLedgerDetailData?.birthDate | date: "dd-MM-yyy"
                              }}</span>
                            <span></span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Dunning Enable :</label>
                            <span>{{ customerLedgerDetailData?.isDunningEnable }}</span>
                            <span></span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Automatic notification :</label>
                            <span>{{ customerLedgerDetailData?.isNotificationEnable }}</span>
                            <span></span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Next Quota Reset Date :</label>
                            <span>{{
                              customerLedgerDetailData?.nextQuotaResetDate | date: "dd-MM-yyyy"
                              }}</span>
                            <span></span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">MAC Retention Date :</label>
                            <span>{{
                              customerLedgerDetailData?.nearestMacRetentionDate | date: "dd-MM-yyyy"
                              }}</span>
                            <span></span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Unit No :</label>
                            <span>{{ customerLedgerDetailData?.blockNo }}</span>
                            <span></span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Available balance :</label>
                            <span>{{ walletValue }}</span>
                            <span></span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Last Payment Amount :</label>
                            @if (
                            paymentHistoryList?.length > 0 &&
                            paymentHistoryList[0]?.amount !== null
                            ) {
                            <span>
                              {{ roundAmount(paymentHistoryList[0]?.amount) }}
                            </span>
                            }
                            @if (
                            !(
                            paymentHistoryList?.length > 0 &&
                            paymentHistoryList[0]?.amount !== null
                            )
                            ) {
                            <span>-</span>
                            }
                          </div>

                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Last Payment Date :</label>
                            @if (
                            paymentHistoryList?.length > 0 &&
                            paymentHistoryList[0]?.paymentdate !== null
                            ) {
                            <span>
                              {{ paymentHistoryList[0]?.paymentdate }}
                            </span>
                            }
                            @if (
                            !(
                            paymentHistoryList?.length > 0 &&
                            paymentHistoryList[0]?.paymentdate !== null
                            )
                            ) {
                            <span>-</span>
                            }
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Expiry Date :</label>
                            @if (
                            activePlanList?.length > 0 &&
                            activePlanList[activePlanList.length - 1]?.dbExpiryDate !== null
                            ) {
                            <span>
                              {{
                              activePlanList[activePlanList.length - 1]?.dbExpiryDate
                              | date: "dd/MM/yyyy HH:mm:ss"
                              }}
                            </span>
                            }
                            @if (
                            !(
                            activePlanList?.length > 0 &&
                            activePlanList[activePlanList.length - 1]?.dbExpiryDate !== null
                            )
                            ) {
                            <span>-</span>
                            }
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Feasibility :</label>
                            @if (customerLedgerDetailData?.feasibility) {
                            <span>
                              {{ customerLedgerDetailData?.feasibility }}
                            </span>
                            }
                            @if (!customerLedgerDetailData?.feasibility) {
                            <span>-</span>
                            }
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Grace Period :</label>
                            @if (customerLedgerDetailData?.graceDay) {
                            <span>
                              {{ customerLedgerDetailData?.graceDay }}
                            </span>
                            }
                            @if (!customerLedgerDetailData?.graceDay) {
                            <span>-</span>
                            }
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">{{ getDemographicLabel("Department") }} :</label>
                            @if (customerLedgerDetailData?.department) {
                            <span>
                              {{ customerLedgerDetailData?.department }}
                            </span>
                            }
                            @if (!customerLedgerDetailData?.department) {
                            <span>-</span>
                            }
                          </div>
                        </div>
                      </p-card>
                    </div>
                  </div>
                </p-tabPanel>
                <p-tabPanel header="Service Area Details">
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <p-card>
                        <div class="row">
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Address :</label>
                            <span>{{ customerAddress?.landmark }}</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Service Area Name :</label>
                            <span>{{ customerLedgerDetailData?.serviceareaName }}</span>
                            @if (!customerLedgerDetailData?.serviceareaid) {
                            <span>-</span>
                            }
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Branch Name / Partner :</label>
                            <span>{{ customerLedgerDetailData?.branchName }}</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Region :</label>
                            <span>{{ customerLedgerDetailData?.regionName }}</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Business Verticals :</label>
                            <span>{{ customerLedgerDetailData?.buVerticals }}</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">{{ getDemographicLabel("Pincode") }} :</label>
                            @if (presentAdressDATA != null) {
                            <span>
                              {{ presentAdressDATA.code }}
                            </span>
                            }
                            @if (presentAdressDATA == null) {
                            <span>-</span>
                            }
                          </div>

                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">{{ getDemographicLabel("Area") }} :</label>
                            @if (presentAdressDATA != null) {
                            <span>
                              {{ presentAdressDATA.name }}
                            </span>
                            }
                            @if (presentAdressDATA == null) {
                            <span>-</span>
                            }
                          </div>

                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">{{ getDemographicLabel("Sub Area") }} :</label>
                            @if (presentAdressDATA != null) {
                            <span>
                              {{ presentAdressDATA?.subarea || "-" }}
                            </span>
                            }
                            @if (presentAdressDATA == null) {
                            <span>-</span>
                            }
                          </div>

                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">{{ getDemographicLabel("Building") }} :</label>
                            @if (presentAdressDATA != null) {
                            <span>
                              {{ presentAdressDATA?.buildingName || "-" }}
                            </span>
                            }
                            @if (presentAdressDATA == null) {
                            <span>-</span>
                            }
                          </div>

                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Building Number :</label>
                            @if (presentAdressDATA != null) {
                            <span>
                              {{ presentAdressDATA?.buildingNumber || "-" }}
                            </span>
                            }
                            @if (presentAdressDATA == null) {
                            <span>-</span>
                            }
                          </div>

                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">{{ getDemographicLabel("City") }} :</label>
                            @if (presentAdressDATA != null) {
                            <span>
                              {{ presentAdressDATA.cityName }}
                            </span>
                            }
                            @if (presentAdressDATA == null) {
                            <span>-</span>
                            }
                          </div>

                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">{{ getDemographicLabel("State") }} :</label>
                            @if (presentAdressDATA != null) {
                            <span>
                              {{ presentAdressDATA.stateName }}
                            </span>
                            }
                            @if (presentAdressDATA == null) {
                            <span>-</span>
                            }
                          </div>

                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">{{ getDemographicLabel("Country") }} :</label>
                            @if (presentAdressDATA != null) {
                            <span>
                              {{ presentAdressDATA.countryName }}
                            </span>
                            }
                            @if (presentAdressDATA == null) {
                            <span>-</span>
                            }
                          </div>

                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Valley Type :</label>
                            <span>{{ customerLedgerDetailData?.valleyType }}</span>
                            @if (!customerLedgerDetailData?.valleyType) {
                            <span>-</span>
                            }
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Latitude :</label>
                            @if (customerLedgerDetailData?.latitude) {
                            <span>
                              {{ customerLedgerDetailData?.latitude }}
                            </span>
                            }
                            @if (!customerLedgerDetailData?.latitude) {
                            <span>-</span>
                            }
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Longitude :</label>
                            @if (customerLedgerDetailData?.longitude) {
                            <span>
                              {{ customerLedgerDetailData?.longitude }}
                            </span>
                            }
                            @if (!customerLedgerDetailData?.longitude) {
                            <span>-</span>
                            }
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Landmark :</label>
                            <span>{{ customerAddress?.landmark1 }}</span>
                          </div>
                        </div>
                      </p-card>
                    </div>
                  </div>
                </p-tabPanel>
                <p-tabPanel header="Network Location Details">
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <p-card>
                        <div class="row">
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">POP :</label>
                            @if (customerNetworkLocationDetailData?.popName != null) {
                            <span>
                              {{ customerNetworkLocationDetailData?.popName }}
                            </span>
                            }
                            @if (customerNetworkLocationDetailData?.popName == null) {
                            <span> - </span>
                            }
                            <!-- <span>{{ customerNetworkLocationDetailData?.popName }}</span> -->
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">OLT :</label>
                            @if (customerNetworkLocationDetailData?.oltDeviceName != null) {
                            <span>
                              {{ customerNetworkLocationDetailData?.oltDeviceName }}
                            </span>
                            }
                            @if (customerNetworkLocationDetailData?.oltDeviceName == null) {
                            <span> - </span>
                            }
                            <!-- <span>{{ customerNetworkLocationDetailData?.oltDeviceName }}</span> -->
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Card Number :</label>
                            <span>-</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Master DB :</label>
                            @if (customerNetworkLocationDetailData?.masterdbDeviceName != null) {
                            <span>
                              {{ customerNetworkLocationDetailData?.masterdbDeviceName }}
                            </span>
                            }
                            @if (customerNetworkLocationDetailData?.masterdbDeviceName == null) {
                            <span> - </span>
                            }
                            <!-- <span>{{ customerNetworkLocationDetailData?.masterdbDeviceName }}</span> -->
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Splitter/DB :</label>
                            @if (customerNetworkLocationDetailData?.splitterDerviceName != null) {
                            <span>
                              {{ customerNetworkLocationDetailData?.splitterDerviceName }}
                            </span>
                            }
                            @if (customerNetworkLocationDetailData?.splitterDerviceName == null) {
                            <span> - </span>
                            }
                            <!-- <span>{{ customerNetworkLocationDetailData?.splitterDerviceName }}</span> -->
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">MAC :</label>
                            @if (customerNetworkLocationDetailData?.macAddress != "") {
                            <span>
                              {{ customerNetworkLocationDetailData?.macAddress }}
                            </span>
                            }
                            @if (customerNetworkLocationDetailData?.macAddress == "") {
                            <span> - </span>
                            }
                            <!-- <span>{{ customerNetworkLocationDetailData?.macAddress }}</span> -->
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">ONU Serial Number :</label>
                            @if (customerNetworkLocationDetailData?.onuSerialNumber != null) {
                            <span>
                              {{ customerNetworkLocationDetailData?.onuSerialNumber }}
                            </span>
                            }
                            @if (customerNetworkLocationDetailData?.onuSerialNumber == null) {
                            <span> - </span>
                            }
                            <!-- <span>{{ customerNetworkLocationDetailData?.onuSerialNumber }}</span> -->
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">External ONU Serial Number :</label>
                            @if (
                            customerNetworkLocationDetailData?.externalOnuSerialNumber != null
                            ) {
                            <span>
                              {{ customerNetworkLocationDetailData?.externalOnuSerialNumber }}
                            </span>
                            }
                            @if (
                            customerNetworkLocationDetailData?.externalOnuSerialNumber == null
                            ) {
                            <span> - </span>
                            }
                            <!-- <span>{{ customerNetworkLocationDetailData?.externalOnuSerialNumber }}</span> -->
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Static IP :</label>
                            @if (customerLedgerDetailData?.framedIpBind != null) {
                            <span>
                              {{ customerLedgerDetailData?.framedIpBind }}
                            </span>
                            }
                            @if (
                            customerNetworkLocationDetailData?.framedIpBind == null ||
                            customerLedgerDetailData?.framedIpBind == ""
                            ) {
                            <span> </span>
                            }
                            <!-- <span>{{ customerNetworkLocationDetailData?.framedIpBind }}</span> -->
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">NAS IP :</label>
                            @if (customerLedgerDetailData?.nasIpAddress != null) {
                            <span>
                              {{ customerLedgerDetailData?.nasIpAddress }}
                            </span>
                            }
                            @if (
                            customerLedgerDetailData?.nasIpAddress == null ||
                            customerLedgerDetailData?.nasIpAddress == ""
                            ) {
                            <span> - </span>
                            }
                            <!-- <span>{{ customerNetworkLocationDetailData?.framedIp }}</span> -->
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">NAS Port :</label>
                            @if (customerLedgerDetailData?.nasPort != null) {
                            <span>
                              {{ customerLedgerDetailData?.nasPort }}
                            </span>
                            }
                            @if (
                            customerNetworkLocationDetailData?.nasPort == null ||
                            customerNetworkLocationDetailData?.nasPort == ""
                            ) {
                            <span> - </span>
                            }
                            <!-- <span>{{ customerNetworkLocationDetailData?.nasPort }}</span> -->
                          </div>
                          <!-- <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                                <label class="datalbl">Max Current Session :</label>
                                <span>-</span>
                              </div> -->
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Network Profile :</label>
                            <span>-</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Location :</label>
                            @if (locationList != "") {
                            <span>
                              {{ locationList }}
                            </span>
                            }
                            @if (locationList == "") {
                            <span>-</span>
                            }
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Is Parent Location :</label>
                            <span>
                              {{ isParentLocation }}
                            </span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Parent Quota Type :</label>
                            @if (customerLedgerDetailData?.parentQuotaType != null) {
                            <span>
                              {{ customerLedgerDetailData?.parentQuotaType }}
                            </span>
                            }
                            @if (
                            customerLedgerDetailData?.parentQuotaType == null ||
                            customerLedgerDetailData?.parentQuotaType == ""
                            ) {
                            <span> - </span>
                            }
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">IP Pool Name (Bind) :</label>
                            @if (customerLedgerDetailData?.ipPoolNameBind != null) {
                            <span>
                              {{ customerLedgerDetailData?.ipPoolNameBind }}
                            </span>
                            }
                            @if (customerLedgerDetailData?.ipPoolNameBind == null) {
                            <span>- </span>
                            }
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Vlan Id :</label>
                            @if (customerLedgerDetailData?.vlan_id != null) {
                            <span>
                              {{ customerLedgerDetailData?.vlan_id }}
                            </span>
                            }
                            @if (customerLedgerDetailData?.vlan_id == null) {
                            <span>- </span>
                            }
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Framed Ip Address :</label>
                            @if (framedIpAddress && framedIpAddress?.trim() !== "") {
                            <span>
                              {{ framedIpAddress }}
                            </span>
                            }
                            @if (!framedIpAddress || framedIpAddress?.trim() === "") {
                            <span>-</span>
                            }
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Framed IPv6 Address :</label>
                            @if (customerLedgerDetailData?.framedIpv6Address != null) {
                            <span>
                              {{ customerLedgerDetailData?.framedIpv6Address }}
                            </span>
                            }
                            @if (customerLedgerDetailData?.framedIpv6Address == null) {
                            <span>- </span>
                            }
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Max Concurrent Session :</label>
                            @if (customerLedgerDetailData?.maxconcurrentsession != null) {
                            <span>
                              {{ customerLedgerDetailData?.maxconcurrentsession }}
                            </span>
                            }
                            @if (customerLedgerDetailData?.maxconcurrentsession == null) {
                            <span>- </span>
                            }
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Framed Route :</label>
                            @if (customerLedgerDetailData?.framedroute != null) {
                            <span>
                              {{ customerLedgerDetailData?.framedroute }}
                            </span>
                            }
                            @if (!customerLedgerDetailData?.framedroute == null) {
                            <span>-</span>
                            }
                          </div>

                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Framed IP Netmask :</label>
                            @if (
                            customerLedgerDetailData?.framedIPNetmask &&
                            customerLedgerDetailData.framedIPNetmask.trim() !== ""
                            ) {
                            <span>
                              {{ customerLedgerDetailData?.framedIPNetmask }}
                            </span>
                            }
                            @if (
                            !customerLedgerDetailData?.framedIPNetmask ||
                            customerLedgerDetailData.framedIPNetmask.trim() === ""
                            ) {
                            <span>-</span>
                            }
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Framed IPv6 Prefix :</label>
                            @if (
                            customerLedgerDetailData?.framedIPv6Prefix &&
                            customerLedgerDetailData.framedIPv6Prefix.trim() !== ""
                            ) {
                            <span>
                              {{ customerLedgerDetailData?.framedIPv6Prefix }}
                            </span>
                            }
                            @if (
                            !customerLedgerDetailData?.framedIPv6Prefix ||
                            customerLedgerDetailData.framedIPv6Prefix.trim() === ""
                            ) {
                            <span>-</span>
                            }
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Gateway IP :</label>
                            @if (
                            customerLedgerDetailData?.gatewayIP &&
                            customerLedgerDetailData.gatewayIP.trim() !== ""
                            ) {
                            <span>
                              {{ customerLedgerDetailData?.gatewayIP }}
                            </span>
                            }
                            @if (
                            !customerLedgerDetailData?.gatewayIP ||
                            customerLedgerDetailData.gatewayIP.trim() === ""
                            ) {
                            <span>-</span>
                            }
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Primary DNS :</label>
                            @if (
                            customerLedgerDetailData?.primaryDNS &&
                            customerLedgerDetailData.primaryDNS.trim() !== ""
                            ) {
                            <span>
                              {{ customerLedgerDetailData?.primaryDNS }}
                            </span>
                            }
                            @if (
                            !customerLedgerDetailData?.primaryDNS ||
                            customerLedgerDetailData.primaryDNS.trim() === ""
                            ) {
                            <span>-</span>
                            }
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Primary IPv6 DNS :</label>
                            @if (
                            customerLedgerDetailData?.primaryIPv6DNS &&
                            customerLedgerDetailData.primaryIPv6DNS.trim() !== ""
                            ) {
                            <span>
                              {{ customerLedgerDetailData?.primaryIPv6DNS }}
                            </span>
                            }
                            @if (
                            !customerLedgerDetailData?.primaryIPv6DNS ||
                            customerLedgerDetailData.primaryIPv6DNS.trim() === ""
                            ) {
                            <span>-</span>
                            }
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Secondary DNS :</label>
                            @if (
                            customerLedgerDetailData?.secondaryDNS &&
                            customerLedgerDetailData.secondaryDNS.trim() !== ""
                            ) {
                            <span>
                              {{ customerLedgerDetailData?.secondaryDNS }}
                            </span>
                            }
                            @if (
                            !customerLedgerDetailData?.secondaryDNS ||
                            customerLedgerDetailData.secondaryDNS.trim() === ""
                            ) {
                            <span>-</span>
                            }
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Secondary IPv6 DNS:</label>
                            @if (
                            customerLedgerDetailData?.secondaryIPv6DNS &&
                            customerLedgerDetailData.secondaryIPv6DNS.trim() !== ""
                            ) {
                            <span>
                              {{ customerLedgerDetailData?.secondaryIPv6DNS }}
                            </span>
                            }
                            @if (
                            !customerLedgerDetailData?.secondaryIPv6DNS ||
                            customerLedgerDetailData.secondaryIPv6DNS.trim() === ""
                            ) {
                            <span>-</span>
                            }
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Delegated Prefix :</label>
                            @if (
                            customerLedgerDetailData?.delegatedprefix &&
                            customerLedgerDetailData.delegatedprefix.trim() !== ""
                            ) {
                            <span>
                              {{ customerLedgerDetailData?.delegatedprefix }}
                            </span>
                            }
                            @if (
                            !customerLedgerDetailData?.delegatedprefix ||
                            customerLedgerDetailData.delegatedprefix.trim() === ""
                            ) {
                            <span>-</span>
                            }
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">NAS Port Id :</label>
                            @if (
                            customerLedgerDetailData?.nasPortId &&
                            customerLedgerDetailData.nasPortId.trim() !== ""
                            ) {
                            <span>
                              {{ customerLedgerDetailData?.nasPortId }}
                            </span>
                            }
                            @if (
                            !customerLedgerDetailData?.nasPortId ||
                            customerLedgerDetailData.nasPortId.trim() === ""
                            ) {
                            <span>-</span>
                            }
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Mac Provision :</label>
                            @if (customerLedgerDetailData?.mac_provision === true) {
                            <span>
                              {{ customerLedgerDetailData?.mac_provision }}
                            </span>
                            }
                            @if (customerLedgerDetailData?.mac_provision === false) {
                            <span>
                              {{ customerLedgerDetailData?.mac_provision }}
                            </span>
                            }
                            @if (!customerLedgerDetailData?.mac_provision) {
                            <span>-</span>
                            }
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Mac Auth :</label>
                            @if (customerLedgerDetailData?.mac_auth_enable === true) {
                            <span>
                              {{ customerLedgerDetailData?.mac_auth_enable }}
                            </span>
                            }
                            @if (customerLedgerDetailData?.mac_auth_enable === false) {
                            <span>
                              {{ customerLedgerDetailData?.mac_auth_enable }}
                            </span>
                            }
                            @if (!customerLedgerDetailData?.mac_auth_enable) {
                            <span>-</span>
                            }
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Assigned DateTime :</label>
                            @if (
                            customerInventoryList?.length > 0 &&
                            customerInventoryList[0]?.assignedDateTime
                            ) {
                            <span>
                              {{
                              customerInventoryList[0]?.assignedDateTime
                              | date: "dd/MM/yyyy HH:mm:ss"
                              }}
                            </span>
                            }
                            @if (
                            !(
                            customerInventoryList?.length > 0 &&
                            customerInventoryList[0]?.assignedDateTime
                            )
                            ) {
                            <span>-</span>
                            }
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Staff Name :</label>
                            @if (staffUserData?.username) {
                            <span>
                              {{ staffUserData?.username }}
                            </span>
                            }
                            @if (!staffUserData?.username) {
                            <span>-</span>
                            }
                          </div>
                        </div>
                      </p-card>
                    </div>
                  </div>
                </p-tabPanel>
              </p-tabView>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>