<mat-card class="cardWithShadow m-t-30">
    <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Basic Information">
            <div class="overview-container">
                <div class="overview-top-row row">
                    <div class="d-flex flex-col col-md-5 m-20 tab-cards-container">
                        <mat-card class="cardWithShadow">
                            <mat-card-header>
                                <mat-card-title class="f-s-20 text-primary">Customer Information</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="row">
                                    <div class="col-md-12 text-ellipsis"
                                        [matTooltip]="customerLedgerDetailData?.title + ' ' + customerLedgerDetailData?.firstname + ' ' + customerLedgerDetailData?.lastname"
                                        matTooltipPosition="above">
                                        <view-detail-card [title]="'Name'" [value]="customerLedgerDetailData?.title +
                                    customerLedgerDetailData?.firstname + customerLedgerDetailData?.lastname
                                    "></view-detail-card>
                                    </div>
                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'Email'"
                                            [value]="customerLedgerDetailData?.email"></view-detail-card>
                                    </div>
                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'Contact Person'"
                                            [value]="customerLedgerDetailData?.contactperson"></view-detail-card>
                                    </div>
                                    <div class="col-md-12  m-t-10">
                                        @if (customerLedgerDetailData?.phone) {
                                        <view-detail-card [title]="'Telephone'"
                                            [value]="customerLedgerDetailData?.phone"></view-detail-card>
                                        }
                                        @if (!customerLedgerDetailData?.phone) {
                                        <view-detail-card [title]="'Telephone'" [value]="'-'"></view-detail-card>
                                        }
                                    </div>
                                    <div class="col-md-12  m-t-10">
                                        <view-detail-card [title]="'Date of Birth'"
                                            [value]="customerLedgerDetailData?.birthDate"></view-detail-card>
                                    </div>
                                    <div class="col-md-12  m-t-10">
                                        @if (customerLedgerDetailData?.pan) {
                                        <view-detail-card [title]="'FAX No'"
                                            [value]="customerLedgerDetailData?.fax  "></view-detail-card>
                                        }
                                        @if (!customerLedgerDetailData?.fax) {
                                        <view-detail-card [title]="'FAX No'" [value]="'-'"></view-detail-card>
                                        }
                                    </div>

                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="d-flex flex-col col-md-5 m-20 tab-cards-container">
                        <mat-card class="cardWithShadow">
                            <mat-card-header>
                                <mat-card-title class="f-s-20 text-primary">Account Detail</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="row">
                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'CAF No.'"
                                            [value]="customerLedgerDetailData?.cafno"></view-detail-card>
                                    </div>
                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'Status'"
                                            [value]="customerLedgerDetailData?.status == 'Ingrace' || customerLedgerDetailData?.status == 'INGRACE' ? 'InGrace' : customerLedgerDetailData?.status">
                                        </view-detail-card>
                                    </div>
                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'CWSC Username'"
                                            [value]="customerLedgerDetailData?.loginUsername"></view-detail-card>
                                    </div>
                                    <div class="col-md-12 m-t-10"
                                        *ngIf="aclPreCustCode === 'pre_cust_view_password' && custType == 'Prepaid'"
                                        style="display: flex;">
                                        <label class="label-text">CWSC Password</label>
                                        <span class="colon">:</span>
                                        <span style="display: flex">
                                            <input [type]="_CWSCpasswordType"
                                                value="{{ customerLedgerDetailData?.loginPassword }}"
                                                style="border: none; font-weight: 400; font-size: medium;padding-left: 16px;"
                                                disabled />
                                            <div *ngIf="!CWSCshowPassword">
                                                <i class="fa fa-eye"
                                                    (click)="CWSCshowPassword = true; _CWSCpasswordType = 'text'"></i>
                                            </div>
                                            <div *ngIf="CWSCshowPassword">
                                                <i class="fa fa-eye-slash"
                                                    (click)="CWSCshowPassword = false; _CWSCpasswordType = 'password'"></i>
                                            </div>
                                        </span>
                                    </div>

                                    <div *ngIf="aclPreCustCode === 'post_cust_view_password' && custType == 'Postpaid'"
                                        style="display: flex;">
                                        <label class="label-text">CWSC Password</label>
                                        <span class="colon">:</span>
                                        <span style="display: flex">
                                            <input [type]="_CWSCpasswordType"
                                                value="{{ customerLedgerDetailData?.loginPassword }}"
                                                style="border: none; font-weight: 400;font-size: medium;padding-left: 16px;"
                                                disabled />
                                            <div *ngIf="!CWSCshowPassword">
                                                <i class="fa fa-eye"
                                                    (click)="CWSCshowPassword = true; _CWSCpasswordType = 'text'"></i>
                                            </div>
                                            <div *ngIf="CWSCshowPassword">
                                                <i class="fa fa-eye-slash"
                                                    (click)="CWSCshowPassword = false; _CWSCpasswordType = 'password'"></i>
                                            </div>
                                        </span>
                                    </div>
                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'Act No.'"
                                            [value]="customerLedgerDetailData?.acctno"></view-detail-card>
                                    </div>
                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'Created By'"
                                            [value]="customerLedgerDetailData?.createdByName">
                                        </view-detail-card>
                                    </div>
                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'Customer Type'"
                                            [value]="customerLedgerDetailData?.custtype"></view-detail-card>
                                    </div>
                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'Customer Username'"
                                            [value]="customerLedgerDetailData?.username"></view-detail-card>
                                    </div>
                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'Activated By'"
                                            [value]="customerLedgerDetailData?.activationByName ? customerLedgerDetailData.activationByName :  '-' "></view-detail-card>
                                    </div>
                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'Customer Category'"
                                            [value]="customerLedgerDetailData?.dunningCategory"></view-detail-card>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="d-flex flex-col col-md-5 m-20 tab-cards-container">
                        <mat-card class="cardWithShadow">
                            <mat-card-header>
                                <mat-card-title class="f-s-20 text-primary">Billing and Payments</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="row">
                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'Last Payment Amount'" [value]="paymentHistoryList?.length > 0 && paymentHistoryList[0]?.amount !== null 
              ? roundAmount(paymentHistoryList[0]?.amount) 
              :'-' ">
                                        </view-detail-card>
                                    </div>
                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'Last Payment Date'" [value]="paymentHistoryList?.length > 0 && paymentHistoryList[0]?.paymentdate !== null 
              ? (paymentHistoryList[0]?.paymentdate | date:'dd-MM-yyyy') 
              : '-' ">
                                        </view-detail-card>
                                    </div>
                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="KraTitle + ' Number'"
                                            [value]="customerLedgerDetailData?.pan"></view-detail-card>
                                    </div>
                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'Available Balance'" [value]="walletValue || '-' ">
                                        </view-detail-card>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="d-flex flex-col col-md-5 m-20 tab-cards-container">
                        <mat-card class="cardWithShadow">
                            <mat-card-header>
                                <mat-card-title class="f-s-20 text-primary">Service and Activation</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="row">
                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'First Activation Date'"
                                            [value]="customerLedgerDetailData?.firstActivationDate ? (customerLedgerDetailData.firstActivationDate | date:'dd-MM-yyyy hh:mm a') : '-' ">
                                        </view-detail-card>
                                    </div>

                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'Expiry Date'" [value]="activePlanList?.length > 0 && activePlanList[activePlanList.length - 1].dbExpiryDate 
            ? (activePlanList[activePlanList.length - 1].dbExpiryDate | date:'dd-MM-yyyy HH:mm:ss') 
            : '-' ">
                                        </view-detail-card>
                                    </div>

                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'Calendar Type'"
                                            [value]="customerLedgerDetailData?.calendarType || '-'">
                                        </view-detail-card>
                                    </div>

                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'Next Quota Reset Date'"
                                            [value]="customerLedgerDetailData?.nextQuotaResetDate ? (customerLedgerDetailData.nextQuotaResetDate | date:'dd-MM-yyyy') : '-' ">
                                        </view-detail-card>
                                    </div>

                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'MAC Retention Date'"
                                            [value]="customerLedgerDetailData?.nearestMacRetentionDate ? (customerLedgerDetailData.nearestMacRetentionDate | date:'dd-MM-yyyy') : '-' ">
                                        </view-detail-card>
                                    </div>

                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'Feasibility'"
                                            [value]="customerLedgerDetailData?.feasibility ||'-' ">
                                        </view-detail-card>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="d-flex flex-col col-md-5 m-20 tab-cards-container">
                        <mat-card class="cardWithShadow">
                            <mat-card-header>
                                <mat-card-title class="f-s-20 text-primary">Contact Number</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="row">
                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'Primary Mobile Number'"
                                            [value]="customerLedgerDetailData?.countryCode ? '(' + customerLedgerDetailData?.countryCode + ')' + ' ' + customerLedgerDetailData?.mobile : '-'">
                                        </view-detail-card>
                                    </div>
                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'Secondary Mobile Number'" [value]="customerLedgerDetailData?.altmobile 
           ? (customerLedgerDetailData?.countryCode 
              ? '(' + customerLedgerDetailData.countryCode + ') ' 
              : '') + customerLedgerDetailData.altmobile 
           : '-'">
                                        </view-detail-card>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="d-flex flex-col col-md-5 m-20 tab-cards-container">
                        <mat-card class="cardWithShadow">
                            <mat-card-header>
                                <mat-card-title class="f-s-20 text-primary">Notification & Dunning</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="row">
                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'Dunning Enable'"
                                            [value]="customerLedgerDetailData?.isDunningEnable === true ? 'True' : 'False'">
                                        </view-detail-card>
                                    </div>
                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'Automatic Notification'"
                                            [value]="customerLedgerDetailData?.isNotificationEnable === true ? 'True' : 'False'">
                                        </view-detail-card>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Service Area Detail">
            <div class="overview-container">
                <div class="overview-top-row row">
                    <div class="d-flex flex-col col-md-5 m-20 tab-cards-container">
                        <mat-card class="cardWithShadow">
                            <mat-card-header>
                                <mat-card-title class="f-s-20 text-primary">Organization / Entity</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="row">
                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'Address'"
                                            [value]="customerAddress?.landmark || '-'">
                                        </view-detail-card>
                                    </div>
                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'Service Area Name'"
                                            [value]="customerLedgerDetailData?.serviceareaName || '-'">
                                        </view-detail-card>
                                    </div>
                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'Branch Name / Partner'"
                                            [value]="customerLedgerDetailData?.branchName || '-'">
                                        </view-detail-card>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="d-flex flex-col col-md-5 m-20 tab-cards-container">
                        <mat-card class="cardWithShadow">
                            <mat-card-header>
                                <mat-card-title class="f-s-20 text-primary">Geographical Information</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="row">
                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'Longitude'"
                                            [value]="customerLedgerDetailData?.longitude || '-'"></view-detail-card>
                                    </div>
                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'Landmark'"
                                            [value]="customerAddress?.landmark1 || '-'"></view-detail-card>
                                    </div>
                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'Country'"
                                            [value]="presentAdressDATA?.countryName"></view-detail-card>
                                    </div>
                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'Latitude'"
                                            [value]="customerLedgerDetailData?.latitude || '-'"></view-detail-card>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="d-flex flex-col col-md-5 m-20 tab-cards-container">
                        <mat-card class="cardWithShadow">
                            <mat-card-header>
                                <mat-card-title class="f-s-20 text-primary">Infrastructure / Network
                                    Details</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="row">
                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'Road'"
                                            [value]="presentAdressDATA?.code ||'-'"></view-detail-card>
                                    </div>
                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'FAT'"
                                            [value]="presentAdressDATA?.name ||'-'"></view-detail-card>
                                    </div>
                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'Home Pass'"
                                            [value]="presentAdressDATA?.buildingName"></view-detail-card>
                                    </div>
                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'OLT'"
                                            [value]=" presentAdressDATA?.cityName"></view-detail-card>
                                    </div>
                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'Building'"
                                            [value]="presentAdressDATA?.subarea ||'-'"></view-detail-card>
                                    </div>
                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'Building Number'"
                                            [value]="presentAdressDATA?.buildingNumber ||'-'"></view-detail-card>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Network Location Detail">
            <div class="overview-container">
                <div class="overview-top-row row">
                    <div class="d-flex flex-col col-md-5 m-20 tab-cards-container">
                        <mat-card class="cardWithShadow">
                            <mat-card-header>
                                <mat-card-title class="f-s-20 text-primary">Organization / Entity</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="row">
                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'POP'"
                                            [value]="customerNetworkLocationDetailData?.popName || '-'">
                                        </view-detail-card>
                                    </div>
                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'External ONU Serial Number'"
                                            [value]="customerNetworkLocationDetailData?.externalOnuSerialNumber ||'-'">
                                        </view-detail-card>
                                    </div>
                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'OLT'"
                                            [value]="customerNetworkLocationDetailData?.oltDeviceName ||'-'">
                                        </view-detail-card>
                                    </div>
                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'Card Number'"
                                            [value]="customerNetworkLocationDetailData?.cardNumber ||'-'">
                                        </view-detail-card>
                                    </div>
                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'MAC'"
                                            [value]="customerNetworkLocationDetailData?.macAddress ||'-'">
                                        </view-detail-card>
                                    </div>
                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'ONU Serial Number'"
                                            [value]="customerNetworkLocationDetailData?.onuSerialNumber ||'-'">
                                        </view-detail-card>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="d-flex flex-col col-md-5 m-20 tab-cards-container">
                        <mat-card class="cardWithShadow">
                            <mat-card-header>
                                <mat-card-title class="f-s-20 text-primary">IP & Addressing</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="row">
                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'Static IP'"
                                            [value]="customerLedgerDetailData?.staticIp ||'-'"></view-detail-card>
                                    </div>

                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'Framed IP Netmask'"
                                            [value]="customerLedgerDetailData?.framedIPNetmask ||'-'"></view-detail-card>
                                    </div>

                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'Secondary DNS'"
                                            [value]="customerLedgerDetailData?.secondaryDNS ||'-'"></view-detail-card>
                                    </div>

                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'Framed IP Address'"
                                            [value]="customerLedgerDetailData?.framedIpAddress ||'-'"></view-detail-card>
                                    </div>

                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'Framed IPv6 Prefix'"
                                            [value]="customerLedgerDetailData?.framedIPv6Prefix ||'-'"></view-detail-card>
                                    </div>

                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'Primary IPv6 DNS'"
                                            [value]="customerLedgerDetailData?.primaryIPv6DNS || '-'"></view-detail-card>
                                    </div>

                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'Framed IPv6 Address'"
                                            [value]="customerLedgerDetailData?.framedIPv6Address ||'-'"></view-detail-card>
                                    </div>

                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'Gateway IP'"
                                            [value]="customerLedgerDetailData?.gatewayIP || '-'"></view-detail-card>
                                    </div>

                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'Secondary IPv6 DNS'"
                                            [value]="customerLedgerDetailData?.secondaryIPv6DNS || '-'"></view-detail-card>
                                    </div>

                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'Framed Route'"
                                            [value]="customerLedgerDetailData?.framedroute ||'-'"></view-detail-card>
                                    </div>

                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'Primary DNS'"
                                            [value]="customerLedgerDetailData?.primaryDNS || '-'"></view-detail-card>
                                    </div>

                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'Delegated Prefix'"
                                            [value]="customerLedgerDetailData?.delegatedprefix || '-'"></view-detail-card>
                                    </div>

                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'VLAN ID'"
                                            [value]="customerLedgerDetailData?.vlanid ||'-'"></view-detail-card>
                                    </div>

                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'IP Pool Name (Bind)'"
                                            [value]="customerLedgerDetailData?.ipPoolNameBind || '-'"></view-detail-card>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="d-flex flex-col col-md-5 m-20 tab-cards-container">
                        <mat-card class="cardWithShadow">
                            <mat-card-header>
                                <mat-card-title class="f-s-20 text-primary">Service & Session Control</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="row">
                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'Network Profile'"
                                            [value]="customerLedgerDetailData?.networkProfile || '-'">
                                        </view-detail-card>
                                    </div>

                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'Mac Provision'"
                                            [value]="customerLedgerDetailData?.mac_provision === true ? customerLedgerDetailData?.mac_provision :'-'">
                                        </view-detail-card>
                                    </div>

                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'Master DB'"
                                            [value]="customerLedgerDetailData?.masterdbDeviceName || '-'">
                                        </view-detail-card>
                                    </div>

                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'Mac Auth'"
                                            [value]="customerLedgerDetailData?.macauthenable === true ? 'True' : '-'">
                                        </view-detail-card>
                                    </div>

                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'Splitter / DB'"
                                            [value]="customerLedgerDetailData?.splitterDerviceName || '-'">
                                        </view-detail-card>
                                    </div>

                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'Parent Quota Type'"
                                            [value]="customerLedgerDetailData?.parentQuotaType ||'-'">
                                        </view-detail-card>
                                    </div>

                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'Max Concurrent Sessions'"
                                            [value]="customerLedgerDetailData?.maxconcurrentsession || '-'">
                                        </view-detail-card>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="d-flex flex-col col-md-5 m-20 tab-cards-container">
                        <mat-card class="cardWithShadow">
                            <mat-card-header>
                                <mat-card-title class="f-s-20 text-primary">NAS (Network Access Server)</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="row">
                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'NAS IP'"
                                            [value]="customerLedgerDetailData?.nasIpAddress ||'-'">
                                        </view-detail-card>
                                    </div>
                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'NAS Port'"
                                            [value]="customerLedgerDetailData?.nasPort || '-'">
                                        </view-detail-card>
                                    </div>
                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'NAS Port ID'"
                                            [value]="customerLedgerDetailData?.nasPortId || '-'">
                                        </view-detail-card>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="d-flex flex-col col-md-5 m-20 tab-cards-container">
                        <mat-card class="cardWithShadow">
                            <mat-card-header>
                                <mat-card-title class="f-s-20 text-primary">Location & Assignment</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="row">
                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'Location'" [value]="locationList || '-'">
                                        </view-detail-card>
                                    </div>
                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'Assigned DateTime'"
                                            [value]="customerInventoryList?.length > 0 && customerInventoryList[0]?.assignedDateTime ? (customerInventoryList[0]?.assignedDateTime | date:'dd-MM-yyyy hh:mm a') : '-'">
                                        </view-detail-card>
                                    </div>
                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'Is Parent Location'"
                                            [value]="isParentLocation === true ? 'Yes' : 'No'">
                                        </view-detail-card>
                                    </div>
                                    <div class="col-md-12 m-t-10">
                                        <view-detail-card [title]="'Staff Name'"
                                            [value]="loginUserName || '-'">
                                        </view-detail-card>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</mat-card>