<!-- done -->
<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="panel">
      <div class="panel-heading">
        <div class="displayflex">
          <button
            (click)="customerDetailOpen()"
            class="btn btn-secondary backbtn"
            data-placement="bottom"
            data-toggle="tooltip"
            title="Go to Customer Details"
            type="button"
          >
            <i
              class="fa fa-arrow-circle-left"
              style="color: #f7b206 !important; font-size: 28px"
            ></i>
          </button>
          <h3 class="panel-title">
            {{ custDetails.title }} {{ custDetails.firstname + " " + custDetails.lastname }} Current
            Plan
          </h3>
        </div>
        <div class="right">
          <button
            aria-controls="currenPresCustPlan"
            aria-expanded="false"
            class="btn-toggle-collapse"
            data-target="#currenPresCustPlan"
            data-toggle="collapse"
            type="button"
          >
            <i class="fa fa-minus-circle"></i>
          </button>
        </div>
      </div>

      <div class="panel-collapse collapse in" id="currenPresCustPlan">
        <div class="panel-body table-responsive">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <table class="table">
                <thead>
                  <tr>
                    <th>Plan Name</th>
                    <th>Plan Group</th>
                    <th>Validity</th>
                    <th>Plan Status</th>
                    <th>Start Date</th>
                    <th>Service Expiry Date</th>
                    <th>Billing End Date</th>
                    <th>Remaining Days</th>
                    <th>Promise To Pay Taken</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let plan of custServiceData
                        | paginate
                          : {
                              id: 'custCurrentPlanListData',
                              itemsPerPage: customerCurrentPlanListdataitemsPerPage,
                              currentPage: currentPagecustomerCurrentPlanListdata,
                              totalItems: customerCurrentPlanListdatatotalRecords
                            };
                      index as i
                    "
                  >
                    <td>{{ plan.planName }}</td>
                    <td>{{ plan.planGroupName }}</td>
                    <td>{{ plan.validity }}</td>
                    <td>
                      <span
                        [ngClass]="getStatusClass(plan.custPlanStatus, plan.custServMappingStatus)"
                        >{{ getStatus(plan.custPlanStatus, plan.custServMappingStatus) }}</span
                      >
                    </td>

                    <td>{{ plan.dbStartDate | date: "dd-MM-yyyy hh:mm" }}</td>
                    <td>{{ plan.dbEndDate | date: "dd-MM-yyyy hh:mm" }}</td>
                    <td>{{ plan.dbExpiryDate | date: "dd-MM-yyyy hh:mm" }}</td>
                    <td>{{ this.findDuration(plan.dbEndDate) }}</td>
                    <td>
                      <div *ngIf="plan.isPromiseToPayTaken == false">
                        <span class="badge badge-secondary"> No </span>
                      </div>
                      <div *ngIf="plan.isPromiseToPayTaken == true">
                        <span
                          (click)="
                            promiseToPayDetailsClick(
                              'promiseToPayDataModal',
                              plan.promiseToPayStartDate,
                              plan.promiseToPayEndDate,
                              plan.promiseToPayDays
                            )
                          "
                          class="badge badge-success curson_pointer"
                        >
                          Yes
                        </span>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="pagination_Dropdown">
                <pagination-controls
                  (pageChange)="pageChangedcustomerCurrentPlanListData($event)"
                  directionLinks="true"
                  id="custCurrentPlanListData"
                  maxSize="10"
                  nextLabel=""
                  previousLabel=""
                ></pagination-controls>
                <div id="itemPerPageDropdown">
                  <p-dropdown
                    (onChange)="TotalCurrentPlanItemPerPage($event)"
                    [options]="pageLimitOptions"
                    optionLabel="value"
                    optionValue="value"
                  ></p-dropdown>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Change Plan Panel -->
    <div class="panel">
      <div class="panel-heading">
        <div class="displayflex">
          <h3 class="panel-title">
            {{ custDetails.title }} {{ custDetails.firstname + " " + custDetails.lastname }} Buy
            Plan
          </h3>
        </div>
        <div class="right">
          <button
            aria-controls="changePresCustPlan"
            aria-expanded="false"
            class="btn-toggle-collapse"
            data-target="#changePresCustPlan"
            data-toggle="collapse"
            type="button"
          >
            <i class="fa fa-minus-circle"></i>
          </button>
        </div>
      </div>
      <div class="panel-collapse collapse in" id="changePresCustPlan">
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15" style="height: fit-content">
                  <label>Plan Type</label>
                  <p-dropdown
                    [ngClass]="{
                      'is-invalid': changePlanSubmitted && !changePlanTypeSelection
                    }"
                    (onChange)="onChangePlanType($event)"
                    [(ngModel)]="changePlanTypeSelection"
                    [options]="planPurchaseTypeData"
                    filter="true"
                    filterBy="text"
                    optionLabel="text"
                    optionValue="value"
                    placeholder="Select a Plan Type"
                  ></p-dropdown>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-collapse collapse in" id="changePresCustPlan" *ngIf="!isVoucherSelected">
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
              <p-card>
                <ng-template pTemplate="content">
                  <p-table
                    #dt
                    [value]="planList"
                    [(selection)]="selectedChangePlan"
                    dataKey="planId"
                    styleClass="p-datatable-customers"
                    [rowHover]="true"
                    [showCurrentPageReport]="true"
                  >
                    <ng-template pTemplate="header">
                      <tr>
                        <!-- <th style="width: 3rem"></th> -->
                        <th>Plan Name.</th>
                        <th>validity</th>
                        <th>Unit</th>
                        <th>Price</th>
                        <th>Buy</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-i="rowIndex" let-plan>
                      <tr class="p-selectable-row">
                        <td>{{ plan.name }}</td>
                        <td>
                          <span class="image-text">{{ plan.validity }}</span>
                        </td>
                        <td>{{ plan.unitsOfValidity }}</td>
                        <td>
                          <span class="image-text"
                            >{{ plan.offerprice }} {{ " " }}<span>{{ currencySymbol }}</span></span
                          >
                        </td>
                        <td>
                          <button
                            (click)="openPaymentGateways(plan)"
                            class="btn btn-primary"
                            id="submit"
                            type="submit"
                          >
                            <i class="fa fa-check-circle"></i>
                            Buy
                          </button>
                        </td>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                      <tr>
                        <td colspan="8">No Plan found.</td>
                      </tr>
                    </ng-template>
                  </p-table>
                </ng-template>
              </p-card>
            </div>
          </div>
          <div [formGroup]="changePlanNewForm">
            <div class="row">
              <div
                style="text-align: center; padding-top: 20px"
                class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
              ></div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="panel-collapse collapse in"
        id="changePresCustPlan"
        *ngIf="!isAddonOrRenewSelected"
      >
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
              <form [formGroup]="voucherForm">
                <div class="row">
                  <div
                    class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15"
                    style="height: fit-content"
                  >
                    <label for="voucherInput">Voucher Code</label>
                    <div class="form-group">
                      <input
                        type="text"
                        id="voucherInput"
                        formControlName="voucherCode"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid': submitted && voucherForm.controls.voucherCode.errors
                        }"
                      />
                    </div>
                    <div *ngIf="submitted && voucherForm.controls.voucherCode.errors">
                      <div class="error text-danger">Voucher is required.</div>
                    </div>
                    <button class="btn btn-primary" (click)="verifyVoucher()">Use</button>
                  </div>
                </div>
              </form>
              <div *ngIf="isVoucherValidate">
                <p-card>
                  <ng-template pTemplate="content">
                    <p-table
                      #dt
                      [value]="voucherPlanList"
                      dataKey="id"
                      styleClass="p-datatable-customers"
                      [rowHover]="true"
                      [showCurrentPageReport]="true"
                    >
                      <ng-template pTemplate="header">
                        <tr>
                          <!-- <th style="width: 3rem"></th> -->
                          <th>Plan Name.</th>
                          <th>Validity</th>
                          <th>Unit</th>
                          <th>Price</th>
                          <th>Proceed</th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-i="rowIndex" let-voucherplan>
                        <tr class="p-selectable-row">
                          <td>{{ voucherplan.name }}</td>
                          <td>{{ voucherplan.validity }}</td>
                          <td>{{ voucherplan.unitsOfValidity }}</td>
                          <td>{{ voucherplan.offerprice }}</td>
                          <td>
                            <button
                              class="btn btn-primary"
                              id="submit"
                              type="submit"
                              (click)="bindVoucherPlan()"
                            >
                              <i class="fa fa-check-circle"></i>
                              Proceed
                            </button>
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </ng-template>
                </p-card>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Open Dialog for connection details -->
      <app-plan-connection-no
        *ngIf="showPlanConnectionNo"
        [planForConnection]="planForConnection"
        (closeDialog)="closeDialog()"
      ></app-plan-connection-no>
    </div>
  </div>
</div>


<!-- //done -->
<p-dialog
  header="Payment Gateway Method"
  [(visible)]="displayDialog"
  [modal]="true"
  [style]="{ width: '50%' }"
  [draggable]="false"
  [resizable]="false"
>
  <div class="card" style="text-align: center">
    <div *ngFor="let config of savedConfig">
      <p-card
        [style]="{
                margin: '25px',
                'box-shadow': '0 4px 8px rgba(0, 0, 0, 0.3)'
              }"
      >
        <div class="p-card-title" style="color: #f7b206; font-size: 20px">
          {{ config.paymentConfigName }}
        </div>
        <div class="p-card-content" style="width: 100%">
          <div>{{ config.paymentGatewayInfo?.substring(0, 50) }}</div>
          <div style="white-space: normal">{{ config.paymentGatewayInfo?.substring(50) }}</div>
        </div>
        <div class="p-card-footer">
          <button class="btn btn-primary" id="submit" type="submit" (click)="buyPlan(config)">
            Proceed
          </button>
        </div>
      </p-card>
    </div>
  </div>
</p-dialog>

<!-- //done -->
<!-- Payment Confirmation Model -->
<p-dialog
  header="Payment Confirmation"
  [(visible)]="paymentConfirmationModal"
  [modal]="true"
  [breakpoints]="{ '1024px': '75vw', '767px': '90vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  (onHide)="hidepaymentConfirmDialog()"
  [resizable]="false"
>
  <h5 class="modalHeadTxt">
    Payment is in the approval flow one It is approved, you will get the confirmation message
    through SMS
  </h5>

  <button
    class="btn btn-success btnStyle"
    [disabled]="exitBuy"
    (click)="hidepaymentConfirmDialog()"
  >
    <i class="fa-solid fa-xmark"></i> Close<span *ngIf="exitBuy"> ({{ paymentstatusCount }}) </span>
  </button>
</p-dialog>

<!-- Payment Success Model -->
<p-dialog
  header="Payment Success"
  [(visible)]="paymentSucessModel"
  [modal]="true"
  [breakpoints]="{ '1024px': '75vw', '767px': '90vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  (onHide)="hidepaymentSucessDialog()"
  [resizable]="false"
>
  <h5 class="modalHeadTxt plan-sucess-content">Plan purchased successfully</h5>

  <button class="btn btn-success btnStyle plan-sucess-btn" (click)="hidepaymentSucessDialog()">
    OK
  </button>
</p-dialog>

<div class="displayView">
  <p-dialog
    header="Payment Success"
    [(visible)]="ispaymentReceiptHtml"
    [modal]="true"
    [breakpoints]="{ '1024px': '75vw', '767px': '90vw' }"
    [style]="{ width: '50vw' }"
    [draggable]="false"
    (onHide)="hidepaymentReceptDialog()"
    [resizable]="false"
  >
    <div class="container">
      <div class="row">
        <div
          class="well col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3 displayRecepit"
        >
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
              <strong>Success</strong>
              <br />
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 text-right">
              <p>
                <em>Receipt #: 34522677W</em>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="text-center">
              <h1>Receipt</h1>
            </div>

            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Components</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>TransactionId :- {{ razorpayCallbackResponse?.pgTransactionId }}</td>
                </tr>
                <tr>
                  <td>orderId :- {{ razorpayCallbackResponse?.orderId }}</td>
                </tr>
                <tr>
                  <td>
                    <a id="home" href="javascript:void(0)" (click)="hidepaymentReceptDialog()">
                      Home
                    </a>
                  </td>
                  <td>
                    <div id="countdown"></div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </p-dialog>
</div>

<div class="mobileViewBlock">
  <p-dialog
    header="Payment Success"
    [(visible)]="ispaymentReceiptHtml"
    [modal]="true"
    [breakpoints]="{ '1024px': '75vw', '767px': '90vw' }"
    [style]="{ width: '50vw' }"
    [draggable]="false"
    (onHide)="hidepaymentReceptDialog()"
    [resizable]="false"
  >
    <div class="container">
      <div class="row">
        <div
          class="well col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3 mobileDisplayRecepit"
        >
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
              <strong>Success</strong>
              <br />
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 text-right">
              <p>
                <em>Receipt #: 34522677W</em>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="text-center">
              <h1>Receipt</h1>
            </div>

            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Components</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>TransactionId :- {{ razorpayCallbackResponse?.pgTransactionId }}</td>
                </tr>
                <tr>
                  <td>orderId :- {{ razorpayCallbackResponse?.orderId }}</td>
                </tr>
                <tr>
                  <td>
                    <a id="home" href="javascript:void(0)" (click)="hidepaymentReceptDialog()">
                      Home
                    </a>
                  </td>
                  <td>
                    <div id="countdown"></div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </p-dialog>
</div>

<!-- //done -->
<p-dialog
  header="Mobile number"
  [(visible)]="mpinModal"
  [modal]="true"
  [style]="{ width: '30%' }"
  [draggable]="false"
  (onHide)="hideMpinModal()"
  [resizable]="false"
>
  <form [formGroup]="mpinForm">
    <div class="form-group">
      <label>Mobile number: <span class="reqSign">*</span></label>
      <div style="display: flex">
        <div style="width: 30%">
          <p-dropdown
            [filter]="true"
            [options]="countries"
            formControlName="countryCode"
            id="countryCode"
            optionLabel="dial_code"
            optionValue="dial_code"
            placeholder="+91"
            appendTo="body"
          ></p-dropdown>
        </div>
        <div style="width: 70%">
          <input
            (input)="onInputMobile($event)"
            (keyup)="onKeymobilelength($event)"
            type="number"
            name="mobileNo"
            id="mobileNo"
            min="0"
            formControlName="mobileNumber"
            [ngClass]="{
              'is-invalid': isMpinFormSubmitted && mpinForm.controls.mobileNumber.errors
            }"
            placeholder="Enter mobile number"
          />
        </div>
      </div>
      <div *ngIf="mobileError" class="errorWrap text-danger">
        <div class="error text-danger">Mobile number should not start with 0.</div>
      </div>
      <div style="display: flex">
        <div style="width: 30%"></div>
        <div style="width: 70%">
          <div
            *ngIf="isMpinFormSubmitted && mpinForm.controls.mobileNumber.errors"
            class="errorWrap text-danger"
          >
            <div *ngIf="mpinForm.controls.mobileNumber.errors.required">
              Mobile Number is required.
            </div>
          </div>
          <div *ngIf="inputMobile && mpinForm.value.mobileNumber" class="error text-danger">
            {{ this.inputMobile }}
          </div>
        </div>
      </div>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <div class="btnGroup text-center">
      <button
        class="btn btn-primary btnStyle"
        (click)="buy()"
        style="margin-right: 10px"
        [disabled]="inputMobile !== '' || mobileError"
      >
        Buy
      </button>
      <button class="btn btn-danger btnStyle" (click)="hideMpinModal()">Cancel</button>
    </div>
  </ng-template>
</p-dialog>
