<div class="table-list">

    @if (this.accessData.voucher.createUpdateAccess) {
    <div style="margin-left: 5px" class="row panel-body">
        @if (activeAccess) {


        <button mat-flat-button color="primary" class="search-btn" (click)="changeStatusToActive()">

            Active
        </button>
        }
        @if (blockAccess) {
        <button mat-flat-button color="primary" class="search-btn" (click)="changeStatusToBlock()">

            Block
        </button>

        }
        @if (unblockAccess) {
        <button mat-flat-button color="primary" class="search-btn" (click)="changeStatusToUnblock()">

            Unblock
        </button>

        }
        @if (scrap) {
        <button mat-flat-button color="primary" class="search-btn" (click)="changeStatusToScrap()">

            Scrap
        </button>

        }
    </div>
    }
    <div class="table-responsive" style="margin-top: 35px;">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 w-100">

            <!-- Select All Checkbox -->
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef sticky class="table-header-title center">
                    <mat-checkbox [(ngModel)]="isChecked" (change)="addAllVoucher($event)">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let element" class="center">
                    <mat-checkbox [(ngModel)]="element.isChecked" (change)="addVoucher(element.id, $event)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <!-- Voucher Profile Name -->
            <ng-container matColumnDef="voucherName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sticky class="table-header-title">
                    Voucher Profile Name
                </th>
                <td mat-cell *matCellDef="let element">
                    {{ element.voucherBatch?.voucherConfiguration?.name || '-' }}
                </td>
            </ng-container>

            <!-- Serial Number -->
            <ng-container matColumnDef="serialNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sticky class="table-header-title">
                    Serial Number
                </th>
                <td mat-cell *matCellDef="let element">
                    {{ element.serial_number || '-' }}
                </td>
            </ng-container>

            <!-- Batch Name -->
            <ng-container matColumnDef="batchName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sticky class="table-header-title">
                    Batch Name
                </th>
                <td mat-cell *matCellDef="let element">
                    {{ element.voucherBatch?.batchName || '-' }}
                </td>
            </ng-container>

            <!-- Plan -->
            <ng-container matColumnDef="plan">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sticky class="table-header-title">
                    Plan
                </th>
                <td mat-cell *matCellDef="let element">
                    {{ element.voucherBatch?.plan?.name || '-' }}
                </td>
            </ng-container>

            <!-- Code -->
            <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sticky class="table-header-title">
                    Code
                </th>
                <td mat-cell *matCellDef="let element">
                    {{ element.code }}
                </td>
            </ng-container>

            <!-- Status -->
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sticky class="table-header-title">
                    Status
                </th>
                <td mat-cell *matCellDef="let element">
                    <span class="status-badge" [ngClass]="{
                  'status-success': element.status === 'Active',
                  'status-primary': element.status === 'Blocked',
                  'status-danger': element.status === 'Scrapped'
                }">
                        {{ element.status }}
                    </span>
                </td>
            </ng-container>

            <!-- Price -->
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sticky class="table-header-title">
                    Price
                </th>
                <td mat-cell *matCellDef="let element">
                    {{ element.voucherBatch?.price }}
                </td>
            </ng-container>

            <!-- Created On -->
            <ng-container matColumnDef="createdOn">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sticky class="table-header-title">
                    Created On
                </th>
                <td mat-cell *matCellDef="let element">
                    {{ element.createDate | date:'dd-MM-yyyy HH:mm' }}
                </td>
            </ng-container>

            <!-- Action -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef stickyEnd class="table-header-title">
                    Action
                </th>
                <td mat-cell *matCellDef="let element" class="center">
                    <a href="javascript:void(0)" (click)="showSendSms(element.id, element.code)">
                        <img src="assets/img/DashboardIcons/send-svgrepo-com 1.svg" width="22" height="22" />
                    </a>
                </td>
            </ng-container>

            <!-- Header & Row -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-content-row"></tr>

        </table>

        <!-- Paginator -->
        <mat-paginator [length]="totalElements" [pageSize]="itemsPerPage" [pageSizeOptions]="[5, 10, 20, 50,100]"
            showFirstLastButtons (page)="pageChanged($event)">
        </mat-paginator>

    </div>
</div>

<ng-template #SendSMSDialogTemplate>
    <div class="dialog-container">

        <!-- HEADER -->
        <div class="dialog-header">
            Send Voucher Details
            <span>
                <a mat-icon-button href="javascript:void(0)" (click)="closeModalSendSMS()">
                    <img src="assets/img/DashboardIcons/Reject.svg" />
                </a>
            </span>
        </div>

        <!-- CONTENT -->
        <div mat-dialog-content style="overflow-y:auto; max-height:75vh">
            <mat-card-content class="matcardContent">

                <form [formGroup]="customerGroupForm" class="row g-3">

                    <!-- MOBILE NO FIELD -->
                    <div class="col-md-12">
                        <label class="inputLabel">Mobile No</label>

                        <div class="d-flex" style="gap: 10px">

                            <!-- COUNTRY CODE -->
                            <mat-form-field appearance="outline" class="w-25">
                                <mat-select formControlName="countryCode" class="input p-5">
                                    <mat-option *ngFor="let c of countries" [value]="c.dial_code">
                                        {{ c.dial_code }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <!-- MOBILE NO -->
                            <mat-form-field appearance="outline" class="w-75">
                                <input matInput type="text" placeholder="Enter Mobile No" formControlName="mobileNo"
                                    class="input p-5" maxlength="10" minlength="10" (keypress)="onlyNumbers($event)" />
                                <mat-error *ngIf="customerGroupForm.controls.mobileNo.errors?.required">
                                    Mobile number is required.
                                </mat-error>
                                <mat-error *ngIf="customerGroupForm.controls.mobileNo.errors?.pattern">
                                    Mobile number must be exactly 9 digits.
                                </mat-error>
                            </mat-form-field>


                        </div>
                    </div>

                </form>

            </mat-card-content>

            <!-- ACTION BUTTONS -->
            <div mat-dialog-actions class="p-0 m-t-10 dialog-action-adjust">

                <button mat-flat-button color="primary" class="button-normal" (click)="sendSms(voucherIdSms)"
                    [disabled]="!customerGroupForm.valid">
                    Send
                </button>

                <button mat-stroked-button color="primary" class="button-normal" (click)="clearcustomerGroupForm()">
                    Clear
                </button>

                <button mat-stroked-button color="warn" class="button-normal" (click)="closeModalSendSMS()">
                    Close
                </button>

            </div>

        </div>

    </div>
</ng-template>





<!-- <div class="childComponent">
 
<div class="row">
  <div class="col-md-12">
    <!- Voucher Data ->
    <div class="panel top">
      <div class="panel-heading">
        <h3 class="panel-title">Voucher Management</h3>
        <div class="right">
          <button
            type="button"
            class="btn-toggle-collapse"
            data-toggle="collapse"
            data-target="#collapse1"
            aria-expanded="false"
            aria-controls="collapse1"
            >
            <i class="fa fa-minus-circle"></i>
          </button>
        </div>
      </div>
      <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body">
          <div class="searchForm">
            <form
              class="form-inline"
              [formGroup]="searchVoucherForm"
              (ngSubmit)="searchVoucher()"
              >
              <div>
                <label for="batchName">Batch Name : &nbsp;</label>
                <input
                  type="text"
                  id="batchName"
                  placeholder="Batch Name"
                  formControlName="batchName"
                  class="form-control"
                  (keyup)="getUserIdsFirstWay($event)"
                  list="dynamicBatchNames"
                  autocomplete="off"
                  />
                  <datalist id="dynamicBatchNames">
                    @for (item of batchNameList; track item) {
                      <option [value]="item">
                        {{ item }}
                      </option>
                    }
                  </datalist>
                  &nbsp; &nbsp;
                  <label>Status : &nbsp;</label>
                  <div style="width: 20%; display: inline-block">
                    <p-dropdown
                      [options]="status"
                      placeholder="Select Status"
                      optionLabel="label"
                      optionValue="label"
                      formControlName="status"
                    ></p-dropdown>
                  </div>
                  &nbsp; &nbsp;
                  <button
                    type="submit"
                    class="btn btn-primary"
                    data-title="Search Voucher "
                    id="searchbtn"
                    >
                    <i class="fa fa-search"></i>
                    Search
                  </button>
                  <button
                    type="reset"
                    class="btn btn-default"
                    data-title="Clear"
                    (click)="clearSearchForm()"
                    id="searchbtn"
                    >
                     <img src="assets/img/DashboardIcons/Refresh.svg" />
                    Clear
                  </button>
                  &nbsp;
                  @if (downloadAccess) {
                    <a
                      data-title="Export Data to Excel"
                      data-toggle="tooltip"
                      (click)="exportExcel()"
                      >
                      <img class="icon-ex" src="assets/img/icons-07.png" />
                    </a>
                  }
                </div>
              </form>
            </div>
          </div>
          <div class="panel-body no-padding panel-udata">
            <div class="col-md-4 pcol">
              <div class="dbox">
                <a href="javascript:void(0)" [routerLink]="['/home/voucherManagement']">
                  <img src="../../../assets/img/i01.png" style="width: 32px" />
                  <h5>Show Voucher Profile</h5>
                </a>
              </div>
            </div>
            @if (voucherBatchAccess) {
              <div class="col-md-4 pcol">
                <div class="dbox">
                  <a href="javascript:void(0)" [routerLink]="['/home/voucherBatch']">
                    <img src="../../../assets/img/i01.png" style="width: 32px" />
                    <h5>Show Voucher Batch</h5>
                  </a>
                </div>
              </div>
            }
            @if (voucherManageAccess) {
              <div
                class="col-md-4 pcol"
              [ngClass]="{
                'is-active': this.showBatch
              }"
                >
                <div class="dbox">
                  <a href="javascript:void(0)" [routerLink]="['/home/voucher']">
                    <img src="../../../assets/img/i01.png" style="width: 32px" />
                    <h5>Show Manage Vouchers</h5>
                  </a>
                </div>
              </div>
            }
          </div>
        </div>
      </div>
      <!- END User Data ->
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <!- Data Table ->
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Vouchers</h3>
          <div class="right">
            <button
              type="button"
              class="btn-toggle-collapse"
              data-toggle="collapse"
              data-target="#voucherTable"
              aria-expanded="false"
              aria-controls="voucherTable"
              >
              <i class="fa fa-minus-circle"></i>
            </button>
          </div>
        </div>
        <div id="voucherTable" class="panel-collapse collapse in">
          @if (this.accessData.voucher.createUpdateAccess) {
            <div
              style="margin-left: 5px"
              class="row panel-body"
              >
              @if (activeAccess) {
                <button
                  type="submit"
                  class="btn btn-primary statusbtn"
                  (click)="changeStatusToActive()"
                  >
                  <i class="fa fa-check"></i>
                  Active
                </button>
              }
              @if (blockAccess) {
                <button
                  type="submit"
                  class="btn btn-primary statusbtn"
                  (click)="changeStatusToBlock()"
                  >
                  <i class="fa fa-lock"></i>
                  Block
                </button>
              }
              @if (unblockAccess) {
                <button
                  type="submit"
                  class="btn btn-primary statusbtn"
                  (click)="changeStatusToUnblock()"
                  >
                  <i class="fa fa-unlock"></i>
                  Unblock
                </button>
              }
              @if (scrap) {
                <button
                  type="submit"
                  class="btn btn-primary statusbtn"
                  (click)="changeStatusToScrap()"
                  >
                  <i class="fa fa-trash-o"></i>
                  Scrap
                </button>
              }
            </div>
          }
        
        <div class="panel-body table-responsive">
          <table class="table">
            <thead>
              <tr>
                @if (this.accessData.voucher.createUpdateAccess) {
                  <th style="width: 5%">
                    <p-checkbox
                      name="checkVoucher"
                      [(ngModel)]="isChecked"
                      [binary]="true"
                      (onChange)="addAllVoucher($event)"
                    ></p-checkbox>
                  </th>
                }
                <th>Voucher Profile Name</th>
                <th>Serial Number</th>
                <th>Batch Name</th>
                <th>Plan</th>
                <th>Code</th>
                <th>Status</th>
                <th>Price</th>
                <th>Create On</th>
                @if (smsAccess) {
                  <th>Action</th>
                }
              </tr>
            </thead>
            <tbody>
              @for (
                voucher of voucherData
                | paginate
                : {
                id: 'listing_voucherdata',
                itemsPerPage: itemsPerPage,
                currentPage: currentPage,
                totalItems: totalElements
                }; track
                voucher; let i = $index) {
                <tr
                  >
                  @if (this.accessData.voucher.createUpdateAccess) {
                    <td style="width: 5%">
                      <p-checkbox
                        class="p-field-checkbox"
                        name="checkVoucher"
                        [value]="voucher.id"
                        [inputId]="voucher.id"
                        [(ngModel)]="voucher.isChecked"
                        (onChange)="addVoucher(voucher.id, $event)"
                        [binary]="true"
                      ></p-checkbox>
                      
                    </td>
                  }
                  <td>{{ voucher.voucherBatch.voucherConfiguration.name }}</td>
                  <td>{{ voucher.serial_number || "-" }}</td>
                  <td>{{ voucher.voucherBatch.batchName }}</td>
                  <td>{{ voucher.voucherBatch?.plan ? voucher.voucherBatch.plan.name : "-" }}</td>
                  <td>{{ voucher.code }}</td>
                  <td>{{ voucher.status }}</td>
                  <td>{{ voucher.voucherBatch.price }}</td>
                  <td>{{ voucher.createDate | date: "dd-MM-yyy HH:mm" }}</td>
                  <td class="btnAction">
                    <a
                      data-title="Send SMS"
                      data-toggle="modal"
                      type="button"
                      (click)="showSendSms(voucher.id, voucher.code)"
                      title="Send Sms"
                      >
                      <img
                        class="icon"
                        src="assets/img/DashboardIcons/send-svgrepo-com 1.svg"
                        style="display: inline-flex"
                        />
                      </a>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
            <br />
            <div class="row">
              <div class="col-md-12" style="display: flex">
                <pagination-controls
                  id="listing_voucherdata"
                  [maxSize]="5"
                  [directionLinks]="true"
                  previousLabel=""
                  nextLabel=""
                  (pageChange)="pageChanged($event)"
                ></pagination-controls>
                <div id="itemPerPageDropdown">
                  <p-dropdown
                    [options]="pageLimitOptions"
                    optionLabel="value"
                    optionValue="value"
                    [(ngModel)]="showItemPerPage"
                    (onChange)="TotalItemPerPage($event)"
                  ></p-dropdown>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!- END Data Table ->
    </div>
  </div>
</div>
<p-dialog
  header="Send Voucher Details"
  [(visible)]="modalToggle"
  [modal]="true"
  [style]="{ width: '40%' }"
  [responsive]="true"
  [draggable]="false"
  [closable]="true"
  (onHide)="closeModalSendSMS()"
  >
  <div class="modal-body">
    <div class="container-fluid">
      <form class="form-auth-small" [formGroup]="customerGroupForm">
        <div class="row" id="viewDetail">
          <div class="col-lg-12 co-md-12 col-sm-12 col-xs-12">
            <input
              type="hidden"
              class="form-control"
              id="id"
              name="id"
              disabled="disabled"
              value="{{ voucherIdSms }}"
              hidden
              />
              <label>Mobile No</label>
              <div style="width: 100%; display: flex">
                <div style="width: 20%; height: 3.5rem">
                  <p-dropdown
                    id="countryCode"
                    [filter]="true"
                    [options]="countries"
                    optionLabel="dial_code"
                    optionValue="dial_code"
                    formControlName="countryCode"
                    appendTo="body"
                  ></p-dropdown>
                </div>
                <div style="width: 80%">
                  <input
                    type="text"
                    name="mobileNo"
                    min="0"
                    class="form-control"
                    placeholder="Enter Mobile No"
                    formControlName="mobileNo"
                  [ngClass]="{
                    'is-invalid':
                      submitted &&
                      customerGroupForm.controls.mobileNo.errors &&
                      customerGroupForm.controls.mobileNo.touched
                  }"
                    />
                    @if (
                      customerGroupForm.controls.mobileNo.touched &&
                      customerGroupForm.controls.mobileNo.invalid
                      ) {
                      <div
                        class="errorWrap text-danger"
                        >
                        @if (customerGroupForm.controls.mobileNo.touched) {
                          <div
                            class="error text-danger"
                            >
                            only numbers are allowed between 0-9.
                          </div>
                        }
                      </div>
                    }
                    @if (submitted && customerGroupForm.controls.mobileNo.errors) {
                      <div
                        class="errorWrap text-danger"
                        >
                        @if (customerGroupForm.controls.mobileNo.errors.required) {
                          <div
                            class="error text-danger"
                            >
                            Mobile number is required.
                          </div>
                        }
                      </div>
                    }
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <div class="addUpdateBtn">
          <button
            type="submit"
            class="btn btn-primary btn-sm"
            data-dismiss="modal"
            (click)="sendSms(voucherIdSms)"
            [disabled]="!customerGroupForm.valid"
            >
            <i class="fa fa-check-circle"></i>
            Send
          </button>
          <button
            id="btn"
            type="button"
            class="btn btn-default btn-sm"
            (click)="clearcustomerGroupForm()"
            >
             <img src="assets/img/DashboardIcons/Refresh.svg" />
            Clear
          </button>
          <button
            type="button"
            class="btn btn-danger btn-sm"
            (click)="closeModalSendSMS()"
            data-dismiss="modal"
            >
            Close
          </button>
        </div>
      </div>
    </p-dialog>
    -->