:host ::ng-deep {
  .p-inputgroup-addon {
    display: flex;
    align-items: center;
    height: 2.5rem;
    justify-content: center;
    font-size: initial;
  }
}

.modal-footer {
  text-align: right;
  border-top: 1px solid #e5e5e5;
  padding-bottom: 1px;
}

.modal-body-junk {
  position: relative;
}
:host ::ng-deep .p-dialog .p-dialog-header {
  background: #f7b206 !important;
}

.text-color-black{
  color: black !important;
}
input::placeholder {
  color: black !important;
}