.trcTATTabel tr td {
    padding-right: 10px;
}

/* common css for body and header start*/
.card-content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.2s ease, max-height 0.2s ease, opacity 0.2s ease;
}

.card-content.open {
    max-height: 1000px;
    opacity: 1;
    transform: scaleY(1);
}

/* common css for body and header end*/


/* ************************************************************************** */


/* header part section css start */
.header-row {
    margin: 0 !important;
    padding: 0 !important;
}

.search-div {
    text-align: right !important;
}

.search-header-search-icon {
    margin-bottom: 9px;
}

.search-btn {
    width: 115px;
    font-size: 15px;
    font-weight: 500;
    margin-right: 10px;
    height: 45px;
}

.addEdit-icon {
    margin-bottom: 3px;
}

/* header part section css end */



/* ************************************************************************** */


/* body part section css start */

.contain-flu {
    margin-left: -14px !important;
    margin-right: -13px !important;
}

.mat-card-header {
    display: flex !important;
    justify-content: space-between !important;
}

.heading-title {
    font-size: 20px;
    font-weight: 500;
}

.icon-size {
    font-size: 15px;
}

/* body part section css end */

.country-table-list {
    padding: 16px;
}

.table-container {
    height: auto;
    display: flex;
    flex-direction: column;
    overflow: auto;
    overflow-x: hidden !important;
}

table {
    min-width: 100%;
    border-collapse: collapse;
    /* border: 1px solid #ccc; */
}

.mat-header-row {
    background-color: white;
    z-index: 10;
}


.table-content-row {
    height: 70px;
}

.mat-card-content-border {
    border-radius: 10px;
}

.basic-detail-card {
    margin-left: 35px;
}

.table-wrapper {
    width: 100%;
    overflow-x: hidden;
}

.full-width-table {
    width: 100% !important;
    table-layout: fixed;
}

.input-select-both {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 310px;
    border: 1px solid #d7dde2;
    border-radius: 4px;
    padding: 8px;
    margin-left: 45px;
    border-radius: 6px;
}

.field-row {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 10px;
}

.field-label {
    font-weight: 600;
    color: #555;
}

.field-value {
    font-weight: 300;
}

.detail-row {
    display: flex;
    margin-bottom: 8px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
}

.label {
    min-width: 100px;
    font-weight: 600;
}

.colon {
    width: 10px;
    text-align: center;
}

.value {
    flex: 1;
}