.dataGroup{
font-size: 17px; 
margin-bottom: 20px;
}
 .labelName{
   min-width: 150px;
 }
 .colon-min{
    width: 30px;
 }

/* .detail-row {
    display: flex;
    margin-bottom: 8px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
} */

/* .label {
    min-width: 100px;
    font-weight: 600;
}

.field-row {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 10px;
}
.field-label {
    font-weight: 600;
    color: #555;
}

.field-value {
    font-weight: 300;
}
.value {
    flex: 1;
} */
