table {
    min-width: 100%;
    border-collapse: collapse;
    /* border: 1px solid #ccc; */
    min-width: 100%;
    border-collapse: collapse;
    /* border: 1px solid #ccc; */
}

.mat-header-row {
    background-color: white;
    z-index: 10;
    background-color: white;
    z-index: 10;
}

.table-content-row {
    height: 70px;
    height: 70px;
}

.mat-card-content-border {
    border-radius: 10px;
    border-radius: 10px;
}



.field-row {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 10px;
}

.field-label {
    font-weight: 600;
    color: #555;
}

.field-value {
    font-weight: 300;
}

.detail-row {
    display: flex;
    margin-bottom: 8px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
}

.label {
    min-width: 100px;
    font-weight: 600;
}

.colon {
    width: 30px;
    text-align: center;
}

.value {
    flex: 1;
}