<div class="row header-row p-0 m-0">
    <mat-card class="cardWithShadow w-100">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title> {{ editMode ? "Update" : "Create" }} VLAN Profile </mat-card-title>

                <div>
                    <span>
                        <a mat-icon-button [routerLink]="['/home/vlanManagement/list']">
                            <img src="assets/img/DashboardIcons/Reject.svg">
                        </a>
                    </span>

                </div>
            </mat-card-title-group>
        </mat-card-header>

        <mat-card-content class="mat-card-content-border">
            <form [formGroup]="vlanProfileForm">
                <mat-stepper linear #stepper>
                    <mat-step [stepControl]="step1Group">
                        <ng-template matStepLabel>VLAN Attribute</ng-template>
                        <div class="row">
                            <!-- VLAN Name -->
                            <div class="col-lg-3 col-md-3 col-sm-6 mb-3">
                                <label class="inputLabel">VLAN Name*</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput class="input-p-5" type="text" placeholder="Enter VLAN Name"
                                        formControlName="vlanName" />
                                    <mat-error *ngIf="vlanProfileForm.controls.vlanName.errors" class="text-danger">
                                        VLAN Name is required.
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <!-- NAS Identifier -->
                            <div class="col-lg-3 col-md-3 col-sm-6 mb-3">
                                <label class="inputLabel">NAS Identifier*</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput class="input-p-5" type="text" placeholder="Enter NAS Identifier"
                                        formControlName="nasIdentifier" />
                                    <mat-error *ngIf="vlanProfileForm.controls.nasIdentifier.errors"
                                        class="text-danger">
                                        NAS Identifier is required.
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <!-- Circuit Type -->
                            <div class="col-lg-3 col-md-3 col-sm-6 mb-3">
                                <label class="inputLabel">Circuit Type</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput class="input-p-5" type="text" placeholder="Enter Circuit Type"
                                        formControlName="circuitType" />
                                </mat-form-field>
                            </div>

                            <!-- NAS Port 2 -->
                            <div class="col-lg-3 col-md-3 col-sm-6 mb-3">
                                <label class="inputLabel">NAS Port 2</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput class="input-p-5" type="text" placeholder="Enter NAS Port 2"
                                        formControlName="nasPortId2" />
                                </mat-form-field>
                            </div>

                            <!-- NAS Port 4 -->
                            <div class="col-lg-3 col-md-3 col-sm-6 mb-3">
                                <label class="inputLabel">NAS Port 4</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput class="input-p-5" type="text" placeholder="Enter NAS Port 4"
                                        formControlName="nasPortId4" />
                                </mat-form-field>
                            </div>

                            <!-- NAS Port 5 -->
                            <div class="col-lg-3 col-md-3 col-sm-6 mb-3">
                                <label class="inputLabel">NAS Port 5</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput class="input-p-5" type="text" placeholder="Enter NAS Port 5"
                                        formControlName="nasPortId5" />
                                </mat-form-field>
                            </div>

                            <!-- Forward Policy -->
                            <div class="col-lg-3 col-md-3 col-sm-6 mb-3">
                                <label class="inputLabel">Forward Policy</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput class="input-p-5" type="text" placeholder="Enter Forward Policy"
                                        formControlName="forwardPolicy" />
                                </mat-form-field>
                            </div>

                            <!-- HTTP Redirect Profile -->
                            <div class="col-lg-3 col-md-3 col-sm-6 mb-3">
                                <label class="inputLabel">HTTP Redirect Profile</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput class="input-p-5" type="text"
                                        placeholder="Enter HTTP Redirect Profile"
                                        formControlName="httpRedirectProfileName" />
                                </mat-form-field>
                            </div>

                            <!-- Framed IP Address -->
                            <div class="col-lg-3 col-md-3 col-sm-6 mb-3">
                                <label class="inputLabel">Framed IP Address</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput class="input-p-5" type="text" placeholder="Enter Framed IP Address"
                                        formControlName="framedIpAddress" />
                                </mat-form-field>
                            </div>

                            <!-- RB DHCP Max Leases -->
                            <div class="col-lg-3 col-md-3 col-sm-6 mb-3">
                                <label class="inputLabel">RB DHCP Max Leases</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput class="input-p-5" type="text" placeholder="Enter RB DHCP Max Leases"
                                        formControlName="rbDhcpMaxLeases" />
                                </mat-form-field>
                            </div>

                            <!-- IP Address Pool Name -->
                            <div class="col-lg-3 col-md-3 col-sm-6 mb-3">
                                <label class="inputLabel">IP Address Pool Name</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput class="input-p-5" type="text"
                                        placeholder="Enter IP Address Pool Name" formControlName="ipAddressPoolName" />
                                </mat-form-field>
                            </div>

                            <!-- RB Interface Name -->
                            <div class="col-lg-3 col-md-3 col-sm-6 mb-3">
                                <label class="inputLabel">RB Interface Name</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput class="input-p-5" type="text" placeholder="Enter RB Interface Name"
                                        formControlName="rbInterfaceName" />
                                </mat-form-field>
                            </div>

                            <!-- HTTP Redirect URL -->
                            <div class="col-lg-3 col-md-3 col-sm-6 mb-3">
                                <label class="inputLabel">HTTP Redirect URL</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput class="input-p-5" type="text" placeholder="Enter HTTP Redirect URL"
                                        formControlName="httpRedirectUrl" />
                                </mat-form-field>
                            </div>

                            <!-- Framed IPv6 Prefix -->
                            <div class="col-lg-3 col-md-3 col-sm-6 mb-3">
                                <label class="inputLabel">Framed IPv6 Prefix</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput class="input-p-5" type="text" placeholder="Enter Framed IPv6 Prefix"
                                        formControlName="framedIpv6Prefix" />
                                </mat-form-field>
                            </div>

                            <!-- Delegated IPv6 Prefix -->
                            <div class="col-lg-3 col-md-3 col-sm-6 mb-3">
                                <label class="inputLabel">Delegated IPv6 Prefix</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput class="input-p-5" type="text"
                                        placeholder="Enter Delegated IPv6 Prefix"
                                        formControlName="delegatedIpv6Prefix" />
                                </mat-form-field>
                            </div>

                            <!-- Framed IPv6 Pool -->
                            <div class="col-lg-3 col-md-3 col-sm-6 mb-3">
                                <label class="inputLabel">Framed IPv6 Pool</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput class="input-p-5" type="text" placeholder="Enter Framed IPv6 Pool"
                                        formControlName="framedIpv6Pool" />
                                </mat-form-field>
                            </div>

                            <!-- Delegated IPv6 Pool -->
                            <div class="col-lg-3 col-md-3 col-sm-6 mb-3">
                                <label class="inputLabel">Delegated IPv6 Pool</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput class="input-p-5" type="text"
                                        placeholder="Enter Delegated IPv6 Pool" formControlName="delegatedIpv6Pool" />
                                </mat-form-field>
                            </div>

                            <!-- Sub Profile -->
                            <div class="col-lg-3 col-md-3 col-sm-6 mb-3">
                                <label class="inputLabel">Sub Profile</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput class="input-p-5" type="text" placeholder="Enter Sub Profile"
                                        formControlName="subProfile" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end align-items-center" style="margin-top: 2.5rem">
                            <button matStepperNext color="'primary'" mat-button mat-flat-button class="addarea-btn">
                                Next
                            </button>
                        </div>
                    </mat-step>

                    <mat-step>
                        <ng-template matStepLabel>Additional Attribute</ng-template>
                        <div class="row">
                            <!-- Radius Attribute Group Id -->
                            <div class="col-lg-3 col-md-3 col-sm-6 mb-3">
                                <label class="inputLabel">Radius Attribute Group Id</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput class="input-p-5" placeholder="Enter Radius Attribute Group ID"
                                        formControlName="radiusAttributeGroupId" />
                                </mat-form-field>
                            </div>

                            <!-- NAS Type -->
                            <div class="col-lg-3 col-md-3 col-sm-6 mb-3">
                                <label class="inputLabel">NAS Type</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput class="input-p-5" placeholder="Enter NAS Type"
                                        formControlName="nasType" />
                                </mat-form-field>
                            </div>

                            <!-- NAS Port 1 -->
                            <div class="col-lg-3 col-md-3 col-sm-6 mb-3">
                                <label class="inputLabel">NAS Port 1</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput class="input-p-5" placeholder="Enter NAS Port 1"
                                        formControlName="nasPortId1" />
                                </mat-form-field>
                            </div>

                            <!-- NAS Port 3 -->
                            <div class="col-lg-3 col-md-3 col-sm-6 mb-3">
                                <label class="inputLabel">NAS Port 3</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput class="input-p-5" placeholder="Enter NAS Port 3"
                                        formControlName="nasPortId3" />
                                </mat-form-field>
                            </div>

                            <!-- Calling Station Id -->
                            <div class="col-lg-3 col-md-3 col-sm-6 mb-3">
                                <label class="inputLabel">Calling Station Id</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput class="input-p-5" placeholder="Enter Calling Station Id"
                                        formControlName="callingStationId" />
                                </mat-form-field>
                            </div>

                            <!-- Filter Id -->
                            <div class="col-lg-3 col-md-3 col-sm-6 mb-3">
                                <label class="inputLabel">Filter Id</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput class="input-p-5" placeholder="Enter Filter Id"
                                        formControlName="filterId" />
                                </mat-form-field>
                            </div>

                            <!-- Context Name -->
                            <div class="col-lg-3 col-md-3 col-sm-6 mb-3">
                                <label class="inputLabel">Context Name</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput class="input-p-5" placeholder="Enter Context Name"
                                        formControlName="contextName" />
                                </mat-form-field>
                            </div>

                            <!-- Rate Limit Rate -->
                            <div class="col-lg-3 col-md-3 col-sm-6 mb-3">
                                <label class="inputLabel">Rate Limit Rate</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput class="input-p-5" placeholder="Enter Rate Limit Rate"
                                        formControlName="rateLimitRate" />
                                </mat-form-field>
                            </div>

                            <!-- Rate Limit Burst -->
                            <div class="col-lg-3 col-md-3 col-sm-6 mb-3">
                                <label class="inputLabel">Rate Limit Burst</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput class="input-p-5" placeholder="Enter Rate Limit Burst"
                                        formControlName="rateLimitBurst" />
                                </mat-form-field>
                            </div>

                            <!-- QOS Policing Policy Name -->
                            <div class="col-lg-3 col-md-3 col-sm-6 mb-3">
                                <label class="inputLabel">QOS Policing Policy Name</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput class="input-p-5" placeholder="Enter QOS Policing Policy Name"
                                        formControlName="qosPolicingPolicyName" />
                                </mat-form-field>
                            </div>

                            <!-- QOS Metering Policy Name -->
                            <div class="col-lg-3 col-md-3 col-sm-6 mb-3">
                                <label class="inputLabel">QOS Metering Policy Name</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput class="input-p-5" placeholder="Enter QOS Metering Policy Name"
                                        formControlName="qosMeteringPolicyName" />
                                </mat-form-field>
                            </div>

                            <!-- PPPOE URL -->
                            <div class="col-lg-3 col-md-3 col-sm-6 mb-3">
                                <label class="inputLabel">PPPOE URL</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput class="input-p-5" placeholder="Enter PPPOE URL"
                                        formControlName="pppoeUrl" />
                                </mat-form-field>
                            </div>

                            <!-- PPP DNS Primary -->
                            <div class="col-lg-3 col-md-3 col-sm-6 mb-3">
                                <label class="inputLabel">PPP DNS Primary</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput class="input-p-5" placeholder="Enter PPP DNS Primary"
                                        formControlName="pppDnsPrimary" />
                                </mat-form-field>
                            </div>

                            <!-- PPP DNS Secondary -->
                            <div class="col-lg-3 col-md-3 col-sm-6 mb-3">
                                <label class="inputLabel">PPP DNS Secondary</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput class="input-p-5" placeholder="Enter PPP DNS Secondary"
                                        formControlName="pppDnsSecondary" />
                                </mat-form-field>
                            </div>

                            <!-- PPP NBNS Primary -->
                            <div class="col-lg-3 col-md-3 col-sm-6 mb-3">
                                <label class="inputLabel">PPP NBNS Primary</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput class="input-p-5" placeholder="Enter PPP NBNS Primary"
                                        formControlName="pppNbnsPrimary" />
                                </mat-form-field>
                            </div>

                            <!-- Session Timeout -->
                            <div class="col-lg-3 col-md-3 col-sm-6 mb-3">
                                <label class="inputLabel">Session Timeout</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput class="input-p-5" placeholder="Enter Session Timeout"
                                        formControlName="sessionTimeOut" />
                                </mat-form-field>
                            </div>

                            <!-- Idle Timeout -->
                            <div class="col-lg-3 col-md-3 col-sm-6 mb-3">
                                <label class="inputLabel">Idle Timeout</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput class="input-p-5" placeholder="Enter Idle Timeout"
                                        formControlName="idleTimeOut" />
                                </mat-form-field>
                            </div>

                            <!-- NAT Profile Name -->
                            <div class="col-lg-3 col-md-3 col-sm-6 mb-3">
                                <label class="inputLabel">NAT Profile Name</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput class="input-p-5" placeholder="Enter NAT Profile Name"
                                        formControlName="natProfileName" />
                                </mat-form-field>
                            </div>

                            <!-- Framed Interface Id -->
                            <div class="col-lg-3 col-md-3 col-sm-6 mb-3">
                                <label class="inputLabel">Framed Interface Id</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput class="input-p-5" placeholder="Enter Framed Interface Id"
                                        formControlName="framedInterfaceId" />
                                </mat-form-field>
                            </div>

                            <!-- IPv6 Option -->
                            <div class="col-lg-3 col-md-3 col-sm-6 mb-3">
                                <label class="inputLabel">IPv6 Option</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput class="input-p-5" placeholder="Enter IPv6 Option"
                                        formControlName="ipv6Option" />
                                </mat-form-field>
                            </div>

                            <!-- IPv6 DNS -->
                            <div class="col-lg-3 col-md-3 col-sm-6 mb-3">
                                <label class="inputLabel">IPv6 DNS</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput class="input-p-5" placeholder="Enter IPv6 DNS"
                                        formControlName="ipv6Dns" />
                                </mat-form-field>
                            </div>

                            <!-- Delegated Max Prefix -->
                            <div class="col-lg-3 col-md-3 col-sm-6 mb-3">
                                <label class="inputLabel">Delegated Max Prefix</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput class="input-p-5" placeholder="Enter Delegated Max Prefix"
                                        formControlName="delegatedMaxPrefix" />
                                </mat-form-field>
                            </div>

                            <!-- Priority -->
                            <div class="col-lg-3 col-md-3 col-sm-6 mb-3">
                                <label class="inputLabel">Priority</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput class="input-p-5" placeholder="Enter Priority"
                                        formControlName="priority" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center" style="margin-top: 2.5rem">
                            <button mat-stroked-button matStepperPrevious type="button">Back</button>
                            <button matStepperNext color="'primary'" mat-button mat-flat-button class="addarea-btn">
                                Next
                            </button>
                        </div>
                    </mat-step>

                    <mat-step>
                        <ng-template matStepLabel>Attribute Mapping Details</ng-template>

                        <div class="table-responsive tableAddEditScrollHeight example-container"
                            style="margin-top: 1.5rem">
                            <table mat-table #attributeTable [dataSource]="attribute.controls"
                                class="mat-elevation-z2 full-width-table">
                                <!-- Profile Attribute Column -->
                                <ng-container matColumnDef="radiusAttribute">
                                    <th mat-header-cell *matHeaderCellDef style="text-align: center; width: 41%">
                                        Profile Attribute
                                    </th>
                                    <td mat-cell *matCellDef="let row; let i = index">
                                        <mat-form-field appearance="outline" class="w-100">
                                            <mat-select placeholder="Select Radius Group Attribute"
                                                [formControl]="row.get('radiusAttribute')">
                                                <mat-option
                                                    *ngFor="let attr of dictionaryAttributeData.dictionaryAttributeList"
                                                    [value]="attr.name">
                                                    {{ attr.name }}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="submitted && row.get('radiusAttribute').invalid">
                                                Attribute is required
                                            </mat-error>
                                        </mat-form-field>
                                    </td>
                                </ng-container>

                                <!-- Regex Column -->
                                <ng-container matColumnDef="regex">
                                    <th mat-header-cell *matHeaderCellDef style="text-align: center; width: 41%">
                                        Regex
                                    </th>
                                    <td mat-cell *matCellDef="let row; let i = index">
                                        <mat-form-field appearance="outline" class="w-100">
                                            <input matInput class="input-p-5" placeholder="Enter Regex"
                                                [formControl]="row.get('regex')" />
                                            <mat-error *ngIf="submitted && row.get('regex').invalid">
                                                Regex is required
                                            </mat-error>
                                        </mat-form-field>
                                    </td>
                                </ng-container>

                                <!-- Actions Column -->
                                <ng-container matColumnDef="actions">
                                    <th mat-header-cell *matHeaderCellDef style="text-align: right; width: 18%">
                                        <button mat-flat-button color="primary" type="button"
                                            (click)="onAddAttribute()">
                                            Add
                                        </button>
                                    </th>
                                    <td mat-cell *matCellDef="let row; let i = index" style="text-align: right">
                                        <a mat-icon-button href="javascript:void(0)"
                                            (click)="deleteConfirmAttribute(i)">
                                            <img src="assets/img/DashboardIcons/trash-bin-trash-svgrepo-com 1.svg">
                                        </a>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                            </table>
                        </div>

                        <div class="d-flex justify-content-between align-items-center" style="margin-top: 2.5rem">
                            <button mat-stroked-button matStepperPrevious type="button">Back</button>
                            <button mat-button mat-flat-button color="'primary'" class="addarea-btn" type="submit"
                                (click)="addVLANProfile()">
                                {{ editMode ? "Update Profile" : "Add Profile" }}
                            </button>
                        </div>
                    </mat-step>
                </mat-stepper>
            </form>
        </mat-card-content>
    </mat-card>
</div>

<!-- <div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="panel">
      <div class="panel-heading">
        @if (!iscustomerEdit) {
          <h3 class="panel-title">{{ editMode ? "Update" : "Create" }} VLAN Profile</h3>
        }
        <div class="right">
          <button
            id="create"
            aria-controls="createPreCust"
            aria-expanded="false"
            class="btn-toggle-collapse"
            data-target="#createPreCust"
            data-toggle="collapse"
            type="button"
          >
            <i class="fa fa-minus-circle"></i>
          </button>
        </div>
      </div>

      <div class="panel-collapse collapse in" id="createPreCust">
        <div class="panel-body">
          <form [formGroup]="vlanProfileForm" class="form-auth-small">
          
            <div class="row">
              <div class="col-md-12">
                <p-fieldset legend="VLAN Attribute">
                  <div class="boxWhite">
                    <div class="row">
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                        <label>VLAN Name</label>
                        <input
                          [ngClass]="{
                            'is-invalid': submitted && vlanProfileForm.controls.vlanName.errors
                          }"
                          type="text"
                          name="vlanName"
                          class="form-control"
                          placeholder="Enter VLAN Name"
                          formControlName="vlanName"
                        />
                        @if (submitted && vlanProfileForm.controls.vlanName.errors) {
                          <div class="errorWrap text-danger">
                            <div class="error text-danger">VLAN Name is required.</div>
                          </div>
                        }
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                        <label>NAS Identifier</label>
                        <input
                          [ngClass]="{
                            'is-invalid': submitted && vlanProfileForm.controls.nasIdentifier.errors
                          }"
                          type="text"
                          name="nasIdentifier"
                          class="form-control"
                          placeholder="Enter NAS Identifier"
                          formControlName="nasIdentifier"
                        />
                        @if (submitted && vlanProfileForm.controls.nasIdentifier.errors) {
                          <div class="errorWrap text-danger">
                            <div class="error text-danger">NAS Identifier is required.</div>
                          </div>
                        }
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                        <label>Circuit Type</label>
                        <input
                          type="text"
                          name="circuitType"
                          class="form-control"
                          placeholder="Enter Circuit Type"
                          formControlName="circuitType"
                        />
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                        <label>NAS Port 2</label>
                        <input
                          type="text"
                          name="nasPortId2"
                          class="form-control"
                          placeholder="Enter NAS Port 2"
                          formControlName="nasPortId2"
                        />
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                        <label>NAS Port 4</label>
                        <input
                          type="text"
                          name="nasPortId4"
                          class="form-control"
                          placeholder="Enter NAS Port 4"
                          formControlName="nasPortId4"
                        />
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                        <label>NAS Port 5</label>
                        <input
                          type="text"
                          name="nasPortId5"
                          class="form-control"
                          placeholder="Enter NAS Port 5"
                          formControlName="nasPortId5"
                        />
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                        <label>Forward Policy</label>
                        <input
                          type="text"
                          name="forwardPolicy"
                          class="form-control"
                          placeholder="Enter Forward Policy"
                          formControlName="forwardPolicy"
                        />
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                        <label>HTTP Redirect Profile</label>
                        <input
                          type="text"
                          name="httpRedirectProfileName"
                          class="form-control"
                          placeholder="Enter HTTP Redirect Profile"
                          formControlName="httpRedirectProfileName"
                        />
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                        <label>Framed IP Address</label>
                        <input
                          type="text"
                          name="framedIpAddress"
                          class="form-control"
                          placeholder="Enter Framed IP Address"
                          formControlName="framedIpAddress"
                        />
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                        <label>RB DHCP Max Leases</label>
                        <input
                          type="text"
                          name="rbDhcpMaxLeases"
                          class="form-control"
                          placeholder="Enter RB DHCP Max Leases"
                          formControlName="rbDhcpMaxLeases"
                        />
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                        <label>IP Address Pool Name</label>
                        <input
                          type="text"
                          name="ipAddressPoolName"
                          class="form-control"
                          placeholder="Enter IP Address Pool Name"
                          formControlName="ipAddressPoolName"
                        />
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                        <label>RB Interface Name</label>
                        <input
                          type="text"
                          name="rbInterfaceName"
                          class="form-control"
                          placeholder="Enter RB Interface Name"
                          formControlName="rbInterfaceName"
                        />
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                        <label>HTTP Redirect URL</label>
                        <input
                          type="text"
                          name="httpRedirectUrl"
                          class="form-control"
                          placeholder="Enter HTTP Redirect URL"
                          formControlName="httpRedirectUrl"
                        />
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                        <label>Framed IPv6 Prefix</label>
                        <input
                          type="text"
                          name="framedIpv6Prefix"
                          class="form-control"
                          placeholder="Enter Framed IPv6 Prefix"
                          formControlName="framedIpv6Prefix"
                        />
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                        <label>Delegated IPv6 Prefix</label>
                        <input
                          type="text"
                          name="delegatedIpv6Prefix"
                          class="form-control"
                          placeholder="Enter Delegated IPv6 Prefix"
                          formControlName="delegatedIpv6Prefix"
                        />
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                        <label>Framed IPv6 Pool</label>
                        <input
                          type="text"
                          name="framedIpv6Pool"
                          class="form-control"
                          placeholder="Enter Framed IPv6 Pool"
                          formControlName="framedIpv6Pool"
                        />
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                        <label>Delegated IPv6 Pool</label>
                        <input
                          type="text"
                          name="delegatedIpv6Pool"
                          class="form-control"
                          placeholder="Enter Delegated IPv6 Pool"
                          formControlName="delegatedIpv6Pool"
                        />
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                        <label>Sub Profile</label>
                        <input
                          type="text"
                          name="subProfile"
                          class="form-control"
                          placeholder="Enter Sub Profile"
                          formControlName="subProfile"
                        />
                      </div>
                    </div>
                  </div>
                </p-fieldset>

                <p-fieldset legend="Additional Attribute" [toggleable]="true" [collapsed]="true">
                  <div class="boxWhite">
                    <div class="row">
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                        <label>Radius Attribute Group Id</label>
                        <input
                          type="text"
                          name="vlanName"
                          class="form-control"
                          placeholder="Enter Radius Attribute Group ID"
                          formControlName="radiusAttributeGroupId"
                        />
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                        <label>NAS Type</label>
                        <input
                          type="text"
                          name="nasType"
                          class="form-control"
                          placeholder="Enter NAS Type"
                          formControlName="nasType"
                        />
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                        <label>NAS Port 1</label>
                        <input
                          type="text"
                          name="nasPortId1"
                          class="form-control"
                          placeholder="Enter NAS Port 1"
                          formControlName="nasPortId1"
                        />
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                        <label>NAS Port 3</label>
                        <input
                          type="text"
                          name="nasPortId3"
                          class="form-control"
                          placeholder="Enter NAS Port 3"
                          formControlName="nasPortId3"
                        />
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                        <label>Calling Station Id</label>
                        <input
                          type="text"
                          name="callingStationId"
                          class="form-control"
                          placeholder="Enter Calling Station Id"
                          formControlName="callingStationId"
                        />
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                        <label>Filter Id</label>
                        <input
                          type="text"
                          name="filterId"
                          class="form-control"
                          placeholder="Enter Filter Id"
                          formControlName="filterId"
                        />
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                        <label>Context Name</label>
                        <input
                          type="text"
                          name="contextName"
                          class="form-control"
                          placeholder="Enter Context Name"
                          formControlName="contextName"
                        />
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                        <label>Rate Limit Rate</label>
                        <input
                          type="text"
                          name="rateLimitRate"
                          class="form-control"
                          placeholder="Enter Rate Limit Rate"
                          formControlName="rateLimitRate"
                        />
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                        <label>Rate Limit Burst</label>
                        <input
                          type="text"
                          name="rateLimitBurst"
                          class="form-control"
                          placeholder="Enter Rate Limit Burst"
                          formControlName="rateLimitBurst"
                        />
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                        <label>QOS Policing Policy Name</label>
                        <input
                          type="text"
                          name="qosPolicingPolicyName"
                          class="form-control"
                          placeholder="Enter QOS Policing Policy Name"
                          formControlName="qosPolicingPolicyName"
                        />
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                        <label>QOS Metering Policy Name</label>
                        <input
                          type="text"
                          name="qosMeteringPolicyName"
                          class="form-control"
                          placeholder="Enter QOS Metering Policy Name"
                          formControlName="qosMeteringPolicyName"
                        />
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                        <label>PPPOE URL</label>
                        <input
                          type="text"
                          name="pppoeUrl"
                          class="form-control"
                          placeholder="Enter PPPOE URL"
                          formControlName="pppoeUrl"
                        />
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                        <label>PPP DNS Primary</label>
                        <input
                          type="text"
                          name="pppDnsPrimary"
                          class="form-control"
                          placeholder="Enter PPP DNS Primary"
                          formControlName="pppDnsPrimary"
                        />
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                        <label>PPP DNS Secondary</label>
                        <input
                          type="text"
                          name="pppDnsSecondary"
                          class="form-control"
                          placeholder="Enter PPP DNS Secondary"
                          formControlName="pppDnsSecondary"
                        />
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                        <label>PPP NBNS Primary</label>
                        <input
                          type="text"
                          name="pppNbnsPrimary"
                          class="form-control"
                          placeholder="Enter PPP NBNS Primary"
                          formControlName="pppNbnsPrimary"
                        />
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                        <label>Session Timeout</label>
                        <input
                          type="text"
                          name="sessionTimeOut"
                          class="form-control"
                          placeholder="Enter Session Timeout"
                          formControlName="sessionTimeOut"
                        />
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                        <label>Idle Timeout</label>
                        <input
                          type="text"
                          name="idleTimeOut"
                          class="form-control"
                          placeholder="Enter Idle Timeout"
                          formControlName="idleTimeOut"
                        />
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                        <label>NAT Profile Name</label>
                        <input
                          type="text"
                          name="natProfileName"
                          class="form-control"
                          placeholder="Enter NAT Profile Name"
                          formControlName="natProfileName"
                        />
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                        <label>Framed Interface Id</label>
                        <input
                          type="text"
                          name="framedInterfaceId"
                          class="form-control"
                          placeholder="Enter Framed Interface Id"
                          formControlName="framedInterfaceId"
                        />
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                        <label>IPv6 Option</label>
                        <input
                          type="text"
                          name="ipv6Option"
                          class="form-control"
                          placeholder="Enter IPv6 Option"
                          formControlName="ipv6Option"
                        />
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                        <label>IPv6 DNS</label>
                        <input
                          type="text"
                          name="ipv6Dns"
                          class="form-control"
                          placeholder="Enter IPv6 DNS"
                          formControlName="ipv6Dns"
                        />
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                        <label>Delegated Max Prefix</label>
                        <input
                          type="text"
                          name="delegatedMaxPrefix"
                          class="form-control"
                          placeholder="Enter Delegated Max Prefix"
                          formControlName="delegatedMaxPrefix"
                        />
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                        <label>Priority</label>
                        <input
                          type="text"
                          name="priority"
                          class="form-control"
                          placeholder="Enter Priority"
                          formControlName="priority"
                        />
                      </div>
                    </div>
                  </div>
                </p-fieldset>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p-fieldset legend="Attribute Mapping Details">
                  <div class="boxWhite">
                    <div id="Createradius" style="margin-top: 10px">
                      <table class="table map-table">
                        <thead>
                          <tr>
                            <th style="text-align: center; width: 41%">Profile Attribute</th>
                            <th style="text-align: center; width: 41%">Regex</th>
                            <th style="text-align: right; width: 18%; padding: 8px">
                              <button
                                id="addAtt"
                                style="object-fit: cover; padding: 5px 8px"
                                class="btn btn-primary"
                                (click)="onAddAttribute()"
                              >
                                <i class="fa fa-plus-square" aria-hidden="true"></i>
                                Add
                              </button>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          @for (row of attribute.controls; track row; let index = $index) {
                            <tr>
                              <td>
                                <p-dropdown
                                  appendTo="body"
                                  [options]="dictionaryAttributeData.dictionaryAttributeList"
                                  placeholder="Select Radius Group Attribute"
                                  optionLabel="name"
                                  optionValue="name"
                                  [filter]="true"
                                  filterBy="name"
                                  [formControl]="row.get('radiusAttribute')"
                                  [ngClass]="{
                                    'is-invalid': submitted && row.get('radiusAttribute').invalid
                                  }"
                                ></p-dropdown>
                                @if (submitted && row.get("radiusAttribute").errors) {
                                  <div class="errorWrap text-danger">
                                    <div class="error text-danger">Attribute is required</div>
                                  </div>
                                }
                              </td>
                              <td style="padding-left: 8px">
                                <input
                                  id="regex"
                                  class="form-control"
                                  placeholder="Enter Regex"
                                  [formControl]="row.get('regex')"
                                  [ngClass]="{
                                    'is-invalid': submitted && row.get('regex').invalid
                                  }"
                                />
                                @if (submitted && row.get("regex").errors) {
                                  <div class="errorWrap text-danger">
                                    <div class="error text-danger">Regex is required</div>
                                  </div>
                                }
                              </td>
                              <td style="text-align: right">
                                <a
                                  id="deleteAtt"
                                  class="curson_pointer"
                                  (click)="deleteConfirmAttribute(index)"
                                >
                                   <img src="assets/img/DashboardIcons/trash-bin-trash-svgrepo-com 1.svg" >
                                </a>
                              </td>
                            </tr>
                          }
                        </tbody>
                      </table>
                    </div>
                  </div>
                </p-fieldset>
              </div>
            </div>

            <div class="addUpdateBtn" style="margin-top: 3.5rem">
              <button
                type="submit"
                class="btn btn-primary"
                title="Submit Radius Profile Details"
                (click)="addVLANProfile()"
              >
                <i class="fa fa-check-circle"></i>
                {{ editMode ? "Update Profile" : "Add Profile" }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> -->