.msg {
  margin-bottom: 2.4375rem;
  display: flex;
  font-size: 1.75rem;
  color: #56627e;
}

.msg .bubble {
  padding: 0.625rem;
  border-radius: 0.3125rem;
  background-color: #e0f2ff;
  margin: 0 0.625rem 0.625rem 0.625rem;
  position: relative;
  min-width: 25.8125rem;
  max-width: 45.8125rem;
  padding-top: 3rem;
  word-break: break-all;
  .msg_time_send {
    position: absolute;
    left: 0;
    bottom: -1.7rem;
    color: darkgray;
    font-size: 1.2rem;
  }
  .msg_name_send {
    position: absolute;
    left: 0.3rem;
    top: 0.3rem;
    // bottom: -1rem;
    // top: -0.2rem;
    color: rgb(114, 111, 111);
    font-size: 1.5rem;
  }
}

.msg.msg-right .bubble {
  color: rgb(15 81 50);
  background-color: rgb(209 231 221);
  .msg_time_send {
    right: 0;
    left: unset;
  }
  .msg_name_send {
    right: 1;
    left: unset;
  }
}

.msg .bubble .name {
  color: #393d4a;
  font-size: 0.75rem;
  font-weight: 500;
}

.msg.msg-left {
  justify-content: flex-start;
}

.msg.msg-right {
  flex-direction: row-reverse;
}

.body {
  max-height: 50rem;
  overflow: scroll;
}

pre {
  background-color: transparent; /* or the desired background color */
  border: none;
  outline: none;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #726f6f;
  font-size: 1.5rem;
}

.remark {
  white-space: pre-line;
}

:host ::ng-deep .p-field {
  margin-bottom: 2rem;
  padding: 1rem 1rem 1rem 1rem;
}


.wallet-badge {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 30px;
  color: white;
}

.success-badge {
  background-color: #4caf50; /* Material Green 500 */
}

.danger-badge {
  background-color: #f44336; /* Material Red 500 */
}
