<div class="d-flex justify-content-center align-items-center" style="width: 100%">
  <mat-card class="cardWithShadow" style="margin-top: 1.5rem; width: 500px">
    <mat-card-header>
      <mat-card-title>Change Password</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="changePasswordForm" class="mat-form">
        <div class="row">
          <!-- Old Password -->
          <label>Old Password</label>
          <mat-form-field appearance="outline" class="w-100">
            <input
              matInput
              type="password"
              formControlName="password"
              placeholder="Enter old password"
            />
            <mat-error *ngIf="changePasswordForm.controls.password.errors?.required">
              Old password is required
            </mat-error>
          </mat-form-field>

          <!-- New Password -->
          <label>New Password</label>
          <mat-form-field appearance="outline" class="w-100">
            <input
              matInput
              type="password"
              formControlName="newpassword"
              placeholder="Enter new password"
            />
            <mat-error *ngIf="changePasswordForm.controls.newpassword.errors?.required">
              New password is required
            </mat-error>
          </mat-form-field>

          <!-- Confirm Password -->
          <label>Confirm Password</label>
          <mat-form-field appearance="outline" class="w-100">
            <input
              matInput
              type="password"
              formControlName="confirmNewPassword"
              placeholder="Confirm password"
            />
            <mat-error *ngIf="changePasswordForm.controls.confirmNewPassword.errors?.required">
              Confirm password is required
            </mat-error>
            <mat-error *ngIf="changePasswordForm.hasError('passwordMismatch')">
              Passwords do not match
            </mat-error>
          </mat-form-field>
        </div>
      </form>

      <div class="d-flex justify-content-center align-items-center" style="gap: 8px">
        <button
          mat-button
          mat-flat-button
          color="'primary'"
          class="addarea-btn"
          (click)="changePassword()"
          [disabled]="changePasswordForm.invalid"
        >
          Save
        </button>

        <button mat-stroked-button (click)="clearChangePasswordForm()">Clear</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
