<!-- LEFT SIDEBAR -->
<div id="sidebar-nav" class="sidebar">
  <div class="brand bgc01">
    <a>
      <img
        src="../assets/img/savanna_logo.png"
        alt="Savbill Logo"
        class="img-responsive logo savbilllogo"
      />
    </a>
  </div>
  <div class="userimg">
    <img src="../assets/img/user.png" class="img-circle" />
    <span>{{ loggedInUser }}</span>
  </div>
  <div class="sidebar-scroll">
    <nav>
      <ul class="nav">
        <li>
          <a [routerLink]="['/home/dashboard']" class="detailOnAnchorClick">
            <img src="../assets/img/i01.png" class="navi" />
            <span>Dashboard</span>
          </a>
        </li>
        <li
          *ngIf="
            loginService.hasPermission(
              ACL_CONSTANTS.PRE_CUST_CONSTANTS.PRE_CUST,
              ACL_CONSTANTS.POST_CUST_CONSTANTS.POST_CUST
            )
          "
        >
          <a [routerLink]="['/home/customer']" class="detailOnAnchorClick">
            <img src="../assets/img/05_Postpaid_Customer_B.png" class="navi" />
            <span>Customer</span>
          </a>
        </li>
        <li
          *ngIf="
            loginService.hasPermission(ACL_CONSTANTS.TICKETING_SYSTEMS.TICKET)
          "
        >
          <a
            [routerLink]="['/home/ticketManagement']"
            class="detailOnAnchorClick"
          >
            <img src="../assets/img/C_Ticket_B.png" class="navi" />
            <span>Ticket Management</span>
          </a>
        </li>
        <li
          *ngIf="
            loginService.hasPermission(
              ACL_CONSTANTS.CWSC.CWSC_CUSTS_SUBSCRIPTION_HISTORY
            )
          "
        >
          <a
            [routerLink]="['/home/subscriptionHistory']"
            class="detailOnAnchorClick"
          >
            <img src="../assets/img/F_Plan_B.png" class="navi" />
            <span>Subscription History</span>
          </a>
        </li>
        <li
          *ngIf="
            loginService.hasPermission(
              ACL_CONSTANTS.CWSC.CWSC_CUSTS_USAGE_HISTORY
            )
          "
        >
          <a [routerLink]="['/home/usageHistory']" class="detailOnAnchorClick">
            <img src="../assets/img/D_CDRs_B.png" class="navi" />
            <span>Usage History</span>
          </a>
        </li>
        <li>
          <a (click)="logout()" class="detailOnAnchorClick">
            <img src="../assets/img/i02.png" class="navi" />
            <span>Logoff</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
