<!-- Level 1 items only in sidebar -->

<a
  *ngIf="depth === 0 && !item.navCap && item.isVisible !== false"
  mat-list-item
  [ngClass]="{
    activeMenu: shouldBeSelected()
  }"
  class="menu-list-item"
  (click)="onItemSelected(item)"
  style="cursor: pointer"
>
  <!-- Display Name -->
  <div class="d-flex gap-8 align-items-center">
    <img
      class="routeIcon"
      style="height: 20px"
      [src]="'../../../assets/img/DashboardIcons/' + item.iconName"
    />
    <span class="hide-menu">{{ item.displayName }}</span>
  </div>
  <!-- <span class="hide-menu">{{ item.displayName }}</span> -->

  <!-- Arrow if has children -->
  <mat-icon
    *ngIf="item.subMenu && item.subMenu.length > 0"
    class="ml-auto"
    style="font-size: 18px; margin-bottom: -8px"
  >
    keyboard_arrow_right
  </mat-icon>
</a>

<!-- Nav caption -->
<mat-list-item *ngIf="item.navCap && depth === 0" class="nav-caption" disabled>
  <span class="hide-menu">{{ item.navCap }}</span>
</mat-list-item>
