<span [dir]="options.dir!">
    <mat-sidenav-container class="mainWrapper" autosize autoFocus [ngClass]="{
      'sidebarNav-mini': options.sidenavCollapsed && options.navPos !== 'top' && !resView,
      'sidebarNav-horizontal': options.horizontal,
      cardBorder: options.cardBorder
    }">
        @if (!options.horizontal) {
        <mat-sidenav #leftsidenav [mode]="isOver ? 'over' : 'side'"
            [opened]="options.navPos === 'side' && options.sidenavOpened && !isOver && !resView"
            (openedChange)="onSidenavOpenedChange($event)" (closedStart)="onSidenavClosedStart()" class="sidebarNav">


            <div class="flex-layout" style="position:fixed">
                @if (showToggle) {
                <button mat-icon-button class="sidebar-toggle-btn"
                    [ngClass]="options.sidenavCollapsed ? 'sidebar-toggle-mini' : 'sidebar-toggle-open'"
                    (click)="toggleCollapsed()">
                    <i class="pi" [ngClass]="options.sidenavCollapsed ? 'pi-angle-right' : 'pi-angle-left'">
                    </i>
                </button>
                }

                <app-logo-container [isCollapsed]="options.sidenavCollapsed" [userName]="userName"
                    [showToggle]="isOver"></app-logo-container>

                <ng-scrollbar class="position-relative custom-ng-scroll" style="height: 100%; width: 100%">
                    <mat-nav-list class="sidebar-list">
                        <div *ngFor="let l1 of mainMenuList; track l1">
                            <div *ngIf="l1.isVisible">
                                <app-nav-item [item]="l1" [depth]="0" [isActive]="activeL1 === l1"
                                    (secondLevelSelect)="onSecondLevelSelect($event)"
                                    (firstLevelSelect)="onFirstLevelSelect($event)"></app-nav-item>
                            </div>
                        </div>
                    </mat-nav-list>
                </ng-scrollbar>

                <div class="p-24 m-t-auto profile-bar">
                    <div class="bg-primary d-flex align-items-center rounded p-16">
                        <img src="/assets/images/profile/user-1.jpg" class="rounded-circle" width="40" />
                        <div class="m-l-16" style="max-width: 100px;">
                            <h4 class="f-w-600  text-ellipsis" matTooltip="{{ userName }}" matTooltipPosition="above">{{
                                userName }}
                            </h4>
                            <span class="f-s-12 text-ellipsis" matTooltip="{{ userEmailId }}"
                                matTooltipPosition="above">{{
                                userEmailId }}</span>
                        </div>
                        <div class="m-l-auto">
                            <a mat-icon-button class="d-flex pi pi-power-off justify-content-center"
                                (click)="loginService.logout()">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </mat-sidenav>
        }

        <mat-sidenav-content class="contentWrapper sidebarNav-horizontal" #content
            style="display:flex;flex-direction: column;">
            <!-- Header -->
            <!-- change start -->
            @if (!options.horizontal) {
            @if (loggedInStaffDetail) {
            <app-header [isMini]="options.sidenavCollapsed" [showToggle]="!isOver" (toggleCollapsed)="toggleCollapsed()"
                (toggleMobileFilterNav)="toggleFilterNav()" (optionsChange)="receiveOptions($event)"></app-header>
            }
            } @else {
            <app-horizontal-header (toggleMobileFilterNav)="toggleFilterNav()"
                (optionsChange)="receiveOptions($event)"></app-horizontal-header>
            }

            @if (options.horizontal) {
            <app-horizontal-sidebar [isMini]="options.sidenavCollapsed" [navItems]="mainMenuList"
                (secondLevelSelect)="onSecondLevelSelect($event)">
            </app-horizontal-sidebar>
            }
            <!-- change end  -->

            <!-- ============================================
       ADD THIS SECTION - 2nd Level Menu Bar
       ============================================ -->

            <!-- ============================================
       END 2nd Level Menu Bar
       ============================================ -->
            <div *ngIf="activeL2Menu && activeL2Menu.length && !options.horizontal" class="menutab-strip">
                <app-horizontal-sidebar [navItems]="activeL2Menu" (secondLevelSelect)="onSecondLevelClick($event)">
                </app-horizontal-sidebar>
                <!-- <div class="menutab-row">
            <span
              *ngFor="let l2 of activeL2Menu"
              class="menutab"
              [class.active]="isL2Active(l2)"
              (mouseenter)="hoveredL2 = l2"
              (mouseleave)="hoveredL2 = null"
              (click)="onSecondLevelClick(l2)"
            >
              {{ l2.displayName }}
              <span *ngIf="l2.subMenu?.length" class="menutab-chevron">&#9662;</span>

              <div
                class="menu3bar"
                *ngIf="hoveredL2 === l2 && l2.subMenu?.length"
                (mouseenter)="hoveredL2 = l2"
                (mouseleave)="hoveredL2 = null"
              >
                <div
                  *ngFor="let l3 of l2.subMenu"
                  class="menutab3"
                  [class.active]="router.isActive(l3.link, true)"
                  (click)="onThirdLevelClick(l3); $event.stopPropagation()"
                >
                  {{ l3.displayName }}
                </div>
              </div>
            </span>
          </div> -->
            </div>
            <main [ngClass]="{ maxWidth: options.boxed }" style="padding-top: 6px;overflow: auto;padding: 24px;">
                <!-- <app-breadcrumb></app-breadcrumb> -->
                <div class="customizerBtn">
                    <button mat-fab class="bg-primary text-white" (click)="customizerRight.toggle()">
                        <mat-icon>settings</mat-icon>
                    </button>
                </div>
                <router-outlet></router-outlet>
            </main>

            <!-- ------------------------------------------------------------------
        Mobile Apps Sidebar
        ------------------------------------------------------------------ -->
            <div [class.open]="isFilterNavOpen" class="filter-sidebar">
                <div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="branding">
                            @if (options.theme === "light") {
                            <a href="/">
                                <img src="./assets/images/logos/dark-logo.svg" class="align-middle m-2" alt="logo" />
                            </a>
                            } @else {
                            <a href="/">
                                <img src="./assets/images/logos/light-logo.svg" class="align-middle m-2" alt="logo" />
                            </a>
                            }
                        </div>
                        <button mat-icon-button (click)="isFilterNavOpen = !isFilterNavOpen"
                            class="d-flex justify-content-center">
                            <i-tabler name="x" class="icon-18 d-flex"></i-tabler>
                        </button>
                    </div>
                </div>
            </div>
        </mat-sidenav-content>

        <mat-sidenav #customizerRight mode="over" position="end">
            <div class="p-x-16 p-y-20 d-flex align-items-center justify-content-between">
                <span class="f-s-21 f-w-600">Settings</span>
                <button class="d-lg-none" mat-button (click)="customizerRight.toggle()">Close</button>
            </div>
            <mat-divider></mat-divider>

            <app-customizer (optionsChange)="receiveOptions($event)"></app-customizer>
        </mat-sidenav>
    </mat-sidenav-container>
</span>