.container {
    width: 100%;
}

.transaction {
    width: 50%;
    float: left;
}

.opration {
    width: 50%;
    float: right;
}

.custom-ng-scroll {
    ::ng-deep .ng-scroll-content {
        width: 100% !important;
    }
}

.text-ellipsis {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar-toggle-mini {
    right: 2px;
}

.sidebar-toggle-open {
    right: -8px;
}

.sidebar-toggle-btn {
    position: absolute;
    top: 50%;
    /* transform: translateY(-30%); */
    z-index: 1001;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: var(--mat-sys-primary-fixed-dim) !important;
    color: var(--mat-sys-on-background);
    /* background-color: var(--mat-sys-primary) !important;
    color: var(--mat-sys-on-primary); */
    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.35);

    i {
        font-size: 14px;
    }
}

.sidebar-toggle-btn {
    transition: transform 0.25s ease;
}

.sidebar-toggle-mini {
    transform: translateX(30px);
}

.sidebar-toggle-open {
    transform: translateX(0);
}

/* Logout button hover effect */
.profile-bar .pi-power-off:hover {
    background-color: var(--mat-sys-surface-bright);
    border-radius: 50%;
    transition: background-color 0.2s ease;
}