.container {
  width: 100%;
}

.transaction {
  width: 50%;
  float: left;
}

.opration {
  width: 50%;
  float: right;
}
.custom-ng-scroll {
  ::ng-deep .ng-scroll-content {
    width: 100% !important;
  }
}
.text-ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
