 <!-- <div class="row">
  <div class="col-md-12">
    <div class="panel top">
      <div class="panel-heading">
        <h3 class="panel-title">Category Management</h3>
        <div class="right">
          <button
            type="button"
            class="btn-toggle-collapse"
            data-toggle="collapse"
            data-target="#searchDataTaskReasonsub"
            >
            <i class="fa fa-minus-circle"></i>
          </button>
        </div>
      </div>
      <div id="searchDataTaskReasonsub" class="panel-collapse collapse in">
        <div id="" class="panel-body">
          <div class="row">
            <div class="col-lg-3 col-md-3">
              <input
                id="taxName"
                type="text"
                [(ngModel)]="searchTrscName"
                class="form-control"
                placeholder=" Enter Category Name"
                (keydown.enter)="searchTrsc()"
                />
              </div> -->


<!-- <div class="col-lg-3 col-md-3 marginTopSearchinput">
              <p-dropdown
                [options]="parentTRCData"
                ooptionValue="categoryName"
                optionLabel="categoryName"
                [filter]="true"
                filterBy="categoryName"
                placeholder="Select a Parent Category"
                [(ngModel)]="searchParentTrcName"
                (keydown.enter)="searchTrsc()"
              ></p-dropdown>
            </div> -->





<!-- <div class="col-lg-3 col-md-4 marginTopSearchBtn">
              <button type="button" class="btn btn-primary" id="searchbtn" (click)="searchTrsc()">
                <i class="fa fa-search"></i>
                Search
              </button>
              <button
                type="reset"
                class="btn btn-default"
                id="searchbtn"
                (click)="clearSearchTrsc()"
                >
                 <img src="assets/img/DashboardIcons/Refresh.svg" />
                Clear
              </button>
            </div>
          </div>
        </div>
        <div class="panel-body no-padding panel-udata">
          <div class="col-md-6 pcol">
            <div class="dbox">
              @if (createAccess) {
                <a (click)="createTicketFun()" class="curson_pointer">
                  <img src="../../../assets/img/i01.png" style="width: 32px" />
                  <h5>Create Category</h5>
                </a>
              }
            </div>
          </div>
          <div class="col-md-6 pcol">
            <div class="dbox">
              <a (click)="searchTicketFun()" class="curson_pointer">
                <img src="../../../assets/img/i01.png" style="width: 32px" />
                <h5>Search Category</h5>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->







<div class="row header-row">
    <mat-card class="cardWithShadow w-100">
        <mat-card-content class="mat-card-content-border">
            <div class="row">
                <div class="col-sm-9 d-flex">
                    <mat-form-field appearance="outline" style="margin-left: 16px;" class="w-100 hide-hint mr-10 header-input">
                        <input class="input-p-5" [(ngModel)]="searchTrscName" matInput placeholder='Enter Category Name'
                            (keydown.enter)="searchTrsc()" />
                        <mat-icon matSuffix class="search-header-search-icon">
                            <i class="pi pi-search icon-size"></i>
                        </mat-icon>
                    </mat-form-field>

                    <button mat-button mat-flat-button color="primary"  class="button-normal mr-10" (click)="searchTrsc()">Search
                    </button>
                    <button mat-stroked-button matButton="outlined"  class="button-normal" (click)="clearSearchTrsc()">Clear
                    </button>
                </div>

                <div class="col-sm-3 search-div">
                    <button mat-button mat-flat-button color="primary" (click)="openAddCategoryDetails()"
                         class="button-normal mr-10" style="width: auto;">
                        Add Category</button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>


@if (listTicket) {
<div class="container-fluid contain-flud">
    <div class="row">
        <!-- country list table start -->
        <div class="col-md-12">
            <mat-card class="cardWithShadow">
                <mat-card-content class="mat-card-content-border">
                    <div class="country-table-list">
                        <div class="table-container">
                            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 w-100">
                                <!-- Checkbox Column -->
                                <ng-container matColumnDef="id">
                                    <!-- Header cell -->
                                    <th mat-header-cell *matHeaderCellDef class="table-header-title">
                                        ID
                                    </th>

                                    <!-- Data cell -->
                                    <td mat-cell *matCellDef="let ticketReasonSubCat">
                                        {{ ticketReasonSubCat.categoryId }}
                                    </td>
                                </ng-container>

                                <!-- Name Column -->
                                <ng-container matColumnDef="Name">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header-title"
                                        sticky>
                                        Name
                                    </th>
                                    <td mat-cell *matCellDef="let ticketReasonSubCat" class="f-s-14">{{
                                        ticketReasonSubCat.categoryName }}</td>
                                </ng-container>

                                <!-- Status Column -->
                                <ng-container matColumnDef="Status">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header-title"
                                        sticky>
                                        Status
                                    </th>
                                    <td mat-cell *matCellDef="let ticketReasonSubCat" class="f-s-14">
                                        <span class="status-badge" [ngClass]="{
                                        'status-success': ticketReasonSubCat.status === 'Active',
                                        'status-danger': ticketReasonSubCat.status === 'Inactive'
                                    }">
                                            {{ ticketReasonSubCat.status }}
                                        </span>
                                    </td>
                                </ng-container>

                                <!-- Action Column -->
                                @if (editAccess || deleteAccess) {
                                <ng-container matColumnDef="Action">
                                    <th mat-header-cell *matHeaderCellDef stickyEnd class="table-header-title">Action
                                    </th>
                                    <td mat-cell *matCellDef="let ticketReasonSubCat">
                                        <a mat-icon-button matTooltip="view" href="javascript:void(0)"
                                            (click)="trscAllDetails(ticketReasonSubCat)">
                                            <img src="assets/img/DashboardIcons/eye-svgrepo-com (1) 1.svg" >
                                        </a>
                                        @if (editAccess) {
                                        <a mat-icon-button matTooltip="edit" href="javascript:void(0)"
                                            (click)="editTicketReasonSubCategory(ticketReasonSubCat.categoryId)">
                                           <img src="assets/img/DashboardIcons/Edit.svg" >
                                        </a>
                                        }
                                        @if (deleteAccess) {
                                        <a mat-icon-button matTooltip="delete" href="javascript:void(0)"
                                            (click)="deleteConfirmonTicketReasonSubCat(ticketReasonSubCat)">
                                            <img src="assets/img/DashboardIcons/trash-bin-trash-svgrepo-com 1.svg" >
                                        </a>
                                        }
                                    </td>
                                </ng-container>
                                }

                                <tr mat-header-row class="table-header-bg"
                                    *matHeaderRowDef="getDisplayedPlanDetailsColumns(); sticky: true"></tr>
                                <tr mat-row class="table-content-row" *matRowDef="let row; columns: getDisplayedPlanDetailsColumns()">
                                </tr>

                            </table>
                            @if (ticketReasonSubCategoryListData?.length > 0) {
                            <mat-paginator [length]="ticketReasonSubCategoryListDatatotalRecords"
                                [pageSize]="ticketReasonSubCategoryListdataitemsPerPage" [pageSizeOptions]="[5,10,20,50,100]"
                                showFirstLastButtons (page)="onPageChange($event)">
                            </mat-paginator>
                            }
                        </div>

                    </div>

                </mat-card-content>
            </mat-card>
        </div>
        <!-- country list table end -->
    </div>
</div>
}

@if (createTicket) {
}
<ng-template #addCategoryDetails let-dialogRef="dialogRef">
    <div class="dialog-container dialog-box">
        <!-- Header -->
        <div class="dialog-header">
            {{ isTicketReasonSubCategoryEdit ? "Update" : "Create" }} Category
            <span>
                <a mat-icon-button href="javascript:void(0)" (click)="dialogRef.close()">
                     <img src="assets/img/DashboardIcons/Reject.svg">
                </a>
            </span>
        </div>
        <form class="card-form mb-3" [formGroup]="ticketReasonSubCatFormGroup">
            <!-- Content -->
            <div mat-dialog-content class="dialog-box-content">
                <div class="modal-body">
                    <mat-card-content class="matcardContent">
                        <mat-card *ngIf="createAccess">
                        <mat-card class="cardWithShadow">
                            <mat-card-header>
                                <mat-card-title class="font-900">
                                    Basic Details</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="row p-10">
                                    <div class="col-md-6">
                                        <label for="categoryName" class="inputLabel">Category Name*</label>
                                        <mat-form-field class="mat-form-field" appearance="outline" class="w-100">
                                            <input id="categoryName" class="input-p-5" matInput
                                                placeholder="Enter Category Name" formControlName="categoryName"
                                                [ngClass]="{ 'is-invalid': submitted && ticketReasonSubCatFormGroup.controls.categoryName.errors }"
                                                maxLength="250">

                                            <mat-error
                                                *ngIf="submitted && ticketReasonSubCatFormGroup.controls.categoryName.errors">
                                                <span
                                                    *ngIf="submitted && ticketReasonSubCatFormGroup.controls.categoryName.errors.required">
                                                    Name is required.
                                                </span>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>


                                    <div class="col-md-6">
                                        <label for="statusSelect" class="inputLabel">Status*</label>
                                        <mat-form-field appearance="outline" class="w-100">
                                            <mat-select id="statusSelect" class="input-p-5"
                                                placeholder="Select a Status" formControlName="status"
                                                [ngClass]="{ 'is-invalid': submitted && ticketReasonSubCatFormGroup.controls.status.errors }">
                                                <mat-option *ngFor="let option of statusOptions" [value]="option.label">
                                                    {{ option.label }}
                                                </mat-option>
                                            </mat-select>
                                            <!-- <mat-error *ngIf="ticketReasonSubCatFormGroup.get('status')?.errors?.['required'] 
                                        && (submitted || ticketReasonSubCatFormGroup.get('status')?.touched)">
                                            Status is required.
                                        </mat-error> -->

                                            <mat-error
                                                *ngIf="submitted && ticketReasonSubCatFormGroup.controls.status.errors">
                                                <span
                                                    *ngIf="submitted && ticketReasonSubCatFormGroup.controls.status.errors.required">
                                                    Name is required.
                                                </span>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                        <!-- </div> -->


                        <br>


                        <!-- TAT Mapping List Section -->
                        <mat-card class="cardWithShadow">
                            <mat-card-header>
                                <mat-card-title class="font-900">
                                    TAT Mapping List</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>

                                <div class="row p-10 addjustify-content">
                                    <div class="col-md-5">
                                        <!-- <mat-label class="inputLabel">Select a TAT For Task</mat-label> -->
                                        <mat-form-field appearance="outline" class="w-100">

                                            <mat-select placeholder="Select a TAT For Task" class="input-p-5"
                                                [(ngModel)]="tatForTicketID" [ngModelOptions]="{standalone: true}"
                                                [disabled]="TatMappingArray?.value?.length >= 1">
                                                <mat-option *ngFor="let tat of TATForTicketData" [value]="tat.id">
                                                    {{ tat.name }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-2">
                                        <button mat-flat-button color="primary" class="w-100" (click)="onAddAttribute()"
                                            class="button-normal" [disabled]="TatMappingArray?.value?.length >= 1">
                                            Add
                                        </button>
                                    </div>
                                </div>


                                <!-- TAT Mapping Table -->
                                <mat-card-content>
                                    <div class="table-responsive">
                                        <table mat-table [dataSource]="tatMappingDataSource" class="w-100">
                                            <!-- Order -->
                                            <ng-container matColumnDef="Order">
                                                <th mat-header-cell *matHeaderCellDef class="table-header-title">Order
                                                </th>
                                                <td mat-cell *matCellDef="let row; let i = index">
                                                    <mat-form-field appearance="outline" class="w-100">
                                                        <input class="input-p-5" matInput type="text"
                                                            placeholder="Order"
                                                            [formControl]="TatMappingArray.at(i).get('orderid')"
                                                            readonly />
                                                    </mat-form-field>
                                                </td>
                                            </ng-container>

                                            <!-- TAT For Task -->
                                            <ng-container matColumnDef="TAT For Task">
                                                <th mat-header-cell *matHeaderCellDef stickyEnd
                                                    class="table-header-title">
                                                    TAT For Task
                                                </th>
                                                <td mat-cell *matCellDef="let row; let i = index">
                                                    <mat-form-field appearance="outline" class="w-100">
                                                        <mat-select class="input-p-5"
                                                            [formControl]="TatMappingArray.at(i).get('tatForTicketID')"
                                                            placeholder="Select a TAT Matrics">
                                                            <mat-option *ngFor="let option of TATForTicketData"
                                                                [value]="option.id">
                                                                {{ option.name }}
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </td>
                                            </ng-container>

                                            <!-- Delete -->
                                            <ng-container matColumnDef="Delete">
                                                <th mat-header-cell *matHeaderCellDef class="table-header-title">
                                                    Delete
                                                </th>
                                                <td mat-cell *matCellDef="let row; let i = index" class="d-flex">
                                                    @if (TatMappingArray.controls.length > 0){

                                                    <a mat-icon-button href="javascript:void(0)"
                                                        (click)="deleteConfirmAttribute(i, row.value)">
                                                        <img src="assets/img/DashboardIcons/trash-bin-trash-svgrepo-com 1.svg" >
                                                    </a>
                                                    }
                                                </td>
                                            </ng-container>

                                            <!-- Header & Rows -->
                                            <tr mat-header-row *matHeaderRowDef="tatDisplayedColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: tatDisplayedColumns"></tr>
                                        </table>
                                    </div>
                                </mat-card-content>

                            </mat-card-content>
                        </mat-card>
                        </mat-card>
                    </mat-card-content>
 <mat-card class="cardWithShadow" *ngIf="!createAccess">
          <mat-card-content class="d-flex justify-content-Center align-items-center w-100">
            <div class="d-flex justify-content-around w-100">
              Sorry, you do not have privilege to create operation!
            </div>
          </mat-card-content>
        </mat-card>
                    <!-- create new category card end -->
                </div>
            </div>
            <div mat-dialog-actions class="p-0 m-t-10 dialog-action-adjust">
                @if (!isTicketReasonSubCategoryEdit) {

                <button mat-flat-button color="primary" class="button-normal" type="submit"
                    (click)="addEditTicketReasonSubCat('')">

                    Add Category
                </button>

                }
                @if (isTicketReasonSubCategoryEdit) {

                <button mat-flat-button color="primary" class="button-normal" type="submit"
                    (click)="addEditTicketReasonSubCat(editTicketReasonSubCategoryData.categoryId)">

                    Update Category
                </button>

                }
                <button mat-stroked-button type="button" color="primary" class="button-normal"
                    (click)="dialogRef.close()">
                    Cancel
                </button>

            </div>
        </form>
        <!-- Footer -->

    </div>
</ng-template>






<!-- @if (createTicket) {
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {{ isTicketReasonSubCategoryEdit ? "Update" : "Create" }} Category
                </h3>
                <div class="right">
                    <button type="button" class="btn-toggle-collapse" data-toggle="collapse"
                        data-target="#createDataTrsc" aria-expanded="false" aria-controls="createDataTrsc">
                        <i class="fa fa-minus-circle"></i>
                    </button>
                </div>
            </div>
            <div id="createDataTrsc" class="panel-collapse collapse in">
                <div class="panel-body">
                    <form [formGroup]="ticketReasonSubCatFormGroup">

                        <fieldset style="margin-top: 1.5rem">
                            <legend>Basic Details</legend>
                            <div class="boxWhite">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <label>Category Name*</label>
                                        <input id="name" type="text" class="form-control"
                                            placeholder="Enter Category Name" formControlName="categoryName" [ngClass]="{
                        'is-invalid':
                          submitted && ticketReasonSubCatFormGroup.controls.categoryName.errors
                      }" />
                                        @if (submitted && ticketReasonSubCatFormGroup.controls.categoryName.errors) {
                                        <div class="errorWrap text-danger">
                                            @if (
                                            submitted &&
                                            ticketReasonSubCatFormGroup.controls.categoryName.errors.required
                                            ) {
                                            <div class="error text-danger">
                                                Name is required.
                                            </div>
                                            }
                                        </div>
                                        }
                                        <br />
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <label>Status*</label>
                                        <div>
                                            <p-dropdown [options]="statusOptions" optionValue="label"
                                                optionLabel="label" placeholder="Select a Status"
                                                formControlName="status" [ngClass]="{
                          'is-invalid':
                            submitted && ticketReasonSubCatFormGroup.controls.status.errors
                        }"></p-dropdown>
                                        </div>
                                        @if (submitted && ticketReasonSubCatFormGroup.controls.status.errors) {
                                        <div class="errorWrap text-danger">
                                            @if (
                                            submitted && ticketReasonSubCatFormGroup.controls.status.errors.required
                                            ) {
                                            <div class="error text-danger">
                                                Status is required.
                                            </div>
                                            }
                                        </div>
                                        }
                                        <br />
                                    </div>
                                </div>

                            </div>
                        </fieldset>

                    </form>
                    <fieldset style="margin-top: 1.5rem; margin-bottom: 2rem">
                        <legend>TAT Mapping List</legend>
                        <div class="boxWhite">
                            <div class="row justify-content-between" style="margin-top: 20px">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    <p-dropdown [options]="this.TATForTicketData" optionValue="id" optionLabel="name"
                                        filter="true" filterBy="name" placeholder="Select a TAT For Task"
                                        [(ngModel)]="tatForTicketID" [showClear]="false" id="team"
                                        [disabled]="TatMappingArray?.value?.length >= 1"></p-dropdown>
                                </div>

                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" style="text-align: end">
                                    <button style="object-fit: cover; padding: 5px 8px" class="btn btn-primary"
                                        (click)="onAddAttribute()" [disabled]="TatMappingArray?.value?.length >= 1">
                                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                                        Add
                                    </button>
                                </div>
                            </div>
                            <div class="gridtable">
                                <table class="table coa-table fixed_header" style="margin-top: 3rem">
                                    <thead class="BI_tablehead">
                                        <tr>
                                            <th style="width: 15%">Order</th>
                                            <th>TAT For Task</th>

                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (row of TatMappingArray.controls; track row; let index = $index) {
                                        <tr>
                                            <td style="width: 15%">
                                                <input id="name" type="text" class="form-control text-center"
                                                    placeholder="Order" [formControl]="row.get('orderid')" readonly />
                                            </td>
                                            <td>
                                                <p-dropdown appendTo="body" [options]="TATForTicketData"
                                                    optionValue="id" optionLabel="name" filter="true" filterBy="name"
                                                    placeholder="Select a TAT Matrics"
                                                    [formControl]="row.get('tatForTicketID')"></p-dropdown>
                                            </td>

                                            <td style="text-align: center">
                                                @if (TatMappingArray.controls.length > 0) {
                                                <a id="deleteAtt" href="javascript:void(0)"
                                                    (click)="deleteConfirmAttribute(index, row.value)">
                                                     <img src="assets/img/DashboardIcons/trash-bin-trash-svgrepo-com 1.svg" >
                                                </a>
                                                }
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </fieldset>
                    <div class="addUpdateBtn" style="margin: 3rem">
                        @if (!isTicketReasonSubCategoryEdit) {
                        <button type="submit" class="btn btn-primary" id="submit"
                            (click)="addEditTicketReasonSubCat('')">
                            <i class="fa fa-check-circle"></i>
                            Add Category
                        </button>
                        }
                        @if (isTicketReasonSubCategoryEdit) {
                        <button type="submit" class="btn btn-primary" id="submit"
                            (click)="addEditTicketReasonSubCat(editTicketReasonSubCategoryData.categoryId)">
                            <i class="fa fa-check-circle"></i>
                            Update Category
                        </button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    } -->


<!-- 
<p-dialog header="Category" [(visible)]="ticketReasonSubCatdialoge" [modal]="true" [style]="{ width: '80%' }"
    [responsive]="true" [draggable]="false" [closable]="true" (onHide)="closeSubProblemDomainDetailsModel()">

    <div class="modal-body">
        <fieldset style="margin-top: 0rem; margin-bottom: 2rem">
            <legend>Basic Details</legend>
            <div class="boxWhite">
                <div class="row">
                    <div class="col-lg-4 col-md-4 dataGroup">
                        <label class="datalbl">Name :</label>
                        <span>{{ viewTrscData.categoryName }}</span>
                    </div>

                    <div class="col-lg-4 col-md-4 dataGroup">
                        <label class="datalbl">Status :</label>
                        @if (viewTrscData.status == 'Active') {
                        <span class="badge badge-success">
                            Active
                        </span>
                        }
                        @if (viewTrscData.status == 'Inactive') {
                        <span class="badge badge-danger">
                            Inactive
                        </span>
                        }
                    </div>
                </div>
            </div>
        </fieldset>

        @if (viewTrscData.caseCategoryTatMappingList.length !== 0) {
        <fieldset>
            <legend>TAT Mapping Detail</legend>
            <div class="boxWhite">
                <div class="row table-responsive">
                    <div class="col-lg-12 col-md-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Order</th>
                                    <th>TAT For Task</th>

                                </tr>
                            </thead>
                            <tbody>
                                @for (
                                reasonData of viewTrscData.caseCategoryTatMappingList
                                | paginate
                                : {
                                id: 'reasonTATPageData',
                                itemsPerPage: viewTATListdataitemsPerPage,
                                currentPage: currentPageViewTATListdata,
                                totalItems: viewTATListDatatotalRecords
                                }; track
                                reasonData; let i = $index) {
                                <tr>
                                    <td>{{ reasonData.orderid }}</td>
                                    <td>{{ reasonData.ticketTatMatrix.name }}</td>

                                </tr>
                                }
                            </tbody>
                        </table>
                        <pagination-controls id="reasonTATPageData" [maxSize]="10" [directionLinks]="true"
                            previousLabel="" nextLabel=""
                            (pageChange)="changeTATPageData($event)"></pagination-controls>
                    </div>
                </div>
            </div>
        </fieldset>
        }
    </div>
    <div class="modal-footer">
        <div class="addUpdateBtn">
            <button type="button" class="btn btn-danger btn-sm" (click)="closeSubProblemDomainDetailsModel()">
                Close
            </button>
        </div>
    </div>

</p-dialog> -->


<ng-template #viewCategoryDetails let-dialogRef="dialogRef">
    <div class="dialog-container dialog-box" style="overflow-y: hidden;">
        <!-- Header -->
        <div class="dialog-header">
            Category Details
            <span>
                <a mat-icon-button href="javascript:void(0)" (click)="dialogRef.close()">
                     <img src="assets/img/DashboardIcons/Reject.svg">
                </a>
            </span>
        </div>

        <!-- Content -->
        <div mat-dialog-content class="dialog-box-content">
            <div class="modal-body">
                <!-- Basic Details Section -->
                <mat-card-content class="matcardContent">
                    <mat-card class="cardWithShadow">

                        <mat-card-header>
                            <mat-card-title class="font-900">
                                Basic Details</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-sm-6 dataGroup">
                                    <div class="field">
                                        <label class="label-text">Name</label>
                                        <span class="colon">:</span>
                                        <span class="data-value m-l-10">{{ viewTrscData.categoryName }}</span>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 col-sm-6 dataGroup">
                                    <div class="field">
                                        <label class="label-text">Status</label>
                                        <span class="colon">:</span>

                                        @if (viewTrscData.status == 'Active') {
                                        <span class="status-badge status-success m-l-10">
                                            Active
                                        </span>
                                        }
                                        @if (viewTrscData.status == 'Inactive') {
                                        <span class="status-badge status-danger m-l-10">
                                            Inactive
                                        </span>
                                        }
                                    </div>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>

                    <br>

                    <!-- TAT Mapping Details Section -->
                    @if (viewTrscData.caseCategoryTatMappingList.length !== 0) {
                    <mat-card class="cardWithShadow">
                        <mat-card-header>
                            <mat-card-title class="font-900">
                                TAT Mapping Details</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="row p-0">
                                <div class="col-md-12">
                                    <div class="table-container">
                                        <table mat-table [dataSource]="viewTrscData.caseCategoryTatMappingList"
                                            class="mat-elevation-z8 w-100">
                                            <!-- Order Column -->
                                            <ng-container matColumnDef="Order">
                                                <th mat-header-cell *matHeaderCellDef class="table-header-title">Order
                                                </th>
                                                <td mat-cell *matCellDef="let reasonData" class="f-s-14">
                                                    {{ reasonData.orderid }}
                                                </td>
                                            </ng-container>

                                            <!-- TAT For Task Column -->
                                            <ng-container matColumnDef="TAT For Task">
                                                <th mat-header-cell *matHeaderCellDef class="table-header-title">TAT For
                                                    Task
                                                </th>
                                                <td mat-cell *matCellDef="let reasonData" class="f-s-14">
                                                    {{ reasonData.ticketTatMatrix.name }}
                                                </td>
                                            </ng-container>

                                            <tr mat-header-row *matHeaderRowDef="['Order', 'TAT For Task']"
                                                class="table-header-bg"></tr>
                                            <tr mat-row *matRowDef="let row; columns: ['Order', 'TAT For Task'];"
                                                class="table-content-row"></tr>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>

                    }

                </mat-card-content>
            </div>
        </div>
        <div mat-dialog-actions class="p-0 m-t-10 dialog-footer">

            <button mat-stroked-button type="button" color="primary" class="button-normal m-10"
                (click)="dialogRef.close()">
                Close
            </button>

        </div>
        <!-- Footer -->

    </div>
</ng-template>

<p-dialog header="Team Condition" [(visible)]="ticketReasonSubCatModal" [modal]="true" [style]="{ width: '80%' }"
    [responsive]="true" [draggable]="false" [closable]="true" (onHide)="closeConditionModel()">
    <div class="modal-body" style="max-height: 300px; padding-bottom: 20px">
        <table class="table map-table">
            <thead>
                <tr>
                    <th>Field</th>
                    <th>Operator</th>
                    <th>Value</th>
                    <th>Condition</th>
                    <th style="width: 10%">
                        <button id="addAtt" style="object-fit: cover; padding: 5px 8px" class="btn btn-primary"
                            (click)="onConditionAddAttribute()">
                            <i class="fa fa-plus-square" aria-hidden="true"></i>
                            Add
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (
                row of teamConditionArray.controls
                | paginate
                : {
                id: 'ArrayData',
                itemsPerPage: ItemPerPageteamCondition,
                currentPage: currentPageteamCondition,
                totalItems: totalRecordsteamCondition
                }; track
                row; let index = $index) {
                <tr>
                    <td>
                        <p-dropdown [options]="FildDropdownData" optionValue="value" optionLabel="text" filter="true"
                            filterBy="text" placeholder="Enter a Field" [formControl]="row.get('field')"></p-dropdown>
                    </td>
                    <td>
                        <p-dropdown [options]="operatorList" placeholder="Select Operator" optionLabel="label"
                            optionValue="value" [formControl]="row.get('operator')" filter="true"
                            filterBy="label"></p-dropdown>
                    </td>
                    <td>
                        <input type="text" name="speed" class="form-control" placeholder="Enter a Value"
                            [formControl]="row.get('value')" />
                    </td>
                    <td>
                        @for (list of conditionDataEnableDisble; track list; let j = $index) {
                        <span>
                            @if (index == j) {
                            <span>
                                @if (index == j) {
                                <p-dropdown [options]="AndOrDropdown" placeholder="Select a Condition"
                                    optionLabel="label" optionValue="value" [formControl]="row.get('condition')"
                                    filter="true" filterBy="label" (onChange)="onkeyCondition($event)"></p-dropdown>
                                }
                            </span>
                            }
                        </span>
                        }
                    </td>
                    <td style="width: 10%">
                        @if (this.teamConditionArray.length > 1) {
                        <a id="deleteAtt" class="curson_pointer" (click)="deleteTeamCondition(index, row.value)">
                             <img src="assets/img/DashboardIcons/trash-bin-trash-svgrepo-com 1.svg" >
                        </a>
                        }
                    </td>
                </tr>
                }
                <tr>
                    @if (!this.teamConditionArray.valid) {
                    <div style="margin-left: 5px" class="errorWrap text-danger">
                        Please Enter Details.
                    </div>
                    }
                    @if (this.teamConditionArray.valid && errormsgCondition) {
                    <div style="margin-left: 5px" class="errorWrap text-danger">
                        {{ this.errormsgCondition }}
                    </div>
                    }
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-12">
                <pagination-controls id="ArrayData" [maxSize]="5" [directionLinks]="true" previousLabel="" nextLabel=""
                    (pageChange)="pageChangedTeamMappingList($event)"></pagination-controls>
            </div>
        </div>
        <br />
    </div>
    <div class="modal-footer" style="display: flex; justify-content: flex-end">
        <div class="addUpdateBtn">
            <button type="button" class="btn btn-primary" data-title="Apply Condition" (click)="saveConditionData()"
                #closebutton data-dismiss="modal" [disabled]="!this.teamConditionArray.valid">
                Save
            </button>
        </div>
        <div class="addUpdateBtn" style="margin-left: 1.5rem">
            <button type="button" class="btn btn-danger btn-sm" #closebutton data-dismiss="modal"
                (click)="closeConditionModel()">
                Close
            </button>
        </div>
    </div>
    2
</p-dialog>