.header-left {
    min-width: 200px;
}

.header-middle h4 {
    font-weight: 600;
}

.header-right {
    margin-left: auto;
}

.container {
    padding: 0;
    margin: 0;
    width: 100% !important;
    max-width: 1200% !important;
}

.breadcrumb-banner {
    padding-top: 22px !important;
    padding-bottom: 20px !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.topbar {
    display: flex;
    justify-content: space-around;
}





.profile-header {
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #eee;
}

.profile-header img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 8px;
}

.profile-header h6 {
    margin: 4px 0 0;
    font-weight: 600;
}

.profile-header p {
    margin: 0;
    font-size: 13px;
    color: #777;
}

.page-title-wrapper {
    display: flex;
    align-items: center;
    gap: 6px;
}

.page-main {
    font-size: 20px;
    font-weight: 800;
    color: black;
}

.page-separator {
    font-size: 18px;
    margin-top: 2px;
    color: #6b7280;
}

.page-sub {
    font-size: 14px;
    color: #6b7280;
}