<!-- <div class="dialog-container">
    Dialog Header
    <div class="dialog-header">
        {{ planForConnection?.planName }}
        <span>
            <a mat-icon-button (click)="onCancel()">
                <mat-icon>close</mat-icon>
            </a>
        </span>
    </div>

    Dialog Content
    <div mat-dialog-content>
        <mat-card-content>
            <div class="grid-container row">
                <div class="col-md-4 col-sm-6 dataGroup">
                    <div class="field">
                        <span class="label-text f-w-600 f-s-15">Service</span>
                        <span class="colon">:</span>
                        <span class="m-l-10">{{ planForConnection?.service || '-' }}</span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 dataGroup">
                    <div class="field">
                        <span class="label-text f-w-600 f-s-15">Connection No</span>
                        <span class="colon">:</span>
                        <span class="m-l-10">{{ planForConnection?.connection_no || '-' }}</span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 dataGroup">
                    <div class="field">
                        <span class="label-text f-w-600 f-s-15">Nick Name</span>
                        <span class="colon">:</span>
                        <span class="m-l-10">{{ planForConnection?.nickname || '-' }}</span>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </div>

    Dialog Actions
    <div class="dialog-action-adjust d-flex justify-content-end">
        <button mat-stroked-button color="warn" (click)="onCancel()">Close</button>
    </div>
</div> -->


<ng-template #planConnectionDialog>
    <div class="dialog-container">
        <div class="dialog-header">
            {{ planForConnection?.planName }}
            <span>
                <a mat-icon-button (click)="onCancel()">
                    <img src="assets/img/DashboardIcons/Reject.svg">

                </a>
            </span>
        </div>

        <div mat-dialog-content>
            <mat-card-content>
                <div class="grid-container row">
                    <div class="col-md-4 col-sm-6 dataGroup">
                        <div class="field">
                            <span class="label-text f-w-600 f-s-15">Service</span>
                            <span class="colon">:</span>
                            <span class="m-l-10">{{ planForConnection?.service || '-' }}</span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 dataGroup">
                        <div class="field">
                            <span class="label-text f-w-600 f-s-15">Connection No</span>
                            <span class="colon">:</span>
                            <span class="m-l-10">{{ planForConnection?.connection_no || '-' }}</span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 dataGroup">
                        <div class="field">
                            <span class="label-text f-w-600 f-s-15">Nick Name</span>
                            <span class="colon">:</span>
                            <span class="m-l-10">{{ planForConnection?.nickname || '-' }}</span>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </div>

        <div class="dialog-action-adjust d-flex justify-content-end">
            <button mat-stroked-button (click)="onCancel()">Close</button>
        </div>
    </div>
</ng-template>


<!-- ------------------------------------------ -->
<!-- <p-dialog
  header="{{planForConnection.planName}}"
  [(visible)]="planNameOpen"
  [modal]="true"
  [style]="{ width: '50%'}"
  [responsive]="true"
  [draggable]="false"
  [closable]="false"
>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
            <label class="datalbl">Service :</label>
            <span>
              {{ planForConnection.service }}
            </span>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
            <label class="datalbl">Connection No :</label>
            <span>
              {{ planForConnection.connection_no }}
            </span>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
            <label class="datalbl">Nick Name :</label>
            <span>
              {{ planForConnection.nickname ? planForConnection.nickname : "-" }}
            </span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="addUpdateBtn">
          <button (click)="closeModal()" class="btn btn-danger btn-sm" type="button">Close</button>
        </div>
      </div>
</p-dialog> -->