<!-- <ng-template #selectStaffDialog> -->
<!-- Dialog Header -->
<!-- <div class="dialog-header d-flex justify-content-between align-items-center">
    <h2 mat-dialog-title class="dialog-title">Select Staff</h2>
    
    <span>
        <a mat-icon-button (click)="onCancel()">
            <mat-icon>close</mat-icon>
        </a>
    </span>
</div> -->
<!-- <ng-template> -->

<!-- </ng-template> -->
<!-- </ng-template> -->


<!-- <p-dialog
  header="Select Staff"
  [(visible)]="displayDTVHistory"
  [style]="{ width: '70%' }"
  [modal]="true"
  [responsive]="true"
  [draggable]="false"
  [closable]="true"
  (onHide)="modalCloseStaff()"
>
  <div class="modal-body">
    <h5>Search Staff</h5>
    <div class="row">
      <div class="col-md-3">
        <input
          id="searchStaffName"
          type="text"
          name="username"
          class="form-control"
          placeholder="Global Search Filter"
          [(ngModel)]="searchDeatil"
          (keydown.enter)="searchStaffByName()"
        />
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <button
          (click)="searchStaffByName()"
          class="btn btn-primary"
          id="searchbtn"
          type="submit"
          [disabled]="!searchDeatil"
        >
          <i class="fa fa-search"></i>
          Search
        </button>
        <button (click)="clearSearchForm()" class="btn btn-default" id="searchbtn" type="reset">
           <img src="assets/img/DashboardIcons/Refresh.svg" />
          Clear
        </button>
      </div>
    </div>
    <h5 style="margin-top: 15px">Select Staff</h5>
    <p-table
      #dt
      [(selection)]="selectedStaff"
      [value]="staffData"
      responsiveLayout="scroll"
      [rows]="5"
      [rowsPerPageOptions]="[5, 10,  20, 50, 100]"
      [paginator]="false"
      [(first)]="newFirst"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 5rem"></th>
          <th>Name</th>
          <th>User Name</th>
          <th>Partner Name</th>
        </tr>
      </ng-template>
      <ng-template let-staffData let-rowIndex="rowIndex" pTemplate="body">
        <tr>
          <td>
            <p-tableRadioButton [value]="staffData"></p-tableRadioButton>
          </td>
          <td>
            {{ staffData.firstname }}
          </td>
          <td>{{ staffData.username }}</td>
          <td>{{ staffData.partnerName }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <p-paginator
          (onPageChange)="paginateStaff($event)"
          [first]="newFirst"
          [rows]="parentStaffListdataitemsPerPageForStaff"
          [totalRecords]="parentstaffListdatatotalRecords"
          [rows]="5"
          [rowsPerPageOptions]="[5, 10,  20, 50, 100]"
          [dropdownAppendTo]="'body'"
        ></p-paginator>
      </ng-template>
    </p-table>
  </div>
  <div class="modal-footer">
    <div class="addUpdateBtn">
      <button
        (click)="saveSelstaff()"
        class="btn btn-primary"
        style="object-fit: cover; padding: 5px 8px"
        [disabled]="this.selectedStaff.length == 0"
      >
        <i class="fa fa-check-circle"></i>
        Save
      </button>
      <button (click)="modalCloseStaff()" class="btn btn-danger btn-sm" type="button">Close</button>
    </div>
  </div>
</p-dialog> -->


<div class="container-fluid p-0">
    <div class="dialog-header dialog-title">
        Select Staff
        <button mat-icon-button (click)="closeDialog()">
            <img src="assets/img/DashboardIcons/Reject.svg" alt="Close icon">
        </button>
    </div>
    <mat-dialog-content class="dialog-content">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Search Staff</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="row mb-3">
                    <div class="col-md-4">
                        <label class="inputLabel">Global Search Filter</label>
                        <mat-form-field appearance="outline" class="w-100 hide-hint mr-10">
                            <input matInput class="input-p-5" [(ngModel)]="searchDeatil"
                                placeholder="Enter Staff Name or Username" (keydown.enter)="searchStaffByName()" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-8 d-flex align-items-center gap-2" style="margin-top: 2.5rem">
                        <button mat-button mat-flat-button color="primary" class="search-btn"
                            (click)="searchStaffByName()" [disabled]="!searchDeatil">
                            Search
                        </button>
                        <button class="search-btn" mat-stroked-button matButton="outlined" class="search-btn"
                            (click)="clearSearchForm()">
                            Clear
                        </button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Select Staff</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="table-container">
                    <mat-table [dataSource]="dataSource" class="data-table" matSort>
                        <!-- Select Column -->
                        <ng-container matColumnDef="select">
                            <mat-header-cell *matHeaderCellDef class="selection-column">Select</mat-header-cell>
                            <mat-cell *matCellDef="let staff" class="selection-column">
                                <!-- <mat-radio-button [value]="staff" [(ngModel)]="selectedStaff" name="staffSelection">
                                        </mat-radio-button> -->
                                <mat-radio-group [(ngModel)]="selectedStaff" name="staffSelection">
                                    <mat-radio-button [value]="staff"></mat-radio-button>
                                </mat-radio-group>
                            </mat-cell>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef class="table-header-title">Name</mat-header-cell>
                            <mat-cell *matCellDef="let staff" class="table-cell">
                                {{ staff.firstname }}
                            </mat-cell>
                        </ng-container>

                        <!-- Username Column -->
                        <ng-container matColumnDef="username">
                            <mat-header-cell *matHeaderCellDef class="table-header-title">User
                                Name</mat-header-cell>
                            <mat-cell *matCellDef="let staff" class="table-cell">
                                {{ staff.username }}
                            </mat-cell>
                        </ng-container>

                        <!-- Partner Name Column -->
                        <ng-container matColumnDef="partnerName">
                            <mat-header-cell *matHeaderCellDef class="table-header-title">Partner
                                Name</mat-header-cell>
                            <mat-cell *matCellDef="let staff" class="table-cell">
                                {{ staff.partnerName }}
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="staffTableColumns" class="table-header-bg"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: staffTableColumns" class="table-content-row"
                            [class.selected-row]="selectedStaff === row"></mat-row>
                    </mat-table>
                </div>

                <div class="pagination-container">
                    <mat-paginator [length]="parentstaffListdatatotalRecords"
                        [pageSize]="parentStaffListdataitemsPerPageForStaff" [pageSizeOptions]="[5, 10,  20, 50, 100]"
                        (page)="paginateStaff($event)" showFirstLastButtons>
                    </mat-paginator>

                </div>
            </mat-card-content>
        </mat-card>
    </mat-dialog-content>
    <div mat-dialog-actions class="p-0 m-t-10 dialog-action-adjust">
        <button mat-flat-button color="primary" (click)="saveSelstaff()"
            [disabled]="!selectedStaff || selectedStaff.length === 0">
            Save
        </button>
        <button mat-stroked-button mat-dialog-close (click)="closeDialog()">Close</button>
    </div>
</div>