 ::ng-deep .equal-tabs .mat-mdc-tab-labels {
    display: flex !important;
    justify-content: space-between !important;
  }

  ::ng-deep .equal-tabs .mat-mdc-tab {
    flex: 1 1 50% !important;
    max-width: 50% !important;
    text-align: center !important;
    justify-content: center !important;
  }

  ::ng-deep .equal-tabs .mat-mdc-tab .mdc-tab__content {
    justify-content: center !important;
  }

  ::ng-deep .equal-tabs .mat-mdc-tab-label-content {
    font-weight: 600;
    font-size: 15px;
  }

  equal-tabs .mat-mdc-tab.mdc-tab--active {
    background: #e3f2fd;
    border-radius: 6px 6px 0 0;
  }