<div class="dialog-container">
    <!-- Dialog Header -->
    <div class="dialog-header">
        Customer Quota Details
        <span>
            <a mat-icon-button (click)="onCancel()">
                <img src="assets/img/DashboardIcons/Reject.svg">


            </a>
        </span>
    </div>

    <!-- Dialog Content -->
    <div mat-dialog-content>
        <mat-card-content>
            <!-- FUP Details -->
            <div class="grid-container row mb-3">
                <div class="col-md-4 col-sm-6 dataGroup">
                    <div class="field">
                        <span class="label-text f-w-600 f-s-15">FUP Applied</span>
                        <span class="colon">:</span>
                        <span class="m-l-10">-</span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 dataGroup">
                    <div class="field">
                        <span class="label-text f-w-600 f-s-15">FUP Applied Date</span>
                        <span class="colon">:</span>
                        <span class="m-l-10">-</span>
                    </div>
                </div>
            </div>

            <!-- Quota Table -->
            <div class="table-responsive m-t-24">
                <table mat-table [dataSource]="custQuotaList" class="mat-elevation-z2 w-100">

                    <!-- Plan Name Column -->
                    <ng-container matColumnDef="planName">
                        <th mat-header-cell *matHeaderCellDef>Plan Name</th>
                        <td mat-cell *matCellDef="let quota">{{ quota.planName }}</td>
                    </ng-container>

                    <!-- Quota Type Column -->
                    <ng-container matColumnDef="quotaType">
                        <th mat-header-cell *matHeaderCellDef>Quota Type</th>
                        <td mat-cell *matCellDef="let quota">{{ quota.quotaType }}</td>
                    </ng-container>

                    <!-- Total Quota Column -->
                    <ng-container matColumnDef="totalQuota">
                        <th mat-header-cell *matHeaderCellDef>Total Quota</th>
                        <td mat-cell *matCellDef="let quota">{{ quota.totalQuota }}</td>
                    </ng-container>

                    <!-- Used Quota Column -->
                    <ng-container matColumnDef="usedQuota">
                        <th mat-header-cell *matHeaderCellDef>Used Quota</th>
                        <td mat-cell *matCellDef="let quota">{{ quota.usedQuota | number:'1.4-4' }}</td>
                    </ng-container>

                    <!-- Current Session Volume Column -->
                    <ng-container matColumnDef="currentSessionVolume">
                        <th mat-header-cell *matHeaderCellDef>Current Session Volume Quota</th>
                        <td mat-cell *matCellDef="let quota">{{ quota.currentSessionUsageVolume | number:'1.4-4' }}</td>
                    </ng-container>

                    <!-- Quota Unit Column -->
                    <ng-container matColumnDef="quotaUnit">
                        <th mat-header-cell *matHeaderCellDef>Quota Unit</th>
                        <td mat-cell *matCellDef="let quota">{{ quota.quotaUnit }}</td>
                    </ng-container>

                    <!-- Time Total Quota Column -->
                    <ng-container matColumnDef="timeTotalQuota">
                        <th mat-header-cell *matHeaderCellDef>Time Total Quota</th>
                        <td mat-cell *matCellDef="let quota">{{ quota.timeTotalQuota }}</td>
                    </ng-container>

                    <!-- Time Quota Used Column -->
                    <ng-container matColumnDef="timeQuotaUsed">
                        <th mat-header-cell *matHeaderCellDef>Time Quota Used</th>
                        <td mat-cell *matCellDef="let quota">{{ quota.timeQuotaUsed }}</td>
                    </ng-container>

                    <!-- Time Quota Unit Column -->
                    <ng-container matColumnDef="timeQuotaUnit">
                        <th mat-header-cell *matHeaderCellDef>Time Quota Unit</th>
                        <td mat-cell *matCellDef="let quota">{{ quota.timeQuotaUnit }}</td>
                    </ng-container>

                    <!-- Current Session Time Quota Column -->
                    <ng-container matColumnDef="currentSessionTime">
                        <th mat-header-cell *matHeaderCellDef>Current Session Time Quota</th>
                        <td mat-cell *matCellDef="let quota">{{ quota.currentSessionUsageTime }}</td>
                    </ng-container>

                    <!-- Parent Quota Type Column -->
                    <ng-container matColumnDef="parentQuotaType">
                        <th mat-header-cell *matHeaderCellDef>Parent Quota Type</th>
                        <td mat-cell *matCellDef="let quota">{{ quota.parentQuotaType }}</td>
                    </ng-container>

                    <!-- Quota Usage Type Column -->
                    <ng-container matColumnDef="usageQuotaType">
                        <th mat-header-cell *matHeaderCellDef>Quota Usage Type</th>
                        <td mat-cell *matCellDef="let quota">{{ quota.usageQuotaType }}</td>
                    </ng-container>

                    <!-- Header and Row Declarations -->
                    <tr mat-header-row *matHeaderRowDef="quotaDisplayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: quotaDisplayedColumns;"></tr>
                </table>

            </div>
            <!-- Paginator -->
            <mat-paginator [length]="custQuotaListtotalRecords" [pageSize]="custQuotaListItemPerPage"
                (page)="pageChangedCustQuotaList($event)" showFirstLastButtons [pageSizeOptions]="[5, 10, 20, 50, 100]">
            </mat-paginator>
        </mat-card-content>
    </div>

    <!-- Dialog Actions -->
    <div class="dialog-action-adjust d-flex justify-content-end">
        <button mat-stroked-button color="warn" class="button-normal" (click)="onCancel()">Close</button>
    </div>
</div>


<!-- <p-dialog
  header="Quota Details"
  [(visible)]="visibleQuotaDetails"
  [modal]="true"
  [style]="{ width: '65%' }"
  [responsive]="true"
  [draggable]="false"
  [closable]="true"
  (onHide)="closeModel()"
  >
  <div class="modal-body">
    <fieldset style="margin-top: 0rem; margin-bottom: 2rem">
      <legend>Customer Quota Details</legend>
      <div class="boxWhite">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
            <label class="datalbl">Fup Appplied :</label>
            <span>-</span>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
            <label class="datalbl">Fup Applied Date :</label>
            <span>-</span>
          </div>
        </div>
        <div class="row table-responsive">
          <div class="col-lg-12 col-md-12">
            <table class="table">
              <thead>
                <tr>
                  <th>Plan Name</th>
                  <th>Quota Type</th>
                  <th>Total Quota</th>
                  <th>Used Quota</th>
                  <th>Current Session Volume Quota</th>
                  <th>Quota Unit</th>
                  <th>Time Total Quota</th>
                  <th>Time Quota Used</th>
                  <th>Time Quota Unit</th>
                  <th>Current Session Time Quota</th>
                  <th>Parent Quota Type</th>
                  <th>Quota Usage Type</th>
                </tr>
              </thead>
              <tbody>
                @for (
                  quota of custQuotaList
                  | paginate
                  : {
                  id: 'custQuotapageData',
                  itemsPerPage: custQuotaListItemPerPage,
                  currentPage: currentPagecustQuotaList,
                  totalItems: custQuotaListtotalRecords
                  }; track
                  quota; let i = $index) {
                  <tr
                    >
                    <td>{{ quota.planName }}</td>
                    <td>{{ quota.quotaType }}</td>
                    <td>{{ quota.totalQuota }}</td>
                    <td>{{ quota.usedQuota | number:'1.4-4'}}</td>
                    <td>{{ quota.currentSessionUsageVolume | number:'1.4-4'}}</td>
                    <td>{{ quota.quotaUnit }}</td>
                    <td>{{ quota.timeTotalQuota }}</td>
                    <td>{{ quota.timeQuotaUsed }}</td>
                    <td>{{ quota.timeQuotaUnit }}</td>
                    <td>{{ quota.currentSessionUsageTime }}</td>
                    <td>{{ quota.parentQuotaType }}</td>
                    <td>{{ quota.usageQuotaType }}</td>
                  </tr>
                }
              </tbody>
            </table>
            <pagination-controls
              (pageChange)="pageChangedCustQuotaList($event)"
              directionLinks="true"
              id="custQuotapageData"
              maxSize="10"
              nextLabel=""
              previousLabel=""
            ></pagination-controls>
          </div>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeModel()">
      Close
    </button>
  </div>
</p-dialog> -->