<div class="dialog-container">
  <div class="dialog-header">
    {{ data.title }}
    <span>
      <a mat-icon-button href="javascript:void(0)" (click)="onCancel()">
         <img src="assets/img/DashboardIcons/Reject.svg">
      </a>
    </span>
  </div>
  <div mat-dialog-content>
    <div class="col-md-12">

      @if (!createAccess && !isCountryEdit) {
      <mat-card-content class="matcard-content">
        <div class="panel-body table-responsive">
          Sorry you have not privilege to create operation!
        </div>
      </mat-card-content>
      }

      @if (createAccess || (isCountryEdit && editAccess)) {
      <mat-card-content class="matcardContent">
        <form class="card-form mb-3" [formGroup]="buildingconfFormGroup">
          <div class="row g-3">
            <!-- Input with label -->
            <div class="col-md-12 mb-4">
              <label for="name" class="inputLabel">Building Config Name*</label>
              <mat-form-field appearance="outline" class="w-100">
                <input id="name" class="input-p-5" matInput [placeholder]="title + ' Name'" formControlName="name"
                  [ngClass]="{
                      'is-invalid': submitted && buildingconfFormGroup.controls.name.errors
                    }" maxLength="250" />
                <mat-error
                  *ngIf="buildingconfFormGroup.get('name')?.errors?.['required'] && (submitted || buildingconfFormGroup.get('name')?.touched)">
                  Building Config Name is required.
                </mat-error>
                <mat-error *ngIf="submitted && buildingconfFormGroup.get('name')?.hasError('cannotContainSpace')">
                  White spaces are not allowed.
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Select with label -->
            <div class="col-md-12 mb-4">
              <label for="mappingFrom" class="inputLabel">Building Config Mapping*</label>
              <mat-form-field appearance="outline" class="w-100">
                <mat-select id="mappingFrom" class="input-p-5" [placeholder]="title + ' Mapping'"
                  formControlName="mappingFrom" [ngClass]="{
                      'is-invalid': submitted && buildingconfFormGroup.controls.mappingFrom.errors
                    }"  [disabled]="countryListData && countryListData.length >= 1">
                  <mat-option *ngFor="let option of dunningData" [value]="option.value">
                    {{ option.text }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </form>
      </mat-card-content>
      }

    </div>
  </div>
  <div mat-dialog-actions class="p-0 m-t-10 dialog-action-adjust">
    <button mat-button mat-flat-button color="primary" class="button-normal" type="submit"
      [disabled]="(countryListData && countryListData.length >= 1) || buildingconfFormGroup.invalid || submitted" (click)="addEditCountry('')">
      {{ title }}
    </button>
    <button mat-stroked-button matButton="outlined" type="button" color="primary" class="button-normal"
      (click)="onCancel()">
      {{ "Cancel" }}
    </button>
  </div>
</div>