/* @import "@ng-select/ng-select/themes/default.theme.css"; */
/* .form-control.ng-select {
    border: none;
    padding: 0;
}

.ml-15 {
    padding-top: 15px;
}
.error {
    color: red;
}

.form-group {
    padding-top: 5px;
}

.position {
    position: absolute;
}

input.ng-invalid.ng-touched,
ng-select.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
    border: 1px solid red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
{
 -webkit-appearance: none;
  margin: 0;
 }


input[type=number] {
-moz-appearance: textfield;
 } */



 /* common css for body and header start*/


.card-content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.2s ease, max-height 0.2s ease, opacity 0.2s ease;
}

.card-content.open {
    max-height: 1000px;
    opacity: 1;
    transform: scaleY(1);
}

/* common css for body and header end*/


/* ************************************************************************** */


/* header part section css start */
.header-row {
    margin: 0 !important;
    padding: 0 !important;
}

.search-div {
    text-align: right !important;
}

.search-header-search-icon {
    margin-bottom: 9px;
}

.search-btn {
    width: 115px;
    font-size: 15px;
    font-weight: 500;
    margin-right: 10px;
    height: 45px;
}

.addEdit-icon {
    margin-bottom: 3px;
}

/* header part section css end */



/* ************************************************************************** */


/* body part section css start */

.contain-flu {
    margin-left: -14px !important;
    margin-right: -13px !important;
}

.mat-card-header {
    display: flex !important;
    justify-content: space-between !important;
}

.heading-title {
    font-size: 20px;
    font-weight: 500;
}

.icon-size {
    font-size: 15px;
}

/* body part section css end */

.country-table-list {
    padding: 16px;
}

.table-container {
    height: auto;
    display: flex;
    flex-direction: column;
    overflow: auto;
    overflow-x: hidden !important;
}

table {
    min-width: 100%;
    border-collapse: collapse;
    /* border: 1px solid #ccc; */
}

.mat-header-row {
    background-color: white;
    z-index: 10;
}


.table-content-row {
    height: 70px;
}

.mat-card-content-border {
    border-radius: 10px;
}



/* body part section css end */

.team-table-list {
    padding: 16px;
}

.table-container {
    height: auto;
    display: flex;
    flex-direction: column;
    overflow: auto;
    overflow-x: hidden !important;
}

table {
    min-width: 100%;
    border-collapse: collapse;
    /* border: 1px solid #ccc; */
}

.mat-header-row {
    background-color: white;
    z-index: 10;
}


.table-content-row {
    height: 70px;
}

.mat-card-content-border {
    border-radius: 10px;
}
/* Node styling */


.node-header {
  background: #fff !important;    
  color: #000 !important;          
  border-bottom: 1px solid #000 !important;
  padding: 4px;
  border-radius: 3px;
  margin-top:20px;
  margin-left: 25px;
  border: 1px solid #ccc;
}
.p-organizationchart-line,
.p-organizationchart-connector {
  border-color: #000 !important;
  border-width: 1px !;
}

