.field-row {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 10px;
}

.field-label {
    font-weight: 600;
    color: #555;
}

.field-value {
    font-weight: 300;
}

.detail-row {
    display: flex;
    margin-bottom: 8px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
}

.label {
    min-width: 100px;
    font-weight: 600;
}

.colon {
    width: 30px;
    text-align: center;
    margin-left: 15px;
}

.value {
    flex: 1;
    margin-left: 10px;
}