@use "sass:map";
@use "@angular/material" as mat;

@include mat.tabs-overrides(
  (
    active-label-text-color: var(--mat-sys-primary),
    active-focus-label-text-color: var(--mat-sys-primary)
  )
);
.mdc-tab__text-label {
  font-weight: 900;
}
