@if (!item.navCap) {
@if (item.isVisible) {
<a class="cursor-pointer menuLink" style="border-radius: 10px;
    box-shadow:inset 0px 0px 5px 0px var(--mat-sys-primary);" (click)="onItemSelected(item)"
    (mouseenter)="onItemHover($event)" [ngClass]="{
              activeMenu: item.link ? router.isActive(item.link, true) : false
            }">
    <!-- <i-tabler class="routeIcon icon-18" name="{{ item.iconName }}"></i-tabler> -->
    <span style="white-space: nowrap">{{ item.displayName }}</span>
    @if (item.subMenu && item.subMenu.length) {
    <span class="down-icon d-flex m-l-auto">
        <mat-icon> expand_more </mat-icon>
    </span>
    }
</a>
}
}
@if (item.subMenu) {
<div class="childBox" id="childSubMenu">
    @for (child of item.subMenu; track child) {
    <app-horizontal-nav-item [depth]="getDepth()" [item]="child" class="ddmenu">
    </app-horizontal-nav-item>
    }
</div>
}