<ngx-spinner type="ball-clip-rotate-multiple" size="medium">
  <p class="loading">Loading...</p>
</ngx-spinner>
<div class="container">
  <div class="p-grid justify-content-center">
    <div class="p-col-12 p-md-6 p-lg-5 dashboard-box p-shadow-24">
      <div class="content">
        <div class="logo text-center">
          <img
            src="../../assets/img/loginlogo.jpg"
            alt="savbill Logo"
            class="savbilllogo"
          />
        </div>
        <p>Welcome {{ customerDetails.customerName }}..!</p>
        <button
          type="submit"
          (click)="logoutCustomer()"
          class="btn btn btn-outline-warning btn-sm logout-btn"
        >
          <i class="pi pi-chevron-left" style="font-size: 1rem"></i> Log Out
        </button>
        <div
          *ngIf="customerDetails.planType == 'Time'"
          class="p-grid text-start"
        >
          <div class="p-col-12 p-md-12 p-lg-12">
            Total Quota: {{ customerDetails.timeBasedTotalQuota
            }}{{ customerDetails.uom }}
          </div>

          <div class="p-col-12 p-md-12 p-lg-12">
            Remaining Quota: {{ customerDetails.timeBasedUnusedQuota
            }}{{ customerDetails.uom }}
          </div>

          <div class="p-col-12 p-md-12 p-lg-12">
            Plan Duration:
            {{ customerDetails.startDate | date: "d/M/yyyy HH:mm" }} -
            {{ customerDetails.endDate | date: "d/M/yyyy HH:mm" }}
          </div>
        </div>
        <div
          *ngIf="customerDetails.planType == 'Volume'"
          class="p-grid text-start"
        >
          <div class="p-col-12 p-md-12 p-lg-12">
            Total Quota: {{ customerDetails.volumeBasedTotalQuota
            }}{{ customerDetails.uom }}
          </div>

          <div class="p-col-12 p-md-12 p-lg-12">
            Remaining Quota: {{ customerDetails.volumeBasedUnusedQuota
            }}{{ customerDetails.uom }}
          </div>

          <div class="p-col-12 p-md-12 p-lg-12">
            Plan Duration:
            {{ customerDetails.startDate | date: "d/M/yyyy HH:mm" }} -
            {{ customerDetails.endDate | date: "d/M/yyyy HH:mm" }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
