<!-- Main form card -->

<!-- 
  <mat-dialog-actions>
    <button
      mat-flat-button
      color="primary"
      style="object-fit: cover; padding: 5px 8px"
      (click)="saveSelCustomerInvoice()"
    >
     <img src="assets/img/DashboardIcons/Assign.svg"> Save
    </button>
    <button mat-flat-button color="warn" class="btn-sm" (click)="modalCloseCustomerInvoice()">
      Close
    </button>
  </mat-dialog-actions> -->


<!-- Tax Details Dialog -->
<!-- <mat-dialog
  *ngIf="taxDetails"
  class="custom-dialog"
  [style.width.%]="80"
  [disableClose]="false"
  (closed)="closeTaxDetails()"
>
  <h2 mat-dialog-title>Tax Details</h2>
  <mat-dialog-content>
    <mat-table #dt [dataSource]="taxData" class="mat-elevation-z8" matSort>
      <ng-container matColumnDef="taxname">
        <mat-header-cell *matHeaderCellDef> Tax Name </mat-header-cell>
        <mat-cell *matCellDef="let tax"> {{ tax.taxname }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
        <mat-cell *matCellDef="let tax"> {{ tax.description }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="percentage">
        <mat-header-cell *matHeaderCellDef> Percentage% </mat-header-cell>
        <mat-cell *matCellDef="let tax"> {{ tax.percentage }}% </mat-cell>
      </ng-container>

      <ng-container matColumnDef="taxlevel">
        <mat-header-cell *matHeaderCellDef> Tax Level </mat-header-cell>
        <mat-cell *matCellDef="let tax"> {{ tax.taxlevel }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
        <mat-cell *matCellDef="let tax"> {{ tax.amount }} </mat-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="['taxname', 'description', 'percentage', 'taxlevel', 'amount']"
      ></mat-header-row>
      <mat-row
        *matRowDef="
          let row;
          columns: ['taxname', 'description', 'percentage', 'taxlevel', 'amount']
        "
      ></mat-row>
    </mat-table>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-flat-button color="warn" class="btn-sm" (click)="closeTaxDetails()">Close</button>
  </mat-dialog-actions>
</mat-dialog> -->



<!-- <div class="row">
  <div class="col-md-12">
    <div class="panel top">
      <div class="panel-heading">
        <h3 class="panel-title">Generate Credit Note</h3>
        <div class="right"></div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Credit Note</h3>
        <div class="right">
          <button
            type="button"
            class="btn-toggle-collapse"
            data-toggle="collapse"
            data-target="#creditNoteDeatils"
            aria-expanded="false"
            aria-controls="creditNoteDeatils"
          >
            <i class="fa fa-minus-circle"></i>
          </button>
        </div>
      </div>

      <div id="creditNoteDeatils" class="panel-collapse collapse in">
        <div class="panel-body">
          <form [formGroup]="paymentFormGroup">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <label>Customer*</label>
                <br />
                 <p-dropdown
                [options]="customerData"
                optionValue="id"
                optionLabel="name"
                [filter]="true"
                filterBy="name"
                placeholder="Select a Customer"
                formControlName="customerid"
                (onChange)="changeCustomer($event)"
                  [ngClass]="{
                    'is-invalid': submitted && paymentFormGroup.controls.customerid.errors
                  }"
              ></p-dropdown> 
              <p-dropdown
                [disabled]="true"
                [options]="parentCustList"
                [showClear]="true"
                [filter]="true"
                filterBy="name"
                formControlName="customerid"
                optionLabel="name"
                optionValue="id"
                placeholder="Select a Customer"
                styleClass="disableDropdown"
                >
                  <ng-template let-data pTemplate="item">
                    <div class="item-drop1">
                      <span class="item-value1"> {{ data.title }} {{ data.name }} </span>
                    </div>
                  </ng-template>
                </p-dropdown>
                <button
                  type="button"
                  (click)="modalOpenParentCustomer()"
                  class="btn btn-primary"
                  style="border-radius: 5px; padding: 5px 10px; line-height: 1.5; margin-left: 10px"
                >
                  <i class="fa fa-plus-square"></i>
                </button>
                @if (submitted && paymentFormGroup.controls.customerid.errors) {
                  <div class="errorWrap text-danger">
                    @if (submitted && paymentFormGroup.controls.customerid.errors.required) {
                      <div class="error text-danger">Customer is required.</div>
                    }
                  </div>
                }
                <br />
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <label>Invoice*</label>
                <br />
                <p-dropdown
                  [options]="invoiceList"
                  optionValue="id"
                  optionLabel="docnumber"
                  [filter]="true"
                  filterBy="docnumber"
                  placeholder="Select a Invoice"
                  formControlName="invoiceId"
                  styleClass="disableDropdown"
                  [ngClass]="{
                    'is-invalid': submitted && paymentFormGroup.controls.invoiceId.errors
                  }"
                  [disabled]="true"
                ></p-dropdown>
                <button
                  class="btn btn-primary"
                  style="border-radius: 5px; padding: 5px 10px; line-height: 1.5; margin-left: 10px"
                  (click)="modalOpenCustomerInvoice()"
                >
                  <i class="fa fa-plus-square"></i>
                </button>
                @if (submitted && paymentFormGroup.controls.invoiceId.errors) {
                  <div class="errorWrap text-danger">
                    @if (submitted && paymentFormGroup.controls.invoiceId.errors.required) {
                      <div class="error text-danger">Invoice is required.</div>
                    }
                  </div>
                }
                <br />
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <label>Amount*</label>
                <input
                  type="number"
                  step=".01"
                  class="form-control"
                  min="1"
                  placeholder="Enter Amount"
                  formControlName="amount"
                  [ngClass]="{
                    'is-invalid': submitted && paymentFormGroup.controls.amount.errors
                  }"
                  customDecimal
                  (keypress)="newOfferPriceValidation($event)"
                />
                @if (submitted && paymentFormGroup.controls.amount.errors) {
                  <div class="errorWrap text-danger">
                    @if (submitted && paymentFormGroup.controls.amount.errors.required) {
                      <div class="error text-danger">Amount is required.</div>
                    }
                    @if (submitted && paymentFormGroup.controls.amount.errors.pattern) {
                      <div class="error text-danger">Only numeric characters allowed.</div>
                    }
                  </div>
                }
                <br />
              </div>
              @if (paymentFormGroup.controls.paymentreferenceno.enabled) {
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <label>Credit Reference No</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Credit Reference No"
                    formControlName="paymentreferenceno"
                    [ngClass]="{
                      'is-invalid': submitted && paymentFormGroup.controls.paymentreferenceno.errors
                    }"
                  />
                  @if (submitted && paymentFormGroup.controls.paymentreferenceno.errors) {
                    <div class="errorWrap text-danger">
                      @if (
                        submitted && paymentFormGroup.controls.paymentreferenceno.errors.required
                      ) {
                        <div class="error text-danger">Credit Reference No is required.</div>
                      }
                    </div>
                  }
                  <br />
                </div>
              }
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <label>Reference No.*</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Reference No."
                  formControlName="referenceno"
                  [ngClass]="{
                    'is-invalid': submitted && paymentFormGroup.controls.referenceno.errors
                  }"
                />
                @if (submitted && paymentFormGroup.controls.referenceno.errors) {
                  <div class="errorWrap text-danger">
                    @if (submitted && paymentFormGroup.controls.referenceno.errors.required) {
                      <div class="error text-danger">Reference No. is required.</div>
                    }
                  </div>
                }
                <br />
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <label>Remark*</label>
                <textarea
                  class="form-control"
                  placeholder="Enter Remark"
                  rows="3"
                  formControlName="remark"
                  [ngClass]="{
                    'is-invalid': submitted && paymentFormGroup.controls.remark.errors
                  }"
                ></textarea>
                @if (submitted && paymentFormGroup.controls.remark.errors) {
                  <div class="errorWrap text-danger">
                    @if (submitted && paymentFormGroup.controls.remark.errors.required) {
                      <div class="error text-danger">Remark is required.</div>
                    }
                  </div>
                }
                <br />
              </div>
            </div>
            <div class="addUpdateBtn">
              <button type="submit" class="btn btn-primary" id="submit" (click)="addPayment('')">
                <i class="fa fa-check-circle"></i>
                Add Credit Note
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<p-dialog
  header="Select Customer Invoice"
  [(visible)]="selectCustomerInvoice"
  [modal]="true"
  [style]="{ width: '80%' }"
  [responsive]="true"
  [draggable]="false"
  [closable]="true"
  (onHide)="modalCloseCustomerInvoice()"
>
  <div class="modal-body">
    <h5 style="margin-top: 15px">Select Invoice</h5>
    <p-table
      #dt
      [value]="invoiceList"
      responsiveLayout="scroll"
      [(selection)]="selectedcustInvoice"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 5rem"></th>
          <th>Doc Number</th>
          <th>Created By</th>
          <th>Tax Amount</th>
          <th>Total Invoice</th>
          <th>Pending Amount</th>
          <th>Refundable Amount</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-prepaidParentCustomerList let-rowIndex="rowIndex">
        <tr>
          <td>
            <p-tableRadioButton [value]="prepaidParentCustomerList"></p-tableRadioButton>
          </td>
          <td>{{ prepaidParentCustomerList.docnumber }}</td>
          <td>{{ prepaidParentCustomerList.createdByName }}</td>
          <td>
            <a (click)="openTaxModal(prepaidParentCustomerList.id)">{{
              prepaidParentCustomerList.tax
            }}</a>
          </td>
          <td>{{ prepaidParentCustomerList.totalamount | number: "1.2-2" }}</td>
          @if (prepaidParentCustomerList.adjustedAmount == null) {
            <td>
              {{ prepaidParentCustomerList.totalamount | number: "1.2-2" }}
            </td>
          }
          @if (prepaidParentCustomerList.adjustedAmount != null) {
            <td>
              {{
                prepaidParentCustomerList.totalamount - prepaidParentCustomerList.adjustedAmount
                  | number: "1.2-2"
              }}
            </td>
          }
          <td>{{ prepaidParentCustomerList.refundAbleAmount | number: "1.2-2" }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="modal-footer">
    <div class="addUpdateBtn">
      <button
        style="object-fit: cover; padding: 5px 8px"
        class="btn btn-primary"
        (click)="saveSelCustomerInvoice()"
      >
        <i class="fa fa-check-circle"></i>
        Save
      </button>
      <button type="button" class="btn btn-danger btn-sm" (click)="modalCloseCustomerInvoice()">
        Close
      </button>
    </div>
  </div>
</p-dialog>
<p-dialog
  header="Tax Details"
  [(visible)]="taxDetails"
  [modal]="true"
  [style]="{ width: '80%' }"
  [responsive]="true"
  [draggable]="false"
  [closable]="true"
>
  <div class="modal-body">
    <p-table #dt [value]="taxData" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th>Tax Name</th>
          <th>Description</th>
          <th>Percentage%</th>
          <th>Tax Level</th>
          <th>Amount</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
        <tr>
          <td>{{ data.taxname }}</td>
          <td>{{ data.description }}</td>
          <td>{{ data.percentage }}%</td>
          <td>{{ data.taxlevel }}</td>
          <td>{{ data.amount }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="modal-footer">
    <div class="addUpdateBtn">
      <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
    </div>
  </div>
</p-dialog>

<p-dialog
  header="Select Customer"
  [(visible)]="selectParentCustomer"
  [modal]="true"
  [style]="{ width: '80%' }"
  [responsive]="true"
  [draggable]="false"
  [closable]="true"
  (onHide)="modalCloseParentCustomer()"
>
  <div class="modal-body">
    <h5>Search Customer</h5>
    <div class="row">
      <div class="col-lg-3 col-md-3 m-b-10">
        <p-dropdown
          (onChange)="selParentSearchOption($event)"
          [(ngModel)]="searchParentCustOption"
          [options]="searchOptionSelect"
          [filter]="true"
          filterBy="label"
          optionLabel="label"
          optionValue="value"
          placeholder="Select a Search Option"
        ></p-dropdown>
      </div>
      @if (
        parentFieldEnable &&
        searchParentCustOption != "status" &&
        searchParentCustOption !== "serviceareaName" &&
        searchParentCustOption !== "plan"
      ) {
        <div class="col-lg-3 col-md-3 m-b-10">
          <input
            [(ngModel)]="searchParentCustValue"
            class="form-control"
            id="username"
            placeholder="Enter Search Detail"
            type="text"
            (keydown.enter)="searchParentCustomer()"
          />
        </div>
      }
      @if (searchParentCustOption === "status") {
        <div class="col-lg-3 col-md-3 m-b-10">
          <p-dropdown
            [options]="commondropdownService.CustomerStatusValue"
            optionValue="CustomerStatusValue"
            optionLabel="text"
            filter="true"
            filterBy="text"
            placeholder="Select a Status"
            [(ngModel)]="searchParentCustValue"
          ></p-dropdown>
        </div>
      }

          @if (searchParentCustOption == 'serviceareaName') {
            <div class="col-lg-3 col-md-3 m-b-10">
              <p-dropdown
                [options]="commondropdownService.serviceAreaList"
                optionValue="id"
                optionLabel="name"
                filter="true"
                filterBy="name"
                placeholder="Select a Servicearea"
                [(ngModel)]="searchParentCustValue"
              ></p-dropdown>
            </div>
          }
          @if (searchParentCustOption == 'plan') {
            <div class="col-lg-3 col-md-3 m-b-10">
              <p-dropdown
                [options]="commondropdownService.postpaidplanData"
                optionValue="id"
                optionLabel="name"
                filter="true"
                filterBy="name"
                placeholder="Select a Plan"
                [(ngModel)]="searchParentCustValue"
              ></p-dropdown>
            </div>
          }
          @if (parentFieldEnable) {
            <div class="col-lg-6 col-md-6 col-sm-12">
              <button
                (click)="searchParentCustomer()"
                class="btn btn-primary"
                id="searchbtn"
                type="button"
                >
                <i class="fa fa-search"></i>
                Search
              </button>
              <button
                (click)="clearSearchParentCustomer()"
                class="btn btn-default"
                id="searchbtn"
                type="reset"
                >
                 <img src="assets/img/DashboardIcons/Refresh.svg" />
                Clear
              </button>
            </div>
          }
        </div>
        <h5 style="margin-top: 15px">Select Customer</h5>
        <p-table
          #dt
          [(selection)]="selectedParentCust"
          [value]="customerList"
          responsiveLayout="scroll"
          >
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 5rem"></th>
              <th>Name</th>
              <th>User Name</th>
            </tr>
          </ng-template>
          <ng-template let-customerList let-rowIndex="rowIndex" pTemplate="body">
            <tr>
              <td>
                <p-tableRadioButton [value]="customerList"></p-tableRadioButton>
              </td>
              <td>
                {{ customerList.name }}
                {{ customerList.lastname }}
              </td>
              <td>{{ customerList.username }}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            <p-paginator
              (onPageChange)="paginate($event)"
              [first]="newFirst"
              [rows]="parentCustomerListdataitemsPerPage"
              [totalRecords]="parentCustomerListdatatotalRecords"
            ></p-paginator>
          </ng-template>
        </p-table>
      </div>
      <div class="modal-footer">
        <div class="addUpdateBtn">
          <button
            (click)="saveSelCustomer()"
            [disabled]="this.selectedParentCust.length == 0"
            class="btn btn-primary"
            style="object-fit: cover; padding: 5px 8px"
            >
            <i class="fa fa-check-circle"></i>
            Save
          </button>
          <button (click)="modalCloseParentCustomer()" class="btn btn-danger btn-sm" type="button">
            Close
          </button>
        </div>
      </div>
     </div>
  </div>
</div> -->
<!-- </p-dialog> -->





<div class="container-fluid contain-flud">
    <div class="row">
        <div class="col-md-12">
            <mat-card class="cardWithShadow">
                <div class="dialog-header">Generate Credit Note</div>
                <mat-card-content class="mat-card-content-border">
                    <form [formGroup]="paymentFormGroup">
                        <div class="row">

                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <label for="statusSelect" class="inputLabel">Customer *</label>
                                <div class="d-flex">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-select id="statusSelect" class="input-p-5" placeholder="Select a Customer"
                                            formControlName="customerid" [ngClass]="{
                      'is-invalid': submitted && paymentFormGroup.controls.customerid.errors
                    }">
                                            <mat-option *ngFor="let opt of parentCustList" [value]="opt.id">
                                                {{ opt.title }} {{ opt.name }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error
                                            *ngIf="
                                                                                            (paymentFormGroup.controls.customerid.touched || submitted) &&
                                                                                            paymentFormGroup.controls.customerid.errors?.required                                                                                            ">
                                            Invoice is required.
                                        </mat-error>
                                    </mat-form-field>
                                    <button mat-icon-button color="primary" type="button"
                                        (click)="modalOpenParentCustomer()">
                                        <img src="assets/img/DashboardIcons/Add.svg">

                                    </button>

                                </div>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <label for="statusSelect" class="inputLabel">Invoice *</label>

                                <div class="d-flex">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-select class="input-p-5" formControlName="invoiceId"
                                            class="disableDropdown" placeholder="Select a Invoice" [ngClass]="{
                      'is-invalid': submitted && paymentFormGroup.controls.invoiceId.errors
                    }">
                                            <mat-option *ngFor="let invoice of invoiceList" [value]="invoice.id">
                                                {{ invoice.docnumber }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="
                                                          (paymentFormGroup.controls.invoiceId.touched || submitted) &&
                                                          paymentFormGroup.controls.invoiceId.errors?.required
                                                        ">
                                            Invoice is required.
                                        </mat-error>

                                    </mat-form-field>
                                    <button mat-icon-button color="primary" type="button"
                                        (click)="modalOpenCustomerInvoice()">
                                        <img src="assets/img/DashboardIcons/Add.svg">

                                    </button>

                                </div>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <label for="statusSelect" class="inputLabel">Amount *</label>
                                <div class="d-flex">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <input matInput class="input-p-5" type="number" placeholder="Enter Amount"
                                            formControlName="amount" step=".01" customDecimal
                                            (keypress)="newOfferPriceValidation($event)" [ngClass]="{
                      'is-invalid': submitted && paymentFormGroup.controls.amount.errors
                    }" />
                                        <mat-error *ngIf="
                      (paymentFormGroup.controls.amount.touched || submitted) &&
                      paymentFormGroup.controls.amount.errors?.required
                    ">
                                            Amount is required.
                                        </mat-error>
                                        <mat-error *ngIf="
                      (paymentFormGroup.controls.amount.touched || submitted) &&
                      paymentFormGroup.controls.amount.errors?.pattern
                    ">
                                            Only numeric characters allowed.
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div *ngIf="paymentFormGroup.controls.paymentreferenceno.enabled"
                                class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <label for="statusSelect" class="inputLabel">Reference No. *</label>
                                <div class="d-flex">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <input matInput class="input-p-5" type="text" placeholder="Credit Reference No"
                                            formControlName="paymentreferenceno" [ngClass]="{
                      'is-invalid': submitted && paymentFormGroup.controls.paymentreferenceno.errors
                    }" />
                                        <mat-error *ngIf="
                      (paymentFormGroup.controls.paymentreferenceno.touched || submitted) &&
                      paymentFormGroup.controls.paymentreferenceno.errors?.required
                    ">
                                            Credit Reference No is required.
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <label for="statusSelect" class="inputLabel">Reference No. *</label>
                                <div class="d-flex">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <input matInput class="input-p-5" type="text" placeholder="Enter Reference No."
                                            formControlName="referenceno" [ngClass]="{
                      'is-invalid': submitted && paymentFormGroup.controls.referenceno.errors
                    }" />
                                        <mat-error *ngIf="
                      (paymentFormGroup.controls.referenceno.touched || submitted) &&
                      paymentFormGroup.controls.referenceno.errors?.required
                    ">
                                            Reference No. is required.
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <label for="statusSelect" class="inputLabel">Remark*</label>
                                <div class="d-flex">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <textarea matInput class="input-p-5" placeholder="Enter Remark" rows="3"
                                            formControlName="remark" [ngClass]="{
                                                  'is-invalid': submitted && paymentFormGroup.controls.remark.errors
                                                }"></textarea>
                                        <mat-error *ngIf="
                                                  (paymentFormGroup.controls.remark.touched || submitted) &&
                                                  paymentFormGroup.controls.remark.errors?.required
                                                ">
                                            Remark is required.
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="addUpdateBtn">
                                <button mat-flat-button color="primary" type="submit" id="submit"
                                    (click)="addPayment('')">
                                    Add Credit Note
                                </button>
                            </div>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>



<!-- search customer dialog start -->
<ng-template #ParentCustomerList>
    <div class="dialog-container">
        <div class="dialog-header">
            Select Customer
            <span>
                <a mat-icon-button href="javascript:void(0)" (click)="modalCloseParentCustomer()">
                    <img src="assets/img/DashboardIcons/Reject.svg">
                </a>
            </span>
        </div>
        <div mat-dialog-content>
            <div class="row">
                <div class="col-md-4 m-t-10">
                    <mat-label class="inputLabel">Search Customer</mat-label>
                    <mat-form-field appearance="outline" class="w-100 input-box">
                        <mat-select [(ngModel)]="searchParentCustOption"
                            (selectionChange)="selParentSearchOption($event.value)"
                            placeholder="Select a Search Option">
                            <mat-option *ngFor="let option of searchOptionSelect" [value]="option.value">
                                {{ option.label }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                @if (
                searchParentCustOption && searchParentCustOption !== 'status' && searchParentCustOption !==
                'serviceareaName' &&
                searchParentCustOption !== 'plan'
                ) {
                <div class="col-md-4 m-t-10">
                    <mat-label class="inputLabel">Enter Search Detail</mat-label>
                    <mat-form-field appearance="outline" class="w-100 input-box">
                        <input id="countryname" class="input-p-5" matInput placeholder="Enter Search Detail" type="text"
                            (keydown.enter)="searchParentCustomer()" [(ngModel)]="searchParentCustValue" />
                    </mat-form-field>

                </div>
                }
                @if (searchParentCustOption === 'status') {
                <div class="col-md-4 m-t-10">
                    <mat-label class="inputLabel">Status</mat-label>
                    <mat-form-field appearance="outline" class="w-100 input-box">
                        <mat-select [(ngModel)]="searchParentCustValue"
                            (selectionChange)="selParentSearchOption($event.value)" placeholder="Select a Status">
                            <mat-option *ngFor="let option of commondropdownService.CustomerStatusValue"
                                [value]="option.value">
                                {{ option.text }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                }

                @if (searchParentCustOption === 'serviceareaName') {
                <div class="col-md-4 m-t-10">
                    <mat-label class="inputLabel">Servicearea Name</mat-label>
                    <mat-form-field appearance="outline" class="w-100 input-box">
                        <mat-select [(ngModel)]="searchParentCustValue"
                            (selectionChange)="selParentSearchOption($event.value)" placeholder="Select a Servicearea">
                            <mat-option *ngFor="let option of commondropdownService.serviceAreaList"
                                [value]="option.id">
                                {{ option.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                }

                @if (searchParentCustOption === 'plan') {
                <div class="col-md-4 m-t-10">
                    <mat-label class="inputLabel">Plan</mat-label>
                    <mat-form-field appearance="outline" class="w-100 input-box">
                        <mat-select [(ngModel)]="searchParentCustValue" placeholder="Select a Servicearea">
                            <mat-option *ngFor="let option of commondropdownService.postpaidplanData"
                                [value]="option.id">
                                {{ option.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                }

                @if (parentFieldEnable) {
                <div class="col-md-4 btn-set">
                    <button (click)="searchParentCustomer()" class="button-normal" mat-button mat-flat-button
                        color="primary" id="searchbtn" type="button">Search
                    </button>
                    <button (click)="clearSearchParentCustomer()" mat-stroked-button matButton="outlined"
                        class="button-normal m-l-10" id="searchbtn" type="reset">
                        Clear
                    </button>
                </div>
                }
            </div>


            <mat-card-content class="mat-card-content-border">
                <div class="country-table-list">
                    <div class="table-container">
                        <div class="col-md-12">
                            <div class="inputLabel">Select Customer</div>
                            <table mat-table [dataSource]="customerList" matSort class="mat-elevation-z8 w-100">
                                <ng-container matColumnDef="select">
                                    <th mat-header-cell *matHeaderCellDef class="table-header-title"></th>

                                    <td mat-cell *matCellDef="let c" style="text-align: center">
                                        <mat-radio-group [(ngModel)]="selectedParentCust">
                                            <mat-radio-button [value]="c"></mat-radio-button>
                                        </mat-radio-group>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="Name">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header-title"
                                        sticky>
                                        Name
                                    </th>
                                    <td mat-cell *matCellDef="let c" class="f-s-14">
                                        {{ c.name }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="l-name">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header-title"
                                        sticky>
                                        Last Name
                                    </th>
                                    <td mat-cell *matCellDef="let c" class="f-s-14">
                                        {{ c.lastname }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="username">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header-title"
                                        sticky>
                                        User Name
                                    </th>
                                    <td mat-cell *matCellDef="let c" class="f-s-14">
                                        {{ c.username }}
                                    </td>
                                </ng-container>

                                <tr mat-header-row class="table-header-bg"
                                    *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                <tr mat-row class="table-content-row" *matRowDef="let row; columns: displayedColumns">
                                </tr>
                            </table>

                            <mat-paginator [length]="parentCustomerListdatatotalRecords"
                                [pageSize]="parentCustomerListdataitemsPerPage" (page)="paginate($event)"
                                [pageSizeOptions]="[5, 10, 20, 50, 100]" showFirstLastButtons>
                            </mat-paginator>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </div>
        <div mat-dialog-actions class="p-0 m-t-10 dialog-action-adjust">
            <button mat-button mat-flat-button color="primary" class="button-normal" type="submit"
                (click)="saveSelCustomer()" [disabled]="this.selectedParentCust.length == 0">
                Save
            </button>
            <button mat-stroked-button matButton="outlined" type="button" color="primary" class="button-normal"
                (click)="modalCloseParentCustomer()">
                Cancel
            </button>
        </div>
    </div>
</ng-template>
<!-- search customer dialog end -->


<!-- select customer invoice dialog start -->
<ng-template #CustomerInvoice>
    <div class="dialog-container">
        <div class="dialog-header">
            Select Customer Invoice
            <span>
                <a mat-icon-button href="javascript:void(0)" (click)="modalCloseCustomerInvoice()">
                    <img src="assets/img/DashboardIcons/Reject.svg">
                </a>
            </span>
        </div>
        <mat-card-content class="mat-card-content-border">
            <div class="country-table-list">
                <div class="table-container">
                    <div class="col-md-12">
                        <div class="inputLabel">Select Customer Invoice</div>
                        <table mat-table [dataSource]="invoiceList" matSort class="mat-elevation-z8 w-100">

                            <ng-container matColumnDef="select">
                                <th mat-header-cell *matHeaderCellDef class="table-header-title"></th>
                                <td mat-cell *matCellDef="let c" style="text-align: center">
                                    <mat-radio-group [(ngModel)]="selectedcustInvoice">
                                        <mat-radio-button [value]="c"></mat-radio-button>
                                    </mat-radio-group>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="docnumber">
                                <th mat-header-cell *matHeaderCellDef class="table-header-title">Doc Number
                                </th>
                                <td mat-cell *matCellDef="let invoice" class="f-s-14">
                                    {{ invoice.docnumber }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="createdByName">
                                <th mat-header-cell *matHeaderCellDef class="table-header-title">Created By</th>
                                <td mat-cell *matCellDef="let invoice" class="f-s-14">
                                    {{ invoice.createdByName }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="tax">
                                <th mat-header-cell *matHeaderCellDef class="table-header-title">Tax Amount</th>
                                <td mat-cell *matCellDef="let invoice" class="f-s-14">
                                    <a (click)="openTaxModal(invoice.id)">{{ invoice.tax }}</a>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="totalamount">
                                <th mat-header-cell *matHeaderCellDef class="table-header-title">
                                    Total Invoice
                                </th>
                                <td mat-cell *matCellDef="let invoice" class="f-s-14">
                                    {{ invoice.totalamount | number: "1.2-2" }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="pendingAmount">
                                <th mat-header-cell *matHeaderCellDef class="table-header-title">
                                    Pending Amount
                                </th>
                                <td mat-cell *matCellDef="let invoice" class="f-s-14">
                                    {{
                                    invoice.adjustedAmount == null
                                    ? (invoice.totalamount | number: "1.2-2")
                                    : (invoice.totalamount - invoice.adjustedAmount | number: "1.2-2")
                                    }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="refundAbleAmount">
                                <th mat-header-cell *matHeaderCellDef class="table-header-title">
                                    Refundable Amount
                                </th>
                                <td mat-cell *matCellDef="let invoice" class="f-s-14">
                                    {{ invoice.refundAbleAmount | number: "1.2-2" }}
                                </td>
                            </ng-container>
                            <tr mat-header-row class="table-header-bg"
                                *matHeaderRowDef="displayedColumns1; sticky: true"></tr>
                            <tr mat-row class="table-content-row" *matRowDef="let row; columns: displayedColumns1"></tr>
                        </table>
                    </div>
                </div>
            </div>
        </mat-card-content>
        <div mat-dialog-actions class="p-0 m-t-10 dialog-action-adjust">
            <button mat-button mat-flat-button color="primary" class="button-normal" type="submit"
                (click)="saveSelCustomerInvoice()">
                Save
            </button>
            <button mat-stroked-button matButton="outlined" type="button" color="primary" class="button-normal"
                (click)="modalCloseCustomerInvoice()">
                Cancel
            </button>
        </div>
    </div>
</ng-template>
<!-- select customer invoice dialog end -->