@if (isShowMenu) {
<ng-container >
  <div class="row" >
    <div class="col-md-12">
      <mat-card class="cardWithShadow w-100">
          <div class="row">

            @if (independentAAA) {
              <div class="col-md-3 custom">
                <button
                    mat-button
                    mat-flat-button
                    color="primary"
                    class="button-normal"
                    [routerLink]="['/home/radiuscustomer/radiuscreatecustomer']"
                >
                    Create Radius Customer
                </button>

                @if (isShowCreateView) {
                    <div class="activeSubMenu"></div>
                }
                </div>

              <div class="col-md-6 custom">
                <button
                    mat-button
                    mat-flat-button
                    color="primary"
                    class="button-normal"
                    [routerLink]="['/home/radiuscustomer/list']"
                >
                    Search Radius Customer
                </button>

                @if (isShowListView) {
                    <div class="activeSubMenu"></div>
                }
                </div>
            }
          </div>
      </mat-card>
    </div>
  </div>
</ng-container>
}

<!-- @if (isShowMenu) {
  <div class="row">
    <div class="col-md-12">
    
      <div class="panel top">
        <div class="panel-heading">
          <h3 class="panel-title">Radius Customer Management</h3>
          <div class="right">
            <button
              type="button"
              class="btn-toggle-collapse"
              data-toggle="collapse"
              data-target="#radiusCustomerSearchPanel"
              aria-expanded="false"
              aria-controls="radiusCustomerSearchPanel"
              >
              <i class="fa fa-minus-circle"></i>
            </button>
          </div>
        </div>
        @if (independentAAA) {
          <div class="panel-collapse collapse in" id="searchPreCust">
            <div class="panel-body no-padding panel-udata">
              <div [ngClass]="'col-md-6'" class="pcol">
                <div>
                  <a
                    [routerLink]="['/home/radiuscustomer/radiuscreatecustomer']"
                    class="curson_pointer"
                    href="javascript:void(0)"
                    class="dbox"
                    >
                    <img src="../../../assets/img/i01.png" style="width: 32px" />
                    <h5>Create Radius Customer</h5>
                  </a>
                  @if (isShowCreateView) {
                    <div
                [ngClass]="{
                  activeSubMenu: true
                }"
                    ></div>
                  }
                </div>
              </div>
              <div [ngClass]="'col-md-6'" class="pcol">
                <div>
                  <a
                    [routerLink]="['/home/radiuscustomer/list']"
                    class="curson_pointer"
                    href="javascript:void(0)"
                    class="dbox"
                    >
                    <img src="../../../assets/img/i01.png" style="width: 32px" />
                    <h5>Search Radius Customer</h5>
                  </a>
                  @if (isShowListView) {
                    <div
                [ngClass]="{
                  activeSubMenu: true
                }"
                    ></div>
                  }
                </div>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
} -->

<router-outlet> </router-outlet>
