.myclass {
    border: 1px solid #dadad6;
    text-align: center;
}

.staggImg {
    height: 150px;
    border-radius: 70px;
    max-height: 150px;
}

.field-row {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 10px;
    margin-bottom: 20px !important;
}

.field-label {
    font-weight: 600;
    color: #555;
}

.field-value {
    font-weight: 300;
}

.detail-row {
    display: flex;
    margin-bottom: 8px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
}

.label {
    min-width: 100px;
    font-weight: 600;
}

.colon {
    width: 30px;
    text-align: center;
}

.value {
    flex: 1;
}

.service-area-container {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.service-item {
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 14px;
    word-break: normal;
}