/* You can add global styles to this file, and also import other style files */

@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

/* @import "~@ng-select/ng-select/themes/material.theme.css"; */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.sidebar .nav i {
  margin-right: 4px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a .icon {
  width: 30px;
  height: 30px;
}

a .icon-ex {
  width: 40px;
  height: 35px;
}

label {
  font-size: 14px;
}

.menu-button {
  top: 0;
  left: 0;
  z-index: 1000;
  position: fixed;
}

.right {
  padding-left: 5px !important;
}

.left {
  padding-right: 5px !important;
}

.top {
  margin-bottom: 10px !important;
}

.searchbtn {
  text-align: center;
}

.searchForm .searchbtn button {
  margin: 0.5%;
}

.childComponent {
  background-color: #dddddd;
}

.example-full-width {
  width: 100%;
  height: 10%;
}

.addUpdateBtn {
  text-align: center;
}

.btnAction a {
  margin-right: 3px;
}

.wlan-guest-box {
  border-right: none !important;
}

.is-active {
  border-bottom: 5px solid #f7b206;
}

.p-accordion-content {
  max-height: 400px;
  overflow-y: auto;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: #ffffff;
  border-color: #f7b206 !important;
  color: #f7b206 !important;
}

.p-tabview .p-tabview-nav li {
  margin-right: 0;
  width: 50%;
}

.p-button {
  background-color: #f7b206 !important;
  border-color: #f7b206 !important;
}

.p-button.p-button-text {
  color: #000 !important;
}

.p-component {
  font-size: 1.5rem !important;
}

.p-dialog .p-dialog-header .p-dialog-title {
    font-size: 1.5rem !important;
    color: #000;
}

.p-dialog .p-dialog-header {
    background: #f7b206 !important;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    color: #000;
}

.p-dialog.p-confirm-dialog .p-confirm-dialog-message {
    margin-left: 1rem;
    margin-top: 1rem;
}

.p-dialog.p-confirm-dialog .p-confirm-dialog-icon {
    font-size: 2rem;
    margin-top: 1rem;
}

.p-inputtext {
  font-size: 14px !important;
}

.p-dropdown {
  width: 100%;
  height: 100%;
  background: #fcfcfc !important;
  box-shadow: 0px 1px 2px 0 rgb(0 0 0 / 10%) !important;
  border-color: #eaeaea !important;
}

.p-multiselect {
  width: 100% !important;
}

.panel .table > thead > tr > td:first-child,
.panel .table > thead > tr > th:first-child,
.panel .table > tbody > tr > td:first-child,
.panel .table > tbody > tr > th:first-child,
.panel .table > tfoot > tr > td:first-child,
.panel .table > tfoot > tr > th:first-child {
  padding-left: 8px;
}

.popover {
  font-size: 15px;
}

.popover-title {
  font-size: 15px;
}

.popover
  .confirm-btns
  .confirm-btn-container
  .btn.btn-block.btn-outline-secondary {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.popover .confirm-btns .confirm-btn-container .btn.btn-block.btn-danger {
  transition: none;
  color: white;
  /* background-color: yellow ; */
  background-color: #f7b206 !important;
  border-color: #f7b206 !important;
}

.ngx-pagination .current {
  background-color: #f7b206 !important;
}

.ngx-pagination > li {
  border: 1px solid #ddd !important;
}

.ngx-pagination {
  padding-left: 0;
}

.sidebar .nav > li > a[data-toggle="collapse"] .icon-submenu {
  float: right;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

table td {
  word-wrap: break-word !important;
}

#searchbtn {
  margin-left: 5px;
}

.detailOnAnchorClick {
  cursor: pointer;
}

td a:hover {
  color: #f7b206;
}

.map-table {
  border: 1px solid #ddd !important;
  max-height: 300px;
  overflow: auto;
}

table.map-table tbody {
  max-height: 300px;
  overflow: auto;
  display: block;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

#viewDetail {
  word-wrap: break-word;
}

.invalid-feedback {
  color: red;
}

.is-invalid {
  border: 1px solid red !important;
  padding-bottom: 8px;
  padding-top: 8px;
}

.p_multiSelect_isInvalid {
  border: 1px solid red !important;
  padding-bottom: 7px;
  padding-top: 9px;
}

.is_invalidNGSelecet {
  border: 1px solid red !important;
}

.selected-row-background {
  background-color: #dddddd;
}

.remove-row-background {
  background-color: white;
}

.modal-header {
  background: #f7b206 !important;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.statusbtn {
  margin-right: 3px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* per page list of item */

#itemPerPageDropdown .p-dropdown {
  border-radius: 0px;
  margin-left: 1rem;
  height: 27px;
}

#itemPerPageDropdown .p-dropdown .p-dropdown-label {
  color: black;
  font-weight: 400;
  margin-top: -3px;
}

#itemPerPageDropdown .p-dropdown .p-dropdown-panel {
  top: -167px !important;
}

.table-responsive {
  min-height: 0.01%;
  overflow-x: inherit;
}

/* ............//.................. */

/* ............//.................. */

.boxWhite {
  border: 2px solid #ddd;
  background: white !important;
  border-radius: 4px;
  padding: 1.5rem;
}

legend {
  width: auto !important;
  display: block;
  padding-inline-start: 2px !important;
  padding-inline-end: 2px !important;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  margin-bottom: 0;
  font-size: 21px;
  line-height: inherit;
  color: #7f7b7bed;
}

fieldset {
  margin-top: 3.5rem;
  display: block;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  min-inline-size: min-content;
  border-width: 2px;
  border-style: solid;
  border-color: #ddd;
  border-radius: 4px;
  background-color: rgb(176 172 172 / 14%);
}

/* input type number CSS */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* ................//............. */

/* submenu.......... */
.panel-udata .pcol .dbox a {
  display: flex;
}

.dbox h5 {
  font-weight: 500;
  margin-bottom: 0px;
  font-size: 17px;
  margin-left: 2rem;
}

.pcol .dbox {
  display: flex;
}
/* ....... / / ..... */

/* .............input date placeholder.........  */
input[type="date"]::before {
  content: attr(placeholder);
  position: absolute;
  color: #999999;
}

input[type="date"] {
  color: #ffffff;
}

input[type="date"]:focus,
input[type="date"]:valid {
  color: #666666;
}

input[type="date"]:focus::before,
input[type="date"]:valid::before {
  content: "";
}

/* ....... / / ..... */
/*............... resposive template........... */
.datalbl {
  margin-right: 5px;
  font-weight: bold;
}

.top1rem {
  margin-top: 0px;
}
.displayView {
  display: block;
}
.mobileViewBlock {
  display: none;
}

.p-accordion-header-text {
  line-height: 1 !important;
}

.ng-tns-c2-0.p-toast.p-component.p-toast-top-right {
  width: 20vw !important;
}

.loginModal {
  width: 35%;
}

.marginTop280pxsize {
  margin-top: 0px;
}
.pcol .dbox {
  min-height: 47px;
  display: flex;
}

.btnStyle.btn {
  line-height: 22px;
}
.btnStyle.btn i {
  font-size: 14px;
  padding-right: 2px;
}

.dbox h5 {
  margin-left: 1.5rem;
  color: #5f5f5f;
  margin-top: 7px;
  font-weight: 500;
  margin-bottom: 0px;
  font-size: 17px;
}
.pcol .dbox a img {
  width: 30px !important;
  height: 30px !important;
}
.panel-udata .pcol {
  padding: 5px 5px 0;
}
.activeSubMenu {
  border-bottom: 3px solid #f7b206 !important;
}

@media only screen and (max-width: 1536px) {
  .pcol .dbox {
    min-height: 36px;
  }
  .pcol .dbox a img {
    width: 24px !important;
    height: 25px !important;
  }
  .pcol .dbox a i {
    font-size: 2rem !important;
  }
  .dbox h5 {
    font-weight: 500;
    margin-bottom: 0px;
    font-size: 17px;
    margin-left: 1rem;
    margin-top: 2px;
  }
}
@media only screen and (max-width: 1397px) {
  .dbox h5 {
    font-weight: 500;
    margin-bottom: 0px;
    font-size: 13px;
  }

  .pcol .dbox a img {
    vertical-align: middle;
    width: 17px !important;
    height: 17px !important;
  }
}

@media only screen and (max-width: 1280px) {
  .ng-tns-c2-0.p-toast.p-component.p-toast-top-right {
    width: 30% !important;
  }

  .vertical-align-wrap {
    position: absolute;
    width: 47%;
    height: 100%;
    display: table;
  }
  .auth-box {
    width: 70% !important;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 991px) {
  .mobileViewBlock {
    display: block;
  }
  .displayView {
    display: none;
  }
  legend {
    font-size: 18px;
  }
  .panel .panel-heading .panel-title {
    font-size: 28px;
  }
  span b {
    line-height: 1;
    font-weight: 500;
  }
  .top1rem {
    margin-top: 1rem;
  }
  .auth-box {
    width: 70% !important;
    margin: 0 auto;
  }
  .vertical-align-wrap {
    position: absolute;
    width: 60%;
    height: 100%;
    display: table;
  }
}
.flexMobileInput {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: end;
}

.inputTxt {
  width: 100%;
  padding: 5px;
  border: 1px solid #c1c1c1;
  border-radius: 3px;
  font-size: 16px;
}

@media only screen and (max-width: 767px) {
  .loginModal {
    width: 80%;
    margin: 10px auto;
  }
  .ng-tns-c2-0.p-toast.p-component.p-toast-top-right {
    width: 50% !important;
  }
  .table-responsive {
    border: none;
  }
  .auth-box {
    width: 80% !important;
    margin: 0 auto;
  }
  .vertical-align-wrap {
    position: absolute;
    width: 70%;
    height: 100%;
    display: table;
  }

  .flexMobileInput {
    display: flex;
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .loginModal {
    width: 90%;
    margin: 10px auto;
  }
  .ng-tns-c2-0.p-toast.p-component.p-toast-top-right {
    width: 70% !important;
  }

  .auth-box {
    width: 90% !important;
    margin: 0 auto;
  }

  .vertical-align-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    display: table;
  }

  .panel .right {
    position: absolute;
    right: 4px;
    top: 28%;
  }

  h3.panel-title {
    width: 95%;
    line-height: 1.3;
  }
}

@media only screen and (max-width: 400px) {
  .p-accordion-header-text {
    line-height: 1.7 !important;
  }
  legend {
    font-size: 17px;
  }
  .panel .panel-heading .panel-title {
    font-size: 25px;
  }
  span b {
    line-height: 2;
    font-weight: 500;
  }
  .marginTop280pxsize {
    margin-top: 10px;
  }
}
.clear280btn {
  margin-top: 0;
}
@media only screen and (max-width: 280px) {
  .clear280btn {
    margin-top: 1rem;
  }
  #searchbtn {
    margin-left: 0;
  }
}

/* navbar */

.navbar + .main-content {
  padding: 0px !important;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 0px;
  border: none;
  border-radius: 0;
  margin-bottom: 0px;
  box-shadow: none;
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
  font-size: 24px;
  padding: 0px 8px;
  line-height: 0.7;
  background: none;
  margin-top: 0px;
}

/* ---------------------------------------------------
  SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  perspective: 1500px;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  transition: all 0.6s cubic-bezier(0.945, 0.02, 0.27, 0.665);
  transform-origin: bottom left;
}

#sidebar.active {
  margin-left: -250px;
  transform: rotateY(0deg);
}

#sidebar .sidebar-header {
  padding: 20px;
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul p {
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

/* ---------------------------------------------------
  CONTENT STYLE
----------------------------------------------------- */
#content {
  width: 100%;
  padding: 15px 0;
  min-height: 100vh;
  transition: all 0.3s;
}

#sidebarCollapse {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

#sidebarCollapse span {
  width: 80%;
  height: 2px;
  margin: 0 auto;
  display: block;
  transition: all 0.8s cubic-bezier(0.81, -0.33, 0.345, 1.375);
  transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
  transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
  opacity: 0;
}
#sidebarCollapse span:last-of-type {
  transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
  transform: none;
  opacity: 1;
  margin: 5px auto;
}

/* ---------------------------------------------------
  MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 991px) {
  #sidebar {
    margin-left: -250px;
    transform: rotateY(0deg);
  }
  #sidebar.active {
    margin-left: 0;
    transform: none;
  }
  #sidebarCollapse span:first-of-type,
  #sidebarCollapse span:nth-of-type(2),
  #sidebarCollapse span:last-of-type {
    transform: none;
    opacity: 1;
    margin: 5px auto;
  }
  #sidebarCollapse.active span {
    margin: 0 auto;
  }
  #sidebarCollapse.active span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
  }
  #sidebarCollapse.active span:nth-of-type(2) {
    opacity: 0;
  }
  #sidebarCollapse.active span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
  }
}

.leftSide {
  float: left;
}
.rightSide {
  float: right;
  width: 100%;
}

.scroll {
  overflow: scroll;
  height: 100vh;
  overflow-x: hidden;
}

.clear {
  clear: both;
}

footer {
  position: inherit;
  /* bottom: 0; */
  right: 0;
  padding-top: 0px;
  padding-bottom: 0;
  margin-bottom: -10px;
}

/* ............//.............. */
.panel .table > thead > tr > td:first-child,
.panel .table > thead > tr > th:first-child,
.panel .table > tbody > tr > td:first-child,
.panel .table > tbody > tr > th:first-child,
.panel .table > tfoot > tr > td:first-child,
.panel .table > tfoot > tr > th:first-child {
  padding-left: 0px;
}

#accordion .panel {
  margin-bottom: 0;
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
/* ......Modal............ */
.modal-backdrop {
  position: inherit;
}

.fade.in {
  opacity: 1;
  background: rgb(0 0 0 / 61%) !important;
}

.statusbtnTicket {
  border-radius: 20px;
  cursor: default;
  padding: 1px 7px !important;
  margin-left: 3px;
}

#itemPerPageDropdown .p-dropdown {
  border-radius: 0px;
  margin-left: 1rem;
  height: 27px;
}

#itemPerPageDropdown .p-dropdown .p-dropdown-label {
  color: black;
  font-weight: 400;
  margin-top: -3px;
}

#itemPerPageDropdown .p-dropdown .p-dropdown-panel {
  top: -167px !important;
}
.pagination_Dropdown {
  display: flex;
}

.btn {
  border-radius: 25px;
}

@media only screen and (max-width: 1920px) {
  .btnAction a img {
    height: 25px !important;
    width: 25px !important;
  }
}

.p-rating .p-rating-icon {
  font-size: 2rem !important;
}
.p-rating .p-rating-icon.pi-star {
  color: #f7b206 !important;
}

.p-toast {
  z-index: 10001 !important;
}

.badge {
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 500;
  min-width: 75px;
}
.badge.badge-success {
  color: #fff;
  background-color: #28a745;
}
.badge.badge-danger {
  color: #fff;
  background-color: #dc3545;
}
.badge.badge-info {
  color: #fff;
  background-color: #17a2b8;
}

.dataGroup {
  margin-bottom: 10px;
}
.dataGroup.m-0 {
  margin-bottom: 0;
}

.disabledCustSubmenu {
  background: #eee;
  opacity: 0.5;
  cursor: not-allowed;
}

.disabledCustSubmenu a {
  cursor: not-allowed;
}

audio,
video,
canvas,
progress {
   width: 246px !important;
}

.btn:active:focus,
.btn:focus {
  outline: 0 !important;
}
.p-panel .p-panel-content {
  height: 100%;
  margin-bottom: 20px;
}
.padding-non {
  padding: 0;
}

.custTable.p-datatable .p-datatable-thead > tr > th {
  font-weight: bold;
  color: #676a6d;
  background: transparent;
  word-break: break-word;
  font-size: 14px;
  font-family: Roboto, Helvetica Neue, sans-serif;
}

.custTable.p-datatable table {
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 14px;
}

.staggImg {
  border-radius: 73px;
  height: 138px;
  width: 138px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #ddd;
}

.backbtn {
  box-shadow: none !important;
  margin-right: 1.5rem;
}

input[type="checkbox"][readonly] {
  pointer-events: none;
}

.myclass {
  border: 1px solid #dadad6;
  text-align: center;
}

.checkBoxMainWrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.checkBoxWrap {
  margin-right: 15px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkBoxWrap label {
  margin-bottom: 0;
  margin-left: 10px;
}

.chipsInttxt .p-chips {
  display: block;
  width: 100%;
}

.chipsInttxt .p-chips .p-inputtext {
  padding: 6px 12px;
  font-size: 14px !important;
  color: #555;
  border: 1px solid #ccc;
  background: none;
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.chipsInttxt .p-chips .p-chips-token {
  margin-bottom: 5px;
}
.p-badge.p-badge-success {
  background-color: #22c55e !important;
  color: #ffffff;
}
.p-badge.p-badge-xl {
  font-size: 2.5rem !important;
  min-width: 3rem;
  height: auto !important;
  padding: 10px !important;
  line-height: 3rem;
}

/* Button Group Switch
   ========================================================================== */

.switch {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.switch-button {
  /* background and border when in "off" state */
  background: #f7b206;
  border: 2px solid #f7b206;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 6px;
  color: #ffffff;
  position: relative;
  cursor: pointer;
  outline: 0;
  user-select: none;
}

.switch-input:not(:checked) + .switch-button .switch-button-left {
  /* text color when in "off" state */
  color: #f7b206;
}

.switch-input {
  display: none;
}

.switch-button span {
  font-size: 1.5rem;
  padding: 0.2rem 0.7rem;
  text-align: center;
  z-index: 2;
  color: #ffffff;
  transition: color 0.2s;
}

.switch-button::before {
  content: "";
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  z-index: 1;
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1), padding 0.2s ease,
    margin 0.2s ease;
}

.switch-button:hover::before {
  will-change: padding;
}

.switch-button:active::before {
  padding-right: 0.4rem;
}

/* "On" state
   ========================== */

.switch-input:checked + .switch-button {
  /* background and border when in "on" state */
  background-color: #606060;
  border-color: #606060;
}

.switch-input:checked + .switch-button .switch-button-right {
  /* text color when in "on" state */
  color: #606060;
}

.switch-input:checked + .switch-button::before {
  left: 50%;
}

.switch-input:checked + .switch-button:active::before {
  margin-left: -0.4rem;
}

/* Checkbox in disabled state
   ========================== */

.switch-input[type="checkbox"]:disabled + .switch-button {
  opacity: 0.6;
  cursor: not-allowed;
}

a:focus {
  outline: 0;
}
/* tabel */
.gridtable tbody {
  display: block;
  max-height: 266px;
  overflow-y: scroll;
}

.gridtable thead,
.gridtable tbody tr {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.gridtable thead {
  width: calc(100% - 1.1em);
}

.gridtable thead {
  position: relative;
}

.gridtable thead th:last-child:after {
  content: " ";
  position: absolute;
  background-color: #337ab7;
  height: 38px;
  right: -1.3em;
  top: 0;
  border-bottom: 2px solid #ddd;
}

.gridtable .table > thead > tr > th {
  text-align: center;
}

.p-multiselect.p-disabled {
  opacity: 1;
  background: #eee !important;
}

/*  */

.inputcheckboxCenter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.inputcheckbox {
  background: #ffffff;
  width: 20px;
  height: 20px;
  color: #495057;
  border-radius: 3px;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
  border: 2px solid #ced4da;
}

.p-dropdown.p-disabled {
  opacity: 1;
  background: #eee !important;
}

.disableDropdown.p-dropdown {
  width: calc(100% - 90px) !important;
}

.disabledCustSubmenu {
  background: #eee;
  opacity: 0.5;
  cursor: not-allowed;
}

.disabledCustSubmenu a {
  cursor: not-allowed;
}

.p-radiobutton .p-radiobutton-box.p-highlight {
  border-color: #f7b206 !important;
  background: #f7b206 !important;
}

.p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
  width: 5px !important;
  height: 5px !important;
  transition-duration: 0.2s;
  background-color: #ffffff;
}

.p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
  border-color: #f7b206 !important;
}

#deletecharge .p-datepicker table {
  border-collapse: collapse;
  width: 100% !important;
}

#deletecharge .p-datepicker table th {
  padding: 0.5rem;
  text-align: center;
}

.approve-btn {
  box-shadow: none;
  border: none;
  padding: 0 4px 0 0;
}

.approve-btn[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.yellowBtn {
  background-color: #f7b206 !important;
  font-size: 16px;
  padding: 3px 12px;
  margin: 10px 12px 10px 0;
  border: none;
  color: white;
  font-weight: 400;
  border-radius: 14px;
  min-width: 80px;
}
i.fa.fa-eye {
  cursor: pointer;
}

i.fa.fa-eye-slash {
  cursor: pointer;
}

/* ....................... */
a:focus {
  outline: 0;
}

.p-multiselect-label {
  cursor: pointer;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal !important;
  height: 32px !important;
}

/* ....................... */

/* .p-dropdown {
  margin-bottom: 2rem;
} */

.customerplanShowCSS {
  display: block;
}

.customerplanHideCSS {
  display: none;
}

.leadplanShowCSS {
  display: block;
}

.leadplanHideCSS {
  display: none;
}

.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 1px solid #ddd;
}

.p-dropdown .p-dropdown-label.p-placeholder {
  color: #999 !important;
}

.stffMvnoEditCSS {
  display: none;
}

/* ....... / / ..... */

.panel {
  min-height: 4rem !important;
}

#templateTabel thead tr th {
  color: #495057;
  border: solid #e9ecef;
  border-width: 0 0 1px;
  padding: 1rem;
  font-weight: 600;
}

#templateTabel tbody > tr {
  background: #fff;
  color: #495057;
  transition: box-shadow 0.2s;
  outline-color: #a6d5fa;
}

.p-dropdown {
  width: 100%;
  /* height: 100%; */
  background: #fcfcfc !important;
  box-shadow: 0px 1px 2px 0 rgb(0 0 0 / 10%) !important;
  border-color: #eaeaea !important;
}

.curson_pointer {
  cursor: pointer;
}
.qrcodeshadow {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(15px 15px 15px #e42424);
  opacity: 0.7;
  padding-top: 230px;
  padding-left: 50px;
}

button.btn-toggle-collapse i.fa-minus-circle:before {
  content: "\f056";
}

button.btn-toggle-collapse.collapsed i.fa-minus-circle:before {
  content: "\f067";
}

.captcha {
  box-shadow: none !important;
  width: auto !important;
}

.inputPassword {
  border: none !important;
  box-shadow: none !important;
  width: 98% !important;
  padding-left: 0px !important;
}

.displayflex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}