/* table {
     width: 60%;
      border-spacing: 0 12px;
       border-collapse: separate; 
    } */
/* Header styling */
/* .mat-header-cell {
    font-weight: 600;
     font-size: 15px; 
     text-align: center;
      padding: 12px 16px;
       color: #333;
 }
     /* Row cell styling */
/* .mat-cell {
     font-size: 10px;
       padding: 10px 14px; 
          text-align: center; 
          vertical-align: middle;
         }  */

.status-badge {
  padding: 4px 12px;
  border-radius: 12px;
  font-size: 13px;
  font-weight: 500;
  display: inline-block;
}
.status-success {
  background-color: #e6f7e6;
  color: #2e7d32;
}
.status-danger {
  background-color: #fdeaea;
  color: #c62828;
}
/* Action column 
     .mat-column-action {
         text-align: center; 
      min-width: 140px; /* fix width for icons */

/* Action icons 
        .icon-size { 
        font-size: 18px; 
     color: inherit !important;  }
    td.mat-cell a[mat-icon-button] { 
              margin: 0 6px;
             width: 32px; 
            height: 32px;
            border-radius: 50%;
         transition: background 0.2s;
         } 
td.mat-cell a[mat-icon-button]:hover { 
 background: #f2f2f2; */
*/
          /* } */

/* .mat-mdc-card {
    margin-bottom: 24px;
    margin-left: 30px;} */

.search-card {
  margin-bottom: 24px;
  margin-left: 30px;
  height: 128px !important;
  width: 100%;
  margin: 0;
  padding: 0 24px;
  box-sizing: border-box;
}

.search-toggle-icon {
  text-align: end;
}

.search-div {
  text-align: right !important;
}

.search-header-search-icon {
  margin-bottom: 9px;
}

.cardWithShadow {
  background-color: #fff !important;
  border-radius: 12px !important;
  display: block;
}

/* 
::ng-deep .dropdown-below {
  transform-origin: top !important;   /* upar se open hone ki jagah niche */
/* margin-top: 4px !important; */
/* } */

/* ::ng-deep .mat-mdc-card .mdc-card .inner-card{
    padding: 25px !important;
} */

.input-css,
.select-css {
  padding: 8px !important;
}
