/* search card & btn css start */
.search-card {
  height: 128px !important;
}

.search-toggle-icon {
  text-align: end;
}

.search-div {
  text-align: right !important;
}

.search-header-search-icon {
  margin-bottom: 9px;
}

.heading-title {
  font-size: 20px;
  font-weight: 500;
}

.icon-size {
  font-size: 15px;
}

/* search card & btn css end */

/* Status activation css start */

.status-badge {
  padding: 4px 12px;
  font-weight: 500;
  border-radius: 20px;
  font-size: 12px;
}

.status-success {
  background-color: #d4edda;
  color: #155724;
}

.status-danger {
  background-color: #f8d7da;
  color: #721c24;
}

/* Status activation css end */

.inputLabel {
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* label css end  */

.inner-card {
  padding: 25px !important;
}
