.checkbox-align {
    padding-right: 5%;
}

.password-wrapper {
    position: relative;
}

.toggle-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #999;
}


.wallet-chip {
    font-size: 1rem;
    font-weight: 500;
    padding: 8px 14px;
    border-radius: 10px;
    height: 50px;
    margin-left: 52vh;
}

.wallet-chip.positive {
    background-color: #c8e6c9;
    color: #2e7d32;
}

.wallet-chip.negative {
    background-color: #ffcdd2;
    color: #c62828;
}