.progressbarWrap .circleWrap {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  text-align: center;
}

.progressbarWrap .circledv {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  background: #d3d3d3;
  line-height: 30px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  position: relative;
  z-index: 9;
  cursor: pointer;
}
.complete .circledv {
  background: #1dc9b7;
}

.circleWrap.complete p {
  color: #000;
}
.circleWrap p {
  margin-top: 10px;
  color: gray;
  font-family: var(--main-font-family);
}
