
@if (isShowMenu) {
  <div class="row">
    <div class="col-md-12">
      
              <div>
                <a
                  [routerLink]="['/home/password-policy/create']"
                  class="curson_pointer"
                  href="javascript:void(0)"
                  (click)="createClick()"
                  class="dbox flex-container"
                  >
                  
                </a>
                @if (isShowCreateView) {
                  <div
                [ngClass]="{
                  activeSubMenu: true
                }"
                  ></div>
                }
             
           
            
              <div>
                <a
                  [routerLink]="['/home/password-policy/list/']"
                  class="curson_pointer"
                  href="javascript:void(0)"
                  class="dbox flex-container"
                  (click)="searchClick()"
                  >
                 
                </a>
                @if (isShowListView) {
                  <div
                [ngClass]="{
                  activeSubMenu: true
                }"
                  ></div>
                }
              </div>
            
          </div>
       
  
    </div>
  </div>
}

<router-outlet> </router-outlet>
