.custom-button{
    width: auto;
}

.custom{
  margin-left: 16px;  
}

.mat-card-content-border {
    border-radius: 10px;
}


.custom-dialog-button {
    padding: 10px 15px !important;
    min-width: 95px; 
    height: 40px;
    line-height: 24px; 
}
.range-select{
    display: flex; 
    gap: 10px;
}
manual-select{
    display: flex; 
    gap: 10px; 
    align-items: center;
}