.custom {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 22px;
}
.cus-search{
padding-bottom: 18px;
width: 95px;
min-width: 100px;
}

.gap-3 {
  gap: 16px;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.flex-grow-1 {
  flex-grow: 1;
}
.custom-button {
  font-size: 16px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 18px;
}
.cus-search {
  font-size: 16px;
}
.input-p-5 {
  padding-left: 10px;
}
