<div class="row header-row">
    <mat-card class="cardWithShadow w-100">
        <mat-card-content class="mat-card-content-border">
            <div class="row">
                <!-- Search Input -->
                <div class="col-sm-9 d-flex">
                    <mat-form-field appearance="outline" class="w-100 hide-hint mr-10 header-input">
                        <input matInput class="input-p-5" placeholder="Enter Email Address"
                            [formControl]="searchForm.controls.emailAddress" (keydown.enter)="searchBySourceName()"
                            [ngClass]="{
                'is-invalid': searchSubmitted && searchForm.controls.emailAddress.errors
              }" />
                        <mat-icon matSuffix class="search-header-search-icon">
                            <i class="pi pi-search icon-size"></i>
                        </mat-icon>
                    </mat-form-field>

                    <button mat-button mat-flat-button color="primary" class="button-normal m-r-10"
                        (click)="searchBySourceName()">
                        Search
                    </button>

                    <button mat-stroked-button matButton="outlined" class="button-normal" (click)="clearSearchForm()">
                        Clear
                    </button>
                </div>

                <!-- Add Email Button -->
                <div class="col-sm-3 search-div">
                    <button mat-button mat-flat-button color="primary" (click)="openEmailDialog()"
                        class="button-normal m-r-10" style="width: auto;">
                        Add Email
                    </button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<!-- email table start -->
<div class="container-fluid contain-flud">
    <div class="row">
        <div class="col-md-12">
            <mat-card class="cardWithShadow">
                <mat-card-content class="mat-card-content-border">
                    <div class="table-responsive" style="overflow-x: hidden;">
                        <table mat-table [dataSource]="groupData" class="mat-elevation-z8 w-100">

                            <!-- ID Column -->
                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef class="table-header-title">ID</th>
                                <td mat-cell *matCellDef="let row; let i = index">{{ row.id || i + 1 }}</td>
                            </ng-container>

                            <!-- Event Type Column -->
                            <ng-container matColumnDef="eventName">
                                <th mat-header-cell *matHeaderCellDef class="table-header-title">Event Type</th>
                                <td mat-cell *matCellDef="let row">{{ row.eventName || '-' }}</td>
                            </ng-container>

                            <!-- Email Address Column -->
                            <ng-container matColumnDef="emailAddress">
                                <th mat-header-cell *matHeaderCellDef class="table-header-title">Email Address</th>
                                <td mat-cell *matCellDef="let row">{{ row.emailAddress }}</td>
                            </ng-container>

                            <!-- Date Column -->
                            <ng-container matColumnDef="date">
                                <th mat-header-cell *matHeaderCellDef class="table-header-title">Event Time</th>
                                <td mat-cell *matCellDef="let row">{{ row.date | date:'dd-MM-yyyy HH:mm:ss' }}</td>
                            </ng-container>

                            <!-- Status Column -->
                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef class="table-header-title">Status</th>
                                <td mat-cell *matCellDef="let row">
                                    {{ row.status }}

                                </td>
                            </ng-container>

                            <!-- Action Column -->
                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef class="table-header-title"
                                    style="text-align: center;">Action</th>
                                <td mat-cell *matCellDef="let row; let i = index" style="text-align: center;">
                                    <a *ngIf="editAccess" mat-icon-button matTooltip="edit"
                                        (click)="editEmailById(row.emailId, i)">
                                        <img src="assets/img/DashboardIcons/Edit.svg">
                                    </a>
                                    <a *ngIf="deleteAccess" mat-icon-button matTooltip="delete"
                                        (click)="deleteConfirmonEmailDialog(row)">
                                        <img src="assets/img/DashboardIcons/trash-bin-trash-svgrepo-com 1.svg">
                                    </a>
                                    <a *ngIf="sendAccess && row.status !== 'Sent'" mat-icon-button matTooltip="send"
                                        (click)="sendEmailById(row.emailId)">
                                        <img src="assets/img/DashboardIcons/send-svgrepo-com 1.svg" class="icon-size" />
                                    </a>
                                </td>
                            </ng-container>


                            <!-- Header & Rows -->
                            <tr mat-header-row class="table-header-bg"
                                *matHeaderRowDef=" getDisplayedPlanDetailsColumns() ; sticky: true"></tr>
                            <tr mat-row class="table-content-row"
                                *matRowDef="let row; columns:  getDisplayedPlanDetailsColumns()"></tr>

                        </table>




                        <!-- Paginator -->
                        <mat-paginator [length]="totalRecords" [pageSize]="itemsPerPage"
                            [pageSizeOptions]="[5, 10, 20,50,100]" showFirstLastButtons (page)="pageChanged($event)">
                        </mat-paginator>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>



<!-- form start -->
<ng-template #emailDialogTemplate>
    <div class="dialog-container">
        <div class="dialog-header">
            {{ editMode ? 'Update Email Details' : 'Create Email Details' }}
            <span>
                <a mat-icon-button href="javascript:void(0)" (click)="onCancel()">
                    <img src="assets/img/DashboardIcons/Reject.svg">
                </a>
            </span>
        </div>

        <div mat-dialog-content style="overflow-y: hidden;">
            <mat-card-content class="matcardContent">
                <!-- Access check -->
                <div *ngIf="!createAccess && !editMode" class="text-danger">
                    Sorry, you do not have privilege to create operation!
                </div>

                <!-- Form -->
                <div *ngIf="createAccess || (editMode && editAccess)">
                    <form [formGroup]="emailDetailsForm">
                        <div class="row g-3">
                            <!-- Event Type -->
                            <div class="col-md-6 mb-4">
                                <label class="inputLabel">Event Type *</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-select placeholder="Select Event Type" class="input p-5"
                                        formControlName="eventId"
                                        [ngClass]="{ 'is-invalid': submitted && emailDetailsForm.controls.eventId.errors }">
                                        <mat-option *ngFor="let event of eventTypeValue.eventList"
                                            [value]="event.eventId">
                                            {{ event.eventName }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error
                                        *ngIf="submitted && emailDetailsForm.controls.eventId.errors?.['required']">
                                        Event Type is required.
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <!-- Source Name -->
                            <div class="col-md-6 mb-4">
                                <label class="inputLabel">Source Name *</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-select placeholder="Select Source Name" class="input p-5"
                                        formControlName="sourceName"
                                        [ngClass]="{ 'is-invalid': submitted && emailDetailsForm.controls.sourceName.errors }">
                                        <mat-option *ngFor="let source of sourceNameValue" [value]="source.label">
                                            {{ source.label }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error
                                        *ngIf="submitted && emailDetailsForm.controls.sourceName.errors?.['required']">
                                        Source Name is required.
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <!-- Email Address -->
                            <div class="col-md-12 mb-4">
                                <label class="inputLabel">Email Address *</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput type="text" class="input p-5" placeholder="Enter Email Address"
                                        formControlName="emailAddress"
                                        [ngClass]="{ 'is-invalid': submitted && emailDetailsForm.controls.emailAddress.errors }">
                                    <mat-error
                                        *ngIf="submitted && emailDetailsForm.controls.emailAddress.errors?.['required']">
                                        Email Address is required.
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <!-- Message -->
                            <div class="col-md-12 mb-4">
                                <label class="inputLabel">Message *</label>
                                <mat-form-field appearance="outline" class="w-100 ">
                                    <textarea matInput placeholder="Enter message" formControlName="message"
                                        [ngClass]="{ 'is-invalid': submitted && emailDetailsForm.controls.message.errors }"></textarea>
                                    <mat-error
                                        *ngIf="submitted && emailDetailsForm.controls.message.errors?.['required']">
                                        Message is required.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <!-- Buttons -->

                    </form>
                </div>
            </mat-card-content>

        </div>
        @if (createAccess || (editMode && editAccess)) {
        <div mat-dialog-actions class="p-0 m-t-10 dialog-action-adjust">

            <button mat-button mat-flat-button color="primary" class=" button-normal" (click)="addEmailDetails()">
                {{ editMode ? 'Update' : 'Create' }} Email
            </button>


            <button mat-stroked-button color="primary" class=" button-normal" (click)="onCancel()">Cancel</button>

        </div>}
    </div>
</ng-template>


<!-- forrm end -->



<!-- email table end -->



<!-- <div class="">
  <div class="row">
    <div class="col-md-12">
      <!- User Data ->
      <div class="panel top">
       
      <div class="panel-heading">
        <h3 class="panel-title">Email Notification Management</h3>
        <div class="right">
          <button
            type="button"
            class="btn-toggle-collapse"
            data-toggle="collapse"
            data-target="#searchemailConf"
            aria-expanded="false"
            aria-controls="searchemailConf"
            >
            <i class="fa fa-minus-circle"></i>
          </button>
        </div>
      </div>

      <div id="searchemailConf" class="panel-collapse collapse in">
        <div class="panel-body">
          <div class="searchForm">
            <form class="form-auth-small" [formGroup]="searchForm">
              <div class="col-md-2" style="padding-right: 0%; text-align: right">
                <label style="padding: 5px">Email Address:</label>
              </div>
              <div class="col-md-6" style="padding-left: 0%">
                <input
                  type="text"
                  name="sourceName"
                  class="form-control"
                  placeholder="Enter Email Address"
                  formControlName="emailAddress"
                    [ngClass]="{
                      'is-invalid': searchSubmitted && searchForm.controls.emailAddress.errors
                    }"
                  />
                </div>
                <div class="col-md-4" style="padding-left: 0%">
                  <button type="submit" class="btn btn-primary" (click)="searchBySourceName()">
                    <i class="fa fa-search"></i>
                    Search
                  </button>
                  &nbsp;
                  <button type="reset" class="btn btn-default" (click)="clearSearchForm()">
                     <img src="assets/img/DashboardIcons/Refresh.svg" />
                    Clear
                  </button>
                </div>
              </form>
            </div>
          </div>

          <div class="panel-body no-padding panel-udata">
            <div class="col-md-6 pcol">
              <div class="dbox">
                <a class="detailOnAnchorClick" (click)="createEmailNotification()">
                  <img src="../../../assets/img/i01.png" style="width: 32px" />
                  <h5>Create Email Details</h5>
                </a>
              </div>
            </div>
            <div class="col-md-6 pcol">
              <div class="dbox">
                <a class="detailOnAnchorClick" (click)="clearSearchForm()">
                  <img src="../../../assets/img/i01.png" style="width: 32px" />
                  <h5>Search Email Details</h5>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!- END User Data ->
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 left">
      <!- Data Table ->
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Email Details</h3>
          <div class="right">
            <button
              type="button"
              class="btn-toggle-collapse"
              data-toggle="collapse"
              data-target="#listEmailConfig"
              aria-expanded="false"
              aria-controls="listEmailConfig"
              >
              <i class="fa fa-minus-circle"></i>
            </button>
          </div>
        </div>

        <div id="listEmailConfig" class="panel-collapse collapse in">
          <div class="panel-body table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Event Type</th>
                  <th>Email Address</th>
                  <th>Event Time</th>
                  <th>Status</th>
                  @if (editAccess || deleteAccess || sendAccess) {
                    <th>Action</th>
                  }
                </tr>
              </thead>
              <tbody>
                @for (
                  group of groupData
                  | paginate
                  : {
                  id: 'listing_groupdata',
                  itemsPerPage: itemsPerPage,
                  currentPage: currentPage,
                  totalItems: totalRecords
                  }; track
                  group; let i = $index) {
                  <tr
                    >
                    @if (group.eventName) {
                      <td>{{ group.eventName }}</td>
                    }
                    @if (!group.eventName) {
                      <td></td>
                    }
                    <td>{{ group.emailAddress }}</td>
                    <td>{{ group.date }}</td>
                    <td>{{ group.status }}</td>
                    @if (editAccess || deleteAccess || sendAccess) {
                      <td class="btnAction">
                        @if (editAccess) {
                          <a
                            (click)="editEmailById(group.emailId, i)"
                            class="curson_pointer"
                            >
                          <img src="assets/img/DashboardIcons/Edit.svg" >
                          </a>
                        }
                        @if (deleteAccess) {
                          <a
                            (click)="deleteConfirm(group.emailId)"
                            class="curson_pointer"
                            >
                             <img src="assets/img/DashboardIcons/trash-bin-trash-svgrepo-com 1.svg" >
                          </a>
                        }
                     
                      @if (group.status != 'Sent' && sendAccess) {
                        <span>
                          <a
                            type="button"
                            (click)="sendEmailById(group.emailId)"
                            class="curson_pointer"
                            >
                            <img
                              class="icon"
                              src="assets/img/icons-02.png"
                              style="display: inline-flex"
                              />
                            </a>
                          </span>
                        }
                      </td>
                    }
                  </tr>
                }
              </tbody>
            </table>
            <br />
            <div class="pagination_Dropdown">
              <pagination-controls
                id="listing_groupdata"
                maxSize="10"
                directionLinks="true"
                previousLabel=""
                nextLabel=""
                (pageChange)="pageChanged($event)"
              ></pagination-controls>
              <div id="itemPerPageDropdown">
                <p-dropdown
                  [options]="pageLimitOptions"
                  optionLabel="value"
                  optionValue="value"
                  (onChange)="TotalItemPerPage($event)"
                ></p-dropdown>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!- END Data Table ->
    </div>

    <div class="col-md-6 right">
      <!- Form Design ->
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">{{ editMode ? "Update" : "Create" }} Email Details</h3>
          <div class="right">
            <button
              type="button"
              class="btn-toggle-collapse"
              data-toggle="collapse"
              data-target="#editEmailconfig"
              aria-expanded="false"
              aria-controls="editEmailconfig"
              >
              <i class="fa fa-minus-circle"></i>
            </button>
          </div>
        </div>

        <div id="editEmailconfig" class="panel-collapse collapse in">
          <div class="panel-body">
            @if (!createAccess && !editMode) {
              <div class="panel-body table-responsive">
                Sorry you have not privilege to create operation!
              </div>
            }
            @if (createAccess || (editMode && editAccess)) {
              <div>
                <form class="form-auth-small" [formGroup]="emailDetailsForm">
                  <div>
                    <label>Event Type *</label>
                    <p-dropdown
                      [options]="eventTypeValue.eventList"
                      placeholder="Select Event Type"
                      optionLabel="eventName"
                      optionValue="eventId"
                      formControlName="eventId"
                      filter="true"
                      filterBy="eventName"
                    [ngClass]="{
                      'is-invalid': submitted && emailDetailsForm.controls.eventId.errors
                    }"
                    ></p-dropdown>
                    @if (submitted && emailDetailsForm.controls.eventId.errors) {
                      <div
                        class="errorWrap text-danger"
                        >
                        @if (submitted && emailDetailsForm.controls.eventId.errors.required) {
                          <div
                            class="error text-danger"
                            >
                            Event Type is required
                          </div>
                        }
                      </div>
                    }
                  </div>
                  <br />
                  <div>
                    <label>Source Name *</label>
                    <p-dropdown
                      [options]="sourceNameValue"
                      placeholder="Select Group Status"
                      optionLabel="label"
                      optionValue="label"
                      formControlName="sourceName"
                      filter="true"
                      filterBy="label"
                    [ngClass]="{
                      'is-invalid': submitted && emailDetailsForm.controls.sourceName.errors
                    }"
                    ></p-dropdown>
                    @if (submitted && emailDetailsForm.controls.sourceName.errors) {
                      <div
                        class="errorWrap text-danger"
                        >
                        @if (submitted && emailDetailsForm.controls.sourceName.errors.required) {
                          <div
                            class="error text-danger"
                            >
                            Source Name is required
                          </div>
                        }
                      </div>
                    }
                 
                </div>
                <br />
                <label>Email Address *</label>
                <input
                  type="text"
                  name="emailAddress"
                  class="form-control"
                  placeholder="Enter Email Address"
                  formControlName="emailAddress"
                  [ngClass]="{
                    'is-invalid': submitted && emailDetailsForm.controls.emailAddress.errors
                  }"
                  />
                  @if (submitted && emailDetailsForm.controls.emailAddress.errors) {
                    <div
                      class="errorWrap text-danger"
                      >
                      @if (submitted && emailDetailsForm.controls.emailAddress.errors.required) {
                        <div
                          class="error text-danger"
                          >
                          Email Address is required
                        </div>
                      }
                    </div>
                  }
                  <br />
                  <label>Message *</label>
                  <textarea
                    name="message"
                    class="form-control"
                    placeholder="Enter message"
                    formControlName="message"
                  [ngClass]="{
                    'is-invalid': submitted && emailDetailsForm.controls.message.errors
                  }"
                  ></textarea>
                  @if (submitted && emailDetailsForm.controls.message.errors) {
                    <div
                      class="errorWrap text-danger"
                      >
                      @if (submitted && emailDetailsForm.controls.message.errors.required) {
                        <div
                          class="error text-danger"
                          >
                          Message is required
                        </div>
                      }
                    </div>
                  }
                
                  <br />
                 
                  <div class="addUpdateBtn">
                    <button type="submit" class="btn btn-primary" (click)="addEmailDetails()">
                      <i class="fa fa-check-circle"></i>
                      {{ editMode ? "Update" : "Add" }} Email
                    </button>
                    <br />
                  </div>
                </form>
              </div>
            }
          </div>
        </div>
      </div>
      <!- END Form Design ->
    </div>
  </div>
</div>
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <!- Modal content->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> -->