:host ::ng-deep .p-dialog .p-dialog-header {
  background: #f7b206 !important ;
}
.p-dialog .p-dialog-header .p-dialog-title {
  font-size: 2rem !important;
}
:host ::ng-deep .p-dialog .displayView {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

:host ::ng-deep .p-dialog .mobileViewBlock {
  padding-top: 10px;
  padding-left: 20px;
  display: flex;
}
@media only screen and (max-width: 767px) {
  .auth-box {
    margin: 20px auto 10px auto;
  }
  .auth-boxDisplayView {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .auth-box {
    margin: 80px 0 150px 70%;
    display: block;
  }
}
