<!-- @if (mobileQuery.matches) {
  <div class="horizontal-sidebar p-y-8 p-y-8 b-b-1">
    <div class="container">
      <div>
        <div class="horizontal-navbar hstack align-items-center">
          @for (item of navItems; track item) {
            <app-horizontal-nav-item
              [item]="item"
              class="parentBox {{ item.ddType }}"
              [ngClass]="{
                pactive: item.route == parentActive ? 'pactive' : ''
              }"
            >
            </app-horizontal-nav-item>
          }
        </div>
      </div>
    </div>
  </div>
} -->
@if (mobileQuery.matches) {
<div class="horizontal-sidebar p-y-8 p-y-8">
    <div class="container" style="background-color: var(--mat-sys-primary-fixed-dim) !important; 
    padding: 5px; border-radius: 10px;
    margin-left: 23px;
    margin-right: 37px;">
        <div class="d-flex justify-content-between">
            <div class="horizontal-col col-md-10">
                <div class="horizontal-nav-wrapper">
                    <button *ngIf="canScrollLeft" class="nav-scroll-btn nav-scroll-left" (click)="scrollLeft()"
                        [class.visible]="showScrollButtons">
                        <i class="pi pi-chevron-left"></i>
                    </button>

                    <div class="horizontal-navbar-container" #navContainer>
                        <div class="horizontal-navbar hstack align-items-center" #navItemsContainer
                            style="margin-left: 13px;">
                            @for (item of navItems; track item) {
                            <app-horizontal-nav-item [item]="item" class="parentBox {{ item.ddType }}" [ngClass]="{
                  pactive: isChildActive(item) ? 'pactive' : ''
                }">
                            </app-horizontal-nav-item>
                            }
                        </div>
                    </div>

                    <button *ngIf="canScrollRight" class="nav-scroll-btn nav-scroll-right" (click)="scrollRight()"
                        [class.visible]="showScrollButtons">
                        <i class="pi pi-chevron-right"></i>
                    </button>
                </div>
            </div>
            <div class="profile-wrapper d-flex align-item-center m-r-10 m-t-5">
                <button mat-icon-button [matMenuTriggerFor]="profilemenu" aria-label="Notifications">
                    <img src="/assets/images/profile/user-1.jpg" class="rounded-circle object-cover icon-35 profile-dd"
                        width="35" />
                </button>
            </div>
        </div>

    </div>
    <mat-menu #profilemenu="matMenu" class="topbar-dd cardWithShadow">
        <ng-scrollbar class="position-relative" style="height: 647px">
            <div class="p-x-32 p-y-16">
                <h6 class="f-s-16 f-w-600 m-0">User Profile</h6>

                <div class="d-flex align-items-center p-b-24 b-b-1 m-t-16">
                    <img src="/assets/images/profile/user-1.jpg" class="rounded-circle" width="95" />
                    <div class="m-l-16">
                        <h6 class="f-s-14 f-w-600" style="margin-left: 18px;">{{userName}}</h6>
                        <span class="d-flex align-items-center">
                            <i-tabler name="mail" class="icon-15 m-r-4"></i-tabler>
                            {{ userEmailId }}
                        </span>
                    </div>
                </div>
            </div>
            <div class="p-y-12 p-x-32">
                <a [routerLink]="['mystaff/92']" [queryParams]="{ mystaff: 'StaffDetails' }" mat-stroked-button
                    color="primary" class="w-100">
                    Staff Details
                </a>
            </div>
            <div class="p-y-12 p-x-32">
                <a [routerLink]="['mystaff/92']" [queryParams]="{ mystaff: 'StaffReceipt' }" mat-stroked-button
                    color="primary" class="w-100">
                    Staff Receipt Management
                </a>
            </div>
            <div class="p-y-12 p-x-32">
                <a [routerLink]="['mystaff/92']" [queryParams]="{  mystaff: 'Wallet' }" mat-stroked-button
                    color="primary" class="w-100">
                    Wallet
                </a>
            </div>
            <div class="p-y-12 p-x-32">
                <a [routerLink]="['mystaff/92']" [queryParams]="{ mystaff: 'ChangePassword' }" mat-stroked-button
                    color="primary" class="w-100">
                    Change Password
                </a>
            </div>

            <div class="p-y-12 p-x-32">
                <a [routerLink]="['/login']" mat-stroked-button color="primary" class="w-100">Logout</a>
            </div>
        </ng-scrollbar>
    </mat-menu>
</div>
}