<div class="d-flex justify-content-center">
  <mat-card class="wallet-balance-card">
    <mat-card-header>
      <mat-card-title class="text-center w-100">Wallet Balance</mat-card-title>
    </mat-card-header>

    <mat-card-content class="text-center">
      @if (getWallatData.customerWalletDetails >= 0) {
        <mat-chip class="balance-chip positive">
          {{ getWallatData.customerWalletDetails | currency: currencySymbol : "symbol" : "1.2-2" }}
        </mat-chip>
      }
      @if (getWallatData.customerWalletDetails < 0) {
        <mat-chip class="balance-chip negative">
          {{ getWallatData.customerWalletDetails | currency: currencySymbol : "symbol" : "1.2-2" }}
        </mat-chip>
      }
    </mat-card-content>
  </mat-card>
</div>
