.dialog-actions {
  padding: 8px 16px;
  display: flex;
  justify-content: flex-end;
}

.dialog-actions .btn-cancel {
  background-color: #1976d2;
  /* Primary color */
  color: white;
  margin-right: 8px;
}

.dialog-actions .btn-delete {
  background-color: #f44336;
  /* Warning/Red color */
  color: white;
}

.dialog-header-titleFont {
  font-size: 20px;
  font-weight: 500;
}
