@use "sass:map";
@use "@angular/material" as mat;

@include mat.paginator-overrides(
    (
        container-background-color: var(--mat-card-elevated-container-color)
    )
);

.mat-mdc-paginator-container {
    padding: 0 !important;
    flex-wrap: nowrap !important;
}
