
::ng-deep .mat-column-action,
::ng-deep .mat-mdc-cell.mat-column-action,
::ng-deep .mat-column-Mandatory,
::ng-deep .mat-mdc-cell.mat-column-Mandatory,
::ng-deep .mat-column-defaultValue,
::ng-deep .mat-mdc-cell.mat-column-defaultValue,
::ng-deep .mat-column-parameter,
::ng-deep .mat-mdc-cell.mat-column-parameter {
  border-bottom: none !important;
}
::ng-deep .mat-mdc-cell.mat-column-action{
margin-top: -13px;
}
.heading-titles{
padding: 10px 20px;
display: flex;
align-items: center;
height: 60px;
margin-bottom: 15px;
font-weight: 500;
font-size: 21px;
}
.tbl-label{
width: 25%;
text-align: center;
display: flex;
justify-content: center; 
}
.custom-cell{
text-align:center; 
margin-top: -20px;
display: flex;
justify-content: center;
}
.btn-param{
     /* margin-left: 20px; 
     margin-top: 0px; */
     padding: 15px 25px;
    margin-bottom: 3px;
    margin-left: 13px;
}
.tbl-aligment{
    margin-top: 10px;
}
.dialog-actions-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.custom-dialog-button {
    padding: 10px 15px !important;
    min-width: 95px; 
    height: 40px;
    line-height: 24px; 
}