<div class="row header-row p-0 m-0 w-100">
  <mat-card class="w-100">
    <mat-card-header>
      <mat-card-title>Partner Generate Bill Run</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="searchGenerateBillRunFormGroup">
        <div class="row">
          <div class="col-lg-5 col-md-4 col-sm-6 col-xs-12">
            <mat-form-field appearance="outline" class="w-100 hide-hint mr-10 header-input">
              <input
                placeholder="Enter Bill Date"
                matInput
                class="input-p-5"
                [matDatepicker]="picker"
                formControlName="billGenerateDate"
                [max]="maxDate"
                (keydown.enter)="$event.preventDefault()"
              />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>

              <mat-error
                *ngIf="
                  submitted &&
                  searchGenerateBillRunFormGroup.controls.billGenerateDate.errors?.['required']
                "
              >
                Bill Date is required.
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-lg-7 col-md-8 col-sm-6 col-xs-12 d-flex">
            <button
              mat-button
              mat-flat-button
              color="primary"
             class="button-normal m-r-10"
              (click)="searchBillRun()"
              style="width: fit-content !important"
            >
              Generate Bill Run
            </button>

            <button
              mat-stroked-button
              matButton="outlined"
              class="button-normal "
              (click)="clearBillRun()"
            >
              Clear
            </button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>

<!-- <div class="row">
  <div class="col-md-12">
    <div class="panel top">
      <div class="panel-heading">
        <h3 class="panel-title">Partner Generate Bill Run</h3>
        <div class="right">
          <button
            type="button"
            class="btn-toggle-collapse"
            data-toggle="collapse"
            data-target="#genratebill"
            aria-expanded="false"
            aria-controls="genratebill"
            >
            <i class="fa fa-minus-circle"></i>
          </button>
        </div>
      </div>

      <div id="genratebill" class="panel-collapse collapse in">
        <div class="panel-body">
          <form [formGroup]="searchGenerateBillRunFormGroup">
            <div>Bill Date</div>
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                  <p-calendar
                    placeholder="Enter Date"
                    formControlName="billGenerateDate"
                    [maxDate]="maxDate"
                    [readonlyInput]="true"
                    [ngClass]="{
                      'is-invalid':
                        submitted && searchGenerateBillRunFormGroup.controls.billGenerateDate.errors
                    }"
                    [showIcon]="true"
                  ></p-calendar>
                  @if (
                    submitted && searchGenerateBillRunFormGroup.controls.billGenerateDate.errors
                    ) {
                    <div
                      class="errorWrap text-danger"
                      >
                      @if (
                        submitted &&
                        searchGenerateBillRunFormGroup.controls.billGenerateDate.errors.required
                        ) {
                        <div
                          class="error text-danger"
                          >
                          Bill Date is required.
                        </div>
                      }
                    </div>
                  }
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <button type="submit" class="btn btn-primary" (click)="searchBillRun()">
                  <i class="fa fa-search"></i>
                  Generate Bill Run
                </button>
                <button
                  type="submit"
                  class="btn btn-default"
                  id="searchbtn"
                  (click)="clearBillRun()"
                  >
                   <img src="assets/img/DashboardIcons/Refresh.svg" />
                  Clear
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> -->
