<!-- <div class="row">
  <div class="col-md-12">
  
    <div class="panel top">
      <div class="panel-heading">
        <h3 class="panel-title">Integration Audit Management</h3>
        <div class="right">
          <button type="button" class="btn-toggle-collapse" data-toggle="collapse"
            data-target="#netConfCustomerSearchPanel" aria-expanded="false" aria-controls="netConfCustomerSearchPanel">
            <i class="fa fa-minus-circle"></i>
          </button>
        </div>
      </div>
      <div id="searchTeamHirerarchy" class="panel-collapse collapse in">
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-3 col-md-3">
              <input type="text" [(ngModel)]="searchName" class="form-control" placeholder="Enter Username"
                (keydown.enter)="search()" />
            </div>
            <div class="col-lg-3 col-md-4 marginTopSearchBtn">
              <button type="button" class="btn btn-primary" id="searchbtn" (click)="search()">
                <i class="fa fa-search"></i>
                Search
              </button>
              <button type="reset" class="btn btn-default" id="searchbtn" (click)="clearSearch()">
                 <img src="assets/img/DashboardIcons/Refresh.svg" />
                Clear
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <div class="row">
      <div class="col-md-12">
        <div class="panel mb-15">
           Data Table --
          <div class="panel-heading">
            <h3 class="panel-title">Integration Audit</h3>
            <div class="right">
              <button type="button" class="btn-toggle-collapse" data-toggle="collapse" data-target="#searchNetCust"
                aria-expanded="false" aria-controls="searchNetCust">
                <i class="fa fa-minus-circle"></i>
              </button>
            </div>
          </div>

          <div class="panel-collapse collapse in" id="radiusCustomerTabelPanel">
            <div class="panel-body table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>API URL</th>
                    <th>Request Time</th>
                    <th>Header Details</th>
                    <th>Request Method</th>
                    <th>Request payload</th>
                    <th>Response</th>
                    <th>HTTP Status</th>
                    <th>Response Time</th>
                    <th>Username</th>
                    <th>Reference Number</th>
                    <th>Profile Name</th>
                    <th>IP Address</th>
                    <th>Environment Info</th>
                    <th>Dependencies</th>
                  </tr>
                </thead>
                <tbody>
                  @for (
                  audit of integrationAuditData
                  | paginate
                  : {
                  id: 'listing_auditdata',
                  itemsPerPage: itemsPerPage,
                  currentPage: currentPage,
                  totalItems: totalRecords
                  }; track
                  audit; let i = $index) {
                  <tr>
                    <td>
                      {{ audit.apiUrl }}
                    </td>
                    <td>{{ formatTimestamp(audit.timeStamp) | date:'dd-MM-yyyy HH:mm:ss' }}</td>
                    <td>
                      <a (click)="openDetailsModel(audit.headerDetails, 'Header Details')"
                        style="color: #f7941e; cursor: pointer">
                        view</a>
                    </td>
                    <td>{{ audit.httpMethod }}</td>
                    <td>
                      <a (click)="openDetailsModel(audit.requestPayload, 'Request Payload')"
                        style="color: #f7941e; cursor: pointer">
                        view</a>
                    </td>
                    <td>
                      <a (click)="openDetailsModel(audit.responsePayload, 'Response')"
                        style="color: #f7941e; cursor: pointer">
                        view</a>
                    </td>
                    <td>{{ audit.httpStatusCode }}</td>
                    <td>{{ audit.responseTime }}</td>
                    <td>{{ audit.userName }}</td>
                    <td>{{ audit.referenceNumber }}</td>
                    <td>{{ audit.usernameForAudit }}</td>
                    <td>{{ audit.ipAddress }}</td>
                    <td>{{ audit.environmentInfo }}</td>
                    <td>{{ audit.dependencies }}</td>
                  </tr>
                  }
                </tbody>
              </table>
              <br />
              <div class="row">
                <div class="col-md-12" style="display: flex">
                  <pagination-controls id="listing_auditdata" [maxSize]="10" [directionLinks]="true" previousLabel=""
                    nextLabel="" (pageChange)="pageChanged($event)"></pagination-controls>
                  <div id="itemPerPageDropdown">
                    <p-dropdown [options]="pageLimitOptions" [(ngModel)]="itemsPerPage" optionLabel="value"
                      optionValue="value" (onChange)="TotalItemPerPage($event)"></p-dropdown>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog header="{{ detailsHeader }}" [(visible)]="isViewDetails" [modal]="true"
  [breakpoints]="{ '1024px': '75vw', '767px': '90vw' }" [style]="{ width: '60vw' }" [draggable]="false"
  [resizable]="false">
  <div class="description">
    <pre style="
        font-size: 14px;
        white-space: pre-wrap;
        word-break: break-word;
        max-height: 70vh;
        overflow: auto;
      ">{{ detailsBody }}
            </pre>
  </div>
</p-dialog> -->

<div class="row header-row">
    <mat-card class="cardWithShadow w-100">
        <mat-card-content class="mat-card-content-border">
            <div class="row">
                <div class="col-sm-6 d-flex">
                    <mat-form-field appearance="outline" class="w-100 hide-hint mr-10 m-l-16">
                        <input matInput placeholder="Enter Username" class="input-p-5" [(ngModel)]="searchName"
                            (keydown.enter)="search()" />
                        <mat-icon matSuffix class="search-header-search-icon">
                            <i class="pi pi-search icon-size"></i>
                        </mat-icon>
                    </mat-form-field>
                </div>

                <div class="col-sm-6 d-flex justify-content-end">
                    <button mat-flat-button color="primary" class="button-normal m-r-10"
                        (click)="search()">Search</button>
                    <button mat-stroked-button class="button-normal" (click)="clearSearch()">Clear</button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<div class="container-fluid contain-flud">
    <div class="row">
        <div class="col-md-12">
            <mat-card class="cardWithShadow">
                <mat-card-header>
                    <mat-card-title>Integration Audit</mat-card-title>
                </mat-card-header>
                <mat-card-content class="mat-card-content-border">
                    <div class="country-table-list">
                        <div class="table-container list-side-scrollbar">
                            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100">
                                <ng-container matColumnDef="id">
                                    <th mat-header-cell *matHeaderCellDef class="table-header-title">ID</th>
                                    <td mat-cell *matCellDef="let audit"> {{ audit.id }} </td>
                                </ng-container>
                                <ng-container matColumnDef="apiUrl">
                                    <th mat-header-cell *matHeaderCellDef class="table-header-title">API URL</th>
                                    <td mat-cell *matCellDef="let audit" class="ellipsis" [matTooltip]="audit.apiUrl"
                                        matTooltipPosition="above" matTooltipShowDelay="500">{{ audit.apiUrl }}</td>
                                </ng-container>
                                <ng-container matColumnDef="requestTime">
                                    <th mat-header-cell *matHeaderCellDef class="table-header-title">Request Time</th>
                                    <td mat-cell *matCellDef="let audit">{{ formatTimestamp(audit.timeStamp) }}</td>
                                </ng-container>
                                <ng-container matColumnDef="headerDetails">
                                    <th mat-header-cell *matHeaderCellDef class="table-header-title">Header Details</th>
                                    <td mat-cell *matCellDef="let audit">
                                        <a href="javascript:void(0)"
                                            (click)="openDetailsOnHover($event, audit.headerDetails, 'Header Details')"
                                            (mouseleave)="startCloseDialogTimer()" class="cursor_pointer text-primary">
                                            view
                                        </a>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="httpMethod">
                                    <th mat-header-cell *matHeaderCellDef class="table-header-title">Request Method</th>
                                    <td mat-cell *matCellDef="let audit">{{ audit.httpMethod }}</td>
                                </ng-container>
                                <ng-container matColumnDef="requestPayload">
                                    <th mat-header-cell *matHeaderCellDef class="table-header-title">Request Payload
                                    </th>
                                    <td mat-cell *matCellDef="let audit">
                                        <a href="javascript:void(0)"
                                            (click)="openDetailsOnHover($event, audit.requestPayload, 'Request Payload')"
                                            (mouseleave)="startCloseDialogTimer()"
                                            class="cursor_pointer text-primary">view</a>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="responsePayload">
                                    <th mat-header-cell *matHeaderCellDef class="table-header-title">Response</th>
                                    <td mat-cell *matCellDef="let audit">
                                        <a href="javascript:void(0)"
                                            (click)="openDetailsOnHover($event, audit.responsePayload, 'Response')"
                                            (mouseleave)="startCloseDialogTimer()"
                                            class="cursor_pointer text-primary">view</a>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="httpStatusCode">
                                    <th mat-header-cell *matHeaderCellDef class="table-header-title">HTTP Status</th>
                                    <td mat-cell *matCellDef="let audit">{{ audit.httpStatusCode }}</td>
                                </ng-container>
                                <ng-container matColumnDef="responseTime">
                                    <th mat-header-cell *matHeaderCellDef class="table-header-title">Response Time</th>
                                    <td mat-cell *matCellDef="let audit">{{ audit.responseTime }}</td>
                                </ng-container>
                                <ng-container matColumnDef="userName">
                                    <th mat-header-cell *matHeaderCellDef class="table-header-title">Username</th>
                                    <td mat-cell *matCellDef="let audit">{{ audit.userName }}</td>
                                </ng-container>
                                <ng-container matColumnDef="referenceNumber">
                                    <th mat-header-cell *matHeaderCellDef class="table-header-title">Reference Number
                                    </th>
                                    <td mat-cell *matCellDef="let audit">{{ audit.referenceNumber }}</td>
                                </ng-container>
                                <ng-container matColumnDef="usernameForAudit">
                                    <th mat-header-cell *matHeaderCellDef class="table-header-title">Profile Name</th>
                                    <td mat-cell *matCellDef="let audit">{{ audit.usernameForAudit }}</td>
                                </ng-container>
                                <ng-container matColumnDef="ipAddress">
                                    <th mat-header-cell *matHeaderCellDef class="table-header-title">IP Address</th>
                                    <td mat-cell *matCellDef="let audit">{{ audit.ipAddress }}</td>
                                </ng-container>
                                <ng-container matColumnDef="environmentInfo">
                                    <th mat-header-cell *matHeaderCellDef class="table-header-title">Environment Info
                                    </th>
                                    <td mat-cell *matCellDef="let audit">{{ audit.environmentInfo }}</td>
                                </ng-container>
                                <ng-container matColumnDef="dependencies">
                                    <th mat-header-cell *matHeaderCellDef class="table-header-title">Dependencies</th>
                                    <td mat-cell *matCellDef="let audit">{{ audit.dependencies }}</td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                            </table>
                        </div>
                        <mat-paginator [length]="totalRecords" [pageSize]="itemsPerPage"
                            [pageSizeOptions]="[5,10,20,30,40,50,100]" showFirstLastButtons
                            (page)="pageChanged($event)">
                        </mat-paginator>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
<ng-template #detailsDialog let-data>
    <div class="dialog-container">
        <div class="dialog-header">
            {{ data.header }}
            <span>
                <a mat-icon-button href="javascript:void(0)" (click)="closeOverlay()">
                    <img src="assets/img/DashboardIcons/Reject.svg">
                </a>
            </span>
        </div>
        <div mat-dialog-content>
            <mat-card-content class="matcardContent">
                <pre class="preclass">{{ data.body }}</pre>
            </mat-card-content>
        </div>
    </div>
</ng-template>