.list-side-scrollbar{
  overflow-x: auto !important;
}
.cursor_pointer{
  cursor: pointer;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}
.hover-dialog-panel {
  pointer-events: none; 
}
.dialog-container {
  width: 600px;
  background-color: white;
  border-radius: 8px;
}

.preclass{font-size: 14px;
        white-space: pre-wrap;
        word-break: break-word;
        max-height: 70vh;
        overflow: auto;
}