<div class="dialog-container">
  <div class="dialog-header dialog-header-titleFont">
    {{ data.title }}
    <span>
      <a mat-icon-button href="javascript:void(0)" (click)="onCancel()">
         <img src="assets/img/DashboardIcons/Reject.svg">
      </a>
    </span>
  </div>

  <div mat-dialog-content>
    <div class="col-md-12">
      <ng-container *ngIf="!data.createAcS && !isRejectedReasonEdit">
        <mat-card-content class="matcard-content">
          <div class="panel-body table-responsive">
            Sorry you have not privilege to create operation!
          </div>
        </mat-card-content>
      </ng-container>
      <ng-container *ngIf="data.createAcS || (isRejectedReasonEdit && data.editAcs)">
        <mat-card-content class="matcardContent">
          <form [formGroup]="rejectedReasonFormGroup" class="card-form mb-3">
            <div class="row g-3">
              <div class="col-md-6 mb-4">
                <label for="rejectedReasonName" class="inputLabel"
                  >Rejected Reason Master Name*</label
                >
                <mat-form-field appearance="outline" class="w-100">
                  <input
                    id="rejectedReasonName"
                    matInput
                    placeholder="Enter Rejected Reason Master Name"
                    class="input-p-5"
                    formControlName="name"
                    [ngClass]="{
                      'is-invalid': submitted && rejectedReasonFormGroup.controls.name.errors
                    }"
                    maxlength="250"
                  />
                  <mat-error
                    *ngIf="
                      rejectedReasonFormGroup.get('name')?.errors?.['required'] &&
                      (submitted || rejectedReasonFormGroup.get('name')?.touched)
                    "
                  >
                    Name is required
                  </mat-error>
                  <mat-error
                    *ngIf="
                      submitted &&
                      rejectedReasonFormGroup.get('name')?.hasError('cannotContainSpace')
                    "
                  >
                    Name cannot contain only spaces
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6 mb-4">
                <label for="statusSelect" class="inputLabel">Status*</label>
                <mat-form-field appearance="outline" class="w-100">
                  <mat-select
                    id="statusSelect"
                    class="input-p-5"
                    placeholder="Select a Status"
                    formControlName="status"
                    [ngClass]="{
                      'is-invalid': submitted && rejectedReasonFormGroup.controls.status.errors
                    }"
                    maxlength="250"
                  >
                    <mat-option *ngFor="let option of statusOptions" [value]="option.label">
                      {{ option.label }}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="
                      rejectedReasonFormGroup.get('status')?.errors?.['required'] &&
                      (submitted || rejectedReasonFormGroup.get('status')?.touched)
                    "
                  >
                    Status is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-12 my-4" [formGroup]="rejectedSubReasonMappingForm">
                <label class="inputLabel">Rejected Sub Reason</label>
                <div class="d-flex align-items-center justify-content-between">
                  <div style="flex: 0 0 50%">
                    <mat-form-field appearance="outline" class="w-100 hide-hint">
                      <input
                        matInput
                        placeholder="Enter Sub Source"
                        formControlName="name"
                        class="input-p-5"
                        maxlength="250"
                      />
                    </mat-form-field>
                  </div>
                  <button
                    mat-flat-button
                    color="primary"
                    class="button-normal m-r-240"
                    type="button"
                    (click)="onAddRejectedSubReasonMappingField()"
                  >
                    Add
                  </button>
                </div>
              </div>
              <div class="table-responsive sub-reason-table">
                <table
                  mat-table
                  [dataSource]="subReasonDataSource"
                  matSort
                  class="no-wrap m-t-0 v-middle w-100"
                >
                  <ng-container matColumnDef="subReason">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="f-w-600 f-s-15">
                      Sub Reason
                    </th>
                    <td mat-cell *matCellDef="let row" class="f-s-14">{{ row.name }}</td>
                  </ng-container>

                  <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-15">Delete</th>
                    <td mat-cell *matCellDef="let row; let i = index">
                      <a
                        mat-icon-button
                        href="javascript:void(0)"
                        class="d-flex align-items-center justify-content-center"
                        (click)="deleteConfirmonRejectedSubReasonMappingField(i, row.id)"
                        aria-label="Delete Sub Reason"
                      >
                        <img src="assets/img/DashboardIcons/trash-bin-trash-svgrepo-com 1.svg" >
                      </a>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="subReasonDisplayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: subReasonDisplayedColumns"></tr>
                </table>
              </div>
              <div class="paginator-bottom-end">
                <mat-paginator
                  #subReasonPaginator
                  [length]="rejectedSubReasonDeletedIds?.length || subReasonDataSource.data.length"
                  [pageSize]="rejectedSubReasonItemsPerPage"
                  [pageSizeOptions]="[5,10,20,50,100]"
                  showFirstLastButtons
                  (page)="pageChangedleadSubSourceOnView($event)"
                >
                </mat-paginator>
              </div>
            </div>
          </form>
        </mat-card-content>
      </ng-container>
    </div>
  </div>
  <div mat-dialog-actions class="p-0 custom-dialog-actions-right">
    <button
      mat-button
      mat-flat-button
      color="primary"
      class="button-normal"
      type="submit"
      (click)="onSubmit()"
    >
      {{ data.title }}
    </button>
    <button
      mat-stroked-button
      matButton="outlined"
      color="primary"
      class="button-normal"
      type="button"
      (click)="onCancel()"
    >
      {{ data.noLabel || "Cancel" }}
    </button>
  </div>
</div>
