<!-- <!doctype html>
<body>
  <div class="container"> -->
<div class="container-fluid contain-flud">
    <div class="row">
        <div class="col-md-12" style="margin-top: 1.5rem">
            <mat-card class="cardWithShadow">
                <mat-card-header>
                    <mat-card-title> Map Legend</mat-card-title>
                </mat-card-header>
                <mat-card-content class="mat-card-content-border">
                    <div class="d-flex align-items-center" style="gap: 8px">
                        <div class="d-flex align-items-center" style="gap: 4 px">
                            <img width="30" height="30"
                                src="assets/img/All_Icons/11_Network_Management/Map/01_ONU_Y2.png" alt="ONU" />
                            - ONU
                        </div>
                        <div class="d-flex align-items-center" style="gap: 4 px">
                            <img width="30" height="30"
                                src="assets/img/All_Icons/11_Network_Management/Map/02_OLT_Y2.png" alt="OLT" />
                            - OLT
                        </div>
                        <div class="d-flex align-items-center" style="gap: 4 px">
                            <img width="30" height="30"
                                src="assets/img/All_Icons/11_Network_Management/Map/03_Splitter_Y2.png"
                                alt="Splitter" />- Splitter
                        </div>
                        <div class="d-flex align-items-center" style="gap: 4 px">
                            <img width="30" height="30"
                                src="assets/img/All_Icons/11_Network_Management/Map/04_Fiber_Y2.png"
                                alt="Master DB/DB" />
                            -Master DB/DB
                        </div>
                        <div class="d-flex align-items-center" style="gap: 4 px">
                            <img width="30" height="30"
                                src="assets/img/All_Icons/11_Network_Management/Map/04_Fiber_Y2.png" alt="Router" />
                            -Router
                        </div>
                        <div class="d-flex align-items-center" style="gap: 4 px">
                            <img width="30" height="30"
                                src="assets/img/All_Icons/11_Network_Management/Map/04_Fiber_Y2.png" alt="Switch" />
                            -Switch
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
<google-map height="400px" width="100%" [center]="{ lat: lat, lng: lng }" [zoom]="zoom">
    @for (marker of devicesLocations; track marker) {
    <map-marker [position]="{ lat: marker.lat, lng: marker.lng }" [options]="{ icon: marker.icon }"
        (mapClick)="openInfoWindow(infoWindow)">
    </map-marker>
    }

    <map-info-window #infoWindow>
        {{ selectedMarkerLabel }}
    </map-info-window>
</google-map>
<!-- <div>
      <Legend>Map Legend</Legend>
      <img src="assets/img/All_Icons/11_Network_Management/Map/01_ONU_Y2.png" alt="ONU" /> - ONU
      <img src="assets/img/All_Icons/11_Network_Management/Map/02_OLT_Y2.png" alt="OLT" /> - OLT
      <img
        src="assets/img/All_Icons/11_Network_Management/Map/03_Splitter_Y2.png"
        alt="Splitter"
      />- Splitter
      <img
        src="assets/img/All_Icons/11_Network_Management/Map/04_Fiber_Y2.png"
        alt="Master DB/DB"
      />
      -Master DB/DB
      <img src="assets/img/All_Icons/11_Network_Management/Map/04_Fiber_Y2.png" alt="Router" />
      -Router
      <img src="assets/img/All_Icons/11_Network_Management/Map/04_Fiber_Y2.png" alt="Switch" />
      -Switch
    </div>
  </div>
</body> -->