.assign-btn {
  float: right;
  margin-right: 10px;
}

.table-wrapper {
  display: flex;
  flex-direction: column;
}

.mat-table {
  flex: 1 1 auto;
}

.mat-paginator {
  flex-shrink: 0;
}

.inputLabel {
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
}

.dialog-title {
  font-size: 20px;
  font-weight: 500;
}

.icon-size {
  font-size: 18px;
}

.close-btn-icon {
  font-size: 18px;
}

/* component css */

.custom-dialog-container .mat-mdc-dialog-surface {
  max-height: 80vh !important;
  overflow: hidden !important;
  display: flex;
  flex-direction: column;
}

/* 
::ng-deep.mat-mdc-dialog-surface {
    overflow: hidden !important;
} */

.custom-dialog-container .mat-dialog-content {
  flex: 1 1 auto;
  overflow-y: auto;
  max-height: calc(80vh - 120px);
  padding: 16px;
}

.table-scroll-wrapper {
  max-height: none;
}

.search-div {
  text-align: right !important;
}

.p-button {
  background: none;
  border: none;
  margin-right: 7px;
  font-size: 16px;
  cursor: pointer;
}
