<div class="dialog-container">
    <div class="dialog-header">
        {{ data.title }}
        <span>
            <a mat-icon-button href="javascript:void(0)" (click)="onCancel()">
                <img src="assets/img/DashboardIcons/Reject.svg">
            </a>
        </span>
    </div>

    <div mat-dialog-content>
        <div class="col-md-12">
            <ng-container *ngIf="!data.createAcS && !isCountryEdit">
                <mat-card-content class="matcard-content">
                    <div class="panel-body table-responsive">
                        Sorry you have not privilege to create operation!
                    </div>
                </mat-card-content>
            </ng-container>
            <ng-container *ngIf="data.createAcS || (isCountryEdit && data.editAcs)">
                <mat-card-content class="matcardContent">
                    <form class="card-form mb-3" [formGroup]="integrationConfigFormGroup">
                        <div class="row g-3">
                            <div class="col-md-6 mb-4">
                                <label for="nameInput" class="inputLabel">Name*</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input id="nameInput" matInput placeholder="Enter Name" class="input-p-5"
                                        formControlName="name" [ngClass]="{
                      'is-invalid': submitted && integrationConfigFormGroup.controls.name.errors
                    }" maxlength="250" />
                                    <mat-error *ngIf="
                      integrationConfigFormGroup.get('name')?.errors?.['required'] &&
                      (submitted || integrationConfigFormGroup.get('name')?.touched)
                    ">
                                        Name is required
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-md-6 mb-4">
                                <label for="baseurlInput" class="inputLabel">Base URL*</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input id="baseurlInput" matInput class="input-p-5" placeholder="Enter Base URL"
                                        formControlName="baseurl" [ngClass]="{
                      'is-invalid': submitted && integrationConfigFormGroup.controls.baseurl.errors
                    }" maxlength="250" />
                                    <mat-error *ngIf="
                      integrationConfigFormGroup.get('baseurl')?.errors?.['required'] &&
                      (submitted || integrationConfigFormGroup.get('baseurl')?.touched)
                    ">
                                        Base URL is required
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-md-6 mb-4">
                                <label for="portInput" class="inputLabel">Port*</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input id="portInput" matInput class="input-p-5" placeholder="Enter Port"
                                        formControlName="port" (keypress)="keypressId($event)" [ngClass]="{
                      'is-invalid': submitted && integrationConfigFormGroup.controls.port.errors
                    }" maxlength="6" />
                                    <mat-error *ngIf="
                      integrationConfigFormGroup.get('port')?.errors?.['required'] &&
                      (submitted || integrationConfigFormGroup.get('port')?.touched)
                    ">
                                        Port is required
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-md-6 mb-4">
                                <label for="usernameInput" class="inputLabel">Username</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input id="usernameInput" matInput class="input-p-5" placeholder="Enter Username"
                                        formControlName="username" maxlength="250" />
                                </mat-form-field>
                            </div>

                            <div class="col-md-6 mb-4">
                                <label for="passwordInput" class="inputLabel">Password</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input id="passwordInput" type="password" matInput class="input-p-5"
                                        placeholder="Enter Password" formControlName="password" maxlength="250" />
                                </mat-form-field>
                            </div>
                        </div>
                    </form>
                </mat-card-content>
            </ng-container>
        </div>
    </div>
    @if (createAccess || (isCountryEdit && editAccess)) {
    <div mat-dialog-actions class="p-0 dialog-action-adjust">
        <button mat-button mat-flat-button color="primary" class="button-normal" type="submit" (click)="onSubmit()">
            {{ data.title }}
        </button>
        <button mat-stroked-button matButton="outlined" type="button" color="primary" class="button-normal"
            (click)="onCancel()">
            Cancel
        </button>
    </div>}
</div>