.button {
  padding: 0;
  margin-left: 5px;
  border: none;
  outline: none;
  color: #f7941e !important;
  font-size: 28px;
}

:host ::ng-deep .p-button:hover {
  background-color: inherit !important;
  color: #f7941e !important;
  border-color: inherit !important;
}

:host ::ng-deep .button .pi {
  font-size: 2rem;
}
.Excel{
    width: 37px;
    height: 45px;
    margin-bottom: 10px;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: auto;
  max-width: 250px;
  background-color: #333;
  color: #fff;
  text-align: left;
  padding: 6px 10px;
  border-radius: 4px;

  position: absolute;
  z-index: 10;
  bottom: 125%;
  left: 0;

  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap; /* optional */
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

