<!-- <div class="row">
    <div class="col-md-12">
        <div class="panel mb-15">
            <div class="panel-heading">
                <h3 class="panel-title">{{ profileTitle }} Management</h3>
                <div class="right">
                    <button aria-controls="searchPreCust" aria-expanded="false" class="btn-toggle-collapse"
                        data-target="#searchPreCust" data-toggle="collapse" type="button">
                        <i class="fa fa-minus-circle"></i>
                    </button>
                </div>
            </div>

            <div id="searchProfile" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-3 col-md-3">
                            <input id="taxName" type="text" [(ngModel)]="searchProfileName" class="form-control"
                                placeholder="Enter Profile Name" (keydown.enter)="searchProfile()" />
                        </div>
                        <div class="col-lg-3 col-md-4 marginTopSearchBtn">
                            <button type="button" class="btn btn-primary" id="searchbtn" (click)="searchProfile()">
                                <i class="fa fa-search"></i>
                                Search
                            </button>
                            <button type="reset" class="btn btn-default" id="searchbtn" (click)="clearProfile()">
                                 <img src="assets/img/DashboardIcons/Refresh.svg" />
                                Clear
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">{{ profileTitle }} List</h3>
                <div class="right">
                    <button type="button" class="btn-toggle-collapse" data-toggle="collapse" data-target="#listmvno"
                        aria-expanded="false" aria-controls="listmvno">
                        <i class="fa fa-minus-circle"></i>
                    </button>
                </div>
            </div>

            <div id="listmvno" class="panel-collapse collapse in">
                <div class="panel-body table-responsive">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Prefix</th>
                                        <th>Type</th>
                                        <th>Starts From</th>
                                        <th>Year</th>
                                        <th>Month</th>
                                        <th>Day</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (
                                    profile of profileListData
                                    | paginate
                                    : {
                                    id: 'profileListData',
                                    itemsPerPage: itemsPerPage,
                                    currentPage: currentPage,
                                    totalItems: totalRecords
                                    }; track
                                    profile; let i = $index) {
                                    <tr>
                                        <td>
                                            {{ profile.name || "-" }}
                                        </td>
                                        <td>{{ profile.prefix || "-" }}</td>
                                        <td>{{ profile.type || "-" }}</td>
                                        <td>{{ profile.startFrom || "-" }}</td>
                                        <td>{{ profile.year !== null ? profile.year : "-" }}</td>
                                        <td>{{ profile.month !== null ? profile.month : "-" }}</td>
                                        <td>{{ profile.day !== null ? profile.day : "-" }}</td>
                                        <td>
                                            @if (profile.status == 'Active') {
                                            <span class="badge badge-success">
                                                Active
                                            </span>
                                            }
                                            @if (profile.status == 'Inactive') {
                                            <span class="badge badge-danger">
                                                Inactive
                                            </span>
                                            }
                                        </td>
                                        <td class="btnAction">
                                            <a id="edit-button" href="javascript:void(0)" type="button"
                                                [routerLink]="['/home/profile/edit/', profile.id]">
                                              <img src="assets/img/DashboardIcons/Edit.svg" >
                                            </a>
                                            <a id="delete-button" href="javascript:void(0)"
                                                (click)="deleteConfirmonProfile(profile.id)">
                                                 <img src="assets/img/DashboardIcons/trash-bin-trash-svgrepo-com 1.svg" >
                                            </a>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="pagination_Dropdown">
                                <pagination-controls id="profileListData" maxSize="10" directionLinks="true"
                                    previousLabel="" nextLabel=""
                                    (pageChange)="pageChangedMvnoList($event)"></pagination-controls>
                                <div id="itemPerPageDropdown">
                                    <p-dropdown [options]="pageLimitOptions" optionLabel="value" optionValue="value"
                                        (onChange)="TotalItemPerPage($event)"></p-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- profile-managment search card header start -->
<div class="row header-row">
    <mat-card class="cardWithShadow w-100">
        <mat-card-content class="mat-card-content-border">
            <div class="row">
                <div class="col-sm-9 d-flex">
                    <mat-form-field appearance="outline" style="margin-left: 16px" class="w-100 hide-hint mr-10">
                        <input class="input-p-5" [(ngModel)]="searchProfileName" matInput
                            placeholder="Search {{ profileTitle }}" (keydown.enter)="searchProfile()" />
                        <mat-icon matSuffix class="search-header-search-icon">
                            <i class="pi pi-search icon-size"></i>
                        </mat-icon>
                    </mat-form-field>
                    <button mat-button mat-flat-button color="primary" class="button-normal mr-10"
                        (click)="searchProfile()">
                        Search
                    </button>
                    <button mat-stroked-button matButton="outlined" class="button-normal" (click)="clearProfile()">
                        Clear
                    </button>
                </div>
                <div class="col-sm-3 search-div">
                    <button (click)="createClick('')" mat-button mat-flat-button color="primary"
                        class="button-normal m-r-10">
                        Create {{ profileTitle }}
                    </button>
                    <!-- [routerLink]="['/home/profile/create']" -->
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
<!-- profile-managment search card header end -->

<!-- body part start -->
<div class="container-fluid contain-flud">
    <div class="row">
        <!-- profile-managment list table start -->
        <div class="col-md-12">
            <mat-card class="cardWithShadow">
                <mat-card-content class="mat-card-content-border">
                    <div class="country-table-list">
                        <div class="table-container">
                            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 w-100">
                                <!-- Id Column -->
                                <ng-container matColumnDef="id">
                                    <th mat-header-cell *matHeaderCellDef class="table-header-title">ID</th>

                                    <td mat-cell *matCellDef="let profile">
                                        {{ profile.id }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="Name">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header-title"
                                        sticky>
                                        Name
                                    </th>
                                    <td mat-cell *matCellDef="let profile" class="f-s-14">
                                        {{ profile.name }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="Prefix">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header-title"
                                        sticky>
                                        Prefix
                                    </th>
                                    <td mat-cell *matCellDef="let profile" class="f-s-14">
                                        {{ profile.prefix || "-" }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="Type">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header-title"
                                        sticky>
                                        Type
                                    </th>
                                    <td mat-cell *matCellDef="let profile" class="f-s-14">
                                        {{ profile.type || "-" }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="start-from">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header-title"
                                        sticky>
                                        Starts From
                                    </th>
                                    <td mat-cell *matCellDef="let profile" class="f-s-14">
                                        {{ profile.startFrom || "-" }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="Year">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header-title"
                                        sticky>
                                        Year
                                    </th>
                                    <td mat-cell *matCellDef="let profile" class="f-s-14">
                                        {{ profile.year !== null ? profile.year : "-" }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="Month">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header-title"
                                        sticky>
                                        Month
                                    </th>
                                    <td mat-cell *matCellDef="let profile" class="f-s-14">
                                        {{ profile.month !== null ? profile.month : "-" }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="Day">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header-title"
                                        sticky>
                                        Day
                                    </th>
                                    <td mat-cell *matCellDef="let profile" class="f-s-14">
                                        {{ profile.day !== null ? profile.day : "-" }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="Status">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header-title"
                                        sticky>
                                        Status
                                    </th>
                                    <td mat-cell *matCellDef="let profile" class="f-s-14">
                                        <span class="status-badge" [ngClass]="{
                        'status-success': profile.status === 'Active',
                        'status-danger': profile.status === 'Inactive'
                      }">
                                            {{ profile.status }}
                                        </span>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="Action">

                                    <th mat-header-cell *matHeaderCellDef class="table-header-title">Action</th>

                                    <td mat-cell *matCellDef="let profile">

                                        <a mat-icon-button href="javascript:void(0)" matTooltip="Edit"
                                            (click)="createClick(profile.id)">
                                            <img src="assets/img/DashboardIcons/Edit.svg" >
                                        </a>


                                        <a mat-icon-button href="javascript:void(0)" matTooltip="Delete"
                                            (click)="deleteConfirmonProfile(profile)">
                                            <img src="assets/img/DashboardIcons/trash-bin-trash-svgrepo-com 1.svg" >
                                        </a>
                                    </td>
                                </ng-container>

                                <tr mat-header-row class="table-header-bg"
                                    *matHeaderRowDef="['id', 'Name', 'Prefix', 'Type', 'start-from', 'Year', 'Month', 'Day', 'Status', 'Action']; sticky: true">
                                </tr>
                                <tr mat-row class="table-content-row"
                                    *matRowDef="let row; columns: ['id', 'Name', 'Prefix', 'Type', 'start-from', 'Year', 'Month', 'Day', 'Status', 'Action']">
                                </tr>
                            </table>

                            <mat-paginator class="custome-paginator" stickyEnd [length]="totalRecords"
                                [pageSize]="itemsPerPage" [pageSizeOptions]="[5, 10, 20,25,50,100]" showFirstLastButtons
                                (page)="pageChangedMvnoList($event)">
                            </mat-paginator>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <!-- profile-managment list table end -->
    </div>
</div>
<!-- body part end -->

<!-- create profile dialog start -->
<ng-template #createProfileDialog>
    <app-profile-create></app-profile-create>
</ng-template>

<!-- create profile dialog end -->