<div class="dialog-header">
    Customer Inventory Details
    <span>
        <a mat-icon-button (click)="closeDialog()">
            <img src="assets/img/DashboardIcons/Reject.svg">
        </a>
    </span>
</div>
<div mat-dialog-content>
    <mat-card>
        <mat-card-content>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 dataGroup d-flex align-items-center m-b-12">
                    <mat-label class="f-s-14 f-w-600 m-b-0 m-r-8">Service Name :</mat-label>
                    <span>{{ inventoryDetailData.serviceName }}</span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 dataGroup d-flex align-items-center m-b-12">
                    <mat-label class="f-s-14 f-w-600 m-b-0 m-r-8">Warranty :</mat-label>
                    <span>{{ inventoryDetailData.warranty }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 dataGroup d-flex align-items-center m-b-12">
                    <mat-label class="f-s-14 f-w-600 m-b-0 m-r-8">Current Mac Address :</mat-label>
                    <span *ngIf="oldMAC !== ''">{{ oldMAC }}</span>
                    <span *ngIf="oldMAC === '' || oldMAC == null">-</span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 dataGroup d-flex align-items-center m-b-12">
                    <mat-label class="f-s-14 f-w-600 m-b-0 m-r-8">New Mac Address :</mat-label>
                    <span *ngIf="newMAC !== ''">{{ newMAC }}</span>
                    <span *ngIf="newMAC === ''">-</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 dataGroup d-flex align-items-center m-b-12">
                    <mat-label class="f-s-14 f-w-600 m-b-0 m-r-8">Current Serial Number :</mat-label>
                    <span>{{ oldSerial }}</span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 dataGroup d-flex align-items-center m-b-12">
                    <mat-label class="f-s-14 f-w-600 m-b-0 m-r-8">New Serial Number :</mat-label>
                    <span *ngIf="newSerial !== ''">{{ newSerial }}</span>
                    <span *ngIf="newSerial === ''">-</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 dataGroup d-flex align-items-center m-b-12">
                    <mat-label class="f-s-14 f-w-600 m-b-0 m-r-8">Item Assembly Name :</mat-label>
                    <span *ngIf="inventoryDetailData.itemAssemblyName">{{
                        inventoryDetailData.itemAssemblyName
                        }}</span>
                    <span *ngIf="!inventoryDetailData.itemAssemblyName">-</span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 dataGroup d-flex align-items-center m-b-12">
                    <mat-label class="f-s-14 f-w-600 m-b-0 m-r-8">External Item Number :</mat-label>
                    <span *ngIf="inventoryDetailData.externalItemNumber">{{
                        inventoryDetailData.externalItemNumber
                        }}</span>
                    <span *ngIf="!inventoryDetailData.externalItemNumber">-</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 dataGroup d-flex align-items-center m-b-12">
                    <mat-label class="f-s-14 f-w-600 m-b-0 m-r-8">Assigned Date Time :</mat-label>
                    <span *ngIf="inventoryDetailData.assignedDateTime">{{
                        inventoryDetailData.assignedDateTime | date: "dd-MM-yyyy HH:mm:ss"
                        }}</span>
                    <span *ngIf="!inventoryDetailData.assignedDateTime">-</span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 dataGroup d-flex align-items-center m-b-12">
                    <mat-label class="f-s-14 f-w-600 m-b-0 m-r-8">Expiry Date Time :</mat-label>
                    <span *ngIf="inventoryDetailData.expiryDateTime">{{
                        inventoryDetailData.expDate | date: "dd-MM-yyyy HH:mm:ss"
                        }}</span>
                    <span *ngIf="!inventoryDetailData.expiryDateTime">-</span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 dataGroup d-flex align-items-center m-b-12">
                    <mat-label class="f-s-14 f-w-600 m-b-0 m-r-8">Bill To :</mat-label>
                    <span *ngIf="inventoryDetailData.billTo">{{ inventoryDetailData.billTo }}</span>
                    <span *ngIf="!inventoryDetailData.billTo">-</span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 dataGroup d-flex align-items-center m-b-12">
                    <mat-label class="f-s-14 f-w-600 m-b-0 m-r-8">Discount :</mat-label>
                    <span *ngIf="!inventoryDetailData.discount">{{ inventoryDetailData.discount }}</span>
                    <span *ngIf="inventoryDetailData.discount">-</span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 dataGroup d-flex align-items-center m-b-12">
                    <mat-label class="f-s-14 f-w-600 m-b-0 m-r-8">Invoice To Org :</mat-label>
                    <span *ngIf="!inventoryDetailData.isInvoiceToOrg">{{
                        inventoryDetailData.isInvoiceToOrg
                        }}</span>
                    <span *ngIf="inventoryDetailData.isInvoiceToOrg">-</span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 dataGroup d-flex align-items-center m-b-12">
                    <mat-label class="f-s-14 f-w-600 m-b-0 m-r-8">Required Approval :</mat-label>
                    <span *ngIf="!inventoryDetailData.isRequiredApproval">{{
                        inventoryDetailData.isRequiredApproval
                        }}</span>
                    <span *ngIf="inventoryDetailData.isRequiredApproval">-</span>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <div mat-dialog-actions>
        <button mat-stroked-button mat-dialog-close>Close</button>
    </div>
</div>