<ng-template #planCharge>
    <div class="dialog-container">
        <!-- Header -->
        <div class="dialog-header">
            Plan Charge
            <span>
                <a mat-icon-button href="javascript:void(0)" (click)="onCancel()">
                    <i class="pi pi-times f-s-15"></i>
                </a>
            </span>
        </div>

        <!-- Dialog Content -->
        <mat-card-content class="mat-card-content-border">
            <form [formGroup]="chargeFormGroup" class="row g-3" style="padding: 25px;">

                <!-- Plan Price -->
                <!-- Plan Price -->
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 mb-3">
                    <label class="inputLabel">Plan Price *</label>
                    <mat-form-field appearance="outline" class="w-100">
                        <input matInput type="number" placeholder="Enter Plan Price" formControlName="amount"
                            [disabled]="true" />
                    </mat-form-field>
                </div>

                <!-- New Offer Price -->
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 mb-3">
                    <label class="inputLabel">New Offer Price</label>
                    <mat-form-field appearance="outline" class="w-100">
                        <input matInput type="number" placeholder="Enter Offer Price" formControlName="newOfferPrice"
                            [disabled]="true" />
                    </mat-form-field>
                </div>


                <!-- Charge List Table -->
                <div class="col-12 mt-3">
                    <div class="table-container" style="overflow:auto;">
                        <table mat-table [dataSource]="chargeFromArray.controls"
                            class="mat-elevation-z8 w-100 table-layout-fixed">

                            <!-- Charge Name -->
                            <!-- Charge Name -->
                            <ng-container matColumnDef="chargeName">
                                <th mat-header-cell *matHeaderCellDef style="width: 25%;">Charge Name</th>
                                <td mat-cell *matCellDef="let row" style="width: 25%;">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <input matInput [value]="row.get('chargename').value" readonly />
                                    </mat-form-field>
                                </td>
                            </ng-container>

                            <!-- New Charge Name -->
                            <ng-container matColumnDef="newChargeName">
                                <th mat-header-cell *matHeaderCellDef style="width: 25%;">New Charge Name</th>
                                <td mat-cell *matCellDef="let row" style="width: 25%;">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <input matInput type="text" [formControl]="row.get('newchargename')"
                                            placeholder="Enter New Charge Name" />
                                    </mat-form-field>
                                </td>
                            </ng-container>


                            <!-- Actual Price -->
                            <ng-container matColumnDef="actualPrice">
                                <th mat-header-cell *matHeaderCellDef>Actual Price</th>
                                <td mat-cell *matCellDef="let row">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <input matInput type="number" [formControl]="row.get('actualprice')" readonly />
                                    </mat-form-field>
                                </td>
                            </ng-container>

                            <!-- Charge Price -->
                            <ng-container matColumnDef="chargePrice">
                                <th mat-header-cell *matHeaderCellDef>Charge Price</th>
                                <td mat-cell *matCellDef="let row; let i=index">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <input matInput type="number" [formControl]="row.get('chargeprice')"
                                            (input)="changeActualPrice(row.value.chargeprice, row.value.id, i)" />
                                    </mat-form-field>
                                </td>
                            </ng-container>

                            <!-- Tax Amount -->
                            <ng-container matColumnDef="taxAmount">
                                <th mat-header-cell *matHeaderCellDef>Tax Amount</th>
                                <td mat-cell *matCellDef="let row; let i=index">
                                    <div class="readonly-cell">{{ chargeTaxAmountArray[i] | number:'1.2-2' }}</div>
                                </td>
                            </ng-container>

                            <!-- Total Price -->
                            <ng-container matColumnDef="totalPrice">
                                <th mat-header-cell *matHeaderCellDef>Price (incl. Tax)</th>
                                <td mat-cell *matCellDef="let row; let i=index">
                                    <div class="readonly-cell">{{ totalPriceData[i] }}</div>
                                </td>
                            </ng-container>

                            <!-- Table rows -->
                            <tr mat-header-row
                                *matHeaderRowDef="['chargeName','newChargeName','actualPrice','chargePrice','taxAmount','totalPrice']">
                            </tr>
                            <tr mat-row
                                *matRowDef="let row; columns: ['chargeName','newChargeName','actualPrice','chargePrice','taxAmount','totalPrice']">
                            </tr>

                        </table>
                    </div>
                </div>
            </form>
        </mat-card-content>
        <div mat-dialog-actions class="p-0 m-t-10 dialog-action-adjust">
            <button mat-button mat-flat-button color="primary" class="button-normal " (click)="saveChargeData()">
                Save
            </button>
            <button mat-stroked-button matButton="outlined" type="button" color="primary" class="button-normal "
                (click)="onCancel()">
                Close
            </button>
        </div>
    </div>
</ng-template>