<div class="dialog-container">
    <div class="dialog-header dialog-header-titleFont">
        {{ data.title || "Delete Confirmation" }}
        <span class="w-h-18">
            <a mat-icon-button href="javascript:void(0)" (click)="onCancel()">
                 <img src="assets/img/DashboardIcons/Reject.svg">
            </a>
        </span>
    </div>
    <div mat-dialog-content>
        <p class="dialog-description">{{ data.description }}</p>
        <div mat-dialog-actions class="p-0">
            <button mat-flat-button type="button" class="primary" (click)="onConfirm()">
                {{ data.yesLabel || "Confirm" }}
            </button>
            <button mat-stroked-button matButton="outlined" color="primary" (click)="onCancel()">
                {{ data.noLabel || "Cancel" }}
            </button>
        </div>
    </div>
</div>