.equal-width-table {
  width: 100% !important;
  table-layout: fixed !important;
}

.equal-width-table th.mat-header-cell,
.equal-width-table td.mat-cell {
  width: 33.33% !important;
  overflow-wrap: break-word;
  white-space: normal;
}

.btn-height {
  line-height: 1;
}
