<!-- <div class="row">
  <div class="col-md-12">
    <div class="panel top">
      <div class="panel-heading">
        <h3 class="panel-title">{{ title }} Management</h3>
        <div class="right">
          <button
            type="button"
            class="btn-toggle-collapse"
            data-toggle="collapse"
            data-target="#searchDataCountry"
            >
            <i class="fa fa-minus-circle"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 left">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">{{ title }}</h3>
        <div class="right">
          <button
            type="button"
            class="btn-toggle-collapse"
            data-toggle="collapse"
            data-target="#allDataCountry"
            aria-expanded="false"
            aria-controls="allDataCountry"
            >
            <i class="fa fa-minus-circle"></i>
          </button>
        </div>
      </div>
      <div id="allDataCountry" class="panel-collapse collapse in">
        <div class="panel-body table-responsive">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <table class="table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Building Config Mapping</th>
                  </tr>
                </thead>
                <tbody>
                  @for (
                    country of countryListData
                    | paginate
                    : {
                    id: 'countryListData',
                    itemsPerPage: countryitemsPerPage,
                    currentPage: currentPageCountrySlab,
                    totalItems: countrytotalRecords
                    }; track
                    country; let i = $index) {
                    <tr
                      >
                      <td>{{ country.name }}</td>
                      <td>{{ country.mappingFrom }}</td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 right">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">{{ isCountryEdit ? "Update" : "Create" }} {{ title }}</h3>
        <div class="right">
          <button
            type="button"
            class="btn-toggle-collapse"
            data-toggle="collapse"
            data-target="#createDataCountry"
            aria-expanded="false"
            aria-controls="createDataCountry"
            >
            <i class="fa fa-minus-circle"></i>
          </button>
        </div>
      </div>
      <div id="createDataCountry" class="panel-collapse collapse in">
        @if (!createAccess && !isCountryEdit) {
          <div class="panel-body table-responsive">
            Sorry you have not privilege to create operation!
          </div>
        }
        @if (createAccess || (isCountryEdit && editAccess)) {
          <div class="panel-body">
            <form [formGroup]="buildingconfFormGroup">
              <label>{{ title }} Name*</label>
              <input
                id="name"
                type="text"
                class="form-control"
                placeholder="Enter {{ title }} Name"
                formControlName="name"
                [ngClass]="{ 'is-invalid': submitted && buildingconfFormGroup.controls.name.errors }"
                maxLength="250"
                />
                @if (submitted && buildingconfFormGroup.controls.name.errors) {
                  <div
                    class="errorWrap text-danger"
                    >
                    @if (submitted && buildingconfFormGroup.controls.name.errors.required) {
                      <div
                        class="error text-danger"
                        >
                        {{ title }} Name is required.
                      </div>
                    }
                    @if (submitted && buildingconfFormGroup.controls.name.errors?.cannotContainSpace) {
                      <div
                        class="position"
                        >
                        <p class="error">White space are not allowed.</p>
                      </div>
                    }
                  </div>
                }
                <br />
                <div>
                  <label>{{ title }} Mapping*</label>
                  <p-dropdown
                    [options]="dunningData"
                    optionValue="value"
                    optionLabel="text"
                    filter="true"
                    filterBy="text"
                    placeholder="Select a {{ title }} Mapping"
                    formControlName="mappingFrom"
                    [disabled]="countryListData && countryListData.length >= 1"
                  ></p-dropdown>
                  @if (submitted && buildingconfFormGroup.controls.mappingFrom.errors) {
                    <div
                      class="errorWrap text-danger"
                      >
                      @if (submitted && buildingconfFormGroup.controls.mappingFrom.errors.required) {
                        <div
                          class="error text-danger"
                          >
                          {{ title }} Mapping is required.
                        </div>
                      }
                    </div>
                  }
                  <br />
                </div>
                <div class="addUpdateBtn">
                  <button
                    type="submit"
                    class="btn btn-primary"
                    id="submit"
                    (click)="addEditCountry('')"
                    [disabled]="countryListData && countryListData.length >= 1"
                    >
                    <i class="fa fa-check-circle"></i>
                    Add {{ title }}
                  </button>
                  <br />
                </div>
              </form>
            </div>
          }
        </div>
      </div>
    </div>
  </div> -->
<!-- new code -->
<div class="container-fluid contain-flud">
  <div class="row">

    <!-- Table Card with mat-card-header -->
    <div class="col-md-12">
      <mat-card class="cardWithShadow">
        <mat-card-content class="mat-card-content-border">
          <div class="m-b-2 d-flex justify-content-end w-100">
            <button mat-button mat-flat-button color="primary"
              [ngStyle]="{'cursor': countryListData && countryListData.length >= 1 ? 'not-allowed' : 'pointer'}"
              (click)="addEditCountryDialog()"
               [disabled]="countryListData && countryListData.length >= 1"
              class="button-normal mr-10 btn-height">
              Add {{ title }}
            </button>
          </div>
          <div class="country-table-list">
            <div class="table-container">
              <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 w-100 equal-width-table">
                <!-- ID Column -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef class="table-header-title">ID</th>
                  <td mat-cell *matCellDef="let country">{{ country.id }}</td>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="Name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header-title" sticky>
                    Name
                  </th>
                  <td mat-cell *matCellDef="let country" class="f-s-14">{{ country.name }}</td>
                </ng-container>
                <!-- Building Config Mapping Column -->
                <ng-container matColumnDef="BuildingConfigMapping">
                  <th mat-header-cell *matHeaderCellDef class="table-header-title">
                    Building Config Mapping
                  </th>
                  <td mat-cell *matCellDef="let country">{{ country.mappingFrom }}</td>
                </ng-container>
                <tr mat-header-row class="table-header-bg" *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row class="table-content-row" *matRowDef="let row; columns: displayedColumns"></tr>
              </table>
              <mat-paginator [length]="totalRecords" [pageSize]="itemsPerPage"
                [pageSizeOptions]="[5,10,20,50,100]" showFirstLastButtons (page)="pageChangedCountryList($event)">
              </mat-paginator>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>