<!-- <div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="panel">
      <div class="panel-heading">
        <div class="displayflex">
          <button (click)="customerDetailOpen()" class="btn btn-secondary backbtn" data-placement="bottom"
            data-toggle="tooltip" title="Go to Diary Audit Details" type="button">
            <i class="fa fa-arrow-circle-left" style="color: #f7941e !important; font-size: 28px"></i>
          </button>
          <h3 class="panel-title">
            {{ custData.title }}
            {{ custData.custname }} Diary Audit List
          </h3>
        </div>
        <div class="right">
          <button aria-controls="inventoryListPreCust" aria-expanded="false" class="btn-toggle-collapse"
            data-target="#inventoryListPreCust" data-toggle="collapse" type="button">
            <i class="fa fa-minus-circle"></i>
          </button>
        </div> -->
        <!-- <button
        *ngIf="removeAccess"
        (click)="removeFromParent()"
        [disabled]="this.checkedList.length == 0"
        class="right"
        class="btn btn-primary statusbtn"
        data-backdrop="static"
        data-keyboard="false"
        data-target="#removeParent"
        data-toggle="modal"
          style="
            background-color: #f7941e !important;
            font-size: 16px;
            padding: 3px 12px;
            margin-top: 10px;
          "
        title="Remove parent"
        type="submit"
        >
        Remove
      </button> -->
        <!-- <button
      *ngIf="makeParentAccess"
      (click)="makeParent(custData.id)"
      [disabled]="this.checkedList.length == 0"
      class="right"
      class="btn btn-primary statusbtn"
      data-backdrop="static"
      data-keyboard="false"
      data-target="#removeParent"
      data-toggle="modal"
          style="
            background-color: #f7941e !important;
            font-size: 16px;
            padding: 3px 12px;
            margin-top: 10px;
          "
      title="Remove parent"
      type="submit"
      >
      Make Parent
    </button> -->
      <!-- </div>

      <div class="panel-collapse collapse in" id="inventoryListPreCust">
        <div class="panel-body table-responsive">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <table class="table">
                <thead>
                  <tr> -->
                    <!-- <th width="2%">
                <input
                  (change)="checkUncheckAll()"
                  [(ngModel)]="this.masterSelected"
                  name="master-checkbox"
                  type="checkbox"
                  />
                </th> -->
                    <!-- <th>Task Number</th>
                    <th>Task Title</th>
                    <th>Assigne Name</th>
                    <th>Task Status</th>
                    <th>Task Priority</th>
                    <th>Task StartDate</th>
                    <th>Task EndDate</th>
                    <th>View Task History</th>
                  </tr>
                </thead>
                <tbody>
                  @for (
                  data of taskAuditList
                  | paginate
                  : {
                  id: 'taskAuditList',
                  itemsPerPage: pageSizeForTaskAuditPage,
                  currentPage: pageNumberForTaskAuditPage,
                  totalItems: taskAuditTotalRecords
                  }; track
                  data; let i = $index) {
                  <tr>
                    <td>{{ data.caseNumber }}</td>
                    <td>{{ data.caseTitle }}</td>
                    <td>{{ data.assigneeName }}</td>
                    <td>{{ data.caseStatus }}</td>
                    <td>{{ data.priority }}</td>
                    <td>{{ data.startDate }}</td>
                    <td style="text-align: center">
                      {{ data.endDate == null ? "-" : data.endDate }}
                    </td>
                    <td>
                      <button (click)="getTaskDetails(data.caseId)" class="btn btn-primary" style="
                          border-radius: 5px;
                          padding: 5px 10px;
                          line-height: 1.5;
                          margin-left: 5px;
                        ">
                        <i class="fa fa-eye"></i>
                      </button>
                    </td>
                  </tr>
                  }
                </tbody>
              </table>
              <div style="display: flex">
                <pagination-controls (pageChange)="pageChangeEventForChildCustomers($event)" [directionLinks]="true"
                  [maxSize]="10" id="taskAuditList" nextLabel="" previousLabel=""></pagination-controls>
                <div id="itemPerPageDropdown">
                  <p-dropdown (onChange)="itemPerPageChangeEvent($event)" [options]="pageLimitOptions"
                    optionLabel="value" optionValue="value"></p-dropdown>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <p-dialog header="Task History" [(visible)]="isTaskDetail" [style]="{ width: '50%' }" [modal]="true" [responsive]="true"

  [draggable]="false" [closable]="true" (onHide)="closeTaskDetail()">
  <div class="modal-body">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <fieldset style="margin-top: 0rem; margin-bottom: 2rem">
          <legend>Task History</legend>
          <div class="boxWhite">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 dataGroup m-0">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Create By</th>
                      <th>Create Date</th>
                      <th>Update Date</th>
                      <th>Update By</th>
                    </tr>
                  </thead>
                  <tbody>
                    @for (caseUpdate of taskDetailsData?.caseUpdateList; track caseUpdate) {
                    <tr>
                      <td>{{ caseUpdate?.createdByName }}</td>
                      <td>{{ caseUpdate?.createdate }}</td>
                      <td>{{ caseUpdate?.updatedate }}</td>
                      <td>{{ caseUpdate?.lastModifiedByName }}</td>
                    </tr>
                    }
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" (click)="closeTaskDetail()" data-dismiss="modal" type="button">
      Close
    </button>
  </div>
</p-dialog> -->

<div class="row">
  <div class="col-md-12">
    <mat-card class="cardWithShadow">
      <mat-card-header>
        <img src="assets/img/DashboardIcons/Back Arrow.svg" alt="arrow back" class="m-r-10"
          (click)="customerDetailOpen()">
        <div style="font-size:x-large; align-items: center; font-weight: 500; align-content: center;">
          {{ custData.title }} {{ custData.custname }} Diary Audit List
        </div>
      </mat-card-header>
      <mat-card-content class="mat-card-content-border">
        <div class="country-table-list">
          <div class="table-container">
            <table mat-table [dataSource]="taskAuditList" matSort class="mat-elevation-z8 w-100">

              <ng-container matColumnDef="caseNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header-title" sticky> Task Number
                </th>
                <td mat-cell *matCellDef="let data"> {{ data.caseNumber }} </td>
              </ng-container>

              <ng-container matColumnDef="caseTitle">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header-title" sticky> Task Title
                </th>
                <td mat-cell *matCellDef="let data"> {{ data.caseTitle }} </td>
              </ng-container>

              <ng-container matColumnDef="assigneeName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header-title" sticky> Assignee Name
                </th>
                <td mat-cell *matCellDef="let data"> {{ data.assigneeName }} </td>
              </ng-container>

              <ng-container matColumnDef="caseStatus">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header-title" sticky> Task Status
                </th>
                <td mat-cell *matCellDef="let data"> {{ data.caseStatus }} </td>
              </ng-container>

              <ng-container matColumnDef="priority">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header-title" sticky> Task Priority
                </th>
                <td mat-cell *matCellDef="let data"> {{ data.priority }} </td>
              </ng-container>

              <ng-container matColumnDef="startDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header-title" sticky> Task StartDate
                </th>
                <td mat-cell *matCellDef="let data"> {{ data.startDate | date: 'dd/MM/yyyy' }} </td>
              </ng-container>

              <ng-container matColumnDef="endDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header-title" sticky> Task EndDate
                </th>
                <td mat-cell *matCellDef="let data" class="text-center"> {{ data.endDate ? (data.endDate | date:
                  'dd/MM/yyyy') : '-' }} </td>
              </ng-container>

              <ng-container matColumnDef="viewTaskHistory">
                <th mat-header-cell *matHeaderCellDef class="table-header-title" sticky> View Task History </th>
                <td mat-cell *matCellDef="let data">
                  <button (click)="getTaskDetails(data.caseId)" mat-raised-button color="primary"
                    style="border-radius: 5px; padding: 5px 10px; line-height: 1.5; margin-left: 5px;">
                    <mat-icon>visibility</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

            </table>

            <mat-paginator [length]="taskAuditTotalRecords" [pageSize]="pageSizeForTaskAuditPage"
              [pageSizeOptions]="[5,10,20,50,100]" showFirstLastButtons (page)="pageChangeEventForChildCustomers($event)">
            </mat-paginator>

          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<ng-template #detailDialog>
  <div class="dialog-container">
    <div class="dialog-header">
      Task History
      <span>
        <a mat-icon-button href="javascript:void(0)" (click)="closeTaskDetail()">
          <img src="assets/img/DashboardIcons/Reject.svg" alt="close icon">
        </a>
      </span>
    </div>
    <div mat-dialog-content>
      <div class="col-md-12">

        <mat-card class="cardWithShadow">
          <div class="dialog-header">
            Task History
          </div>
          <mat-card-content>
            <div class="row">
              <div class="col-lg-12 col-md-12 m-0 dataGroup">
                <table mat-table [dataSource]="taskDetailsData?.caseUpdateList" class="mat-elevation-z8 w-100">

                  <ng-container matColumnDef="createdByName">
                    <th mat-header-cell *matHeaderCellDef sticky class="table-header-title">Create By</th>
                    <td mat-cell *matCellDef="let caseUpdate"> {{ caseUpdate?.createdByName }} </td>
                  </ng-container>

                  <ng-container matColumnDef="createdate">
                    <th mat-header-cell *matHeaderCellDef sticky class="table-header-title">Create Date</th>
                    <td mat-cell *matCellDef="let caseUpdate"> {{ caseUpdate?.createdate | date:'dd/MM/yyyy' }} </td>
                  </ng-container>

                  <ng-container matColumnDef="updatedate">
                    <th mat-header-cell *matHeaderCellDef sticky class="table-header-title">Update Date</th>
                    <td mat-cell *matCellDef="let caseUpdate"> {{ caseUpdate?.updatedate | date:'dd/MM/yyyy' }} </td>
                  </ng-container>

                  <ng-container matColumnDef="lastModifiedByName">
                    <th mat-header-cell *matHeaderCellDef sticky class="table-header-title">Update By</th>
                    <td mat-cell *matCellDef="let caseUpdate"> {{ caseUpdate?.lastModifiedByName }} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="taskHistoryDisplayedColumns; sticky: true"
                    class="table-header-bg"></tr>
                  <tr mat-row *matRowDef="let row; columns: taskHistoryDisplayedColumns" class="table-content-row"></tr>
                </table>
              </div>
            </div>
          </mat-card-content>
        </mat-card>

      </div>
    </div>
    <div mat-dialog-actions class="p-0 mt-10 dialog-action-adjust">
      <button mat-stroked-button color="primary" class="button-normal" (click)="closeTaskDetail()">
        Close
      </button>
    </div>
  </div>
</ng-template>