<a
  mat-list-item
  (click)="onItemSelected(item)"
  style="width: 100%"
  [ngClass]="{
    activeMenu: isActive
  }"
  class="menu-list-item"
>
  <div class="d-flex gap-8 align-items-center" style="text-overflow: ellipsis; width: 80%">
    <img class="routeIcon" style="height: 20px" [src]="'../../../../assets/img/' + item.iconName" />
    <span class="hide-menu">{{ item.displayName }}</span>
  </div>
  <div class="d-flex align-items-center gap-4">
    @if (item.subMenu && item.subMenu.length) {
      <span class="arrow-icon" fxFlex>
        <span fxFlex></span>
        <mat-icon [@indicatorRotate]="expanded ? 'expanded' : 'collapsed'"> expand_more </mat-icon>
      </span>
    }
  </div>
</a>

<!-- children -->
@if (expanded) {
  @for (child of item.subMenu; track $index) {
    <div style="margin-left: 10px; width: 95%">
      <app-nav-item [item]="child" (click)="onSubItemSelected(child)" [depth]="depth + 1">
      </app-nav-item>
    </div>
  }
}
