<div class="row">
  <div class="col-md-12">
    <mat-card class="cardWithShadow w-100">
      <!-- <mat-card-header>
        <mat-card-title>Radius Customer Management</mat-card-title>
      </mat-card-header> -->

      <mat-card-content>
        <mat-tab-group
          mat-stretch-tabs="false"
          mat-align-tabs="start"
          [selectedIndex]="selectedTabIndex"
          (selectedIndexChange)="onTabChange($event)"
        >
          <!-- Home Tab -->
          <mat-tab>
            <ng-template mat-tab-label>
              <span>Home</span>
            </ng-template>
          </mat-tab>

          <!-- Customer Plans Tab -->
          <mat-tab>
            <ng-template mat-tab-label>
              <span>Customer Plans</span>
            </ng-template>
          </mat-tab>

          <!-- CDR Session Tab -->
          <mat-tab>
            <ng-template mat-tab-label>
              <span>CDR Session</span>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>

    <!-- Route content loads here -->
    <router-outlet></router-outlet>
  </div>
</div>

<!-- <div class="row">
  <div class="col-md-12">
    <mat-card class="cardWithShadow w-100">
      <mat-card-header>
        <mat-card-title>Radius Customer Management</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
          <mat-tab>
            <ng-template mat-tab-label>
              <img src="../../../assets/img/i01.png" width="24" class="mr-2" />
              <span>Home</span>
            </ng-template>
            <div class="p-3">
              <a class="curson_pointer" [routerLink]="['x/' + custId]">Go to Home</a>
            </div>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <img src="../../../assets/img/i01.png" width="24" class="mr-2" />
              <span>Customer Plans</span>
            </ng-template>
            <div class="p-3">
              <a class="curson_pointer" [routerLink]="['plans/' + custId]">Go to Customer Plans</a>
            </div>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <img src="../../../assets/img/i01.png" width="24" class="mr-2" />
              <span>CDR Session</span>
            </ng-template>
            <div class="p-3">
              <a class="curson_pointer" [routerLink]="['cdr/' + custId]">Go to CDR Session</a>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>

    <router-outlet></router-outlet>
  </div>
</div> -->








 <!-- <div class="row">
  <div class="col-md-12">
    <div class="panel mb-15">
      <div class="panel-heading">
        <h3 class="panel-title">Radius Customer Management</h3>
        <br />
        <div class="panel-collapse collapse in" id="searchPreCust">
          <div class="row panel-udata">
            <div class="col-md-4 pcol pcolumn">
              <div
                [ngClass]="{
                  activeSubMenu: isDetails
                }"
                class="dbox"
              >
                <a class="curson_pointer" href="javascript:void(0)" [routerLink]="['x/' + custId]">
                  <img src="../../../assets/img/i01.png" style="width: 32px" />
                  <h5>Home</h5>
                </a>
              </div>
            </div>
            <div class="col-md-4 pcol pcolumn">
              <div
                [ngClass]="{
                  activeSubMenu: isPlan
                }"
                class="dbox"
              >
                <a class="curson_pointer" [routerLink]="['plans/' + custId]">
                  <img src="../../../assets/img/i01.png" style="width: 32px" />
                  <h5>Customer Plans</h5>
                </a>
              </div>
            </div>
            <div class="col-md-4 pcol pcolumn">
              <div
                [ngClass]="{
                  activeSubMenu: isCDR
                }"
                class="dbox"
              >
                <a [routerLink]="['cdr/' + custId]" class="curson_pointer">
                  <img src="../../../assets/img/i01.png" style="width: 32px" />
                  <h5>CDR Session</h5>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <router-outlet> </router-outlet>
  </div>
</div>  -->
