.sub-reason-table {
    width: 800px;
    margin-top: 20px;
    margin-left: 2px;
}

 .paginator-bottom-end {
  display: flex;
  justify-content: flex-end;
  padding: 8px 16px;      
  box-sizing: border-box;
   width: 100%;  
}
.custom-dialog-actions-right {
    display: flex !important;
    justify-content: flex-end !important;
    gap: 12px !important;
    padding: 1em !important;
    width: 100% !important;
}

.custom-dialog-actions-right button {
    min-width: auto !important;
    width: auto !important;
}
.m-r-240{
  margin-right: 240px;
}