<!-- 
<div class="row">
  <div class="col-md-12">
    <div class="panel top">
      <div class="panel-heading">
        <h3 class="panel-title">Driver Management</h3>
        <div class="right">
          <button
            type="button"
            class="btn-toggle-collapse"
            data-toggle="collapse"
            data-target="#dbMappingSearchPanel"
            aria-expanded="false"
            aria-controls="dbMappingSearchPanel"
            >
            <i class="fa fa-minus-circle"></i>
          </button>
        </div>
      </div>
      <div id="dbMappingSearchPanel" class="panel-collapse collapse in">
        <div class="panel-body">
          <div class="searchForm">
            <form class="form-auth-small" [formGroup]="searchForm">
              <div class="row">
                <div class="col-12 col-sm-4 col-md-2" style="padding: 0%; text-align: right">
                  <label style="padding: 5px">Device Driver Name:</label>
                </div>
                <div class="col-12 col-sm-6 col-md-2" style="padding-left: 0%">
                  <input
                    id="search-mappingmaster-name"
                    type="text"
                    name="name"
                    class="form-control"
                    placeholder="Enter Device Driver Name"
                    formControlName="name"
                    (keydown.enter)="searchByName()"
                    [ngClass]="{
                      'is-invalid': searchSubmitted && searchForm.controls.name.errors
                    }"
                    />
                  </div>
                  <div class="col-md-4" style="padding-left: 0%">
                    <button
                      type="submit"
                      class="btn btn-primary"
                      title="Search Device Driver Details"
                      data-toggle="tooltip"
                      (click)="searchByName()"
                      id="search-button"
                      >
                      <i class="fa fa-search"></i>
                      Search
                    </button>
                    &nbsp;
                    <button
                      type="reset"
                      class="btn btn-default"
                      title="Clear"
                      data-toggle="tooltip"
                      (click)="clearSearchForm()"
                      id="search-clear"
                      >
                       <img src="assets/img/DashboardIcons/Refresh.svg" />
                      Clear
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 -->

<!--  
  <div class="row">
    <div class="col-md-6 left">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Device Drivers</h3>
          <div class="right">
            <button
              type="button"
              class="btn-toggle-collapse"
              data-toggle="collapse"
              data-target="#dbMappingTablePanel"
              aria-expanded="false"
              aria-controls="dbMappingTablePanel"
              >
              <i class="fa fa-minus-circle"></i>
            </button>
          </div>
        </div>
        <div id="dbMappingTablePanel" class="panel-collapse collapse in">
          <div class="panel-body table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Address</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                @for (
                  mappingMaster of deviceDriverData
                  | paginate
                  : {
                  id: 'listing_groupdata',
                  itemsPerPage: itemsPerPage,
                  currentPage: currentPage,
                  totalItems: totalRecords
                  }; track
                  mappingMaster; let i = $index) {
                  <tr
                    >
                    <td>
                      {{ mappingMaster.name }}
                    </td>
                    <td>{{ mappingMaster.address }}</td>
                    @if (editAccess || deleteAccess) {
                      <td class="btnAction">
                        @if (editAccess) {
                          <a
                            id="edit-button"
                            type="button"
                            data-title="Edit"
                            data-toggle="tooltip"
                            class="curson_pointer"
                            (click)="editDeviceDriverById(mappingMaster.deviceDriverId, i)"
                            >
                          <img src="assets/img/DashboardIcons/Edit.svg" >
                          </a>
                        }
                        @if (deleteAccess) {
                          <a
                            id="delete-button"
                            data-title="Delete"
                            data-toggle="tooltip"
                            class="curson_pointer"
                            (click)="deleteConfirm(mappingMaster.deviceDriverId, i)"
                            >
                             <img src="assets/img/DashboardIcons/trash-bin-trash-svgrepo-com 1.svg" >
                          </a>
                        }
                      </td>
                    }
                  </tr>
                }
              </tbody>
            </table>
            <br /> -->



<!-- <div class="row">
            <div class="col-md-12" style="display: flex">
              <pagination-controls
                id="listing_groupdata"
                [maxSize]="10"
                [directionLinks]="true"
                previousLabel=""
                nextLabel=""
                (pageChange)="pageChanged($event)"
              ></pagination-controls>
              <div id="itemPerPageDropdown">
                <p-dropdown
                  [options]="pageLimitOptions"
                  optionLabel="value"
                  optionValue="value"
                  (onChange)="TotalItemPerPage($event)"
                ></p-dropdown>
              </div>
            </div>
          </div> -->

<!-- </div>
      </div>
    </div>
  </div> -->

<!-- 
  <div class="col-md-6 right">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">{{ editMode ? "Update" : "Create" }} Device Driver</h3>
        <div class="right">
          <button
            type="button"
            class="btn-toggle-collapse"
            data-toggle="collapse"
            data-target="#dbMappingFormPanel"
            aria-expanded="false"
            aria-controls="dbMappingFormPanel"
            >
            <i class="fa fa-minus-circle"></i>
          </button>
        </div>
      </div>
      @if (!createAccess && !editMode) {
        <div class="panel-body table-responsive">
          Sorry you have not privilege to create operation!
        </div>
      }
      @if (editAccess || createAccess) {
        <div
          id="dbMappingFormPanel"
          class="panel-collapse collapse in"
          >
          <form class="form-auth-small" [formGroup]="deviceDriverForm">
            <div class="panel-body">
              <label>Device Driver Name</label>
              <input
                id="name"
                type="text"
                name="name"
                class="form-control"
                placeholder="Enter Device Driver Name"
                formControlName="name"
              [ngClass]="{
                'is-invalid': submitted && deviceDriverForm.controls.name.errors
              }"
                />
                @if (submitted && deviceDriverForm.controls.name.errors) {
                  <div
                    class="errorWrap text-danger"
                    >
                    @if (submitted && deviceDriverForm.controls.name.errors.required) {
                      <div
                        class="error text-danger"
                        >
                        Please Enter Device Driver Name.
                      </div>
                    }
                  </div>
                }
                <br />
                <div>
                  <label style="display: block">Address</label>
                  <input
                    id="address"
                    type="text"
                    name="address"
                    class="form-control"
                    placeholder="Enter Device Driver Address"
                    formControlName="address"
                [ngClass]="{
                  'is-invalid': submitted && deviceDriverForm.controls.address.errors
                }"
                    />
                    @if (submitted && deviceDriverForm.controls.address.errors) {
                      <div
                        class="errorWrap text-danger"
                        >
                        @if (submitted && deviceDriverForm.controls.address.errors.required) {
                          <div
                            class="error text-danger"
                            >
                            Please Enter Device Driver Address.
                          </div>
                        }
                      </div>
                    }
                  </div>
                  <br />
                  <div>
                    <label style="display: block">Username</label>
                    <input
                      id="userName"
                      type="text"
                      name="userName"
                      class="form-control"
                      placeholder="Enter Device Driver UserName"
                      formControlName="userName"
                [ngClass]="{
                  'is-invalid': submitted && deviceDriverForm.controls.userName.errors
                }"
                      />
                      @if (submitted && deviceDriverForm.controls.userName.errors) {
                        <div
                          class="errorWrap text-danger"
                          >
                          @if (submitted && deviceDriverForm.controls.userName.errors.required) {
                            <div
                              class="error text-danger"
                              >
                              Please Enter Device Driver UserName.
                            </div>
                          }
                        </div>
                      }
                    </div>
                    <br />
                    <div>
                      <label style="display: block">password</label>
                      <input
                        id="password"
                        type="text"
                        name="password"
                        class="form-control"
                        placeholder="Enter Device Driver Password"
                        formControlName="password"
                [ngClass]="{
                  'is-invalid': submitted && deviceDriverForm.controls.password.errors
                }"
                        />
                        @if (submitted && deviceDriverForm.controls.password.errors) {
                          <div
                            class="errorWrap text-danger"
                            >
                            @if (submitted && deviceDriverForm.controls.password.errors.required) {
                              <div
                                class="error text-danger"
                                >
                                Please Enter Device Driver Password.
                              </div>
                            }
                          </div>
                        }
                      </div>
                      <br />
                      <div>
                        <label style="display: block">User DN</label>
                        <input
                          id="userDn"
                          type="text"
                          name="userdn"
                          class="form-control"
                          placeholder="Enter User DN "
                          formControlName="userDn"
                [ngClass]="{
                  'is-invalid': submitted && deviceDriverForm.controls.userDn.errors
                }"
                          />
                          @if (submitted && deviceDriverForm.controls.userDn.errors) {
                            <div
                              class="errorWrap text-danger"
                              >
                              @if (submitted && deviceDriverForm.controls.userDn.errors.required) {
                                <div
                                  class="error text-danger"
                                  >
                                  Please Enter Device Driver User DN.
                                </div>
                              }
                            </div>
                          }
                        </div>
                        <br />
                        <div>
                          <label style="display: block">Username Attribute</label>
                          <input
                            id="userNameAttribute"
                            type="text"
                            name="userNameAttribute"
                            class="form-control"
                            placeholder="Enter Username Attribute"
                            formControlName="userNameAttribute"
                [ngClass]="{
                  'is-invalid': submitted && deviceDriverForm.controls.userNameAttribute.errors
                }"
                            />
                            @if (submitted && deviceDriverForm.controls.userNameAttribute.errors) {
                              <div
                                class="errorWrap text-danger"
                                >
                                @if (submitted && deviceDriverForm.controls.userNameAttribute.errors.required) {
                                  <div
                                    class="error text-danger"
                                    >
                                    Please Enter Device Driver Username Attribute.
                                  </div>
                                }
                              </div>
                            }
                          </div>
                          <br />
                          <div>
                            <label style="display: block">Password Attribute</label>
                            <input
                              id="passwordAttribute"
                              type="text"
                              name="passwordAttribute"
                              class="form-control"
                              placeholder="Enter Password Attribute"
                              formControlName="passwordAttribute"
                [ngClass]="{
                  'is-invalid': submitted && deviceDriverForm.controls.userDn.errors
                }"
                              />
                              @if (submitted && deviceDriverForm.controls.passwordAttribute.errors) {
                                <div
                                  class="errorWrap text-danger"
                                  >
                                  @if (submitted && deviceDriverForm.controls.passwordAttribute.errors.required) {
                                    <div
                                      class="error text-danger"
                                      >
                                      Please Enter Device Driver Password attribute.
                                    </div>
                                  }
                                </div>
                              }
                            </div>
                            <br />
                            <div class="addUpdateBtn">
                              <button
                                style="margin-right: 10px"
                                type="submit"
                                class="btn btn-primary"
                                title="Test Connection"
                                data-toggle="tooltip"
                                (click)="testDeviceDriverConnection()"
                                >
                                Test Connection
                              </button>
                              <button
                                type="submit"
                                class="btn btn-primary"
                                title="Submit DB Mapping Master Details"
                                data-toggle="tooltip"
                                (click)="addDeviceDriver()"
                                >
                                <i class="fa fa-check-circle"></i>
                                {{ editMode ? "Update Device Driver" : "Add Device Driver" }}
                              </button>
                              <br />
                            </div>
                          </div>
                        </form>
                      </div>
                    }
                  </div>
                </div>
              </div>
              <div class="row"></div> -->



<div class="row header-row">
    <mat-card class="cardWithShadow w-100">
        <mat-card-content class="mat-card-content-border">
            <form class="form-auth-small" [formGroup]="searchForm">
                <div class="row">
                    <div class="col-sm-9 d-flex">
                        <mat-form-field appearance="outline" style="margin-left: 16px" class="w-100 hide-hint mr-10 header-input">
                            <input id="search-mappingmaster-name" name="name" class="input-p-5" formControlName="name"
                                placeholder="Enter Device Driver Name" (keydown.enter)="searchByName()" [ngClass]="{
                  'is-invalid': searchSubmitted && searchForm.controls.name.errors
                }" matInput />
                            <mat-icon matSuffix class="search-header-search-icon">
                                <i class="pi pi-search icon-size"></i>
                            </mat-icon>
                        </mat-form-field>

                        <button mat-button mat-flat-button color="primary" class="button-normal mr-10"
                            title="Search Device Driver Details" data-toggle="tooltip" (click)="searchByName()"
                            id="search-button">
                            Search
                        </button>
                        <button mat-stroked-button matButton="outlined" class="button-normal" title="Clear"
                            data-toggle="tooltip" (click)="clearSearchForm()" id="search-clear">
                            Clear
                        </button>
                    </div>

                    <div class="col-sm-3 search-div">
                        <button mat-button mat-flat-button color="primary" (click)="openDeviceDrivernDialog()"
                            class="button-normal mr-10">
                            Add driver
                        </button>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>



<div class="container-fluid contain-flud">
    <div class="row">
        <div class="col-md-12">
            <mat-card class="cardWithShadow">
                <mat-card-content class="mat-card-content-border">
                    <div class="country-table-list">
                        <div class="table-container">
                            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 w-100">
                                <ng-container matColumnDef="id">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header-title"
                                        sticky>
                                        ID
                                    </th>
                                    <td mat-cell *matCellDef="let deviceDriver" class="f-s-14">
                                        {{ deviceDriver.deviceDriverId }}
                                    </td>
                                </ng-container>

                                <!-- Name Column -->
                                <ng-container matColumnDef="Name">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header-title"
                                        sticky>
                                        Name
                                    </th>
                                    <td mat-cell *matCellDef="let deviceDriver" class="f-s-14">
                                        {{ deviceDriver.name }}
                                    </td>
                                </ng-container>

                                <!-- Address Column -->
                                <ng-container matColumnDef="Address">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header-title"
                                        sticky>
                                        Address
                                    </th>
                                    <td mat-cell *matCellDef="let deviceDriver" class="f-s-14">
                                        {{ deviceDriver.address }}
                                    </td>
                                </ng-container>

                                <!-- Action Column -->
                                @if (editAccess || deleteAccess) {
                                <ng-container matColumnDef="Action">
                                    <th mat-header-cell *matHeaderCellDef stickyEnd class="table-header-title">
                                        Action
                                    </th>
                                    <td mat-cell *matCellDef="let deviceDriver" class="btnAction">
                                        @if (editAccess) {
                                        <a mat-icon-button matTooltip="edit" href="javascript:void(0)" id="edit-button" title="Edit"
                                            data-toggle="tooltip"
                                            (click)="editDeviceDriverById(deviceDriver.deviceDriverId, i)">
                                            <img src="assets/img/DashboardIcons/Edit.svg" >
                                        </a>
                                        }
                                        @if (deleteAccess) {
                                        <a mat-icon-button matTooltip="delete" href="javascript:void(0)" id="delete-button" title="Delete"
                                            data-toggle="tooltip"
                                            (click)="deleteConfirm(deviceDriver.deviceDriverId, i)">
                                            <img src="assets/img/DashboardIcons/trash-bin-trash-svgrepo-com 1.svg" >
                                        </a>
                                        }
                                    </td>
                                </ng-container>
                                }

                                <tr mat-header-row class="table-header-bg"
                                    *matHeaderRowDef="getDisplayedPlanDetailsColumns(); sticky: true"></tr>
                                <tr mat-row class="table-content-row" *matRowDef="let row; columns: getDisplayedPlanDetailsColumns()">
                                </tr>
                            </table>

                            <!-- Add MatPaginator -->
                            <mat-paginator [length]="totalRecords" [pageSize]="pageSize"
                                [pageSizeOptions]="pageSizeOptions" [pageIndex]="currentPage"
                                (page)="onPageChange($event)" showFirstLastButtons
                                aria-label="Select page of device drivers">
                            </mat-paginator>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <!-- Device Drivers list table end -->
    </div>
</div>


<ng-template #deviceDriverDialog let-dialogRef="dialogRef">

    <div class="dialog-container">
        <!-- Header -->
        <div class="dialog-header dialog-header-titleFont">
            <span class="dialog-header-titleFont">{{ editMode ? "Update" : "Create" }} Device Driver</span>
            <span>
                <a mat-icon-button href="javascript:void(0)" (click)="dialogRef.close()">
                     <img src="assets/img/DashboardIcons/Reject.svg">
                </a>
            </span>
        </div>

        <form [formGroup]="deviceDriverForm" class="card-form mb-3">
            <!-- Content -->
            <div mat-dialog-content>
                <div class="col-md-12">
                    @if (!createAccess && !editMode) {
                    <mat-card-content class="matcard-content">
                        <div class="panel-body table-responsive">
                            Sorry you have not privilege to create operation!
                        </div>
                    </mat-card-content>
                    }
                    @if (editAccess || createAccess) {
                    <mat-card-content class="matcardContent">
                        <div class="row g-2">
                            <!-- Device Driver Name -->
                            <div class="col-sm-6">
                                <label for="name" class="inputLabel">Device Driver Name*</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input id="name" matInput type="text" name="name"
                                        placeholder="Enter Device Driver Name" formControlName="name" class="input-p-5"
                                        [ngClass]="{
                          'is-invalid': submitted && deviceDriverForm.controls.name.errors
                        }" />
                                    <mat-error *ngIf="
                          (submitted || deviceDriverForm.controls['name'].touched) &&
                          deviceDriverForm.controls['name'].errors as errors
                        ">
                                        <span *ngIf="errors['required']">
                                            Please Enter Device Driver Name.
                                        </span>
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <!-- Address -->
                            <div class="col-sm-6">
                                <label for="address" class="inputLabel">Address*</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input id="address" matInput type="text" name="address"
                                        placeholder="Enter Device Driver Address" formControlName="address"
                                        class="input-p-5" [ngClass]="{
                          'is-invalid': submitted && deviceDriverForm.controls.address.errors
                        }" />
                                    <mat-error *ngIf="
                          (submitted || deviceDriverForm.controls['address'].touched) &&
                          deviceDriverForm.controls['address'].errors as errors
                        ">
                                        <span *ngIf="errors['required']">
                                            Please Enter Device Driver Address.
                                        </span>
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <!-- Username -->
                            <div class="col-sm-6">
                                <label for="userName" class="inputLabel">Username*</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input id="userName" matInput type="text" name="userName"
                                        placeholder="Enter Device Driver UserName" formControlName="userName"
                                        class="input-p-5" [ngClass]="{
                          'is-invalid': submitted && deviceDriverForm.controls.userName.errors
                        }" />
                                    <mat-error *ngIf="
                          (submitted || deviceDriverForm.controls['userName'].touched) &&
                          deviceDriverForm.controls['userName'].errors as errors
                        ">
                                        <span *ngIf="errors['required']">
                                            Please Enter Device Driver UserName.
                                        </span>
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <!-- Password -->
                            <div class="col-sm-6">
                                <label for="password" class="inputLabel">Password*</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input id="password" matInput type="password" name="password"
                                        placeholder="Enter Device Driver Password" formControlName="password"
                                        class="input-p-5" [ngClass]="{
                          'is-invalid': submitted && deviceDriverForm.controls.password.errors
                        }" />
                                    <mat-error *ngIf="
                          (submitted || deviceDriverForm.controls['password'].touched) &&
                          deviceDriverForm.controls['password'].errors as errors
                        ">
                                        <span *ngIf="errors['required']">
                                            Please Enter Device Driver Password.
                                        </span>
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <!-- User DN -->
                            <div class="col-sm-6">
                                <label for="userDn" class="inputLabel">User DN*</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input id="userDn" matInput type="text" name="userdn" placeholder="Enter User DN"
                                        formControlName="userDn" class="input-p-5" [ngClass]="{
                          'is-invalid': submitted && deviceDriverForm.controls.userDn.errors
                        }" />
                                    <mat-error *ngIf="
                          (submitted || deviceDriverForm.controls['userDn'].touched) &&
                          deviceDriverForm.controls['userDn'].errors as errors
                        ">
                                        <span *ngIf="errors['required']">
                                            Please Enter Device Driver User DN.
                                        </span>
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <!-- Username Attribute -->
                            <div class="col-sm-6">
                                <label for="userNameAttribute" class="inputLabel">Username Attribute*</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input id="userNameAttribute" matInput type="text" name="userNameAttribute"
                                        placeholder="Enter Username Attribute" formControlName="userNameAttribute"
                                        class="input-p-5" [ngClass]="{
                          'is-invalid': submitted && deviceDriverForm.controls.userNameAttribute.errors
                        }" />
                                    <mat-error *ngIf="
                          (submitted || deviceDriverForm.controls['userNameAttribute'].touched) &&
                          deviceDriverForm.controls['userNameAttribute'].errors as errors
                        ">
                                        <span *ngIf="errors['required']">
                                            Please Enter Device Driver Username Attribute.
                                        </span>
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <!-- Password Attribute -->
                            <div class="col-sm-6">
                                <label for="passwordAttribute" class="inputLabel">Password Attribute*</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input id="passwordAttribute" matInput type="text" name="passwordAttribute"
                                        placeholder="Enter Password Attribute" formControlName="passwordAttribute"
                                        class="input-p-5" [ngClass]="{
                          'is-invalid': submitted && deviceDriverForm.controls.passwordAttribute.errors
                        }" />
                                    <mat-error *ngIf="
                          (submitted || deviceDriverForm.controls['passwordAttribute'].touched) &&
                          deviceDriverForm.controls['passwordAttribute'].errors as errors
                        ">
                                        <span *ngIf="errors['required']">
                                            Please Enter Device Driver Password attribute.
                                        </span>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-card-content>
                    }
                </div>
            </div>

            <!-- Actions -->
            <div mat-dialog-actions class="p-0 m-t-10 dialog-action-adjust">
                <button mat-button mat-flat-button color="primary" type="button" class="button-normal"
                    style="margin-right: 10px" title="Test Connection" data-toggle="tooltip"
                    (click)="testDeviceDriverConnection()">
                    Test Connection
                </button>

                @if (!editMode) {
                <button mat-button mat-flat-button color="primary" type="submit" id="submit" (click)="addDeviceDriver()"
                    class="button-normal">
                    Add Device Driver
                </button>
                }
                @if (editMode) {
                <button mat-button mat-flat-button color="primary" type="submit" id="submit" (click)="addDeviceDriver()"
                    class="button-normal">
                    Update Device Driver
                </button>
                }
                <button mat-stroked-button matButton="outlined" type="button" color="primary" class="button-normal"
                    (click)="resetFormAndCloseDialog()">
                    Cancel
                </button>
            </div>
        </form>
    </div>

</ng-template>