<!-- <div class="row g-3 mt-3">
    <div class="col-lg-12 col-md-6">
        <mat-card class="cardWithShadow">
            <mat-card-content>
                <button mat-button mat-flat-button color="primary" (click)="addEditDialogService('')" class="button-normal"
                    style="width: auto;">
                    <mat-icon matSuffix class="addEdit-icon">
                        <i class="pi pi-plus icon-size"></i>
                    </mat-icon>Add Service</button>
            </mat-card-content>
        </mat-card>
 <div class="row g-3 mt-3">
    <div class="col-lg-12 col-md-6">
        <mat-card class="cardWithShadow">
            <mat-card-content>
                <button mat-button mat-flat-button color="primary" (click)="addEditDialogService('')" class="button-normal"
                    style="width: auto;">
                    <mat-icon matSuffix class="addEdit-icon">
                        <i class="pi pi-plus icon-size"></i>
                    </mat-icon>Add Service</button>
            </mat-card-content>
        </mat-card>
    </div>
</div> -->
<div class="row header-row">
    <mat-card class="cardWithShadow w-100">
        <mat-card-content class="mat-card-content-border">
            <div class="row">
                <div class="col-sm-9 d-flex custom">
                    <!-- <mat-form-field appearance="outline" class="search-label w-100 hide-hint mr-10">
            <input
              class="input-p-5"
              [(ngModel)]="searchCountryName"
              matInput
              placeholder="Search Service"
              (keydown.enter)="searchCountry()"
            />
            <mat-icon matSuffix class="search-header-search-icon">
              <i class="pi pi-search icon-size"></i>
            </mat-icon>
          </mat-form-field>

          <button
            mat-button
            mat-flat-button
            color="primary"
            class="button-normal m-r-10"
            (click)="searchCountry()"
          >
            Search
          </button>
          <button
            mat-stroked-button
            matButton="outlined"
            class="button-normal"
            (click)="clearSearchCountry()"
          >
            Clear
          </button> -->
                </div>

                <div class="col-sm-3 search-div">
                    <button mat-button mat-flat-button color="primary" (click)="addEditDialogService('')"
                        class="button-normal btn-aligment">
                        Add Service
                    </button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<div class="row g-3 mt-3 header-row w-100">
    <!-- <div class="col-lg-12 col-md-6"> -->
    <mat-card class="cardWithShadow w-100">
        <mat-card-content>
            <div class="panel1">
                <div id="searchSerice" class="panel-collapse collapse show">
                    <div class="panel-body table-responsive">
                        <table mat-table [dataSource]="serviceListData" class="mat-elevation-z8 w-100">
                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    class="f-w-600 f-s-15 table-header-title">
                                    ID
                                </th>
                                <td mat-cell *matCellDef="let element" class="f-s-14">{{ element.id }}</td>
                            </ng-container>

                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    class="f-w-600 f-s-15 table-header-title">
                                    Name
                                </th>
                                <td mat-cell *matCellDef="let element" class="f-s-14">{{ element.name||'-' }}</td>
                            </ng-container>

                            <ng-container matColumnDef="display_name">
                                <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-15 table-header-title">
                                    Display Name
                                </th>
                                <td mat-cell *matCellDef="let element" class="f-s-14">{{ element.displayName||'-' }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="ic_name">
                                <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-15 table-header-title">
                                    IC Name
                                </th>
                                <td mat-cell *matCellDef="let element" class="f-s-14">{{ element.icname||'-' }}</td>
                            </ng-container>

                            <ng-container matColumnDef="ic_code">
                                <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-15 table-header-title">
                                    IC Code
                                </th>
                                <td mat-cell *matCellDef="let element" class="f-s-14">{{ element.iccode||'-' }}</td>
                            </ng-container>

                            <ng-container matColumnDef="isp_name">
                                <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-15 table-header-title">
                                    ISP Name
                                </th>
                                <td mat-cell *matCellDef="let element" class="f-s-14">{{ element.mvnoName||'-' }}</td>
                            </ng-container>

                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-15 table-header-title">
                                    Action
                                </th>
                                <td mat-cell *matCellDef="let service">
                                    <div class="d-flex gap-2">
                                        @if (editAccess) {
                                        <a mat-icon-button matTooltip="edit" href="javascript:void(0)"
                                            (click)="editService(service.id)">
                                            <img src="assets/img/DashboardIcons/Edit.svg">
                                        </a>
                                        }
                                        @if (deleteAccess) {
                                        <!-- <button mat-icon-button (click)="deleteConfirmationServiceDialog(service)">
                        <img src="assets/img/DashboardIcons/trash-bin-trash-svgrepo-com 1.svg" >
                      </button> -->
                                        <a mat-icon-button matTooltip="delete" href="javascript:void(0)"
                                            (click)="deleteConfirmationServiceDialog(service)">
                                            <img src="assets/img/DashboardIcons/trash-bin-trash-svgrepo-com 1.svg">
                                        </a>
                                        }
                                    </div>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="getDisplayedPlanDetailsColumns()"></tr>
                            <tr mat-row *matRowDef="let row; columns: getDisplayedPlanDetailsColumns()"></tr>
                        </table>

                        <mat-paginator [length]="serviceListData?.data?.length || 0"
                            [pageSize]="serviceListdataitemsPerPage" [pageSizeOptions]="[5, 10, 20, 50, 100]"
                            (page)="pageChangedServiceList($event)" showFirstLastButtons>
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <!-- </div> -->

    <!-- <div class="col-lg-5 col-md-6">
        <mat-card class="cardWithShadow h-100">
            <mat-card-header class="d-flex align-items-center" style="height: 70px;">
                <mat-card-title class="h5 m-0 text-center">
                    {{ isServiceEdit ? "Update" : "Create" }} Service
                </mat-card-title>
            </mat-card-header>

            <mat-card-content>
                @if (!createAccess && !isServiceEdit) {
                <div class="text-center text-muted p-3">
                    Sorry, you don’t have privilege to create operation!
                </div>
                }

                @if (createAccess || (isServiceEdit && editAccess)) {
                <form class="card-form mb-3" [formGroup]="serviceGroupForm">
                    <div class="row g-3">

                        <div class="col-12">
                            <label for="servicename" class="inputLabel">Service Name*</label>
                            <mat-form-field appearance="outline" class="w-100">
                                <input id="servicename" matInput placeholder="Enter Service Name" formControlName="name"
                                    maxlength="250" class="input-box" [ngClass]="{ 'is-invalid': (submitted || serviceGroupForm.get('name')?.touched) 
                                && serviceGroupForm.get('name')?.invalid }" />

                                @if (serviceGroupForm.get('name')?.invalid &&
                                (serviceGroupForm.get('name')?.touched || submitted)) {
                                <mat-error>
                                    @if (serviceGroupForm.get('name')?.hasError('required')) {
                                    Service Name is required.
                                    }
                                    @if (serviceGroupForm.get('name')?.hasError('cannotContainSpace')) {
                                    White space not allowed.
                                    }
                                </mat-error>
                                }
                            </mat-form-field>
                        </div>

                        <div class="col-12">
                            <label for="displayname" class="inputLabel">Display Name</label>
                            <mat-form-field appearance="outline" class="w-100">
                                <input id="displayname" matInput placeholder="Enter Display Name"
                                    formControlName="displayName" maxlength="250" class="input-box" />
                            </mat-form-field>
                        </div>

                        <div class="col-12">
                            <label for="icname" class="inputLabel">IC Name</label>
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-select id="icname" class="input-box" placeholder="Select IC Code"
                                    formControlName="icname" [disabled]="isServiceEdit && serviceGroupForm.value.icname"
                                    (selectionChange)="getSelIcName($event)">
                                    @for (ic of ICListdata; track ic.icname) {
                                    <mat-option [value]="ic.icname">{{ ic.icname }}</mat-option>
                                    }
                                </mat-select>
                                <mat-error>
                                    @if((submitted || serviceGroupForm.get('icname')?.touched) &&
                                    serviceGroupForm.get('icname')?.errors){
                                    <span> IC Name is required.</span>
                                    }
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-12">
                            <label for="iccode" class="inputLabel">IC Code</label>
                            <mat-form-field appearance="outline" class="w-100 readonly-field">
                                <input id="iccode" matInput placeholder="Enter IC Code" formControlName="iccode"
                                    readonly class="input-box" />
                                <mat-error>
                                    @if ((submitted || serviceGroupForm.get('iccode')?.touched) &&
                                    serviceGroupForm.get('iccode')?.errors) {
                                    @let errors = serviceGroupForm.get('iccode')?.errors;
                                    @if (errors?.['required']) {
                                    <span>IC Code is required.</span>
                                    }
                                    @if (errors?.['pattern']) {
                                    <span>Special characters not allowed.</span>
                                    }
                                    }
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-12">
                            <label for="ledgerId" class="inputLabel">Ledger Id</label>
                            <mat-form-field appearance="outline" class="w-100">
                                <input id="ledgerId" matInput placeholder="Enter Ledger Id" formControlName="ledgerId"
                                    class="input-box" />
                            </mat-form-field>
                        </div>

                        <div class="col-12">
                            <label for="is_dtv" class="inputLabel">Is DTV Service</label>
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-select id="is_dtv" class="input-box" placeholder="Select Is DTV Service"
                                    formControlName="is_dtv" (selectionChange)="onchangeEventForDTV($event.value)">

                                    @for (option of isDTV; track option.value) {
                                    <mat-option [value]="option.value">
                                        {{ option.label }}
                                    </mat-option>
                                    }
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-12">
                            <label for="expiry" class="inputLabel">Expiry</label>
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-select id="expiry" class="input-box" placeholder="Select Expire Type"
                                    formControlName="expiry" [disabled]="expiryFlag"
                                    (selectionChange)="getExpireTypeType($event)">

                                    @for (option of selectExpireType; track option.value) {
                                    <mat-option [value]="option.value">{{
                                        option.label }}</mat-option>
                                    }
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-12" style="margin-bottom: 20px;">
                            <label class="inputLabel" style="margin-bottom: 15px;">Service Parameters</label>
                            <button mat-button mat-flat-button color="primary" type="button"
                                (click)="addServiceParameter()">Service Parameters</button>
                        </div><br />
                        <br />

                        <div class="col-12 d-flex flex-wrap gap-3">
                            <mat-checkbox formControlName="feasibility"
                                [disabled]="isServiceEdit">Feasibility</mat-checkbox>
                            <mat-checkbox formControlName="installation"
                                [disabled]="isServiceEdit">Installation</mat-checkbox>
                            <mat-checkbox formControlName="poc" [disabled]="isServiceEdit">POC</mat-checkbox>
                            <mat-checkbox formControlName="isPriceEditable" [disabled]="isServiceEdit">Allow Price
                                Override</mat-checkbox>
                            <mat-checkbox formControlName="provisioning"
                                [disabled]="isServiceEdit">Provisioning</mat-checkbox>
                        </div>

                        <div class="col-12">
                            @if (!isServiceEdit) {
                            <div class="col-md-12 addcountry-div">
                                <button mat-button mat-flat-button color="primary" class="addcountry-btn w-100"
                                    (click)="addEditService('')" type="submit">Add Service
                                </button>
                            </div>
                            }
                            @if (isServiceEdit) {
                            <div class="col-md-12 addcountry-div">
                                <button mat-button mat-flat-button color="primary" class="addcountry-btn w-100"
                                    type="submit" (click)="addEditService(viewServiceListData.id)">
                                   <img src="assets/img/DashboardIcons/Assign.svg"> Update Service
                                </button>
                            </div>
                            }
                        </div>
                    </div>
                </form>
                }
            </mat-card-content>
        </mat-card>
    </div> -->
</div>