/* Banner */
.breadcrumb-banner {
    position: sticky;
    top: 0;
    z-index: 100;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #ffffff;
    /* optional */
    /* backdrop-filter: blur(4px); */
}

/* Topbar */
.topbar {
    height: 64px;
    background: #fff;
}

/* Profile button */
.profile-btn {
    padding: 0;
}

.profile-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

/* Profile menu */
.profile-menu {
    padding: 0;
}

.profile-header {
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #eee;
}

.profile-header img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 8px;
}

.profile-header h6 {
    margin: 4px 0 0;
    font-weight: 600;
}

.profile-header p {
    margin: 0;
    font-size: 13px;
    color: #777;
}

.page-title-wrapper {
    display: flex;
    align-items: center;
    gap: 6px;
}

.page-main {
    font-size: 20px;
    font-weight: 600;
    color: #1f2937;
}

.page-separator {
    font-size: 18px;
    margin-top: 2px;
    color: #6b7280;
}

.page-sub {
    font-size: 14px;
    color: #6b7280;
}