<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <property name="APP_LOG_ROOT" value="log"/>
    <property name="LOG_PATTERN" value='{ "level":"%p","user":"%X{userName}", "trace-Id":"%X{traceId}","span-Id":"%X{spanId}", "type":"%X{type}", "timestamp":"%d{ISO8601}", "module":"Savbill-RADIUS", "thread":"%t","sub-module":"%F", "line":"%L","message":"%m"}%n'/>

    <!-- Appender for General Logs -->
    <appender name="savbillradiuslog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${APP_LOG_ROOT}/savbill-radius.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>${LOG_PATTERN}</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${APP_LOG_ROOT}/archived/savbill-radius.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>1GB</maxFileSize>
            <totalSizeCap>10GB</totalSizeCap>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- Appender for Kafka Logs -->
    <appender name="savbillradiusqueue-file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${APP_LOG_ROOT}/savbill-radius-kafka.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>${LOG_PATTERN}</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${APP_LOG_ROOT}/archived/savbill-radius-kafka.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>200MB</maxFileSize>
            <totalSizeCap>1GB</totalSizeCap>
            <maxHistory>5</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- Async Appender for General Logs -->
    <appender name="savbillradiuslog-async" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="savbillradiuslog" />
        <queueSize>5000</queueSize>
        <discardingThreshold>50</discardingThreshold>
        <includeCallerData>true</includeCallerData>
    </appender>


    <!-- Logger for Kafka Logs -->
    <logger name="org.springframework.kafka" level="DEBUG" additivity="false">
        <appender-ref ref="savbillradiusqueue-file"/>
    </logger>
    <logger name="org.apache.kafka" level="DEBUG" additivity="false">
        <appender-ref ref="savbillradiusqueue-file"/>
    </logger>

    <!-- Root Logger -->
    <root level="ERROR">
        <appender-ref ref="savbillradiuslog-async"/>
    </root>
</configuration>
