/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.sidebar .nav i {
  margin-right: 4px;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
a .icon {
  width: 30px;
  height: 30px;
}
label {
  font-size: 16px;
}
.menu-button {
  top: 0;
  left: 0;
  z-index: 1000;
  position: fixed;
}
.right {
  padding-left: 5px !important;
}
.left {
  padding-right: 5px !important;
}
.top {
  margin-bottom: 10px !important;
}
.searchbtn {
  text-align: center;
}

.searchForm .searchbtn button {
  margin: 0.5%;
}

.childComponent {
  background-color: #dddddd;
}

.example-full-width {
  width: 100%;
  height: 10%;
}

.addUpdateBtn {
  text-align: center;
}

.btnAction a {
  margin-right: 3px;
}
.wlan-guest-box {
  border-right: none !important;
}

.is-active {
  border-bottom: 5px solid #f7b206;
}
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: #ffffff;
  border-color: #f7b206 !important;
  color: #f7b206 !important;
}
.p-tabview .p-tabview-nav li {
  width: 25%;
}
.label-width {
  width: 25%;
}
.input-width {
  width: 75%;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
}
.input1 {
  width: 58%;
}

.email-input {
  width: 80%;
}

.label1 {
  width: 20%;
}

.email-label {
  width: 20%;
  text-align: start;
}
.code {
  width: 22%;
}

.p-button {
  background-color: #f7b206 !important;
  border-color: #f7b206 !important;
}
.p-button.p-button-text {
  color: #000 !important;
}
/* .p-component {
  font-size: 1.5rem !important;
} */
.p-dialog .p-dialog-header .p-dialog-title {
  font-size: 2rem !important;
}

.single-tabview.p-tabview {
    min-width: 100% !important;
    width: 100% !important;
    box-shadow: 10px;
}

.single-tabview.p-tabview .p-tabview-nav {
    width: 100% !important;
    min-width: 100% !important;
    border: 2px solid orange;
}

.single-tabview.p-tabview .p-tabview-nav li {
    flex: 1 1 100% !important;
}

.single-tabview.p-tabview .p-tabview-nav li a {
    width: 100% !important;
    justify-content: center !important;
}

.single-tabview.p-tabview .p-tabview-panels {
    width: 100% !important;
    padding: 15px !important;
}

.p-inputtext {
  font-size: 14px !important;
}
@media only screen and (max-width: 600px) {
  .p-inputtext {
    font-size: 11px !important;
  }
}
@media only screen and (max-width: 600px) {
  .p-dropdown-item {
    text-align: left !important;
    font-size: 12px !important;
  }
}
.p-dropdown {
  width: 100%;
  height: auto;
  background: #fcfcfc !important;
  box-shadow: 0px 1px 2px 0 rgb(0 0 0 / 10%) !important;
  border-color: #eaeaea !important;
}
.p-multiselect {
  width: 100% !important;
}
.panel .table > thead > tr > td:first-child,
.panel .table > thead > tr > th:first-child,
.panel .table > tbody > tr > td:first-child,
.panel .table > tbody > tr > th:first-child,
.panel .table > tfoot > tr > td:first-child,
.panel .table > tfoot > tr > th:first-child {
  padding-left: 0px;
}

.popover {
  font-size: 15px;
}
.popover-title {
  font-size: 15px;
}
.popover
  .confirm-btns
  .confirm-btn-container
  .btn.btn-block.btn-outline-secondary {
  color: #fff;
  background-color: #000;
  border-color: #000;
}
.popover .confirm-btns .confirm-btn-container .btn.btn-block.btn-danger {
  transition: none;
  color: white;
  /* background-color: yellow ; */
  background-color: #f7b206 !important;
  border-color: #f7b206 !important;
}

.ngx-pagination .current {
  background-color: #f7b206 !important;
}

.ngx-pagination > li {
  border: 1px solid #ddd !important;
}

.ngx-pagination {
  padding-left: 0;
}

.sidebar .nav > li > a[data-toggle="collapse"] .icon-submenu {
  float: right;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}
table td {
  word-wrap: break-word !important;
}

#searchbtn {
  margin-left: 5px;
}

.detailOnAnchorClick {
  cursor: pointer;
}

td a:hover {
  color: #f7b206;
}
.coa-table {
  border: 1px solid #ddd !important;
}

#viewDetail {
  word-wrap: break-word;
}

.invalid-feedback {
  color: red;
}
.is-invalid {
  border-color: red;
}

.selected-row-background {
  background-color: #dddddd;
  /* background-color: #c3e6cb; */
  /* background-color: #d6d8db; */
  /* background-color: #bee5eb; */
  /* background-color: #ffeeba;  */
}

.remove-row-background {
  background-color: white;
}
.modal-header {
  background: #f7b206 !important;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.statusbtn {
  margin-right: 3px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.p-dropdown-item {
  text-align: left !important;
}
.p-dropdown-label {
  text-align: left !important;
}

.p-multiselect-label {
  text-align: left !important;
}

.planBody {
  flex: 1 1 auto;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.planDetailWrap {
  flex: 0 0 100%;
}

.planDetailWrap .planPack {
  text-align: left;
  font-weight: bolder;
  font-size: 20px;
  text-transform: capitalize;
}

.planDetailWrap .planValidity {
  font-size: 14px;
  color: #000;
  text-align: left;
}

.btnDv {
  margin-top: 20px;
}

.btnDv .btn {
  font-weight: bold;
}

.planCard {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  transition: 0.3s;
  height: 100%;
}

.commonModal.p-dialog .p-dialog-header {
  padding: 1rem;
  border-bottom: 1px solid #e9e9e9 !important;
}

.commonModal.p-dialog .p-dialog-content {
  padding: 1rem;
}

.commonModal.p-dialog .p-dialog-header .p-dialog-title {
  font-weight: 600;
  font-size: 1.25rem !important;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
  box-shadow: none !important;
}

.p-toast {
  position: fixed;
  width: 20vw !important;
}

@media screen and (min-width: 991px) {
  .p-toast {
    position: fixed;
    width: 20rem !important;
  }
  .displayView {
    display: block;
  }
  .mobileViewBlock {
    display: none;
  }
  .boxwidth {
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .input1 {
    width: 60%;
  }
  .email-input {
    width: 100%;
  }
  .p-tabview .p-tabview-nav li {
    width: 25%;
    border: none !important;
  }
  .label1 {
    width: 100%;
    text-align: left !important;
  }

  .email-label {
    width: 100%;
    text-align: left !important;
    padding-bottom: 3px;
  }
  .code {
    width: 40%;
    line-height: normal;
  }
  .p-toast {
    position: fixed;
    width: 25rem !important;
  }
  .displayView {
    display: none;
  }
  .mobileViewBlock {
    display: block;
  }
  .boxwidth {
    width: 100%;
  }
}

@media screen and (max-width: 1280px) {
  .p-toast {
    position: fixed;
    width: 18rem !important;
  }
  .p-tabview .p-tabview-nav li {
    width: 30%;
    font-size: 12px;
    border: none !important;
  }

  label {
    display: block !important;
    font-size: 12px;
  }
  .label-width {
    width: 40%;
  }
  .input-width {
    width: 60%;
  }
  .wrapper {
    display: flexbox;
    width: 100%;
  }
  .form-control {
    font-size: 12px !important;
  }
  .savbilllogo {
    padding: 15px;
    width: 140px !important;
    margin: 0 auto;
  }
  .auth-box .lead {
    margin-top: 5px;
    font-size: 14px;
    text-align: center;
  }
  .helper-text {
    font-size: 14px;
  }
  .btn-group-lg > .btn,
  .btn-lg {
    padding: 0.3rem 1rem !important;
    font-size: 1rem !important;
  }
  body {
    background-color: #f7b206;
    /* line-height: 1 !important; */
  }
}

.p-rating .p-rating-icon {
  font-size: 2rem !important;
}
.p-rating .p-rating-icon.pi-star {
  color: #f7b206 !important;
}

.bottom-banner-content {
  padding-top: 450px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.bottom-banner {
  margin-top: 10px;
  padding-top: 550px;
  padding-left: 450px;
  display: block;
  position: fixed;
}

.right-banner {
  margin-left: 100px;
}

:host ::ng-deep .p-tabview .p-tabview-nav {
  background: #ffffff;
  border: 1px solid #ffffff;
  border-width: 0 0 2px 0;
}
.phone-number .p-dropdown {
  border: none !important;
  box-shadow: none !important;
}
