.searchable-dropdown {
  .search-option {
    height: auto;
    padding: 8px 16px;
    pointer-events: auto;

    .search-field {
      width: 100%;
      margin-bottom: 0;

      .mat-form-field-wrapper {
        padding-bottom: 0;
      }

      .mat-form-field-infix {
        padding: 8px 0;
        border-top: none;
      }

      .mat-form-field-underline {
        display: none;
      }

      .search-icon {
        color: #666;
        margin-right: 8px;
        width: 45px;
      }
    }
  }

  .no-results {
    text-align: center;
    color: #999;
    font-style: italic;
    padding: 16px;
  }

  .clear-button {
    position: absolute;
    right: 28px;
    top: 50%;
    transform: translateY(-50%);
  }
}

::ng-deep {
  /* .mat-select-panel {
    .mat-option.search-option {
      &:hover {
        background-color: transparent !important;
      }
    }
  } */
  .custom-dropdown {
    .mat-mdc-form-field-has-icon-prefix .mat-mdc-text-field-wrapper {
      padding-left: 16px !important;
    }
  }
}
