<!-- Modal -->
<!-- <div
  class="modal fade"
  id="{{ dialogId }}"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel" style="color: #fff !important">
          Invoice Payment Details
        </h4>
      </div>
      <div class="modal-body">
        <div class="panel-body table-responsive">
          <div class="row">
            @if (InvoicePaymentList.length !== 0) {
              <div class="col-lg-12 col-md-12 scrollbarInvoiceAmount">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Reference Number</th>
                      <th>Payment Mode</th>
                      <th>Type</th>
                      <th>Status</th>
                      <th>Amount</th>
                      <th>Adjusted Amount</th>
                      <th>Payment Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let invoice of InvoicePaymentList; index as i">
                      <td>
                        <div>
                          {{ invoice.referenceNumber }}
                        </div>
                      </td>
                      <td>
                        <div>
                          {{ invoice.paymode }}
                        </div>
                      </td>
                      <td>
                        @if (invoice.type) {
                          <div>
                            {{ invoice.type }}
                          </div>
                        }
                        @if (!invoice.type) {
                          <div>-</div>
                        }
                      </td>
                      <td>
                        <div>
                          {{ invoice.status }}
                        </div>
                      </td>
                      <td>
                        <div>
                          {{ invoice.amount | number: "1.2-2" }}
                        </div>
                      </td>
                      <td>
                        <div>
                          {{ invoice.adjustedAmount | number: "1.2-2" }}
                        </div>
                      </td>
                      <td>
                        <div>
                          {{ invoice.paymentdate | date: "yyyy-MM-dd" }}
                        </div>
                      </td>
                    </tr>
                    @if (InvoicePaymentList.length !== 0) {
                      <tr>
                        <td></td>
                        <td colspan="4" style="text-align: right">
                          <b>Total Adjusted Amount :</b>
                        </td>
                        <td colspan="2" style="padding-left: 7px">
                          {{ totaladjustedAmount | number: "1.2-2" }}
                        </td>
                      </tr>
                    }
                  </tbody>
                </table>
                <br />
              </div>
            }
            @if (InvoicePaymentList.length === 0) {
              <div class="col-lg-12 col-md-12">Details are not available</div>
            }
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> -->

<div class="dialog-container">
  <div class="dialog-header">
    Invoice Payment Details
    <span>
      <a mat-icon-button mat-dialog-close>
         <img src="assets/img/DashboardIcons/Reject.svg">
      </a>
    </span>
  </div>
  <div mat-dialog-content>
    <mat-card>
      <mat-card-content>
        <div class="row">
          @if (InvoicePaymentList.length !== 0) {
            <div class="col-lg-12 col-md-12">
              <div class="table-responsive tableViewScrollHeight example-container">
                <table mat-table [dataSource]="InvoicePaymentList" class="w-100">
                  <!-- Reference Number Column -->
                  <ng-container matColumnDef="referenceNumber">
                    <th mat-header-cell class="f-w-600 f-s-15" *matHeaderCellDef>
                      Reference Number
                    </th>
                    <td mat-cell *matCellDef="let invoice">{{ invoice.referenceNumber }}</td>
                  </ng-container>

                  <!-- Payment Mode Column -->
                  <ng-container matColumnDef="paymode">
                    <th mat-header-cell class="f-w-600 f-s-15" *matHeaderCellDef>Payment Mode</th>
                    <td mat-cell *matCellDef="let invoice">{{ invoice.paymode }}</td>
                  </ng-container>

                  <!-- Type Column -->
                  <ng-container matColumnDef="type">
                    <th mat-header-cell class="f-w-600 f-s-15" *matHeaderCellDef>Type</th>
                    <td mat-cell *matCellDef="let invoice">
                      <ng-container *ngIf="invoice.type; else noType">
                        {{ invoice.type }}
                      </ng-container>
                      <ng-template #noType>-</ng-template>
                    </td>
                  </ng-container>

                  <!-- Status Column -->
                  <ng-container matColumnDef="status">
                    <th mat-header-cell class="f-w-600 f-s-15" *matHeaderCellDef>Status</th>
                    <td mat-cell *matCellDef="let invoice">{{ invoice.status }}</td>
                  </ng-container>

                  <!-- Amount Column -->
                  <ng-container matColumnDef="amount">
                    <th mat-header-cell class="f-w-600 f-s-15" *matHeaderCellDef>Amount</th>
                    <td mat-cell *matCellDef="let invoice">
                      {{ invoice.amount | number: "1.2-2" }}
                    </td>
                  </ng-container>

                  <!-- Adjusted Amount Column -->
                  <ng-container matColumnDef="adjustedAmount">
                    <th mat-header-cell class="f-w-600 f-s-15" *matHeaderCellDef>
                      Adjusted Amount
                    </th>
                    <td mat-cell *matCellDef="let invoice">
                      {{ invoice.adjustedAmount | number: "1.2-2" }}
                    </td>
                  </ng-container>

                  <!-- Payment Date Column -->
                  <ng-container matColumnDef="paymentdate">
                    <th mat-header-cell class="f-w-600 f-s-15" *matHeaderCellDef>Payment Date</th>
                    <td mat-cell *matCellDef="let invoice">
                      {{ invoice.paymentdate | date: "dd-mm-yyyy" }}
                    </td>
                  </ng-container>

                  <!-- Header and Rows -->
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
              </div>
              <!-- Total Footer Template -->
              <ng-container matColumnDef="footer" *ngIf="InvoicePaymentList?.length">
                <tr mat-footer-row>
                  <td mat-footer-cell colspan="4" style="text-align: right; font-weight: bold">
                    Total Adjusted Amount :
                  </td>
                  <td mat-footer-cell colspan="3" style="padding-left: 7px; font-weight: bold">
                    {{ totaladjustedAmount | number: "1.2-2" }}
                  </td>
                </tr>
              </ng-container>
            </div>
          }
        </div>
        @if (InvoicePaymentList.length === 0) {
          <div class="col-lg-12 col-md-12">Details are not available</div>
        }
      </mat-card-content>
    </mat-card>
  </div>
</div>
