<!-- 
<div class="row">
  <div class="col-md-12">
    <div class="panel top">
      <div class="panel-heading">
        <h3 class="panel-title">Authentication Audit Management</h3>
        <div class="right">
          <button
            type="button"
            class="btn-toggle-collapse"
            data-toggle="collapse"
            data-target="#authAuditSearchPanel"
            aria-expanded="false"
            aria-controls="authAuditSearchPanel"
            >
            <i class="fa fa-minus-circle"></i>
          </button>
        </div>
      </div>
      <div id="authAuditSearchPanel" class="panel-collapse collapse in">
        <div class="panel-body">
          <div class="searchForm">
            <form class="form-auth-small" [formGroup]="searchAuthRespForm">
              <div class="row">
                <div class="col-md-3">
                  <label style="padding: 5px">Start date:</label>
                  <p-calendar
                    name="fromDate"
                    dateFormat="dd/mm/yy"
                    [showIcon]="true"
                    [showButtonBar]="true"
                    [hideOnDateTimeSelect]="true"
                    placeholder="Enter Start Date"
                    formControlName="fromDate"
                    [style]="{ width: '100%' }"
                    (keydown.enter)="searchAuthResp()"
                  ></p-calendar>
                </div>
                <div class="col-md-3">
                  <label style="padding: 5px">End date:</label>
                  <p-calendar
                    name="toDate"
                    dateFormat="dd/mm/yy"
                    [showIcon]="true"
                    [showButtonBar]="true"
                    [hideOnDateTimeSelect]="true"
                    placeholder="Enter End Date"
                    formControlName="toDate"
                    [style]="{ width: '100%' }"
                    (keydown.enter)="searchAuthResp()"
                  ></p-calendar>
                </div>
                <div class="col-md-3">
                  <label style="padding: 5px">User Name:</label>
                  <input
                    type="text"
                    name="userName"
                    class="form-control"
                    placeholder="Enter User Name"
                    formControlName="username"
                    (keydown.enter)="searchAuthResp()"
                    />
                  </div>
                  <div class="col-md-3">
                    <label style="padding: 5px">Reply Message:</label>
                    <input
                      type="text"
                      name="replymessage"
                      class="form-control"
                      placeholder="Enter Reply Message"
                      formControlName="replymessage"
                      (keydown.enter)="searchAuthResp()"
                      />
                    </div>
                    <div class="col-md-3">
                      <label style="padding: 5px">Packet Type:</label>
                      <input
                        type="text"
                        name="packettype"
                        class="form-control"
                        placeholder="Enter Packet Type"
                        formControlName="packettype"
                        (keydown.enter)="searchAuthResp()"
                        />
                      </div>
                      <div class="col-md-3">
                        <label style="padding: 5px">Client IP:</label>
                        <input
                          type="text"
                          name="clientip"
                          class="form-control"
                          placeholder="Enter Client IP"
                          formControlName="clientip"
                          (keydown.enter)="searchAuthResp()"
                          />
                        </div>
                        <div class="col-md-3">
                          <label style="padding: 5px">Client Group:</label>
                          <input
                            type="text"
                            name="clientgroup"
                            class="form-control"
                            placeholder="Enter Client Group"
                            formControlName="clientgroup"
                            (keydown.enter)="searchAuthResp()"
                            />
                          </div>
                          <div class="col-md-3">
                            <br />
                            <button
                              type="submit"
                              class="btn btn-primary"
                              title="Search Auth Response"
                              data-toggle="tooltip"
                              (click)="searchAuthResp()"
                              >
                              <i class="fa fa-search"></i>
                              Search
                            </button>
                            &nbsp;
                            <button
                              type="reset"
                              class="btn btn-default"
                              title="Clear"
                              data-toggle="tooltip"
                              (click)="clearSearchForm()"
                              >
                               <img src="assets/img/DashboardIcons/Refresh.svg" />
                              Clear
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        -->
<!--           
<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Authentication Audit</h3>
                <div class="right">
                    <button type="button" class="btn-toggle-collapse" data-toggle="collapse"
                        data-target="#authAuditTablePanel" aria-expanded="false" aria-controls="authAuditTablePanel">
                        <i class="fa fa-minus-circle"></i>
                    </button>
                </div>
            </div>
            <div id="authAuditTablePanel" class="panel-collapse collapse in">
                <div class="panel-body table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>User Name</th>
                                <th>Reply Message</th>
                                <th>Packet Type</th>
                                <th>Client IP</th>
                                <th>Client Group</th>
                                <th>Event Time</th>
                                @if (deleteAuthAccess) {
                                <th>Action</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @for (
                            group of this.filterdData
                            | paginate
                            : {
                            id: 'listing_groupdata',
                            itemsPerPage: itemsPerPage,
                            currentPage: currentPage,
                            totalItems: totalRecords
                            }; track
                            group; let i = $index) {
                            <tr>
                                <td>{{ group.userName }}</td>
                                <td>{{ group.replyMessage }}</td>
                                <td>{{ group.packetType }}</td>
                                <td>{{ group.clientIp }}</td>
                                <td>{{ group.clientGroup }}</td>
                                <td>
                                    {{
                                    group.eventTime !== null ? (group.eventTime | date : "yyyy-MM-dd HH:mm:ss") : ""
                                    }}
                                </td>
                                @if (deleteAuthAccess) {
                                <td class="btnAction">
                                    <a data-title="Delete" data-toggle="tooltip" class="curson_pointer"
                                        (click)="deleteConfirm(group.authresId)">
                                         <img src="assets/img/DashboardIcons/trash-bin-trash-svgrepo-com 1.svg" >
                                    </a>
                                </td>
                                }
                            </tr>
                            }
                        </tbody>
                    </table>
                    <br />
                    <div class="row">
                        <div class="col-md-12" style="display: flex">
                            <pagination-controls id="listing_groupdata" [maxSize]="10" [directionLinks]="true"
                                previousLabel="" nextLabel="" (pageChange)="pageChanged($event)"></pagination-controls>
                            <div id="itemPerPageDropdown">
                                <p-dropdown [options]="pageLimitOptions" optionLabel="value" optionValue="value"
                                    (onChange)="TotalItemPerPage($event)"></p-dropdown>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->


<div class="row header-row">
    <mat-card class="cardWithShadow w-100">
        <mat-card-header>
            <mat-card-title>Authentication Audit Management</mat-card-title>
        </mat-card-header>
        <mat-card-content class="mat-card-content-border">
            <form class="form-auth-small" [formGroup]="searchAuthRespForm">

                <div class="row">
                    <div id="authAuditSearchPanel" [class.show]="searchPanelVisible" class="addcss">
                        <div class="searchForm">
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="inputLabel">Start date</label>
                                    <mat-form-field appearance="outline" class="w-100 d-flex align-items-center">
                                        <input matInput [matDatepicker]="fromDatePicker" placeholder="Select From Date"
                                            name="startdate" class="input-p-5" [(ngModel)]="startdate"
                                            formControlName="fromDate" (keydown.enter)="searchAuthResp()" />
                                        <mat-datepicker-toggle class="add-event-date" matSuffix
                                            [for]="fromDatePicker"></mat-datepicker-toggle>
                                        <mat-datepicker #fromDatePicker></mat-datepicker>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <label class="inputLabel">End date</label>
                                    <mat-form-field appearance="outline" class="w-100 d-flex align-items-center">
                                        <input matInput [matDatepicker]="toDatePicker" placeholder="Select To Date"
                                            name="enddate" [(ngModel)]="enddate" class="input-p-5"
                                            formControlName="toDate" [min]="startdate"
                                            (keydown.enter)="searchAuthResp()" />
                                        <mat-datepicker-toggle class="add-event-date" matSuffix
                                            [for]="toDatePicker"></mat-datepicker-toggle>
                                        <mat-datepicker #toDatePicker></mat-datepicker>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <label class="inputLabel">User Name</label>
                                    <mat-form-field appearance="outline" class="w-100">
                                        <input class="input-p-5" matInput type="text" name="userName"
                                            placeholder="Enter User Name" formControlName="username"
                                            (keydown.enter)="searchAuthResp()" />
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <label class="inputLabel">Reply Message</label>
                                    <mat-form-field appearance="outline" class="w-100">
                                        <input class="input-p-5" matInput type="text" name="replymessage"
                                            placeholder="Enter Reply Message" formControlName="replymessage"
                                            (keydown.enter)="searchAuthResp()" />
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <label class="inputLabel">Packet Type</label>
                                    <mat-form-field appearance="outline" class="w-100">
                                        <input class="input-p-5" matInput type="text" name="packettype"
                                            placeholder="Enter Packet Type" formControlName="packettype"
                                            (keydown.enter)="searchAuthResp()" />
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <label class="inputLabel">Client IP</label>
                                    <mat-form-field appearance="outline" class="w-100">
                                        <input class="input-p-5" matInput type="text" name="clientip"
                                            placeholder="Enter Client IP" formControlName="clientip"
                                            (keydown.enter)="searchAuthResp()" />
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <label class="inputLabel">Client Group</label>
                                    <mat-form-field appearance="outline" class="w-100">
                                        <input class="input-p-5" matInput type="text" name="clientgroup"
                                            placeholder="Enter Client Group" formControlName="clientgroup"
                                            (keydown.enter)="searchAuthResp()" />
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3 addmargin">
                                    <label class="inputLabel"> </label>
                                    <button type="submit" mat-flat-button color="primary" class="button-normal mr-10"
                                        title="Search Auth Response" (click)="searchAuthResp()">
                                        Search
                                    </button>
                                    <button type="reset" mat-stroked-button class="button-normal" title="Clear"
                                        (click)="clearSearchForm()">
                                        Clear
                                    </button>
                                </div>

                                <!-- <div class="col-md-3 d-flex align-items-end">
                <button
                  type="submit"
                  mat-flat-button
                  color="primary"
                  class="button-normal mr-10"
                  title="Search Auth Response"
                  (click)="searchAuthResp()"
                >
                  <mat-icon>search</mat-icon>
                  Search
                </button>
                
                <button
                  type="reset"
                  mat-stroked-button
                  class="button-normal"
                  title="Clear"
                  (click)="clearSearchForm()"
                >
                  <mat-icon>refresh</mat-icon>
                  Clear
                </button>
              </div> -->
                            </div>

                        </div>

                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>


<div class="container-fluid contain-flud">
    <div class="row">
        <!-- Authentication Audit table start -->
        <div class="col-md-12">
            <mat-card class="cardWithShadow">
                <mat-card-header>
                    <mat-card-title>Authentication Audit</mat-card-title>
                </mat-card-header>
                <mat-card-content class="mat-card-content-border">
                    <div class="auth-audit-table-list">
                        <div class="table-container">
                            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 w-100">
                                <!-- User Name Column -->
                                <ng-container matColumnDef="id">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header-title"
                                        sticky>
                                        ID
                                    </th>
                                    <td mat-cell *matCellDef="let audit" class="f-s-14">{{ audit.authresId }}</td>
                                </ng-container>

                                <ng-container matColumnDef="userName">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header-title"
                                        sticky>
                                        User Name
                                    </th>
                                    <td mat-cell *matCellDef="let audit" class="f-s-14">{{ audit.userName }}</td>
                                </ng-container>

                                <!-- Reply Message Column -->
                                <ng-container matColumnDef="replyMessage">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header-title"
                                        sticky>
                                        Reply Message
                                    </th>
                                    <td mat-cell *matCellDef="let audit" class="f-s-14">{{ audit.replyMessage }}</td>
                                </ng-container>

                                <!-- Packet Type Column -->
                                <ng-container matColumnDef="packetType">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header-title"
                                        sticky>
                                        Packet Type
                                    </th>
                                    <td mat-cell *matCellDef="let audit" class="f-s-14">{{ audit.packetType }}</td>
                                </ng-container>

                                <!-- Client IP Column -->
                                <ng-container matColumnDef="clientIp">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header-title"
                                        sticky>
                                        Client IP
                                    </th>
                                    <td mat-cell *matCellDef="let audit" class="f-s-14">{{ audit.clientIp }}</td>
                                </ng-container>

                                <!-- Client Group Column -->
                                <ng-container matColumnDef="clientGroup">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header-title"
                                        sticky>
                                        Client Group
                                    </th>
                                    <td mat-cell *matCellDef="let audit" class="f-s-14">{{ audit.clientGroup }}</td>
                                </ng-container>

                                <!-- Event Time Column -->
                                <ng-container matColumnDef="eventTime">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header-title"
                                        sticky>
                                        Event Time
                                    </th>
                                    <td mat-cell *matCellDef="let audit" class="f-s-14">
                                        {{ audit.eventTime !== null ? (audit.eventTime | date : "dd-MM-yyyy HH:mm:ss") :
                                        "" }}
                                    </td>
                                </ng-container>

                                <!-- Action Column -->
                                <ng-container matColumnDef="action" *ngIf="deleteAuthAccess">
                                    <th mat-header-cell *matHeaderCellDef stickyEnd class="table-header-title">
                                        Action
                                    </th>
                                    <td mat-cell *matCellDef="let audit">
                                        <a mat-icon-button matTooltip="delete" href="javascript:void(0)" title="Delete"
                                            (click)="deleteConfirm(audit)">
                                            <img src="assets/img/DashboardIcons/trash-bin-trash-svgrepo-com 1.svg" >
                                        </a>
                                    </td>
                                </ng-container>

                                <tr mat-header-row class="table-header-bg"
                                    *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                <tr mat-row class="table-content-row" *matRowDef="let row; columns: displayedColumns">
                                </tr>
                            </table>

                            <mat-paginator [length]="totalRecords" [pageSize]="itemsPerPage" [pageIndex]="currentPage"
                                [pageSizeOptions]="pageSizeOptions" showFirstLastButtons (page)="onPageChange($event)">
                            </mat-paginator>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <!-- Authentication Audit table end -->
    </div>
</div>