.field {
  display: flex;
  align-items: baseline;
}

.label-text {
  min-width: 95px;
  text-align: left;
  padding-right: 4px;
}

.colon {
  width: 10px;
  text-align: center;
  padding-right: 6px;
}
