<div class="row g-3">

    <!-- Search Input Field -->
    <div class="col-md-8">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ placeholder || 'Search' }}</mat-label>
            <input matInput id="searchInput" type="text" [(ngModel)]="searchValue" (keydown.enter)="onSearch()"
                [ngModelOptions]="{ standalone: true }" [placeholder]="placeholder" />
            <mat-icon matSuffix style="opacity: 0.6;">search</mat-icon>
        </mat-form-field>
    </div>

    <!-- Action Buttons -->
    <div class="col-md-4">
        <div style="display: flex; gap: 12px; height: 100%; align-items: center;">

            <!-- Search Button -->
            <button mat-button mat-flat-button color="primary" class="search-btn" (click)="onSearch()" id="searchbtn"
                type="submit" [disabled]="!searchValue">
                Search
            </button>

            <!-- Clear Button -->
            <button mat-stroked-button matButton="outlined" class="search-btn m-0" (click)="onClear()" id="clearbtn"
                type="reset">

                Clear
            </button>

        </div>
    </div>

</div>